<html th:lang = "ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="top_inc" >

	<!--
	<div class="navbar navbar-default header-highlight">
		<div class="navbar-header">
			<a class="navbar-brand" href="/" style="color: white; font-weight: bold;">SSDQ v2 System</a>
		</div>
    	<div class="navbar-collapse collapse">
	    	<p class="navbar-text">
	    		<span th:text="${session.STANDARD_USER_SESSION_KEY.userAttrMap[prjctNm]}"></span>
				/ <span th:text="${session.STANDARD_USER_SESSION_KEY.userAttrMap[stdSetNm]}"></span>
	    	</p>
			<ul class="navbar-right" style="margin-top: 10px !important">
    			<li>
					<span><span th:text="${session.STANDARD_USER_SESSION_KEY.userNm}"></span> <a href="/login/logoutProc">Log Out</a></span>
				</li>
 			</ul>
		</div>
	</div>
	-->
	
	<div class="content_top_area">
		<p class="title">
		<span th:text="${session.STANDARD_USER_SESSION_KEY.userAttrMap[prjctNm]}"></span>
				/ <span th:text="${session.STANDARD_USER_SESSION_KEY.userAttrMap[stdSetNm]}"></span>
		</p>
		<div class="right">
			
			<input type="hidden" name="topgv_prjctSn" id="topgv_prjctSn" th:value="${session.STANDARD_USER_SESSION_KEY.userAttrMap[prjctSn]}"/>
			<input type="hidden" name="topgv_prjctNm" id="topgv_prjctNm" th:value="${session.STANDARD_USER_SESSION_KEY.userAttrMap[prjctNm]}"/>
			<input type="hidden" name="topgv_stdSetSn" id="topgv_stdSetSn" th:value="${session.STANDARD_USER_SESSION_KEY.userAttrMap[stdSetSn]}"/>
			
			<span style="color:#fff;" th:text="${session.STANDARD_USER_SESSION_KEY.userNm}"></span> &nbsp;
			<a href="#" class="member_info" onclick="fnLogoutProc(); return false;">
				<img src="/img/common/default_member_img.png" alt="유저아이콘" />
			</a>
			<a href="#" class="alarm" title="알람">
				<!-- 알람이 없을경우 span태그를 지워주세요. -->
				<span>2</span>
			</a>
		</div>
	</div>

	
</th:block>

