<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="api_dq">
	
	<sql id="where_selectApiProfileList">
		<if test="proflNm != '' and proflNm != null ">
			and t1.profl_nm like CONCAT('%',#{proflNm},'%')
		</if>
	</sql>
	<!-- 프로파일 목록 조회 -->
	<select id="selectApiProfileList" resultType="sangsMap" parameterType="map">
		select
			t1.profl_sn
			, t1.profl_nm
			, t1.prjct_sn
			, (select count(*) from DQ_DGNSS_TRGT_TBL t2 where t1.profl_sn = t2.profl_sn and t2.del_yn = 'N') as tbl_cnt
			, DATE_FORMAT(t1.next_exc_schdul_dt, '%Y%m%d%H%i%s') as next_exc_schdul_dt
			, t1.reg_user_id
			, DATE_FORMAT(t1.reg_dt, '%Y%m%d%H%i%s') as reg_dt
		from 
			DQ_DGNSS_PROFL t1
		where t1.prjct_sn = #{prjctSn}
		and t1.del_yn = 'N'
		<include refid="where_selectApiProfileList"/>
		order by t1.reg_dt desc
		<if test='allDataSearchYn == "N"'>
		limit #{pageSize} offset #{offset}
		</if>
	</select>
	<!-- 프로파일 목록 count -->
	<select id="selectApiProfileListCnt" resultType="int">
		select
			count(*)
		from 
			DQ_DGNSS_PROFL t1
		where t1.prjct_sn = #{prjctSn}
		and t1.del_yn = 'N'
		<include refid="where_selectApiProfileList"/>
	</select> 
	
	<!-- 연결 정보 조회 -->
	<select id="selectApiDbmsCnncinfo" resultType="sangsMap" parameterType="map">
		select 
			t1.profl_sn
			, t1.profl_nm
			, t1.prjct_sn
			, t2.dbms_cnnc_sn
			, t3.dbms_ip_addr
			, t3.dbms_port_no
			, t3.dbms_schema_nm
			, t3.dbms_sid_nm
			, t3.dbms_database_nm
			, t3.dbms_id
			, t3.dbms_password
			, t3.dbms_sn 
			, t3.dbms_nm
		FROM 
			DQ_DGNSS_PROFL t1
			, CMMN_PRJCT t2
			join (
				select t01.dbms_cnnc_sn
					, t01.dbms_ip_addr
					, t01.dbms_port_no
					, t01.dbms_schema_nm
					, t01.dbms_sid_nm
					, t01.dbms_database_nm
					, t01.dbms_id
					, t01.dbms_password 
					, t01.dbms_sn
					, t02.dbms_nm
				from CMMN_PRJCT_DBMS_CNNC_INFO t01, CMMN_PRJCT_DBMS t02
				where t01.dbms_sn = t02.dbms_sn
			) t3
			on t2.dbms_cnnc_sn = t3.dbms_cnnc_sn 
		where 1 = 1
		and t1.prjct_sn = t2.prjct_sn
		and t1. use_yn = 'Y'
		and t1.profl_sn = #{proflSn}
	</select>
	
	
	<!-- 프로파일 결과 정보 조회 -->
	<select id="selectApiProfilResultInfo" resultType="sangsMap" parameterType="map">
		select
			sum(t03.tot_data_cnt) as total_data_count
			, t01.exc_sn
			, t02.prjct_sn
			, t02.profl_sn
			, t02.profl_nm
			, (select count(*) from DQ_DGNSS_RESULT_TBL t02 where t01.exc_sn = t02.exc_sn) as tot_tbl_cnt
			, (select count(*) from DQ_DGNSS_RESULT_COL t03 where t01.exc_sn = t03.exc_sn) as tot_col_cnt
			, (select sum(t04.tot_data_cnt) from DQ_DGNSS_RESULT_TBL t04, DQ_DGNSS_RESULT_COL t05	where t01.exc_sn = t04.exc_sn and t04.exc_sn = t05.exc_sn and t04.tbl_sn = t05.tbl_sn) as dgnss_tot_data_cnt
			, (select count(*) from DQ_DGNSS_RESULT_DIS_MTCH_INFO t05 where t01.exc_sn = t05.exc_sn) as dgnss_tot_mis_cnt
			, (select count(*) from DQ_DGNSS_RESULT_ERR t05 where t01.exc_sn = t05.exc_sn) as dgnss_tot_err_rule_cnt
			, date_format(t01.exc_bgng_dt, '%Y%m%d%H%i%s') as exc_bgng_dt
			, date_format(t01.exc_end_dt, '%Y%m%d%H%i%s') as exc_end_dt
			, t01.exc_sttus_cd
		from
			DQ_DGNSS_EXC t01
			, DQ_DGNSS_PROFL t02
			, DQ_DGNSS_RESULT_TBL t03
		where t01.profl_sn = t02.profl_sn
			and t01.exc_sn = t03.exc_sn
			and t02.use_yn = 'Y'
			and t01.exc_sn = #{excSn}
	</select>
	
	<!-- 프로파일 결과 불일치 목록 조회 -->
	<select id="selectApiProfilResultDisMatchList" resultType="sangsMap" parameterType="map">
		select 
			t1.tbl_nm
			, t1.tbl_sn 
			, t2.col_nm 
			, t2.col_sn 
			, t5.rule_nm 
			, t5.rule_sn 
			, t5.rule_dc
			, t5.rule_postv_exprsn_yn 
			, t5.rule_exprsn_value 
			, t4.data_value 
			, t4.pk_info_value 
			, case when t3.RULE_EXC_RESULT_CD = 'E' then 'Y' else 'N' end as err_rule_yn
		from DQ_DGNSS_RESULT_TBL t1 
			, DQ_DGNSS_RESULT_COL t2 
			, DQ_DGNSS_RESULT_COL_RULE t3
			, (
				select exc_sn, tbl_sn, col_sn, rule_sn, sub_sn,  data_value, pk_info_value 
				from DQ_DGNSS_RESULT_DIS_MTCH_INFO
				where exc_sn = #{excSn}
				UNION 
				select exc_sn, tbl_sn, col_sn, rule_sn, -1, '', '' 
				from DQ_DGNSS_RESULT_ERR 
				where exc_sn = #{excSn}
			) t4
			, DQ_ANLS_RULE_INFO t5
		where 1 = 1 
			and t1.exc_sn = t2.exc_sn
			and t1.tbl_sn = t2.tbl_sn
			and t2.exc_sn = t3.exc_sn
			and t2.tbl_sn = t3.tbl_sn
			and t2.col_sn = t3.col_sn
			and t3.exc_sn  = t4.exc_sn
			and t3.tbl_sn = t4.tbl_sn 
			and t3.col_sn = t4.col_sn 
			and t3.rule_sn = t4.rule_sn 
			and t3.rule_sn = t5.rule_sn
			and t5.rule_se_cd not in ('AG000100', 'AG000200')
			and t1.exc_sn = #{excSn}
		order by t1.tbl_sn
		<if test='allDataSearchYn == "N"'>
		limit #{pageSize} offset #{offset}
		</if>
	</select>
	
	<!-- 프로파일 결과 불일치 목록 count -->
	<select id="selectApiProfilResultDisMatchListCnt" resultType="int">
		select
			count(*)
		from DQ_DGNSS_RESULT_TBL t1 
			, DQ_DGNSS_RESULT_COL t2 
			, DQ_DGNSS_RESULT_COL_RULE t3
			, (
				select exc_sn, tbl_sn, col_sn, rule_sn, sub_sn,  data_value, pk_info_value 
				from DQ_DGNSS_RESULT_DIS_MTCH_INFO
				where exc_sn = #{excSn}
				UNION 
				select exc_sn, tbl_sn, col_sn, rule_sn, -1, '', '' 
				from DQ_DGNSS_RESULT_ERR 
				where exc_sn = #{excSn}
			) t4
			, DQ_ANLS_RULE_INFO t5
		where 1 = 1 
			and t1.exc_sn = t2.exc_sn
			and t1.tbl_sn = t2.tbl_sn
			and t2.exc_sn = t3.exc_sn
			and t2.tbl_sn = t3.tbl_sn
			and t2.col_sn = t3.col_sn
			and t3.exc_sn  = t4.exc_sn
			and t3.tbl_sn = t4.tbl_sn 
			and t3.col_sn = t4.col_sn 
			and t3.rule_sn = t4.rule_sn 
			and t3.rule_sn = t5.rule_sn
			and t5.rule_se_cd not in ('AG000100', 'AG000200')
			and t1.exc_sn = #{excSn}
	</select> 
	
</mapper>
