<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="dq_profile_exc">
	
	<!-- 진단 수행 순번 채번 -->
	<select id="selectNextExcSn" resultType="Integer" parameterType="map">
		select 
			ifnull(max(exc_sn), 0) + 1
		from DQ_DGNSS_EXC
	</select>
	
	
	<!-- 진단 수행 정보 등록 -->
	<insert id="insertDgnssExcInfo">
		insert into DQ_DGNSS_EXC
			(
				exc_sn
				, profl_sn
				, exc_schdul_dt
				, exc_bgng_dt
				, exc_sttus_cd
				, dbms_ip_addr
				, dbms_port_no
				, dbms_schema_nm
				, dbms_sid_nm
				, dbms_database_nm
				, dbms_id
				, dbms_password
				, reg_user_id
				, reg_dt
				, dbms_nm
			) values (
				#{excSn}
				, #{proflSn}
				, #{excSchdulDt}
				, now()
				, #{excSttusCd}
				, #{dbmsIpAddr}
				, #{dbmsPortNo}
				, #{dbmsSchemaNm}
				, #{dbmsSidNm}
				, #{dbmsDatabaseNm}
				, #{dbmsId}
				, #{dbmsPassword}
				, #{regUserId}
				, now()
				, #{dbmsNm}
			)
	</insert>
	
	
	<!-- 진단 결과 테이블 정보 등록 -->
	<insert id="insertDgnssResultTblInfo">
		insert into DQ_DGNSS_RESULT_TBL
		(exc_sn, tbl_sn, schema_nm, tbl_nm, tot_data_cnt)
		values
		(#{excSn}, #{tblSn}, #{schemaNm}, #{tblNm}, #{totDataCnt})
	</insert>
	
	
	<!-- 진단 결과 컬럼 정보 등록 -->
	<insert id="insertDgnssResultColInfo">
		insert into DQ_DGNSS_RESULT_COL
		(exc_sn, tbl_sn, col_sn, col_nm, data_ty_cd, data_lt_value)
		values
		(#{excSn}, #{tblSn}, #{colSn}, #{colNm}, #{dataTyCd}, #{dataLtValue})
	</insert>

	
	<!-- 진단 결과 컬럼 규칙 정보 등록 -->
	<insert id="insertDgnssResultColRuleInfo">
		insert into DQ_DGNSS_RESULT_COL_RULE
		(exc_sn, tbl_sn, col_sn, rule_sn, mtch_cnt, rule_exc_result_cd, dis_mtch_cnt)
		values
		(#{excSn}, #{tblSn}, #{colSn}, #{ruleSn}, #{mtchCnt}, #{ruleExcResultCd}, #{disMtchCnt})
	</insert>
	
	
	<!-- 진단 수행 - 수행 상태 코드 변경 -->
	<update id="updateDgnssExcSttusCd" parameterType="map">
		update DQ_DGNSS_EXC
		set exc_sttus_cd = #{excSttusCd}
		<if test='excSttusCd =="I"'>
			, exc_bgng_dt = now()
		</if>
		<if test='excSttusCd =="F"'>
			, exc_end_dt = now()
			, exc_err_cn = #{excErrCn}
		</if>
		<if test='excSttusCd =="E"'>
			, exc_end_dt = now()
		</if>
		where exc_sn = #{excSn}
	</update>

	
	<!-- 진단 빈도 결과 등록 -->
	<insert id="insertDgnssFqResultInfo">
		insert into DQ_DGNSS_FQ_RESULT
		(exc_sn, tbl_sn, col_sn, fq_sn, data_value, data_cnt)
		values
		(#{excSn}, #{tblSn}, #{colSn}, #{fqSn}, #{dataValue}, #{dataCnt})
	</insert>
	
	
	
	<!-- 진단 수행 목록 조회-->
	<select id="selectDgnssExcList" resultType="sangsMap" parameterType="map">
		select 
			t1.exc_sn 
			, t1.tbl_sn 
			, t1.schema_nm
			, t1.tbl_nm 
			, t1.tot_data_cnt
			, t2.col_sn 
			, t2.col_nm 
			, t3.rule_sn
			, t3.null_data_dgnss_yn
		from DQ_DGNSS_RESULT_TBL t1
			, DQ_DGNSS_RESULT_COL t2
			join (
				select
					t01.tbl_sn
					, t01.col_sn
					, t01.rule_sn
					, t01.null_data_dgnss_yn
				from
					DQ_DGNSS_TRGT_COL_RULE t01
				where
					t01.profl_sn = #{proflSn}
			) t3 on t2.tbl_sn = t3.tbl_sn and t2.col_sn = t3.col_sn
		where t1.exc_sn = t2.exc_sn
		and t1.tbl_sn = t2.tbl_sn
		and t1.exc_sn = #{excSn}
		order by t1.tbl_sn, t2.col_sn, t3.rule_sn
	</select>
	
	<!-- 진단 결과 컬럼 규칙 정보 등록 -->
	<insert id="insertDgnssResultErrInfo">
		insert into DQ_DGNSS_RESULT_ERR
		(exc_sn, tbl_sn, col_sn, rule_sn, err_nm, err_cn)
		values
		(#{excSn}, #{tblSn}, #{colSn}, #{ruleSn}, #{errNm}, #{errCn})
	</insert>
	
	<!-- 진단 결과 컬럼 규칙 정보 등록 -->
	<insert id="insertDgnssResultDisMtchInfo">
		insert into DQ_DGNSS_RESULT_DIS_MTCH_INFO
		(
			exc_sn
			, tbl_sn
			, col_sn
			, rule_sn
			, sub_sn
			, data_value
			, pk_info_value
		)
		values
		<foreach collection="disMatchList" item="item" separator=",">
		(
           	#{item.excSn}
			, #{item.tblSn}
			, #{item.colSn}
			, #{item.ruleSn}
			, #{item.subSn}
			, #{item.dataValue}
			, #{item.pkInfoValue}
		)
        </foreach>
	</insert>
	
	
</mapper>
