<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sangs.dq.mapper.RuleMngMapper">
	
	<sql id="where_selectPatternList">
			AND t1.DBMS_SN in (0, #{dbmsSn})
		<if test="ruleSeCd != '' and ruleSeCd != null ">
			AND t1.RULE_SE_CD = #{ruleSeCd}
		</if>
		<if test="ruleTyCd != '' and ruleTyCd != null ">
			AND t1.RULE_TY_CD = #{ruleTyCd}
		</if>
		<if test="ruleNm != '' and ruleNm != null ">
			AND t1.RULE_NM like CONCAT('%',#{ruleNm},'%')
		</if>
		<if test="useYn != '' and useYn != null ">
			AND t1.USE_YN = #{useYn}
		</if>
	</sql>
	<!-- 패턴/지표 관리 목록 조회 -->
	<select id="selectPatternList" parameterType="map" resultType="sangsMap">
		SELECT 
			t1.RULE_SN
			, t1.RULE_SE_CD
			, fn_get_cmmn_code_nm('AG000000', t1.RULE_SE_CD) as RULE_SE_CD_NM
			, t1.RULE_TY_CD
			, fn_get_cmmn_code_nm('AT000000', t1.RULE_TY_CD) as RULE_TY_CD_NM
			, IFNULL(t1.PTTRN_SE_CD, '') AS PTTRN_SE_CD
			, IFNULL(fn_get_cmmn_code_nm('PT000000', t1.PTTRN_SE_CD), '') as PTTRN_SE_CD_NM
			, t1.RULE_NM
			, REPLACE(t1.RULE_EXPRSN_VALUE, '\b', '\\\\b') AS RULE_EXPRSN_VALUE
			, t1.BGNG_VALUE
			, t1.END_VALUE
			, t1.USE_YN
			, t1.RULE_DC
			, t1.RULE_POSTV_EXPRSN_YN
		FROM DQ_ANLS_RULE_INFO t1
		WHERE 1 = 1
		<include refid="where_selectPatternList"/>
		ORDER BY CASE WHEN RULE_TY_CD = 'AT000100' AND RULE_SE_CD NOT IN ('AG000100', 'AG000200') THEN 'AG000999' ELSE RULE_SE_CD END
		, PTTRN_SE_CD, RULE_SN
		<if test="pageSize != '' and pageSize != null">
			limit #{pageSize} offset #{offset}
		</if>
	</select>
	
	<!-- 패턴/지표 관리 전체 row 수 조회 -->
	<select id="selectPatternTotalCnt" parameterType="map" resultType="Integer">
		SELECT 
			COUNT(*) AS CNT
		FROM DQ_ANLS_RULE_INFO t1
		WHERE 1 = 1
		<include refid="where_selectPatternList"/>
	</select>
	
	
	<!-- 패턴/지표 관리 목록 상세 조회 -->
	<select id="selectPatternInfo" parameterType="map" resultType="SangsMap">
		select  
			rule_sn
			, rule_se_cd
			, rule_ty_cd
			, pttrn_se_cd
			, rule_nm
			, rule_exprsn_value
			, case when rule_se_cd = 'AG000603' then DATE_FORMAT(bgng_value, '%Y-%m-%d')
				else bgng_value end as bgng_value
			, case when rule_se_cd = 'AG000603' then DATE_FORMAT(end_value, '%Y-%m-%d')
				else end_value end as end_value
			, rule_dc
			, use_yn
			, reg_dt
			, rule_postv_exprsn_yn
		from DQ_ANLS_RULE_INFO 
		where rule_sn = #{ruleSn}
	</select>
	
	
	<!-- 패턴/지표 관리 목록 등록 규칙 아이디 생성 -->
	<select id="selectNextRuleSn" parameterType="map" resultType="Integer">
		select
			ifnull(max(rule_sn), ${dbmsSn}000) + 1
		from DQ_ANLS_RULE_INFO
		where dbms_sn = #{dbmsSn}
	</select>
	
	
	<!-- 패턴/지표 관리 목록 등록 -->
	<insert id="insertPatternInfo" parameterType="map" > 
		insert into DQ_ANLS_RULE_INFO ( 
			rule_sn
			, rule_se_cd
			, rule_ty_cd
			, pttrn_se_cd
			, rule_nm
			, rule_exprsn_value
			, bgng_value
			, end_value
			, rule_dc
			, use_yn
			, dbms_sn
			, reg_dt
			, rule_postv_exprsn_yn
		) values (
			#{ruleSn}
			, #{ruleSeCd}
			, #{ruleTyCd}
			, #{pttrnSeCd}
			, #{ruleNm}
			, #{ruleExprsnValue}
			, #{bgngValue}
			, #{endValue}
			, #{ruleDc}
			, #{useYn}
			, #{dbmsSn}
			, now()
			, #{rulePostvExprsnYn}
		)
	</insert>
	
	
	
	<!-- 패턴/지표 관리 목록 수정 -->
	<update id="updatePatternInfo" parameterType="map">
		update DQ_ANLS_RULE_INFO
		set
			bgng_value = #{bgngValue}
			, end_value = #{endValue}
			, rule_nm = #{ruleNm}
			, rule_exprsn_value = #{ruleExprsnValue}
			, rule_dc = #{ruleDc}
			, use_yn = #{useYn}
			, rule_postv_exprsn_yn = #{rulePostvExprsnYn} 
		where 
			rule_sn = #{ruleSn}
	</update>
	
	
	<!-- 패턴/지표 관리 목록 사용 여부 수정 -->
	<update id="updatePatternUseYnInfo" parameterType="map">
		update DQ_ANLS_RULE_INFO
		set use_yn = #{useYn}
		, rule_postv_exprsn_yn = #{rulePostvExprsnYn} 
		where rule_sn = #{ruleSn}
	</update>
	
	
</mapper>