<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/mainLayout">

<head>
	<th:block th:replace="fragments/head_inc :: head_inc" />
</head>

<body id="body">
	<div id="wrap">
		<div class="container">
			<div id="content">
                
                <!--// page_info_area -->
                <!-- content_area -->
                <div class="content_area">
                    <div class="dashboard">
						<div class="row">
                            
							<div class="bx-wrap card02">
                                <p class="tit">진단 데이터베이스 수</p>
                                <p class="result" id="main_prjCnt" style="white-space:nowrap">N/A</p>
                            </div>
							<div class="bx-wrap card02">
                                <p class="tit" style="font-weight: bold; color:#3e1f1f">진단 지표수 / 등록 지표수</p>
                                <p class="result" id="main_ruleCnt">N/A</p>
                            </div>
							<div class="bx-wrap card02">
                                <p class="tit">등록 프로파일수 / 진단테이블수</p>
                                <p class="result" id="main_proflCnt">N/A</p>
                            </div>
							
                        </div>

						
						<div class="row">
					 
							<div class="bx-wrap width2cols" style="width:100px; min-height: 180px;">
                                <div class="bx-header">
                                    <p class="title">일별 진단수</p>
                                </div>
                                <div class="bx-content">
                                    <div class="chart-wrap" id="mainChart_dgnssCountByDayList" style="width: 100%; height: 180px;" ></div>
                                </div>
                            </div>
							 
					 
							<div class="bx-wrap width2cols" style="width:100px; min-height: 180px;">
                                <div class="bx-header">
                                    <p class="title">일별 평균 불일치율(%)</p>
                                </div>
                                <div class="bx-content">
									<div class="chart-wrap" id="mainChart_disMatchAvgPercByDayList" style="width: 100%; height: 180px;" ></div>
                                </div>
                            </div>
							 
                        </div>

                        <div class="row">
							<div class="bx-wrap" style="min-height: 244px;">
                                <div class="bx-header">
                                    <p class="title">최근 진단 프로파일</p>
                                </div>
                                <div class="bx-content"> 
                                    <div class="tbl_wrap v2 head-fixed" data-height="180">
                                        <div class="tbl_head">
                                            <table>
                                                <colgroup>
													<col width="20%"/>
													<col width="32%"/>
													<col width="8%"/>
													<col width="8%"/>
													<col width="10%"/>
													<col width="10%"/>
													<col width="12%"/>
													<col style="width: 14px;">
                                                </colgroup>
                                                <thead>
                                                    <tr>
														<th>시작 시간</th>
														<th>프로파일명</th>
														<th>테이블 수</th>
														<th>컬럼 수</th>
														<th>데이터 수</th>
														<th>일치율(%)</th>
														<th>결과</th>
														<th></th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="tbl_body">
                                            <table id="tb_dgnssProflResultList">
                                                <colgroup>
                                                    <col width="20%"/>
													<col width="32%"/>
													<col width="8%"/>
													<col width="8%"/>
													<col width="10%"/>
													<col width="10%"/>
													<col width="12%"/>
                                                </colgroup>
                                                <tbody>
                                                    <tr class="fwk_templete_row">
														<td>#{excBgngDt2}</td>
														<td>#{proflNm}</td>
														<td>#fn{fnFormatNumber(#{tblCnt})}</td>
														<td>#fn{fnFormatNumber(#{colCnt})}</td>
														<td>#fn{fnFormatNumber(#{dgnssTotDataCnt})}</td>
														<td class="alignr" name="mtchRate">#{mtchRate}%</td>
														<td>#{excSttusCdText} (#fn{fnDateTextBySec(#{diffSecond})})</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

							<div class="bx-wrap" style="min-height: 244px;">
                                <div class="bx-header">
                                    <p class="title">최근 규칙별 진단 결과</p>
                                </div>
                                <div class="bx-content"> 
                                    <div class="tbl_wrap v2 head-fixed" data-height="180">
                                        <div class="tbl_head">
                                            <table>
                                                <colgroup>
                                                    <col style="width: 40%;">
                                                    <col style="width: 20%;">
													<col style="width: 20%;">	
													<col style="width: 20%;">
													<col style="width: 14px;">
                                                </colgroup>
                                                <thead>
                                                    <tr>
                                                        <th>규칙명</th>
                                                        <th>수행수</th>
														<th>총점검데이터</th>
														<th>일치율</th>
														<th></th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="tbl_body">
                                            <table id="tb_dgnssResultListGrpByRule">
                                                <colgroup>
                                                    <col style="width: 40%;">
                                                    <col style="width: 20%;">
													<col style="width: 20%;">	
													<col style="width: 20%;">
                                                </colgroup>
                                                <tbody>
                                                    <tr class="fwk_templete_row">
                                                        <td class="alignl">#{ruleNm}</td>
                                                        <td>#fn{fnFormatNumber(#{excCnt})}</td>
														<td>#fn{fnFormatNumber(#{totDataCnt})}</td>
														<td class="alignr" style="padding-right:5px">#{mtchPerc} %</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


 						<div class="row">
							<div class="bx-wrap" style="min-height: 244px;">
                                <div class="bx-header">
                                    <p class="title">프로파일 컬럼별 불일치 Top</p>
                                </div>
                                <div class="bx-content"> 
                                    <div class="tbl_wrap v2 head-fixed" data-height="180">
                                        <div class="tbl_head">
                                            <table>
                                                <colgroup>
													<col width="40%"/>
													<col width="20%"/>
													<col width="20%"/>
													<col width="20%"/>
													<col width="12%"/>
													<col style="width: 14px;">
                                                </colgroup>
                                                <thead>
                                                    <tr>
														<th>프로파일명 (수행순번)</th>
														<th>수행시작일</th>
														<th>테이블명</th>
														<th>컬럼명</th>
														<th>불일치율</th>
														<th></th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="tbl_body">
                                            <table id="tb_topDisMatchProflColList">
                                                <colgroup>
                                                    <col width="32%"/>
													<col width="18%"/>
													<col width="22%"/>
													<col width="20%"/>
													<col width="8%"/>
                                                </colgroup>
                                                <tbody>
                                                    <tr class="fwk_templete_row">
														<td>#{proflNm} (#{excSn})</td>
														<td>#{excBgngDt}</td>
														<td>#{tblNm}</td>
														<td>#{colNm}</td>
														<td class="alignr" name="mtchRate">#{disMtchPerc}%</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

							<div class="bx-wrap" style="min-height: 244px;">
                                <div class="bx-header">
                                    <p class="title">프로파일 규칙별 불일치 Top</p>
                                </div>
                                <div class="bx-content"> 
                                    <div class="tbl_wrap v2 head-fixed" data-height="180">
                                        <div class="tbl_head">
                                            <table>
                                                <colgroup>
													<col width="42%"/>
													<col width="42%"/>
													<col width="8%"/>
													<col width="10%"/>
													<col style="width: 14px;">
                                                </colgroup>
                                                <thead>
                                                    <tr>
														<th>프로파일명</th>
														<th>규칙명</th>
														<th>수행수</th>
														<th>불일치율</th>
														<th></th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="tbl_body">
                                            <table id="tb_topDisMatchProflRuleList">
                                                <colgroup>
                                                    <col width="42%"/>
													<col width="42%"/>
													<col width="8%"/>
													<col width="10%"/>
                                                </colgroup>
                                                <tbody>
                                                    <tr class="fwk_templete_row">
														<td>#{proflNm}</td>
														<td>#{ruleNm}</td>
														<td>#{excCnt}</td>
														<td class="alignr" name="mtchRate">#{disMtchPerc}%</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
                <!--// content_area -->

             
			</div>
		</div>
	</div>

	
	 
	
<script type="text/javascript">

$(document).ready(function() {
	
	$(".width2cols").css("flex","2 0 0%");
	
	fnSearch();
	
});


 


function fnSearch() {
	
	$.ajax({
		url: "/json/dqMain/main"
		, method : "POST"
		, contentType: 'application/json'
		, data: JSON.stringify({})
		, success: function(data){
		
			// 차트 data 생성
			var statListObj = {};
			var categoryArr = [];
			var seriesDataArr = [];
			var dataArr = [];



			$("#main_prjCnt").text(data.prjctSnInfo.prjCnt);
			$("#main_ruleCnt").text(data.prjctSnInfo.dgnssRuleCnt + " / " +data.prjctSnInfo.ruleCnt);
			$("#main_proflCnt").text(data.prjctSnInfo.proflCnt + " / " +data.prjctSnInfo.proflTblCnt);
		 
	
  
			// 일별진단수 그래프 
			$.each(data.dgnssCountByDayList, function(dataIdx, dataVal) {
				categoryArr.push(dataVal.regDt);
				dataArr.push(dataVal.cnt);
			});
			seriesDataArr.push(dataArr);
			statListObj.category = categoryArr;
			statListObj.seriesData = seriesDataArr;
			fnSetHorizontalBasicChart("mainChart_dgnssCountByDayList", statListObj , "line");
			
			// 일별 평균 불일치수 그래프
			statListObj = {};
			categoryArr = [];
			seriesDataArr = [];
			dataArr = [];
			
			// 일별진단수 그래프 
			$.each(data.disMatchAvgPercByDayList, function(dataIdx, dataVal) {
				categoryArr.push(dataVal.regDt);
				dataArr.push(dataVal.disMtchPerc);
			});
			seriesDataArr.push(dataArr);
			statListObj.category = categoryArr;
			statListObj.seriesData = seriesDataArr;
			fnSetHorizontalBasicChart("mainChart_disMatchAvgPercByDayList", statListObj , "line");
			
	 
			// 최근 진단 프로파일 
			fnBindTableValue("tb_dgnssProflResultList", data.dgnssProflResultList);
			
			// 진단규칙별 진단 결과 목록
			fnBindTableValue("tb_dgnssResultListGrpByRule", data.dgnssResultListGrpByRule);
			
			// 프로파일 컬럼별 불일치 Top
			fnBindTableValue("tb_topDisMatchProflColList", data.topDisMatchProflColList);
			
			// 프로파일 규칙별 불일치 Top
			fnBindTableValue("tb_topDisMatchProflRuleList", data.topDisMatchProflRuleList);
			
			
			
			

			setFrameHeight();
		}
	});
	 
}





function fnGetRateColor(rate) {
	var rateFontColor = "blue";
	if(50 < rate  &&  rate < 90)
		rateFontColor = "#ff5722";
	else if(rate <= 50)
		rateFontColor = "red";
	return rateFontColor;
}

function fnSetPieChartDataObj(arrObj, name, value) {
	var obj = new Object();
	obj.name = name;
	obj.value = value;
	arrObj[arrObj.length] = obj;
}


function fnDrawPieChart(id, dataList, seriesName, labelYn, legendLoc) {
	var option;
	option = {
		title: {
			text: '',
			subtext: '',
			left: 'center'
		},
		tooltip: {
			trigger: 'item'
		},
		legend: {
			orient: legendLoc,
			left: 'left'
		}
		, series: [ {
			name: seriesName,
			type: 'pie',
			radius: '50%',
			data: dataList,
			emphasis: {
				itemStyle: {
					shadowBlur: 10,
					shadowOffsetX: 0,
					shadowColor: 'rgba(0, 0, 0, 0.5)'
				}
			}
		}]
	};

	if(labelYn == "Y") { 
		var label = {
			formatter: '{b} ({@2012})'
		};
		option.label = label;
	}
	
	var chartDom = document.getElementById(id);
	option && echarts.init(chartDom).setOption(option);	
	
}


// 가로 Basic Chart 생성
function fnSetHorizontalBasicChart(id, dataObj, type, names, label) {
	if (dataObj.category.length && dataObj.seriesData.length) {
		var series = [];
		var seriesObj;
		var legend = {};
		var labelObj = {};
		var namesLength;

		// 차트 legend
		if (!names) {
			namesLength = 1;
		} else {
			legend.data = names;
			legend.height = 'auto';
			namesLength = names.length;
		}

		// 차트 label
		if (label) {
			labelObj.formatter = '{value}' + label;
			labelObj.aline = 'center';
		}

		// 차트 data (series)
		$.each(dataObj.seriesData, function (dataIdx, dataVal) {
			seriesObj = {};
			if (names) {
				seriesObj.name = names[dataIdx];
			}
			seriesObj.data = dataVal;
			seriesObj.type = type;

			series.push(seriesObj);
		});

		// 차트 option
		var option = {
				xAxis: {
					axisLabel: labelObj
					, type: 'category'
					, data: dataObj.category
				}
				, legend: legend
				, grid: {
					left: '1%'
				    , right: '5%'
				    , bottom: '1%'
				   	, top: '5%'
				    , containLabel: true
				}
				, yAxis: {
				    type: 'value'
				}
				, tooltip: {
					trigger: 'axis'
				}
				, series: series
		};

		var chartDom = document.getElementById(id);
		echarts.init(chartDom).setOption(option);

		window.addEventListener('resize', echarts.init(chartDom).resize);
	}
}


</script>
</body>
</html>
