<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/mainLayout">

<head>
	<th:block th:replace="fragments/head_inc :: head_inc" />
</head>

<body id="body">
	<div id="wrap">
		<div class="container">
			<div id="content">
                
                <!--// page_info_area -->
                <!-- content_area -->
                <div class="content_area">
                    <div class="dashboard">
						<div class="row">
                            
							<div class="bx-wrap card02">
                                <p class="tit">연결 데이터베이스</p>
                                <p class="result" id="main_prjDbms" style="white-space:nowrap">N/A</p>
                            </div>
							<div class="bx-wrap card02" style="background-color: antiquewhite;">
								<button class="btn-more" onclick="location.href='/open/meta/anals/dbms_std_anals?searchMode=T1'"></button>
                                <p class="tit" style="font-weight: bold; color:#3e1f1f">종합 표준준수율</p>
                                <p class="result" id="main_stdCompRate">N/A</p>
                            </div>
							<div class="bx-wrap card02">
                                <p class="tit">연결 표준세트</p>
                                <p class="result" id="main_prjStdSetNm">N/A</p>
                            </div>
							
                        </div>


						<div class="row">
                            <!--
							<div class="bx-wrap card02">
                                <button class="btn-more"></button>
                                <p class="tit">표준준수율</p>
                                <p class="result" id="main_stdCompRate">N/A</p>
                            </div>
							-->
							<div class="bx-wrap card02">
                                <p class="tit">표준용어 준수</p>
                                <p class="result" id="main_stdCompWord">N/A</p>
                            </div>
							<div class="bx-wrap card02">
                                <p class="tit">표준단어 준수</p>
                                <p class="result" id="main_stdCompWrd">N/A</p>
                            </div>
							<div class="bx-wrap card02">
                                <p class="tit">도메인 준수</p>
                                <p class="result" id="main_stdCompDomn">N/A</p>
                            </div>
                        </div>

						
						<div class="row">
							<div>
                                <div class="row">
                                    <div class="bx-wrap card01">
                                        <div class="icon-wrap">
                                            <img src="/img/icon/icon_dashboard04.png" alt="아이콘">
                                        </div>
                                        <div class="txt-wrap">
                                            <p class="tit">테이블수</p>
                                            <p class="result" id="main_tableCnt">N/A</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="bx-wrap card01">
                                        <div class="icon-wrap">
                                            <img src="/img/icon/icon_dashboard04.png" alt="아이콘">
                                        </div>
                                        <div class="txt-wrap">
                                            <p class="tit">컬럼수</p>
                                            <p class="result" id="main_columnCnt">N/A</p>
                                        </div>
                                    </div>
                                     
                                </div>
                                <div class="row">
                                    <div class="bx-wrap card01">
                                        <div class="icon-wrap">
                                            <img src="/img/icon/icon_dashboard04.png" alt="아이콘">
                                        </div>
                                        <div class="txt-wrap">
                                            <p class="tit">테이블당 컬럼 수</p>
                                            <p class="result" id="main_columnPerTabCnt">N/A</p>
                                        </div>
                                    </div>
                                     
                                </div>
                            </div>

							<div class="bx-wrap width2cols" style="width:100%">
                                <div class="bx-header">
                                    <p class="title">물리 단어명 TOP</p>
                                </div>
                                <div class="bx-content">
                                    <div class="chart-wrap" id="mainChart_physicColGrpCnt" style="width: 100%; height: 240px;" ></div>
                                </div>
                            </div>
							 
							<div>
                                <div class="row">
                                    <div class="bx-wrap card01">
                                        <button class="btn-more" onclick="location.href='/open/meta/stddicary/word_list'"></button>
                                        <div class="icon-wrap">
                                            <img src="/img/icon/icon_dashboard04.png" alt="아이콘">
                                        </div>
                                        <div class="txt-wrap">
                                            <p class="tit">등록 용어</p>
                                            <p class="result" id="main_wordCnt">0 개</p>
                                        </div>
                                    </div>
                                
                                </div>
                                <div class="row">
                                    <div class="bx-wrap card01">
										<button class="btn-more" onclick="location.href='/open/meta/stddicary/wrd_list'"></button>
                                        <div class="icon-wrap">
                                            <img src="/img/icon/icon_dashboard04.png" alt="아이콘">
                                        </div>
                                        <div class="txt-wrap">
                                            <p class="tit">등록 단어</p>
                                            <p class="result" id="main_wrdCnt">0 개</p>
                                        </div>
                                    </div>
                                     
                                </div>
                                <div class="row">
                                    <div class="bx-wrap card01">
										<button class="btn-more" onclick="location.href='/open/meta/stddicary/domn_list'"></button>
                                        <div class="icon-wrap">
                                            <img src="/img/icon/icon_dashboard04.png" alt="아이콘">
                                        </div>
                                        <div class="txt-wrap">
                                            <p class="tit">등록 도메인</p>
                                            <p class="result" id="main_domnCnt">0 개</p>
                                        </div>
                                    </div>
                                     
                                </div>
                            </div>
							<div class="bx-wrap width2cols" style="width:100px">
                                <div class="bx-header">
                                    <p class="title">적용 단어 TOP</p>
                                </div>
                                <div class="bx-content">
									<div class="chart-wrap" id="mainChart_wordWrdGrpCnt" style="width: 100%; height: 240px;" ></div>
                                </div>
                            </div>
							<!--
							<div>
                                <div class="row">
                                    <div class="bx-wrap card01">
                                        <button class="btn-more"></button>
                                        <div class="icon-wrap">
                                            <img src="/img/icon/icon_dashboard04.png" alt="아이콘">
                                        </div>
                                        <div class="txt-wrap">
                                            <p class="tit">표준용어 준수</p>
                                            <p class="result" id="main_stdCompWord">N/A</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="bx-wrap card01">
                                        <div class="icon-wrap">
                                            <img src="/img/icon/icon_dashboard04.png" alt="아이콘">
                                        </div>
                                        <div class="txt-wrap">
                                            <p class="tit">표준단어 준수</p>
                                            <p class="result" id="main_stdCompWrd">N/A</p>
                                        </div>
                                    </div>
                                     
                                </div>
                                <div class="row">
                                    <div class="bx-wrap card01">
                                        <div class="icon-wrap">
                                            <img src="/img/icon/icon_dashboard04.png" alt="아이콘">
                                        </div>
                                        <div class="txt-wrap">
                                            <p class="tit">도메인표준 준수</p>
                                            <p class="result" id="main_stdCompDomn">N/A</p>
                                        </div>
                                    </div>
                                     
                                </div>
                            </div>

							<div class="bx-wrap width2cols">
                                <div class="bx-header">
                                    <p class="title">표준준수율</p>
                                    <button class="btn-more"></button>
                                </div>
                                <div class="bx-content">
                                    <div class="chart-wrap" id="mainChart_complyRate" style="width: 100%; height: 240px;" ></div>
                                </div>
                            </div>
							-->
                        </div>

                        <div class="row">
                            <div class="bx-wrap">
                                <div class="bx-header">
                                    <p class="title">용어등록현황</p>
                                </div>
                                <div class="bx-content">
                                    <div class="chart-wrap" id="mainChart_wordRegStat" style="width: 100%; height: 240px;"></div>
                                </div>
                            </div>

							<div class="bx-wrap">
                                <div class="bx-header">
                                    <p class="title">미등록 용어</p>
                                    <button class="btn-more" onclick="location.href='/open/meta/anals/dbms_std_anals?searchMode=T2'"></button>
                                </div>
                                <div class="bx-content"> 
                                    <div class="tbl_wrap v2 head-fixed" data-height="268">
                                        <div class="tbl_head">
                                            <table>
                                                <colgroup>
                                                    <col style="width: 80%;">
                                                    <col style="width: 20%;">
                                                </colgroup>
                                                <thead>
                                                    <tr>
                                                        <th>용어</th>
                                                        <th>빈도</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="tbl_body">
                                            <table id="tb_errorWordList">
                                                <colgroup>
                                                    <col style="width: 80%;">
                                                    <col style="width: 20%;">
                                                </colgroup>
                                                <tbody>
                                                    <tr class="fwk_templete_row">
                                                        <td class="alignl">#{wordEngAbrvNm}</td>
                                                        <td>#{cnt}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bx-wrap">
                                <div class="bx-header">
                                    <p class="title">단어등록현황</p>
                                </div>
                                <div class="bx-content">
                                    <div class="chart-wrap"  id="mainChart_wrdRegStat" style="width: 100%; height: 240px;"></div>
                                </div>
                            </div>
							<div class="bx-wrap">
                                <div class="bx-header">
                                    <p class="title">미등록 단어</p>
                                    <button class="btn-more" onclick="location.href='/open/meta/anals/dbms_std_anals?searchMode=T2'"></button>
                                </div>
                                <div class="bx-content"> 
                                    <div class="tbl_wrap v2 head-fixed" data-height="268">
                                        <div class="tbl_head">
                                            <table>
                                                <colgroup>
                                                    <col style="width: 80%;">
                                                    <col style="width: 20%;">
                                                </colgroup>
                                                <thead>
                                                    <tr>
                                                        <th>단어</th>
                                                        <th>빈도</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="tbl_body">
                                            <table id="tb_errorWrdList">
                                                <colgroup>
                                                    <col style="width: 80%;">
                                                    <col style="width: 20%;">
                                                </colgroup>
                                                <tbody>
                                                    <tr class="fwk_templete_row">
                                                        <td class="alignl">#{wrdNm}</td>
                                                        <td>#{cnt}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
 

                            <div class="bx-wrap">
                                <div class="bx-header">
                                    <p class="title">도메인등록현황</p>
                                </div>
                                <div class="bx-content">
                                    <div class="chart-wrap" id="mainChart_domnRegStat" style="width: 100%; height: 240px;"></div>
                                </div>
                            </div>
                            <div class="bx-wrap">
                                <div class="bx-header">
                                    <p class="title">미등록 데이터타입</p>
                                    <button class="btn-more" onclick="location.href='/open/meta/anals/dbms_std_anals?searchMode=T2'"></button>
                                </div>
                                <div class="bx-content"> 
                                    <div class="tbl_wrap v2 head-fixed" data-height="268">
                                        <div class="tbl_head">
                                            <table>
                                                <colgroup>
                                                    <col style="width: 80%;">
                                                    <col style="width: 20%;">
                                                </colgroup>
                                                <thead>
                                                    <tr>
                                                        <th>데이터타입</th>
                                                        <th>빈도</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="tbl_body">
                                            <table id="tb_errorDataTypeList">
                                                <colgroup>
                                                    <col style="width: 80%;">
                                                    <col style="width: 20%;">
                                                </colgroup>
                                                <tbody>
                                                     <tr class="fwk_templete_row">
                                                        <td class="alignl">#{dataTypeLength}</td>
                                                        <td>#{cnt}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// content_area -->

             
			</div>
		</div>
	</div>

	
	 
	
<script type="text/javascript">

$(document).ready(function() {
	
	$(".width2cols").css("flex","2 0 0%");
	
	fnSearch();
	
});


 


function fnSearch() {
	
	$.ajax({
		url: "/json/metaMain/main"
		, method : "POST"
		, contentType: 'application/json'
		, data: JSON.stringify({})
		, success: function(data){
			// console.log(data);
			
			if(data.dbConnectedYn == "Y") {
				$("#main_prjDbms").text(data.projectInfo.dbmsNm + " " + data.projectInfo.dbmsIpAddr +" ("+data.projectInfo.dbmsId +")");
				 
				$("#main_tableCnt").text(fnFormatNumber(data.tableCnt) + " 건");
				$("#main_columnCnt").text(fnFormatNumber(data.colCnt) + " 건");
				$("#main_columnPerTabCnt").text( (Math.round( (data.colCnt / data.tableCnt) * 100) / 100) + " 개"  );
	
				fnDrawPieChart("mainChart_physicColGrpCnt", data.physicColGrpCntChartList, "물리단어명", "Y", "vertical");
			 
				if(data.stdSetConnectedYn == "Y") {
					
					$("#main_prjStdSetNm").text(data.projectInfo.stdSetNm);
					
					$("#main_wrdCnt").text(fnFormatNumber(data.wrdCnt) + " 건");
					$("#main_wordCnt").text(fnFormatNumber(data.wordCnt) + " 건");
					$("#main_domnCnt").text(fnFormatNumber(data.domnCnt) + " 건");
					if(data.wordWrdGrpCntChartList.length > 0) {
						fnDrawPieChart("mainChart_wordWrdGrpCnt", data.wordWrdGrpCntChartList, "단어", "Y", "vertical");
					} else {
						var tempChartArr = new Array();
						fnSetPieChartDataObj(tempChartArr, "적용 0건", 0);
						fnDrawPieChart("mainChart_wordWrdGrpCnt", tempChartArr, "단어", "Y", "vertical");
					}
				 
			 		var totWordGrpCnt = data.errorWordGrpCnt + data.complyWordGrpCnt;
					var totWrdGrpCnt = data.errorWrdGrpCnt + data.complyWrdGrpCnt;
					var totDataTypeGrpCnt = data.errorDataTypeGrpCnt + data.complyDataTypeGrpCnt;
					
					$("#main_stdCompWord").html(data.complyWordGrpCnt + " / " + totWordGrpCnt + " <span style='color:"+fnGetRateColor((Math.round((data.complyWordGrpCnt / totWordGrpCnt) * 10000) / 100))+"'>(" + (Math.round((data.complyWordGrpCnt / totWordGrpCnt) * 10000) / 100) + "%)</span>" );
					$("#main_stdCompWrd").html(data.complyWrdGrpCnt + " / " + totWrdGrpCnt + " <span style='color:"+fnGetRateColor((Math.round((data.complyWrdGrpCnt / totWrdGrpCnt) * 10000) / 100))+"'>(" +(Math.round((data.complyWrdGrpCnt / totWrdGrpCnt) * 10000) / 100) +"%)</span>");
					$("#main_stdCompDomn").html(data.complyDataTypeGrpCnt + " / " + totDataTypeGrpCnt + " <span style='color:"+fnGetRateColor((Math.round((data.complyDataTypeGrpCnt / totDataTypeGrpCnt) * 10000) / 100))+"'>(" +(Math.round((data.complyDataTypeGrpCnt / totDataTypeGrpCnt) * 10000) / 100) + "%)</span>");
					 
					/*
					var partStdComplyRate = (Math.round((data.complyWordGrpCnt / totWordGrpCnt) * 10000) / 100)
						+ (Math.round((data.complyWrdGrpCnt / totWrdGrpCnt) * 10000) / 100)
						+ (Math.round((data.complyDataTypeGrpCnt / totDataTypeGrpCnt) * 10000) / 100);
					var stdComplyRate = Math.round(  ((partStdComplyRate / 3) * 100)) / 100;*/
					
					// 표준 준수율
					$("#main_stdCompRate").html("<p style='color:"+fnGetRateColor(data.stdComplyRate)+"'>" +data.stdComplyRate + "%</p>");
					
					var stdRegWordChartArr = new Array();
					fnSetPieChartDataObj(stdRegWordChartArr, "등록 ("+data.complyWordGrpCnt+")", data.complyWordGrpCnt);
					fnSetPieChartDataObj(stdRegWordChartArr, "미등록 ("+data.errorWordGrpCnt+")", data.errorWordGrpCnt);
					fnDrawPieChart("mainChart_wordRegStat", stdRegWordChartArr, "등록현황", "N", "horizontal");
					
					
					var stdRegWrdChartArr = new Array();
					fnSetPieChartDataObj(stdRegWrdChartArr, "등록 (" + data.complyWrdGrpCnt+")", data.complyWrdGrpCnt);
					fnSetPieChartDataObj(stdRegWrdChartArr, "미등록 ("+data.errorWrdGrpCnt+")", data.errorWrdGrpCnt);
					fnDrawPieChart("mainChart_wrdRegStat", stdRegWrdChartArr, "등록현황", "N", "horizontal");
					
					var stdRegDomnChartArr = new Array();
					fnSetPieChartDataObj(stdRegDomnChartArr, "등록 ("+data.complyDataTypeGrpCnt+")", data.complyDataTypeGrpCnt);
					fnSetPieChartDataObj(stdRegDomnChartArr, "미등록 ("+data.errorDataTypeGrpCnt+")", data.errorDataTypeGrpCnt);
					fnDrawPieChart("mainChart_domnRegStat", stdRegDomnChartArr, "등록현황", "N", "horizontal");
					
					fnBindTableValue("tb_errorWordList", data.errorWordGrpList);
					fnBindTableValue("tb_errorWrdList", data.errorWrdGrpList);
					fnBindTableValue("tb_errorWrdList", data.errorWrdGrpList);
					fnBindTableValue("tb_errorDataTypeList", data.errorDataTypeGrpList);
					
				}
			} else {
				// db연결 안되어 있고 표준세트만 연결되어 있을때 
				if(data.stdSetConnectedYn == "Y") {
					$("#main_prjStdSetNm").text(data.projectInfo.stdSetNm);
					
					$("#main_wrdCnt").text(fnFormatNumber(data.wrdCnt) + " 건");
					$("#main_wordCnt").text(fnFormatNumber(data.wordCnt) + " 건");
					$("#main_domnCnt").text(fnFormatNumber(data.domnCnt) + " 건");
					
					if(data.wordWrdGrpCntChartList.length > 0) {
						fnDrawPieChart("mainChart_wordWrdGrpCnt", data.wordWrdGrpCntChartList, "단어", "Y");
					} else {
						var tempChartArr = new Array();
						fnSetPieChartDataObj(tempChartArr, "적용 0건", 0);
						fnDrawPieChart("mainChart_wordWrdGrpCnt", tempChartArr, "단어", "Y");
					}
				}
			}
			setFrameHeight();
		}
	});
	 
}

function fnGetRateColor(rate) {
	var rateFontColor = "blue";
	if(50 < rate  &&  rate < 90)
		rateFontColor = "#ff5722";
	else if(rate <= 50)
		rateFontColor = "red";
	return rateFontColor;
}

function fnSetPieChartDataObj(arrObj, name, value) {
	var obj = new Object();
	obj.name = name;
	obj.value = value;
	arrObj[arrObj.length] = obj;
}


function fnDrawPieChart(id, dataList, seriesName, labelYn, legendLoc) {
	var option;
	option = {
		title: {
			text: '',
			subtext: '',
			left: 'center'
		},
		tooltip: {
			trigger: 'item'
		},
		legend: {
			orient: legendLoc,
			left: 'left'
		}
		, series: [ {
			name: seriesName,
			type: 'pie',
			radius: '50%',
			data: dataList,
			emphasis: {
				itemStyle: {
					shadowBlur: 10,
					shadowOffsetX: 0,
					shadowColor: 'rgba(0, 0, 0, 0.5)'
				}
			}
		}]
	};

	if(labelYn == "Y") { 
		var label = {
			formatter: '{b} ({@2012})'
		};
		option.label = label;
	}
	
	var chartDom = document.getElementById(id);
	option && echarts.init(chartDom).setOption(option);	
	
}


 

</script>
</body>
</html>