<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/mainLayout">

<head>
	<th:block th:replace="fragments/head_inc :: head_inc" />
 
</head>
<body>
	<div id="wrap">
		<div class="container">
			<div id="content">
				<div class="page_info_area">
					<div class="left">
                        <div class="location_area">
                            <a href="#" class="bookmark active" title="즐겨찾기"></a>
                        </div>
                        <div class="title_area">
                            <p>패턴/지표 관리</p>
                            <a href="#" class="reload_btn" title="새로고침">새로고침</a>
                            <a href="#" class="help_btn" title="도움말">도움말</a>
                        </div>
                    </div>
                    <div class="right">
                        <div class="button_area" >
                        	<button class="btn" title="신규등록" onclick="fnRegBtn('R', '', '', ''); return false;">신규등록</button>
                        	<button class="btn" title="조회" onclick="fnSearch(); return false;">조회</button>
                        </div>
                    </div>
                </div>

				<div class="content_area">
                    <div class="division20">
                        <div class="search_wrap">
                            <table class="search fixed">
								<colgroup>
                                    <col width="6%" />
                                    <col width="10%" />
									<col width="4%" />
									<col width="5%" />
									<col width="10%" />
									<col width="5%" />
									<col width="5%" />
									<col width="20%" />
									<col width="5%" />
									<col width="5%" />
									<col width="10%" />
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>지표구분</th>
                                        <td>
											<div class="selectbox">
	                                            <select name="ruleSeCd" id="ruleSeCd" style="width: 100%;">
												 	<option value="">전체</option>
	                                            </select>
											</div>
										</td>
                                        <td></td>
										<th>그룹</th>
                                        <td>
											<div class="selectbox">
	                                            <select name="ruleTyCd" id="ruleTyCd" style="width: 100%;">
												 	<option value="">전체</option>
	                                            </select>
											</div>
										</td>
										<td></td>
										<th><label for="ruleNm">지표명</label></th>
                                        <td><input type="text" class="in_w100" name="ruleNm" id="ruleNm" maxlength="50" placeholder="입력" ></td>
	                                    <td></td>
										<th>사용여부</th>
                                        <td>
											<div class="selectbox">
	                                            <select name="useYn" id="useYn" style="width: 100%;">
												 	<option value="">전체</option>
													<option value="Y">사용</option>
													<option value="N">미사용</option>
	                                            </select>
											</div>
										</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
			
			
					<div class="division20">
						<div class="card">
							<table class="list fixed" id="tb_data_table">
								<colgroup>
                                    <col width="8%" />
                                    <col width="5%" />
									<col width="13%" />
									<col width="34%" />
									<col width="27%" />
									<col width="4%" />
									<col width="4%" />
									<col width="5%" />
                                </colgroup>
									<thead>
										<tr>
											<th>지표구분</th>
											<th>그룹</th>
											<th>패턴/지표명</th>
											<th>규칙</th>
											<th>설명</th>
											<th>정상<br>표현식</th>
											<th>사용여부</th>
											<th>비고</th>
										</tr>
									</thead>
									<tbody>
										<tr class="fwk_templete_row">
											<td>#{ruleSeCdNm}</td>
											<td>#{ruleTyCdNm}
												<input type="hidden" name="ruleSeCd" value="#{ruleSeCd}"/>	
												<input type="hidden" name="useYn" value="#{useYn}"/>
												<input type="hidden" name="ruleSn" value="#{ruleSn}"/>	
											</td>
											<td class="alignl">#{ruleNm}</td>
											<td class="alignl">#{ruleExprsnValue}</td>
											<td class="alignl">#{ruleDc}</td>
											<td>#{rulePostvExprsnYn}</td>
											<td>#{useYn}</td>
											<td class="td_btn"></td>
										</tr>
									</tbody>
								</table>
							<div class="pagination_area marginb25" id="dv_paging"></div>
						</div><!-- card -->
					</div><!-- division20 -->
				</div><!-- content_area -->
			</div><!-- content -->
		</div><!-- container -->
	</div><!-- wrap -->

 <div class="popup layer" id="regpattern_modal" style="height :700px">
 	<div class="pop_header">
		<p class="title">업무규칙 관리</p>
		<button class="btn_ic btn_pop_close" id="closeModalBtn" onclick="fnCloseModal('regpattern_modal');">닫기</button>
	</div>
	<div class="pop_content">
	    <div class="tbl_top right margint20">
	    	<div class="btn_wrap">
	    	
	    		<input type="hidden" name="ruleSnHide" id="ruleSnHide" />
	    		<input type="hidden" name="pmodeHide" id="pmodeHide" />
	    		<input type="hidden" name="showTableHide" id="showTableHide" />
	    		<input type="hidden" name="ruleSeCdHide" id="ruleSeCdHide" />
	    		
				<button class="btn sm" title="저장" name="saveBtn" onclick="fnSaveBtn(); return false;">저장</button>
			</div>
   		</div>	
			<div class="search_wrap marginb20" style="margin-right:0">
				<table class="search fixed">
					<colgroup>
						<col width="6%" />
						<col width="24%" />
						<col width="4%" />
						<col width="6%" />
						<col width="auto" />
					</colgroup>
					<tbody>
						<tr>
							<th>지표구분</th>
	    					<td>
	    						<div class="selectbox">
	    							<select id="regRuleSeCd" name="regRuleSeCd" onchange="fnChangeSelectBoxRuleSeCd(this.value)">
	    							</select>		
	    						</div>
	    					</td>
	    					<td></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card">
				
				<table class="view" id="table_defaultpattern" >
					<colgroup>
						<col width="10%" />
						<col width="40%" />
						<col width="10%" />
						<col width="40%" />
					</colgroup>
					<tbody>
						<tr>
							<th>* 패턴/지표명</th>
							<td><input type="text" name="defRuleNm" id="defRuleNm" placeholder="30자리 이내로 입력" readonly/></td>
							<th>* 사용 여부</th>
							<td>
								<div>
									<input type="radio" name="defUseYn" id="defuseyn_y" value="Y"/>
									<label for="defuseyn_y">Y</label>
									<input type="radio" name="defUseYn" id="defuseyn_n" value="N"/>
									<label for="defuseyn_n">N</label>
								</div>
							</td>
						</tr>
						<tr>
							<th>* 규칙</th>
							<td colspan="3"><textarea type="text" name="defRuleExprsnValue" id="defRuleExprsnValue" style="height: 140px; overflow:auto; padding: 10px;" readonly></textarea></td>
						</tr>
						<tr>
							<th>설명</th>
							<td colspan="3"><textarea type="text" name="defRuleDc" id="defRuleDc" style="height: 140px; overflow:auto; padding: 10px;" readonly></textarea></td>
						</tr>
					</tbody>
				</table>
			
			
			
			
			
			
				<table class="view" id="table_pattern" >
					<colgroup>
						<col width="10%" />
						<col width="40%" />
						<col width="10%" />
						<col width="10%" />
						<col width="12%" />
						<col width="18%" />
					</colgroup>
					<tbody>
						<tr>
							<th>* 정규식 이름</th>
							<td><input type="text" name="ptnRuleNm" id="ptnRuleNm" placeholder="60자리 이내로 입력" maxlength="60"/></td>
							<th>* 사용 여부</th>
							<td>
								<div>
									<input type="radio" name="ptnUseYn" id="ptnuseyn_y" value="Y"/>
									<label for="ptnuseyn_y">Y</label>
									<input type="radio" name="ptnUseYn" id="ptnuseyn_n" value="N"/>
									<label for="ptnuseyn_n">N</label>
								</div>
							</td>
							<th>* 정규식 표현구분</th>
							<td>
								<div>
									<input type="radio" name="ptnExprsnYn" id="ptnexprsnyn_y" value="Y"/>
									<label for="ptnexprsnyn_y">정상표현식</label>
									<input type="radio" name="ptnExprsnYn" id="ptnexprsnyn_n" value="N"/>
									<label for="ptnexprsnyn_n">오류표현식</label>
								</div>
							</td>
						</tr>
						<tr>
							<th id="dfth" >* 날짜 포맷<br/>Java Format</th>
							<th id="rltn" >* 정규식</th>
							<td colspan="5"><textarea type="text" name="ptnRuleExprsnVal" id="ptnRuleExprsnVal" style="height: 140px; overflow:auto; padding: 10px;"></textarea></td>
						</tr>
						<tr>
							<th>* 유효성 체크</th>
							<td>
								<div style="display: flex; align-items: center;">
									<input type="text" name="ptnRuleTestVal" id="ptnRuleTestVal" placeholder="입력 값"/>
									<div class="marginl5">
										<button class="btn sm" title="유효성검사" name="ptnRuleValidCheckBtn" id="ptnRuleValidCheckBtn" onclick="fnCheckRule();">유효성 체크</button>
									</div>
								</div>
							</td>
							<th>유효성 결과</th>
							<td colspan="3"><input type="text" name="ruleTestResult" placeholder="결과" readonly/></td>
						</tr>
						<tr>
							<th>설명</th>
							<td colspan="5"><textarea type="text" name="ptnRuleDc" id="ptnRuleDc" style="height: 140px; overflow:auto; padding: 10px;"  ></textarea></td>
						</tr>
					</tbody>
				</table>
				
				
				
				<table class="view" id="table_sqlpattern" >
					<colgroup>
						<col width="10%" />
						<col width="40%" />
						<col width="10%" />
						<col width="10%" />
						<col width="12%" />
						<col width="18%" />
					</colgroup>
					<tbody>
						<tr>
							<th>* SQL 명</th>
							<td><input type="text" name="sqlRuleNm" id="sqlRuleNm" placeholder="60자리 이내로 입력" maxlength="60"/></td>
							<th>* 사용 여부</th>
							<td>
								<div>
									<input type="radio" name="sqlUseYn" id="sqluseyn_y" value="Y"/>
									<label for="sqluseyn_y">Y</label>
									<input type="radio" name="sqlUseYn" id="sqluseyn_n" value="N"/>
									<label for="sqluseyn_n">N</label>
								</div>
							</td>
							<th>* SQL 표현구분</th>
							<td>
								<div>
									<input type="radio" name="sqlExprsnYn" id="sqlexprsnyn_y" value="Y"/>
									<label for="sqlexprsnyn_y">정상SQL</label>
									<input type="radio" name="sqlExprsnYn" id="sqlexprsnyn_n" value="N"/>
									<label for="sqlexprsnyn_n">오류SQL</label>
								</div>
							</td>
						</tr>
						<tr>
							<th>* Schema</th>
							<td>
								<input type="text" name="sqlDbmsDatabaseNm" id="sqlDbmsDatabaseNm" readonly="readonly" />
							</td>
							<th>* Table</th>
							<td colspan="3">
								<select id="sqlDbmsTableNm" name="sqlDbmsTableNm">
									<option value="">선택해주세요</option>
								</select>
							</td>
						</tr>
						<tr>
							<th>* where 절</th>
							<td colspan="5">
							<textarea type="text" name="sqlWhereVal" id="sqlWhereVal" style="height: 140px; overflow:auto; padding: 10px;" placeholder="where 제외 입력 &#13;&#10;※ 동적컬럼을 사용하기 위해서는 변수 ${columnName} 를 사용해주세요. 분석시 분석컬럼에 바인딩되어 수행됩니다.&#13;&#10;   예) ${columnName} in ('Y,'N')"></textarea></td>
						</tr>
						<tr>
							<th>* 유효성 체크</th>
							<td>
								<div style="display: flex; align-items: center;">
									<input type="text" name="columnNmText" id="columnNmText" placeholder="컬럼명 입력"/>
									<div class="marginl5">
									<button class="btn sm" title="유효성검사" name="sqlRuleValidCheckBtn" id="sqlRuleValidCheckBtn" onclick="fnCheckRule();">유효성 체크</button>
									</div>
								</div>
							</td>
							<th>유효성 결과</th>
							<td colspan="3"><input type="text" name="ruleTestResult" placeholder="결과" readonly/></td>
						</tr>
						<tr>
							<th>설명</th>
							<td colspan="5"><textarea type="text" name="sqlRuleDc" id="sqlRuleDc" style="height: 140px; overflow:auto; padding: 10px;"  ></textarea></td>
						</tr>
					</tbody>
				</table>
				
				
				
				
				
				<table class="view" id="table_limitpattern" >
					<colgroup>
						<col width="10%" />
						<col width="40%" />
						<col width="10%" />
						<col width="40%" />
					</colgroup>
					<tbody>
						<tr>
							<th>* 허용 값 이름</th>
							<td><input type="text" name="limitRuleNm" id="limitRuleNm" placeholder="60자리 이내로 입력" maxlength="60"/></td>
							<th>* 사용 여부</th>
							<td>
								<div>
									<input type="radio" name="limitUseYn" id="limituseyn_y" value="Y"/>
									<label for="limituseyn_y">Y</label>
									<input type="radio" name="limitUseYn" id="limituseyn_n"value="N"/>
									<label for="limituseyn_n">N</label>
								</div>
							</td>
						</tr>
						<tr id="tr_limitfromto" >
							<th>* FROM</th>
							<td><input type="text" name="bgngValue" id="bgngValue"/></td>
							<th>* TO</th>
							<td><input type="text" name="endValue" id="endValue"/></td>
						</tr>
						<tr id="tr_limitcldr" >
							<th>* FROM</th>
							<td>
								<div class="calendar_box">
									<input type="text" name="bgngValueDt" id="bgngValueDt" />
								</div>
							</td>
							<th>* TO</th>
							<td>
								<div class="calendar_box">
									<input type="text" name="endValueDt" id="endValueDt" />
								</div>
							</td>
						</tr>
						<tr>
							<th>설명</th>
							<td colspan="3"><textarea type="text" name="limitRuleDc" id="limitRuleDc" style="height: 140px; overflow:auto; padding: 10px;"  ></textarea></td>
						</tr>
					</tbody>
				</table>
		</div>
	</div>
	<div class="pop_footer">
	
	</div>
 
</div>
	



<!-- DBMS 등록 -->
<div class="popup layer" id="regdbmsInfo_modal" style="width:650px;">
	<th:block th:replace="meta/stddicary/domn_dbms_reg_inc :: domn_dbms_reg_inc" />
</div>






	
<script type="text/javascript">

$(document).ready(function() {





	// DBMS 체크
	if(!isDbmsChk())
		return;
		
	//var chk = isSessionConChk();
	
	//if(chk){
		$("#ruleNm").on("keyup", function(event) {
			if(event.keyCode == 13)
				fnSearch(1);
		});
		
		fnLoadCode();
		
		$("#bgngValueDt, #endValueDt").datepicker();
		
		$("#ptnRuleTestVal").on("keyup", function(event) {
			if (event.keyCode == 13)
				fnCheckRule();
		});
		
		$("#ptnRuleExprsnVal, #sqlWhereVal").on("input", function(){
			if($("input[name=ruleTestResult]").val() == "Y"){
				$("input[name=ruleTestResult]").val("");
			}
		});
		
		$("#sqlWhereVal").on("keyup", function() {
			if($(this).val().indexOf("${columnName}") > -1){
				$("#columnNmText").show();
			} else {
				$("#columnNmText").hide();
			}
		});
		
		
		fnGetTableList();
	//}
});

var _loadCodeBinder;
function fnLoadCode() {
	
	var dbmsDatabaseNm = parent.$("#topgv_dbmsDatabaseNm").val();
	var schemaNm = parent.$("#topgv_dbmsSchemaNm").val();
	
	if(schemaNm != ""){
		dbmsDatabaseNm = schemaNm;
	} 
	
	$("#sqlDbmsDatabaseNm").val(dbmsDatabaseNm);
	
	_loadCodeBinder = new CodeBinder()
		.setCommonCode("AG000000", "ruleSeCd", "select")
		.setCommonCode("AT000000", "ruleTyCd", "select")
		.setLoadCallbackFunc("fnSearch()")
		.load();

}

// 조회
function fnSearch(pageNum) {
	
	if(!pageNum) 
		pageNum = 1;
	
	$.ajax({
		url: '/dq/ruleMng/getPatternList'
		, method : "POST"
		, contentType : 'application/json'
		, data: JSON.stringify({
			pageNum : pageNum 
			, ruleSeCd : $("#ruleSeCd").val()
			, ruleTyCd : $("#ruleTyCd").val()
			, ruleNm : fnUnderbarChgVar($("#ruleNm").val()) 
			, useYn : $("#useYn").val()
			, dbmsSn : parent.$("#topgv_dbmsSn").val()
		})
		, success: function(data){
			var list = data.list;
			fnBindTableValue("tb_data_table", list);
			fnSetPaging("dv_paging", data.pagingInfo);
			
			var ruleSeCd = "";
			var ruleSn = "";
			var useYn = "";
			var addBtn = "";
			$("#tb_data_table tr.fwk_data_row").each(function(){
				useYn = $(this).find("input[name=useYn]").val();
				ruleSeCd = $(this).find("input[name=ruleSeCd]").val();
				ruleSn = $(this).find("input[name=ruleSn]").val();
				addBtn = '<button class="btn sm" name="modBtn" onclick="fnRegBtn(\'M\', \''+ruleSeCd+'\', \''+useYn+'\', \''+ruleSn+'\'); return false;">수정</button>'; 
				$(this).find(".td_btn").append(addBtn);
				
			});
			
		}
	});
}

// <table></table> and <tr></tr> 숨김 처리
function fnHtmlHide(){
	
	$("#tr_limitcldr").hide();
	$("#tr_limitfromto").hide();
	
	$("#table_limitpattern").hide();
	$("#table_pattern").hide();
	$("#table_sqlpattern").hide();
	$("#table_defaultpattern").hide();
	
}

// 지표구분 selectbox 변경
function fnChangeSelectBoxRuleSeCd(ruleSeCd){
	
	fnHtmlHide();

	var tableId = ""; 
	var showTable = "";
	
	// 사용자 정의 패턴 401, 사용자 정의 SQL 402, 사용자 정의 날짜 403, 범주 601~603
	if (ruleSeCd == "AG000401" || ruleSeCd == "AG000501") {
		tableId = "table_pattern";
		
		
		if(ruleSeCd == "AG000401"){
			$("#rltn").show();
			$("#dfth").hide();
		} else {
			$("#dfth").show();
			$("#rltn").hide();
		}
		
	} else if (ruleSeCd == "AG000402") {
		tableId = "table_sqlpattern";
	} else if (ruleSeCd == "AG000601" || ruleSeCd == "AG000602" || ruleSeCd == "AG000603"){ // 범주
		tableId = "table_limitpattern";
		if (ruleSeCd == "AG000603") {
			$("#tr_limitcldr").show();
		} else {
			$("#tr_limitfromto").show();
		}
	} else {
		tableId = "table_defaultpattern";
	}
	showTable = tableId; 
	$("#"+tableId+"").show();
	$("#showTableHide").val(showTable);
	$("#ruleSeCdHide").val(ruleSeCd);
	
	fnTableInit();
	
}

// 지표구분 selectbox
function regSelectBox(){
	
	var codeList = _loadCodeBinder.getCodeMap();
	
	var ruleSeCdList = codeList["AG000000"];
	
	
	$.each(ruleSeCdList, function(){
		
		var code = this.code.substring(0,6);
		var codeNm = this.codeNm;
		
		if(code == 'AG0004' || code == 'AG0006'){
			addObj = "<option value='"+this.code + "'>"+codeNm+"</option>";
		} else {
			
			if(this.code == 'AG000501'){
				addObj = "<option value='"+this.code + "'>"+codeNm+"</option>";
			} else {
				addObj = "<option value='"+this.code + "' hidden>"+codeNm+"</option>";
			}
		}
		$("#regRuleSeCd").append(addObj);
	});
	
}

// 등록 
function fnRegBtn(pmode, ruleSeCd, useYn, ruleSn){
	fnHtmlHide();
	
	var selectBoxOptionCnt = $("#regRuleSeCd option").length;
	if(selectBoxOptionCnt == 0){
		regSelectBox();
	}
	
	if(ruleSeCd == ""){
		ruleSeCd = "AG000401"
	}
	
	var selectBoxId = "regRuleSeCd";
	
	//fnChangeSelectVal(selectBoxId, ruleSeCd);
	$("#"+selectBoxId).find("option[value="+ruleSeCd+"]").prop("selected", true);
	fnChangeSelectBoxRuleSeCd(ruleSeCd);
	
	fnShowModal("regpattern_modal");
	
	$("#pmodeHide").val(pmode);
	$("#ruleSnHide").val(ruleSn);
	$("#ruleSeCdHide").val(ruleSeCd);
	
	if(pmode == "M"){
		$("#"+selectBoxId+"").prop("disabled",true);
		
		$.ajax({
			url: "/dq/ruleMng/getPatternInfo"
			, method : "POST"
			, contentType : 'application/json'
			, data : JSON.stringify({
				ruleSn : ruleSn
			})
			, success: function(data){
				var info = data.info;
				
				// 사용자 정의 패턴 401, 사용자 정의 SQL 402, 사용자 정의 날짜 403, 범주 601~603, 사용자 정의 날짜패턴 501
				if (ruleSeCd == "AG000401" || ruleSeCd == "AG000501") {
					$("#ptnRuleNm").val(info.ruleNm);
					$("#ptnRuleExprsnVal").val(info.ruleExprsnValue);
					$("input[name=ptnUseYn][value='"+info.useYn+"']").prop("checked", true);
					$("input[name=ptnExprsnYn][value='"+info.rulePostvExprsnYn+"']").prop("checked", true);
					$("#ptnRuleDc").val(info.ruleDc);
					
					
				} else if (ruleSeCd == "AG000402") {
					var ruleExprsnValue = info.ruleExprsnValue;
					
					
					var start ="";
					var end = "";
					var value ="";
					
					if(ruleExprsnValue.indexOf(".") > -1){
						
						start = ruleExprsnValue.indexOf(".");
						end = ruleExprsnValue.indexOf("WHERE", start+1);
						value = ruleExprsnValue.substring(start+1, end);
						
					} else {
						
						start = ruleExprsnValue.indexOf("FROM");
						end = ruleExprsnValue.indexOf("WHERE", start+4);
						value = ruleExprsnValue.substring(start+4, end);
						
					}
					
					$("#sqlDbmsTableNm").val(value.trim());
					start = ruleExprsnValue.indexOf("WHERE");
					value = ruleExprsnValue.substring(start + 5 , ruleExprsnValue.length);
					
					if(value.indexOf("${columnName}") > -1){
						$("#columnNmText").show();
					}
					$("input[name=sqlUseYn][value='"+info.useYn+"']").prop("checked", true);
					$("input[name=sqlExprsnYn][value='"+info.rulePostvExprsnYn+"']").prop("checked", true);
					$("#sqlWhereVal").val(value.trim());
					$("#sqlRuleNm").val(info.ruleNm);
					$("#sqlRuleDc").val(info.ruleDc);
					
				} else if (ruleSeCd == "AG000601" || ruleSeCd == "AG000602" || ruleSeCd == "AG000603"){ // 범주
					var bgngValueInputId = "";
					var endValueInputId = "";
					
					if (ruleSeCd == "AG000603") {
						bgngValueInputId = "bgngValueDt";
						endValueInputId = "endValueDt";
					} else {
						bgngValueInputId = "bgngValue";
						endValueInputId = "endValue";
					}
					$("#" + bgngValueInputId+ "").val(info.bgngValue);
					$("#" + endValueInputId + "").val(info.endValue);
					$("#limitRuleNm").val(info.ruleNm);
					$("#limitRuleDc").text(info.ruleDc);
					$("input[name=limitUseYn][value='"+info.useYn+"']").prop("checked", true);
				
				} else {
					
					$("#defRuleNm").val(info.ruleNm);
					$("#defRuleExprsnValue").text(info.ruleExprsnValue);
					$("#defRuleDc").text(info.ruleDc);
					$("input[name=defUseYn][value='"+info.useYn+"']").prop("checked", true);
					
				}
				
			}
		});
		
		
	} else {
		$("#"+selectBoxId+"").prop("disabled",false);
		var dbmsNm = parent.$("#topgv_dbmsNm").val();
		
		if(dbmsNm == "mongoDB"){
			//$("#"+selectBoxId+"").prop("disabled",true);	
			
			$("#regRuleSeCd option[value=AG000402]").hide();
			$("#regRuleSeCd option[value=AG000601]").hide();
			$("#regRuleSeCd option[value=AG000602]").hide();
			$("#regRuleSeCd option[value=AG000603]").hide();
			
			
		} else if(dbmsNm == 'CSV') {
			$("#regRuleSeCd option[value=AG000402]").hide();
		}
		
	}
}

// 테이블 초기화
function fnTableInit(){
	$("input[name=defUseYn][value=Y]").prop("checked", true);
	$("input[name=ptnUseYn][value=Y]").prop("checked", true);
	$("input[name=ptnExprsnYn][value=Y]").prop("checked", true);
	$("input[name=sqlExprsnYn][value=Y]").prop("checked", true);
	$("input[name=sqlUseYn][value=Y]").prop("checked", true);
	$("input[name=limitUseYn][value=Y]").prop("checked", true);
	
	$("#table_pattern").find("input[type=text], textarea").val("");
	$("#table_limitpattern").find("input[type=text], textarea").val("");
	
	$("#columnNmText").hide();
	$("#columnNmText").val("");
	
	$("#sqlDbmsTableNm").val("");
	$("#sqlWhereVal").val("");
	$("#sqlRuleDc").val("");
	$("#sqlRuleNm").val("");
	$("#sqlRuleNm").val("");
	
}

function fnGetTableList(){

	if(parent.$("#topgv_isConnectedYn").val() == "N")
		return;

	$.ajax({
		url : '/dq/analysis/getAnalysisTableList'
		, method : "POST"
		, contentType : 'application/json'
		, data : JSON.stringify({
			onlyTable : "Y"
		})
		, success : function(data) {
			var list = data.tableList;
			$.each(list, function(){
				var addObj = "<option value='" + this.dbmsTableNm + "'>" + this.dbmsTableNm + "</option>";
				$("#sqlDbmsTableNm").append(addObj);
			});
			
		}
	});
}

// 저장
function fnSaveBtn(){
	var useYnInputNm = "";
	var ptnExprsnYnInputNm = "";
	var showTableHide = $("#showTableHide").val();
	
	var data = {};	
	
	var pmode = $("#pmodeHide").val();
	var ruleNm = "";
	var ruleSn = $("#ruleSnHide").val();
	var ruleSeCd = $("#ruleSeCdHide").val();
	var ruleExprsnValue = "";
	var ruleDc = "";
	var bgngValue ="";
	var endValue ="";
	var ruleTyCd = "";
	var useYn = "";
	var rulePostvExprsnYn ="";
	var schema = "";
	var table = "";
	var keyDesc = "";
	
	if("AG000401" == ruleSeCd || "AG000402" == ruleSeCd || "AG000501" == ruleSeCd){
		var resultVal = $("#"+showTableHide+"").find("input[name=ruleTestResult]").val();
	}
	

	
	if ("AG000401" == ruleSeCd || "AG000501" == ruleSeCd){
		keyDesc = "정규식 이름";
		
		if (!fnCheckValid("#ptnRuleNm", keyDesc))
			return;
		
		if (!fnCheckValid("#ptnRuleExprsnVal", "정규식"))
			return;
		
		useYnInputNm = "ptnUseYn";
		ruleNm = $("#ptnRuleNm").val();
		ruleDc = $("#ptnRuleDc").val();
		ruleExprsnValue = $("#ptnRuleExprsnVal").val();
		
		if ("AG000401" == ruleSeCd ){
			ruleTyCd ="AT000200";
		} else {
			ruleTyCd ="AT000400";
		}
		rulePostvExprsnYn = $("#"+showTableHide+"").find("input:radio[name=ptnExprsnYn]:checked").val();
	} else if ("AG000402" == ruleSeCd){
		keyDesc = "SQL 명"
		useYnInputNm = "sqlUseYn";
		if (!fnCheckValid("#sqlRuleNm", keyDesc))
			return;
		
		if (!fnCheckValid("#sqlWhereVal", "where 절"))
			return;
		
		if ($("#sqlDbmsTableNm").val() == ""){
			
			alert("Table 는(은) 필수 선택 항목입니다.");
			return;
			
		}
		
		ruleNm = $("#sqlRuleNm").val();
		ruleDc = $("#sqlRuleDc").val();
		ruleExprsnValue = $("#sqlWhereVal").val();
		ruleTyCd ="AT000100";
		
		data.schema = $("#sqlDbmsDatabaseNm").val();
		data.table = $("#sqlDbmsTableNm").val();
		rulePostvExprsnYn = $("#"+showTableHide+"").find("input:radio[name=sqlExprsnYn]:checked").val();
	} else if ("AG000601" == ruleSeCd || "AG000602" == ruleSeCd || "AG000603" == ruleSeCd){
		keyDesc = "허용 값 이름";
		if (!fnCheckValid("#limitRuleNm", keyDesc))
			return;
			 
		if (ruleSeCd == "AG000603") {
			if (!fnCheckValid("#bgngValueDt", "범주 FROM"))
				return;
			if (!fnCheckValid("#endValueDt", "범주 FROM"))
				return;
			
		} else {
			if (!fnCheckValid("#bgngValue", "범주 FROM"))
				return;
			if (!fnCheckValid("#endValue", "범주 FROM"))
				return;
			
		}
			
		ruleTyCd ="AT000300";
		useYnInputNm = "limitUseYn";
		if("AG000603" == ruleSeCd){
			bgngValue = $("#bgngValueDt").val();
			endValue = $("#endValueDt").val();	
		} else {
			bgngValue = $("#bgngValue").val();
			endValue = $("#endValue").val();
		}
		ruleNm = $("#limitRuleNm").val();
		ruleDc =$("limitRuleDc").val();
		ruleExprsnValue = bgngValue + " ~ " + endValue;
		// rulePostvExprsnYn = "Y";
	} else {
		useYnInputNm = "defUseYn";
		
	}
	
	useYn = $("#"+showTableHide+"").find("input:radio[name=\'"+useYnInputNm+"\']:checked").val();
	
	if(useYn == "Y") {
		if(resultVal == "N" || resultVal ==""){
			alert("유효성 체크를 해주세요");
			return;
		}
	}
	
	
	
	data.pmode = pmode; 
	data.useYn = useYn;
	data.rulePostvExprsnYn = rulePostvExprsnYn;
	data.ruleSn = ruleSn;
	data.ruleSeCd = ruleSeCd;
	data.ruleTyCd = ruleTyCd;
	data.ruleNm = ruleNm.trim();
	data.ruleExprsnValue = ruleExprsnValue.trim();
	data.bgngValue =bgngValue.trim();
	data.endValue = endValue.trim();
	data.ruleDc = ruleDc;
	data.pttrnSeCd = "";
	data.keyDesc = keyDesc;
	
	if(!confirm("저장 하시겠습니까?")){
		return;
	}
	
	var pagingNo ="";
	$("#dv_paging .on a").each(function(){
		pagingNo = $(this).text();
	});
	
	$.ajax({
		url: "/dq/ruleMng/savePatternInfo"
		, method : "POST"
		, contentType : 'application/json'
		, data : JSON.stringify(data)
		, success: function(data){
			if(data.resultCd == "OK"){
				fnCloseModal('regpattern_modal');
				fnSearch(pagingNo);
			}
		}
	});
	
	
}


// 규칙 검사
function fnCheckRule(){

	var ruleSeCdHide = $("#ruleSeCdHide").val();
	var data = {};
	
	if(ruleSeCdHide == "AG000401" || ruleSeCdHide == "AG000501"){
		
		var thTextVal = "";
		
		if(ruleSeCdHide == "AG000401"){
			thTextVal = "정규식";
		} else {
			thTextVal = "날짜 포맷";
		}
		
		if (!fnCheckValid("#ptnRuleExprsnVal", thTextVal)){
			return;
		}

		data.ruleExprsnValue = $("#ptnRuleExprsnVal").val().trim();
		data.testValue = $("#ptnRuleTestVal").val();
		
	} else if(ruleSeCdHide == "AG000402") {
		
		if ($("#sqlDbmsTableNm").val() == ""){
			alert("Table 는(은) 필수 선택 항목입니다.");
			return;
		}
		
		if (!fnCheckValid("#sqlWhereVal", "where 절")){
			return;
		}
		
		if($("#sqlWhereVal").val().indexOf("${columnName}") > -1){
			if (!fnCheckValid("#columnNmText", "컬럼명")){
				return;
			}
			
			data.columnName = $("#columnNmText").val();
		}
		
		data.whereValue = $("#sqlWhereVal").val().trim();
		data.dbmsDatabaseNm = $("#sqlDbmsDatabaseNm").val();
		data.dbmsTableNm= $("#sqlDbmsTableNm").val();
		
	} else {
		return;
	}
	
	data.ruleSeCd = ruleSeCdHide;
	var showTableVal = $("#showTableHide").val();
	
	$.ajax({
		url: "/dq/ruleMng/checkRuleSqlAndPattern"
		, method : "POST"
		, contentType : 'application/json'
		, data : JSON.stringify(data)
		, success: function(data){
			var resultYn = data.result;
			 
			if(resultYn == "Y"){
				if(ruleSeCdHide == "AG000401"){
					alert("입력 값에 유효한 정규식입니다.")
				} else if (ruleSeCdHide == "AG000501"){
					alert("사용가능한 유효한 날짜 포맷입니다.")
				} else {
					alert("정상적인 SQL 문입니다.")
				}
			} else {
				alert("입력 값에 유효한 정규식이 아닙니다.")
			}
			$("#"+showTableVal+"").find("input[name=ruleTestResult]").val(resultYn);
			
		}
		, error : function(data){
			
			$("#"+showTableVal+"").find("input[name=ruleTestResult]").val("N");
			
		} 
	});

}

</script>
</body>
</html>