<html th:lang = "ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="domn_datatype_list_inc">
	<div class="pop_header">
		<p class="title">데이터타입관리</p>
		<button class="btn_ic btn_pop_close" onclick="fnCloseModalResetSelectBox('datatypelist_modal','domnDataTyCd');">닫기</button>
	</div>
	<div class="pop_content">
		<div class="tbl_top right">
			<div class="btn_wrap">
				<input type="hidden" name="datatypeGroupSn" id="datatypeGroupSn" />
				<button class="btn sm" title="전체보기" onclick="fnClearDatatypeFilter(); return false;" style="margin-right: 3px;">전체보기</button>
				<button class="btn sm" onclick="fnDataTypeAddBtn(); return false;">추가</button> 
			</div>
		</div>
		
			<div class="search_wrap">
				<table class="search fixed">
					<colgroup>
						<col width="10%" />
						<col width="30%" />
						<col width="auto" />
					</colgroup>
					<tbody>
						<tr>
							<th>DBMS</th>
	    					<td>
	    						<div class="selectbox">
	    							<select id="datatypeDbmsSn" name="datatypeDbmsSn" >
	    								<option value="">선택</option>
	    							</select>		
	    						</div>
	    					</td>
						</tr>						
					</tbody>
				</table>
			</div>
			<div class="view_wrap">
				<div class="row">
					<div class="left" data-width="0">
						<div class="tbl_wrap" data-height="450">
							<table class="list" id="tb_datatypegrouplist_table">
								<colgroup>
									<col width = "20%"	/>
									<col width = "auto"	/>
								</colgroup>
								<thead>
									<tr>
										<th>No</th>
										<th>데이터타입그룹명</th>
									</tr>
								</thead>											
								<tbody>
									<tr class="fwk_templete_row">
										<td>#{FWK_TR_NO}</td>
										<td>#{datatypeGroupNm}
											<input type="hidden" name="datatypeGroupSn" value="#{datatypeGroupSn}" />
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="right" data-width="600">
						<div class="tbl_wrap" data-height="450">
							<table class="list" id="tb_datatypelist_table">
								<colgroup>
								<col width = "20%"	/>
								<col width = "auto"	/>
								<col width = "20%"	/>
								<col width = "20%"	/>
								</colgroup>
								<thead>
									<tr>
										<th>No</th>
										<th>데이터타입명</th>
										<th>사용여부</th>
										<th>기능</th>
									</tr>
								</thead>											
								<tbody>
									<tr class="fwk_templete_row">
										<td>#{FWK_TR_NO}</td>
										<td class="datatypeNm">#{datatypeNm}</td>
										<td>#fn{fnGetUseYnNm('#{useYn}')}
											<input type="hidden" name="useYn" value="#{useYn}"/>
										</td>
										<td class="useYnBtn"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div><!-- row -->
			</div><!-- view_wrap -->
		</div><!-- pop_content -->
	<div class="pop_footer">
	
    </div>
<script type="text/javascript">

$(document).ready(function() {

	if(!fnChkStdSet())
		return;
	
	fnDataTypeInit();
	
	fndatatypeGroupSearch();

});

function fnDataTypeInit() {
	
	new CodeBinder()
		.setSqlCode("cmmn_project.selectDbmsList", "datatypeDbmsSn", "select")
		.setLoadCallbackFunc("fnCodeLoadCallbackRegDomnDatatpye()")
		.load();
}

function fnCodeLoadCallbackRegDomnDatatpye() {
	
	$("#datatypeDbmsSn").change(function(){
		var dbmsSn = $(this).val();
		var datatypeGroupSn = "";
		fnDbmsDataTypeListDetail(dbmsSn , datatypeGroupSn);
		$("#datatypeGroupSn").val("");
		$("#tb_datatypelist_table tbody tr.fwk_add_row").remove();
		fnClearSelectTrEvent("#tb_datatypegrouplist_table tbody tr");
	});
	
}


// 데이터타입그룹 목록 
function fndatatypeGroupSearch() {
	
	$.ajax({
		url : "/json/stdDicary/getStdDicaryDatatypeGroupList"
		, method : "POST"
		, contentType : 'application/json'
		, data : JSON.stringify({
		})
		, success : function(data) {
			fnBindTableValue("tb_datatypegrouplist_table", data.list);

			fnSelectTrEvent("#tb_datatypegrouplist_table tbody tr", function(rtnObj) {
				var dbmsSn = $("#datatypeDbmsSn").val();
				
				if(dbmsSn == ""){
					alert("DBMS를 선택해주세요.");
					fnClearSelectTrEvent("#tb_datatypegrouplist_table tbody tr");
					return;
				}
				var datatypeGroupSn = $(rtnObj).find("input[name=datatypeGroupSn]").val();
				$("#datatypeGroupSn").val(datatypeGroupSn);
				fnDbmsDataTypeListDetail(dbmsSn, datatypeGroupSn);
			});
		}
	});
}

// 데이터타입 목록 
function fnDbmsDataTypeListDetail(dbmsSn, datatypeGroupSn){
	
	$.ajax({
		url : "/json/stdDicary/getStdDicaryDbmsDataTypeList"
		, method : "POST"
		, contentType : 'application/json'
		, data : JSON.stringify({
			dbmsSn : dbmsSn
			, datatypeGroupSn : datatypeGroupSn
		})
		, success : function(data) {
			fnBindTableValue("tb_datatypelist_table", data.list);
					
			if (dbmsSn =="") {
				$('#tb_datatypelist_table tbody .fwk_tr_no_row').remove();
			}
			$('#tb_datatypelist_table tbody tr').each(function(){
				var html = "";
				var useYn = $(this).find("input[name=useYn]").val();
				var datatypeNm = $(this).find(".datatypeNm").text();
				if (useYn == "Y") {
					html = "<button class='btn sm' data-datatypenm="+datatypeNm+" data-dbmssn="+dbmsSn+" data-useyn="+useYn+" onclick='fnSaveUseYnBtn(this);' >미사용</button>";
				} else if(useYn=="N") {
					html = "<button class='btn sm' data-datatypenm="+datatypeNm+" data-dbmssn="+dbmsSn+" data-useyn="+useYn+" onclick='fnSaveUseYnBtn(this);' >사용</button>";
				}
				$(this).find(".useYnBtn").append(html);
				
			});
		}
	});
	
}
// 데이터타입 추가버튼
function fnDataTypeAddBtn(){
	var dbmsSn = $("#datatypeDbmsSn").val();
	
	if (dbmsSn == "") {
		alert("DBMS를 선택해주세요.");
		return;
	}
	
	if ($("#datatypeGroupSn").val() =="") {
		alert("데이터타입그룹명을 선택해주세요.");
		return;
	}
	
	if ($("#tr_dataty").length == 0) {
		var html = ""
			html += '<tr class="fwk_add_row" id="tr_dataty">'
			html += '<td>-</td>'
			html += '<td><input type="text" class="in_w80" id="datatypeNm" name="datatypeNm" style="text-transform: uppercase;" maxlength="100" /></td>'
			html += '<td>-</td>'
			html += '<td><button class="btn sm" onclick="fnRegDataTypeBtn();" >등록</button></td>'
			html += '</tr>';
			
		$("#tb_datatypelist_table tbody").prepend(html);
	}
}

// 데이터타입 등록 버튼
function fnRegDataTypeBtn(){
	
	var dbmsSn = $("#datatypeDbmsSn").val();
	var datatypeGroupSn = $("#datatypeGroupSn").val(); 
	
	if (dbmsSn == "") {
		alert("DBMS를 선택해주세요.");
		return;
	}
	if (datatypeGroupSn == "") {
		alert("데이터타입그룹명을 선택해주세요.");
		return;
	}
	
	var datatypeNm = $("#datatypeNm").val().toUpperCase();
	
	$.ajax({
		url : "/json/stdDicary/saveStdDicaryDatatypeInfo"
		, method : "POST"
		, contentType : 'application/json'
		, data : JSON.stringify({
			dbmsSn: dbmsSn
			, datatypeGroupSn : datatypeGroupSn
			, pmode : "R"
			, datatypeNm : datatypeNm
		})
		, success : function(data) {
			if (data.resultCd == "OK") {
				alert("등록되었습니다.");
				fnDbmsDataTypeListDetail(dbmsSn, datatypeGroupSn);
				$("#datatypeNm").val("");
			}else{
				alert("실패하셨습니다.");
			}
		}
	});
}

// 사용 및 미사용 버튼
function fnSaveUseYnBtn(obj){
	var dbmsSn = $(obj).data("dbmssn");
	var datatypeNm = $(obj).data("datatypenm");
	var useYn = $(obj).data("useyn");
	
	$.ajax({
		url : "/json/stdDicary/saveStdDicaryDatatypeInfo"
		, method : "POST"
		, contentType : 'application/json'
		, data : JSON.stringify({
			dbmsSn : dbmsSn
			, datatypeNm : datatypeNm
			, useYn : useYn
			, pmode : "M"
		})
		, success : function(data) {
			if (data.resultCd == "OK") {
				alert("저장되었습니다.");
				fnDbmsDataTypeListDetail(dbmsSn, "");
			} else {
				alert("실패하셨습니다.");
			}
		}
	});
}

//도메인그룹 추가 삭제
function fnRemoveDataTypeAddBtn(){
	$("#tr_dataty").remove();
}

//전체보기
function fnClearDatatypeFilter() {
	show_loading_bar_flag = false;
	$("#datatypeGroupSn").val("");
	fnClearSelectTrEvent("#tb_datatypegrouplist_table tbody tr");
 	fnDbmsDataTypeListDetail($("#datatypeDbmsSn").val(), "");
 	
 	show_loading_bar_flag = true;
}

</script>
</th:block>
