<html th:lang = "ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="domn_list_group_inc">
	<div class="pop_header">
		<p class="title">도메인그룹관리</p>
		<button class="btn_ic btn_pop_close" onclick="fnCloseModalResetSelectBox('domngrouplist_modal', 'domnGroupSn');">닫기</button>
	</div>
	<div class="pop_content">
		<div class="tbl_top right">
			<div class="btn_wrap">
				<button class="btn sm" title="전체보기" onclick="fnClearGroupFilter(); return false;" style="margin-right: 3px;">전체보기</button>
				<button class="btn sm" onclick="fnDomnGpAddBtn(); return false;">추가</button>
			</div>
		</div>
		<div class="view_wrap" >
			<div class="row">
				<div class="left" data-width="0">
					<div class="tbl_wrap" data-height="450">
						<table class="list" id="tb_domngrouplist_table">
							<colgroup>
								<col style="width: 70px;" />
								<col style="width: auto;" />
								<col style="width: 150px;" />
							</colgroup>
							<thead>
								<tr>
									<th>No</th>
									<th>도메인그룹명</th>
									<th>기능</th>
								</tr>
							</thead>											
							<tbody>
								<tr class="fwk_templete_row">
									<td>#{FWK_TR_NO}</td>
									<td>
										<input type="text" class="in_w100" name="domnGroupNm" value="#{domnGroupNm}" disabled/>
										<input type="hidden" name="domnGroupSn" value="#{domnGroupSn}" />
									</td>
									<td>
										<button class="btn sm" name="modDomnGpBtn" onclick="fnModDomnGpBtn('#{domnGroupSn}','#{domnGroupNm}');" >수정</button>
										<button class="btn sm" name="delDomnGpBtn" onclick="fnDelDomnGpBtn('#{domnGroupSn}');" >삭제</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="right" data-width="700"> 
					<div class="tbl_wrap" data-height="450">
						<table class="list" id="tb_domngrouplistdetail_table">
							<colgroup>
								<col width = "10%"	/>
								<col width = "auto"	/>
								<col width = "20%"	/>
								<col width = "20%"	/>
								<col width = "20%"	/>
							</colgroup>
							<thead>
								<tr>
									<th>No</th>
									<th>도메인명</th>
									<th>데이터타입</th>
									<th>데이터길이</th>
									<th>사용여부</th>
								</tr>
							</thead>											
							<tbody>
								<tr class="fwk_templete_row">
									<td>#{FWK_TR_NO}</td>
									<td>#{domnNm}</td>
									<td>#{dataTyCd}</td>
									<td>#{dataLtValue}</td>
									<td>#fn{fnGetUseYnNm('#{availUseYn}')}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div><!-- row -->
		</div><!-- view_wrap -->
	</div><!-- pop_content -->
	<div class="pop_footer">
	
    </div>
<script type="text/javascript">

$(document).ready(function() {

	if(!fnChkStdSet())
		return;
	
});

// 도메인그룹 목록 죄회
function fnGpSearch() {
	$.ajax({
		url : "/json/stdDicary/getStdDicaryDomnGroupList"
		, method : "POST"
		, contentType : 'application/json'
		, data : JSON.stringify({
		})
		, success : function(data) {
			fnBindTableValue("tb_domngrouplist_table", data.list);

			fnSelectTrEvent("#tb_domngrouplist_table tbody tr", function(rtnObj) {
				fnGpListDetail($(rtnObj).find("input[name=domnGroupSn]").val());
			});
		}
	});
}

// 도메인그룹 사용중인 도메인명 목록 
function fnGpListDetail(domnGroupSn){
	if(!domnGroupSn){
		domnGroupSn ="";
	}
	$.ajax({
		url : "/json/stdDicary/getStdDicaryDomnGroupListDetail"
		, method : "POST"
		, contentType : 'application/json'
		, data : JSON.stringify({
			domnGroupSn : domnGroupSn
		})
		, success : function(data) {
			fnBindTableValue("tb_domngrouplistdetail_table", data.list);
		}
	});
	
}
// 도메인그룹 추가 버튼
function fnDomnGpAddBtn() {
	if ($("#tr_domngroup").length == 0) {
		var html = ""
			html += '<tr class="fwk_add_row" id="tr_domngroup">'
			html += '<td>-</td>'
			html += '<td><input type="text" class="in_w100" id="regGpDomnGroupNm" name="regGpDomnGroupNm" maxlength="100" placeholder="100자 이내로 입력해주세요" /></td>'
			html += '<td><button class="btn sm" onclick="fnRegDomnGpBtn();" >등록</button></td>'
			html += '</tr>';
			$("#tb_domngrouplist_table tbody").prepend(html);
	}
}

// 도메인그룹 등록 버튼
function fnRegDomnGpBtn() {
	

	if (!fnCheckValid("#regGpDomnGroupNm", "도메인그룹명"))
		return;
	
	var domnGroupNm =$("#regGpDomnGroupNm").val();
	
	$.ajax({
		url : "/json/stdDicary/saveStdDicaryDomnGroupInfo"
		, method : "POST"
		, contentType : 'application/json'
		, data : JSON.stringify({
			domnGroupNm: domnGroupNm
			, pmode : "R"
		})
		, success : function(data) {
			if (data.resultCd == "OK") {
				alert("등록되었습니다.");
				fnRemoveDomnGpAddBtn();
				fnGpSearch();
			}else{
				alert("실패하셨습니다.");
			}
		}
	});
}
// 도메인그룹 수정 버튼
function fnModDomnGpBtn(domnGroupSn, domnGroupNm){
	$("#tb_domngrouplist_table tr.fwk_data_row").each(function(){
		var inputVal = $(this).find("input[name=domnGroupNm]");
		var btnText = $(this).find(":button[name=modDomnGpBtn]");
		if(domnGroupNm == inputVal.val()){
			inputVal.attr("disabled", false);
			
			inputVal.focus();
			inputVal[0].setSelectionRange(inputVal.val().length, inputVal.val().length);
			
			btnText.hide();
			
			var html = "<button class='btn sm' name='saveDomnGpBtn' onclick='fnSaveDomnGpBtn("+domnGroupSn+");' >저장</button>";
			$(btnText.parent('td')).prepend(html);
			
		} else {
			$(this).find(":button[name=saveDomnGpBtn]").remove();
			inputVal.attr("disabled", true);
			btnText.show();
		}
	});
}
// 도메인그룹 등록 버튼
function fnSaveDomnGpBtn(domnGroupSn){
	
	if(!confirm("저장 하시겠습니까?")) 
		return;
	
	var inputVal ="";
	$("#tb_domngrouplist_table tr.fwk_data_row").each(function(){
		if(!$(this).find("input[name=domnGroupNm]").is(":disabled")){
			inputVal = $(this).find("input[name=domnGroupNm]").val();
		}
	});
	
	$.ajax({
		url : "/json/stdDicary/saveStdDicaryDomnGroupInfo"
		, method : "POST"
		, contentType : 'application/json'
		, data : JSON.stringify({
			domnGroupNm : inputVal
			, domnGroupSn : domnGroupSn
			, pmode : "M"
		})
		, success : function(data) {
			if (data.resultCd == "OK") {
				alert("저장되었습니다.");
				fnRemoveDomnGpAddBtn();
				fnGpSearch();
			}else{
				alert("실패하셨습니다.");
			}
		}
	});
}

// 도메인그룹 삭제 버튼
function fnDelDomnGpBtn(domnGroupSn){
	
	if(!confirm("삭제 하시겠습니까?")) 
		return;
	
	var tableRow = $("#tb_domngrouplist_table tr.fwk_data_row");
	
	tableRow.find("input[name=domnGroupNm]").attr("disabled", true);
	tableRow.find(":button[name=saveDomnGpBtn]").remove();
	tableRow.find(":button[name=modDomnGpBtn]").show();
	$.ajax({
		url : "/json/stdDicary/saveStdDicaryDomnGroupInfo"
		, method : "POST"
		, contentType : 'application/json'
		, data : JSON.stringify({
			domnGroupSn : domnGroupSn
			, pmode : "D"
		})
		, success : function(data) {
			if (data.resultCd == "OK") {
				alert("삭제되었습니다.");
				fnRemoveDomnGpAddBtn();
				fnGpSearch();
			}else{
				alert("실패하셨습니다.");
			}
		}
	});
}

// 도메인그룹 추가 삭제
function fnRemoveDomnGpAddBtn(){
	$("#tr_domngroup").remove();
}
// 전체보기
function fnClearGroupFilter() {
	show_loading_bar_flag = false;
	fnClearSelectTrEvent("#tb_domngrouplist_table tbody tr");
 	fnGpListDetail();
 	show_loading_bar_flag = true;
}

</script>
</th:block>
