<html th:lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="domn_list_reg_inc">
	<div class="pop_header">
		<p class="title">도메인정보</p>
		<button class="btn_ic btn_pop_close" id="closeModalBtn" onclick="fnCloseModal('domnreginfo_modal');">닫기</button>
	</div>
	<div class="pop_content">
		<div class="card">
			<div class="tbl_top right">
				<div class="btn_wrap">
					<input type="hidden" name="regDomnPmodeHide" id="regDomnPmodeHide" />
					<input type="hidden" name="regDomnSnHide" id="regDomnSnHide" />
					<input type="hidden" name="regDomnGroupNmHide" id="regDomnGroupNmHide" />
					<input type="hidden" name="regDomnAprvSttusCdNmHide" id="regDomnAprvSttusCdNmHide" />
					
					<input type="hidden" name="regChkAutoDomnNmUseYnHide" id="regChkAutoDomnNmUseYnHide" />
					
					
					<input type="hidden" name="multipage" id="multipage"/>
					
					<button class="btn sm" onclick="fnRegDomnBtn(); return false;" th:if="${session.STANDARD_USER_SESSION_KEY.userAttrMap[isApprover]} == 'Y'">저장(승인)</button>
					<button class="btn sm" onclick="fnRegDomnBtn(); return false;" th:unless="${session.STANDARD_USER_SESSION_KEY.userAttrMap[isApprover]} == 'Y'">저장</button>
				</div>
			</div>
			<table class="view">
				<colgroup>
					<col width="10%" />
					<col width="auto" />
					<col width="10%" />
					<col width="18%" />
					<col width="4%" />
					<col width="18%" />
				</colgroup>
				<tbody>
					<tr>
						<th>* 도메인그룹</th>
						<td>
							<select name="regDomnGroupSn" id="regDomnGroupSn" >
								<option value="">선택</option>
							</select>
						</td>
						<th>* 승인상태</th>
						<td id="regDomnAprvSttusCdNm" colspan="3">
						</td>
					</tr>
					<tr>
						<th>* 도메인분류명</th>
						<td>
							<input type="text" name="regDomnClNm" id="regDomnClNm" maxlength="100" placeholder="100자 이내로 입력해주세요"/>
						</td>
						<th>* 데이터타입</th>
						<td colspan="3">
							<select name="regDomnDataTyCd" id="regDomnDataTyCd">
								<option value="">선택</option>
							</select>
						</td>
					</tr>
					<tr>
						<th id="th_dataltValue">데이터길이</th>
						<td>
							<input type="text" name="regDomnDataLtValue" id="regDomnDataLtValue" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"  maxlength="6" />
						</td>
						<th>소수점</th>
						<td colspan="3">
							<input type="text" name="regDomnDataDcmlpointLtValue" id="regDomnDataDcmlpointLtValue" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"  maxlength="6" />
						</td>
					</tr>
					<tr>
						<th>* 도메인명</th>
						<td style="padding-right: 3px;">
							<div style="display: flex; align-items: center;">
								<input type="text" name="regDomnNm" id="regDomnNm" maxlength="100" readonly/>
								<button class="btn sm" style="margin-left:4px; display: none;" id="textInputBtn" onclick="fnCheckTextOrAutoBtn('text');">입력</button>
								<button class="btn sm" style="margin-left:4px; display: none;" id="autoInputBtn" onclick="fnCheckTextOrAutoBtn('auto');">자동</button>
								<button class="btn sm" style="margin-left:4px" onclick="fnCheckDomnNmListBtn();">검사</button>
							</div>
						</td>
						<th>데이터범위</th>
						<td><input type="text" name="regDomnDataMummValue" id="regDomnDataMummValue" maxlength="100"/></td>
						<td style="text-align: center;">~</td>
						<td><input type="text" name="regDomnDataMxmmValue" id="regDomnDataMxmmValue" maxlength="100"/></td>
						
					</tr>
					<tr id="regDomn_tr_row5">
						<th>도메인설명</th>
                        <td colspan="5">
                            <textarea name="regDomnCn" id="regDomnCn" style="height: 140px; overflow:auto; padding: 10px;" maxlength="500" placeholder="500자 이내로 입력해주세요"></textarea>
                        </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div id="dv_domnnmlist_div" style="display: none;">
		<div class="tbl_top padt10">
			<p class="tit v2 margin0"><span>도메인명검사</span></p>
			<button class="btn sm pad0" onclick="fnRegCloseCheckDomnNmBtn();">닫기</button>
		</div>
		<div class="tbl_wrap" data-height="200">
			<div class="card">
				<table id="tb_domnnmlist_table" class="list margint0">
					<colgroup>
						<col style="width: 120px;" />
						<col style="width: auto;" />
					</colgroup>
					<thead>
						<tr>
							<th>NO</th>
							<th>도메인그룹</th>
							<th>도메인명</th>
							<th>표준세트위치</th>
							<th>승인상태</th>
							<th>기능</th>
						</tr>
					</thead>											
					<tbody>
						<tr class="fwk_templete_row">
							<td>#{FWK_TR_NO}</td>
							<td>#{domnGroupNm}</td>
							<td>#{domnNm}</td>
							<td>#{stdSetNm}</td>
							<td>#{aprvSttusCdNm}</td>
							<td>
								<button class="btn sm" data-domnsn="#{domnSn}" data-stdsetsn="#{stdSetSn}" data-sortno="#{sortNo}" onclick="fnRegDomnCopyBtn(this);" style="display: none;">복사</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<div class="pop_footer">
	</div>

<script type="text/javascript">

$(document).ready(function() {
	
	if(!fnChkStdSet())
		return;
	
	
	fnInitRegDomnform();
	
});

var characterTypeList ="";

function fnInitRegDomnform() {
	var prjctSn = parent.$("#topgv_prjctSn").val();
	new CodeBinder()
		.setSqlCode("meta_code.selectDomnGroupCodeList","regDomnGroupSn", "select")
		.setSqlCode("meta_code.selectPrjectCnncDbmsSnList:prjctSn="+prjctSn+"","regDomnDataTyCd", "select")
		.setLoadCallbackFunc("fnCodeLoadCallbackRegDomn()")
		.load();
	
	// charcher type list 조회	
	$.ajax({
			url : "/json/stdDicary/getCharacterTypeList"
			, method : "POST"
			, contentType : 'application/json'
			, data : JSON.stringify({})
			, success : function(data) {
				characterTypeList = data.characterTypeList;
			}
	});

}

function fnDataLtValueChange(dataTyCd){
	
	if(characterTypeList.indexOf(dataTyCd) > -1){
		$("#th_dataltValue").text("* 데이터길이");
	} else {
		$("#th_dataltValue").text("데이터길이");
	}
	
}

function fnCodeLoadCallbackRegDomn() {
	
	// 도메인그룹 선택
	$("#regDomnGroupSn").change( function() {
		var regDomnGroupNm = $("#regDomnGroupSn option:selected").text();
		$("#regDomnGroupNmHide").val(regDomnGroupNm);
	});

	$("#regDomnDataTyCd").change( function() {
		fnDataLtValueChange($(this).val());
	});
	
	// 도메인명 자동조합
	$("#regDomnClNm, #regDomnDataLtValue, #regDomnDataTyCd, #regDomnDataDcmlpointLtValue").change( function() {
		
		if($("#regChkAutoDomnNmUseYnHide").val()!="N"){
			fnAutoMakeDomnNm();
		}
		
		fnRegCloseCheckDomnNmBtn();
	});
	
}

//도메인명 자동 완성
function fnAutoMakeDomnNm(){
	var regDomnClNm = $("#regDomnClNm").val(); 
	var regDataLtValue = $("#regDomnDataLtValue").val();
	var regDataTyCd = $("#regDomnDataTyCd option:selected").val();
	var regDomnDataDcmlpointLtValue = $("#regDomnDataDcmlpointLtValue").val();
	
	if(regDomnDataDcmlpointLtValue.trim() != "")
		regDomnDataDcmlpointLtValue = "," + regDomnDataDcmlpointLtValue.trim()

	$("#regDomnNm").val(regDomnClNm + regDataTyCd.charAt(0) + regDataLtValue + regDomnDataDcmlpointLtValue);
	
}

function fnCheckTextOrAutoBtn(type){
	if(type=="auto"){
		/* 20220926 주석
		if(!confirm("자동완성을 사용하시겠습니까?")){
			return;		
		}
		*/
		$('#dv_domnnmlist_div').hide();
		$("#regDomn_tr_row5").show();
		
		fnChangeTaxtOrAutoBtn("Y");
		fnAutoMakeDomnNm();
	} else {
		fnChangeTaxtOrAutoBtn("N");
	}
}

function fnChangeTaxtOrAutoBtn(obj){
	
	if(obj == "Y"){
		$("#regChkAutoDomnNmUseYnHide").val(obj);
		$("#textInputBtn").show();
		$("#autoInputBtn").hide();
		$("#regDomnNm").prop("readonly", true);
	} else {
		$("#regChkAutoDomnNmUseYnHide").val(obj);
		$("#textInputBtn").hide();
		$("#autoInputBtn").show();
		$("#regDomnNm").prop("readonly", false);
	}
}

// 수정 데이터 조회
function fnRegDomnSearch() {

	fnRegCloseCheckDomnNmBtn();
	
	var domnSn = $("#regDomnSnHide").val();
	var pmode = $("#regDomnPmodeHide").val();

	if (pmode == "M") {
		$.ajax({
			url : "/json/stdDicary/getStdDicaryDomnInfo"
			, method : "POST"
			, contentType : 'application/json'
			, data : JSON.stringify({
				domnSn : domnSn
				, pmode : pmode
			})
			, success : function(data) {
				var domnInfo = data.info;
				
				var domnClNm = domnInfo.domnClNm;
				var dataTyCd = domnInfo.dataTyCd;
				var dataLtValue = domnInfo.dataLtValue;
				var dataDcmlpointLtValue = domnInfo.dataDcmlpointLtValue;
				
				var domnNm = domnClNm + dataTyCd.charAt(0) + dataLtValue + dataDcmlpointLtValue;
				
				if(domnNm == domnInfo.domnNm){
					fnChangeTaxtOrAutoBtn("Y");
				} else {
					fnChangeTaxtOrAutoBtn("N");
				}
				
				$("#regDomnGroupNmHide").val(domnInfo.domnGroupNm); 		// hidden value 도메인그룹명
				$("#regDomnAprvSttusCdNmHide").val(domnInfo.aprvSttusCdNm); // hidden value 승인상태
				$("#regDomnGroupSn").val(domnInfo.domnGroupSn);				// 도메인그룹순
				$("#regDomnAprvSttusCdNm").text(domnInfo.aprvSttusCdNm);	// 승인상태
				$("#regDomnClNm").val(domnClNm);							// 도메인분류명
				$("#regDomnDataTyCd").val(dataTyCd);						// 데이터타입코드
				
				fnDataLtValueChange(dataTyCd);
				
				$("#regDomnDataLtValue").val(dataLtValue);						// 데이터길이
				$("#regDomnNm").val(domnInfo.domnNm);							// 도메인명
				$("#regDomnDataMummValue").val(domnInfo.dataMummValue);			// 데이터최소범위
				$("#regDomnDataMxmmValue").val(domnInfo.dataMxmmValue);			// 데이터최대범위
				$("#regDomnDataDcmlpointLtValue").val(dataDcmlpointLtValue);	// 데이터소수점
				$("#regDomnCn").val(domnInfo.domnCn);							// 도메인설명
				
			}
		});
	} else {
		fnChangeTaxtOrAutoBtn("Y");
		
		$("#regDomnAprvSttusCdNmHide").val("등록");			// hidden value 승인상태명
		$("#regDomnGroupNmHide").val(""); 					// hidden value 도메인그룹명
		$("#regDomnGroupSn").val("");						// 도메인그룹순
		$("#regDomnAprvSttusCdNm").text("등록");				// 승인상태
		$("#regDomnClNm").val("");							// 도메인분류명
		$("#regDomnDataTyCd").val("");						// 데이터타입코드
		$("#regDomnDataLtValue").val("");					// 데이터길이
		$("#regDomnNm").val("");							// 도메인명
		$("#regDomnDataMummValue").val("");					// 데이터최소길이
		$("#regDomnDataMxmmValue").val("");					// 데이터최대길이
		$("#regDomnDataDcmlpointLtValue").val("");			// 소수점
		$("#regDomnCn").val("");							// 도메인설명
	}
	
	fnSetRegFormInputDisp(pmode);
}
// 등록 폼의 input 항목 display 셋팅
function fnSetRegFormInputDisp(pmode) {
	 
	// 초기화
	$("#regDomnClNm").prop("readonly", false);			// 도메인 분류명
	//$("#regDomnDataTyCd").prop("disabled", false);		// 데이터 타입
	//$("#regDomnDataLtValue").prop("disabled", false);	// 데이터 길이
		
	if (pmode == "M") {
		// 수정일때 변경 금지
		$("#regDomnClNm").prop("readonly", true);			// 도메인 분류명
		//$("#regDomnDataTyCd").prop("disabled", true);		// 데이터 타입
		//$("#regDomnDataLtValue").prop("disabled", true);	// 데이터 길이
	}
	
}

// 도메인명검사 조회
function fnCheckDomnNmListBtn() {
	
	if (!fnCheckValid("#regDomnNm", "도메인명"))
		return;
	
	$('#dv_domnnmlist_div').show();
	$("#regDomn_tr_row5").hide();
		
	$.ajax({
		url : "/json/stdDicary/getStdDicaryDomnCheckList"
		, method : "POST"
		, contentType : 'application/json'
		, data : JSON.stringify({
			domnNm : $("#regDomnNm").val()
		})
		, success : function(data) {
			var list = data.list;
			fnBindTableValue("tb_domnnmlist_table", list);
			
			// 복사 버튼 
			$("#tb_domnnmlist_table .btn").each(function(){
				if ($(this).attr("data-sortno") == "3" || $(this).attr("data-sortno") == "2") {
					$(this).show();
				}
			});
		}
	});
}

// 검사 닫기 버튼
function fnRegCloseCheckDomnNmBtn() {
	$('#dv_domnnmlist_div').hide();
	$("#regDomn_tr_row5").show();
}

// 복사 버튼 
function fnRegDomnCopyBtn(obj) {
	var domnSn = $(obj).data("domnsn");
	var stdSetSn = $(obj).data("stdsetsn");
	
	if (!domnSn)
		return;
	
 	$.ajax({
		url : "/json/stdDicary/getStdDicaryDomnInfo"
		, method : "POST"
		, contentType : 'application/json'
		, data : JSON.stringify({
			domnSn : domnSn
			, stdSetSn : stdSetSn
		})
		, success : function(data) {
			// 단어 상세 정보
			var domnInfo = data.info;
			$("#regDomnGroupNm").val(domnInfo.domnGroupNm);
			$("#regDomnGroupSn").val(domnInfo.domnGroupSn);
			$("#regDomnAprvSttusCdNm").val(domnInfo.aprvSttusCdNm);
			$("#regDomnAprvSttusCd").val(domnInfo.aprvSttusCd);
			$("#regDomnClNm").val(domnInfo.domnClNm);
						
			var dataTyCd = domnInfo.dataTyCd;
			$("#regDomnDataTyCd option").each(function(){
				if($(this).val() == dataTyCd){
					$(this).prop("selected", true);
				}
			});
			
			$("#regDomnDataLtValue").val(domnInfo.dataLtValue);
			$("#regDomnNm").val(domnInfo.domnNm);
			$("#regDomnDataMummValue").val(domnInfo.dataMummValue);
			$("#regDomnDataMxmmValue").val(domnInfo.dataMxmmValue);
			$("#regDomnDataDcmlpointLtValue").val(domnInfo.dataDcmlpointLtValue);
			$("#regDomnCn").val(domnInfo.domnCn);
				
			fnRegCloseCheckDomnNmBtn();
		}
	});
}

// 저장 버튼
function fnRegDomnBtn() {
	if (!fnCheckValid("#regDomnGroupSn", "도메인그룹"))
		return;
	
	if (!fnCheckValid("#regDomnClNm", "도메인분류명"))
		return;
	
	if (!fnCheckValid("#regDomnDataTyCd", "데이터타입"))
		return;

	if(characterTypeList.indexOf($("#regDomnDataTyCd").val()) != -1){
		if (!fnCheckValid("#regDomnDataLtValue", "데이터길이")){
			return;	
		}
	}
	
	if (!fnCheckValid("#regDomnNm", "도메인명"))
		return;

	if (!confirm("등록하시겠습니까?"))
		return;

	var pmode = $("#regDomnPmodeHide").val();
	var chgKeyList = "";
	
	var domnMap = {
			domnSn : $("#regDomnSnHide").val()
			, domnGroupNm : $("#regDomnGroupNmHide").val()
			, aprvSttusCdNm : $("#regDomnAprvSttusCdNmHide").val()
			, domnGroupSn : $("#regDomnGroupSn").val()
			, domnClNm: $("#regDomnClNm").val()
			, dataTyCd: $("#regDomnDataTyCd").val()
			, dataLtValue: $("#regDomnDataLtValue").val()
			, domnNm: $("#regDomnNm").val()
			, dataMummValue : $("#regDomnDataMummValue").val()
			, dataMxmmValue : $("#regDomnDataMxmmValue").val()
			, dataDcmlpointLtValue : $("#regDomnDataDcmlpointLtValue").val()
			, domnCn : $("#regDomnCn").val()
	}

	if (pmode == "M") {
		chgKeyList = [
			{"domnGroupNm":"도메인그룹명"}
			, {"aprvSttusCdNm":"승인상태"}
			, {"dmonClNm":"도메인분류명"}
			, {"dataTyCd":"데이터타입"}
			, {"dataLtValue":"데이터길이"}
			, {"domnNm":"도메인명"}
			, {"dataMummValue":"데이터최소길이"}
			, {"dataMxmmValue":"데이터최대길이"}
			, {"dataDcmlpointLtValue":"소수점"}
			, {"domnCn":"도메인설명"}
		];
	}

	
	
	$.ajax({
		url : "/json/stdDicary/saveStdDicaryDomnInfo"
		, method : "POST"
		, contentType : 'application/json'
		, data : JSON.stringify({
			pmode : pmode
			, isApprover : g_isApprover
			, domnMap : domnMap
			, chgKeyList :chgKeyList
		})
		, success : function(data) {
			if (data.resultCd == "OK") {
				alert("저장되었습니다.");
				fnCloseModal('domnreginfo_modal');
				
				var pagingNo ="";
				if($("#multipage").val() == "Y"){
					// 용어일괄등록 사용
					fnMultiCodeListInitReload();
				} else {
					$("#dv_paging .on a").each(function(){
						pagingNo = $(this).text();
					});
				}
				
				fnDomnSearch(pagingNo);
				
			} else {
				alert("실패하셨습니다.");
			}
		}
	});
}
</script>
</th:block>
