<html th:lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="std_change_effect_list_inc">
	<div class="pop_header">
		<p class="title">표준변경영향도상세</p>
		<button class="btn_ic btn_pop_close" onclick="fnCloseModal('changeeffectlist_modal');">닫기</button>
	</div>
	<div class="pop_content">
		<div class="tbl_top ">
			<p class="tit v2">
				<span>조회대상 : <span id="effectDataNm"></span></span>
			</p>
			<div class="btn_wrap">
				<input type="hidden" name="effectStdSetSn" id="effectStdSetSn" />
				<input type="hidden" name="effectLocation" id="effectLocation" />
				<input type="hidden" name="effectSn" id="effectSn" />
			</div>
		</div>
		<div class="tab_wrap view_wrap">
			<ul class="tab_btn_wrap">
				<li class="tab_btn" id="changeEffectWrdList"><a href="javascript:;" data-tab="1">단어</a></li>
				<li class="tab_btn" id="changeEffectWordList"><a href="javascript:;" data-tab="2">용어</a></li>
				<li class="tab_btn" id="changeEffectDomnList"><a href="javascript:;" data-tab="3">도메인</a></li>
<!-- 			<li class="tab_btn" id="changeEffectTableList"><a href="javascript:;" data-tab="4">테이블</a></li>
				<li class="tab_btn" id="changeEffectColumnList"><a href="javascript:;" data-tab="5">컬럼</a></li> -->
			</ul>
			<div class="tab_cont_wrap">
				
				<div class="tab_content" data-tab="1" style="padding-top: 5px;">
					<div class="tbl_wrap" style="height:400px;">
						<table id="tb_effectwrdlist_table" class="list margin0">
							<colgroup>
								<col width="5%"/>
								<col width="14%"/>
								<col width="6%"/>
								<col width="auto"/>
								<col width="auto"/>
								<col width="15%"/>
								<col width="10%"/>
								<col width="10%"/>
								<col width="5%"/>
								<col width="10%"/>
							</colgroup>
							<thead>
								<tr>
									<th>No</th>
									<th>세트명</th>
									<th>단어구분</th>
									<th>단어명</th>
									<th>영문약어명</th>
									<th>영문명</th>
									<th>표준어</th>
									<th>연관어</th>
									<th>금칙어</th>
									<th>승인상태</th>
								</tr>
							</thead>
							<tbody>
								<tr class="fwk_templete_row">
									<td style="text-align:center">#{FWK_TR_NO}</td>
									<td style="text-align: center">#{wrdStdSetNm}</td>
									<td style="text-align: center">#{wrdTyCdNm}</td>
									<td style="text-align: center">#{wrdNm}</td>
									<td style="text-align: center">#{wrdEngAbrvNm}</td>
									<td style="text-align: center">#{wrdEngNm}</td>
									<td style="text-align: center">#{stdWrdNm}</td>
									<td style="text-align: center">#{relWrdNm}</td>
									<td style="text-align: center">#{prhibtYn}</td>
									<td style="text-align: center">#{aprvSttusCdNm}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			
			
				<div class="tab_content" data-tab="2" style="padding-top: 5px; height:400px;">
					<div class="tbl_wrap" style="height:400px;">
						<table id="tb_effectwordlist_table" class="list margin0">
							<colgroup>
								<col width="5%"/>
								<col width="14%"/>
								<col width="6%"/>
								<col width="auto"/>
								<col width="auto"/>
								<col width="17%"/>
								<col width="8%"/>
								<col width="10%"/>
								<col width="5%"/>
								<col width="10%"/>																																																	
							</colgroup>
							<thead>
								<tr>
									<th>No</th>
									<th>세트명</th>
									<th>용어구분</th>
									<th>용어명</th>
									<th>영문약어명</th>
									<th>영문명</th>
									<th>도메인그룹</th>
									<th>도메인명</th>
									<th>금칙어</th>
									<th>승인상태</th>
								</tr>
							</thead>
							<tbody>
								<tr class="fwk_templete_row">
									<td style="text-align:center">#{FWK_TR_NO}</td>
									<td style="text-align: center">#{wordStdSetNm}</td>
									<td style="text-align: center">#{wordTyCdNm}</td>
									<td style="text-align: center">#{wordNm}</td>
									<td style="text-align: center">#{wordEngAbrvNm}</td>
									<td style="text-align: center">#{wordEngNm}</td>
									<td style="text-align: center">#{domnGroupNm}</td>
									<td style="text-align: center">#{domnNm}</td>
									<td style="text-align: center">#{prhibtYn}</td>
									<td style="text-align: center">#{aprvSttusCdNm}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			
				<div class="tab_content" data-tab="3" style="padding-top: 5px; height:400px;">
					<div class="tbl_wrap" style="height:400px;">
						<table id="tb_effectdomnlist_table" class="list margin0">
							<colgroup>
								<col width="5%"/>
								<col width="20%"/>
								<col width="10%"/>
								<col width="15%"/>
								<col width="auto"/>
								<col width="auto"/>
								<col width="15%"/>
								<col width="10%"/>
							</colgroup>
							<thead>
								<tr>
									<th>No</th>
									<th>세트명</th>
									<th>도메인그룹</th>
									<th>도메인분류명</th>
									<th>데이터타입</th>
									<th>테이터길이</th>
									<th>도메인명</th>
									<th>승인상태</th>
								</tr>
							</thead>
							<tbody>
								<tr class="fwk_templete_row">
									<td style="text-align:center">#{FWK_TR_NO}</td>
									<td style="text-align: center">#{domnStdSetNm}</td>
									<td style="text-align: center">#{domnGroupNm}</td>
									<td style="text-align: center">#{domnClNm}</td>
									<td style="text-align: center">#{dataTyCd}</td>
									<td style="text-align: center">#{dataLtValue}</td>
									<td style="text-align: center">#{domnNm}</td>
									<td style="text-align: center">#{aprvSttusCdNm}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			
				
			</div>
		</div>
	</div>
	<div class="pop_footer"></div>
<script type="text/javascript">
$(document).ready(function() {
	
	if(!fnChkStdSet())
		return;
	
	fnEffectSearch();
});

function fnEffectSearch() {

 	var effectSn = $("#effectSn").val();				// 단어순번,용어순번,도메인순번 hidden value
	var effectLocation = $("#effectLocation").val();	// 'wrd','word','domn' hidden value
	var effectStdSetSn = $("#effectStdSetSn").val();
	
	$.ajax({
		url : "/json/stdDicary/getChangeEffectByList"
		, method : "POST"
		, contentType : 'application/json'
		, data : JSON.stringify({
			effectSn : effectSn
			, effectLocation : effectLocation
			, stdSetSn : effectStdSetSn
			, detailPageYn : "Y"
		})
		, success : function(data) {
			fnBindTableValue("tb_effectwrdlist_table", data.wrdList);
			fnBindTableValue("tb_effectwordlist_table", data.wordList);
			fnBindTableValue("tb_effectdomnlist_table", data.domnList);
			var info = data.info;
			
			if (effectLocation == "domn") {
				$("#effectDataNm").text(info.domnNm);
				
				$(".tab_content").each(function(){
					if($(this).data("tab") == 1){
						$(this).show();
					} else{
						$(this).hide();
					}
				});
				$("#changeEffectDomnList").hide();
				$("#changeEffectWrdList").attr("class", "tab_btn on");
				$("#changeEffectWordList").attr("class", "tab_btn");
/* 				$("#changeEffectTableList").attr("class", "tab_btn");
				$("#changeEffectColumnList").attr("class", "tab_btn"); */
				
				
			} else if (effectLocation == "wrd") {
				$("#effectDataNm").text(info.wrdNm);

				$(".tab_content").each(function(){
					if($(this).data("tab") == 2){
						$(this).show();
					} else{
						$(this).hide();
					}
				});
				$("#changeEffectWrdList").hide();
				$("#changeEffectWordList").attr("class", "tab_btn on");
				$("#changeEffectDomnList").attr("class", "tab_btn");
/* 				$("#changeEffectTableList").attr("class", "tab_btn");
				$("#changeEffectColumnList").attr("class", "tab_btn"); */
				
			} else if (effectLocation == "word") {
				$("#effectDataNm").text(info.wordNm);

				$(".tab_content").each(function(){
					if($(this).data("tab") == 1){
						$(this).show();
					} else{
						$(this).hide();
					}
				});
				$("#changeEffectWordList").hide();
				$("#changeEffectWrdList").attr("class", "tab_btn on");
				$("#changeEffectDomnList").attr("class", "tab_btn");
/* 				$("#changeEffectTableList").attr("class", "tab_btn");
				$("#changeEffectColumnList").attr("class", "tab_btn"); */
				
			
			}
			
		}
	});

}
</script>
</th:block>