<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/mainLayout" style="overflow-y: auto;">

<head>
	<th:block th:replace="fragments/head_inc :: head_inc" />
	<title>표준데이터 조회</title>
</head>

<body id="body">

	<div id="wrap">
		<div class="container">
			<div id="content">
				<!--
                <div class="page_info_area">
                    <div class="left">
                        <div class="location_area"></div>
                        <div class="title_area">
                            <p>표준데이터 조회</p>
                            <a href="#" class="reload_btn" title="새로고침">새로고침</a>
                            <a href="#" class="help_btn" title="도움말">도움말</a>
                        </div>
                    </div>
                </div>

				-->
				<input type="hidden" name="topgv_prjctSn" id="topgv_prjctSn" th:value="${session.STANDARD_USER_SESSION_KEY.userAttrMap[prjctSn]}"/>
				
				<div class="content_area" style="padding: 5px;">
					<div class="tab_wrap" style="padding: 10px">
						<ul class="tab_btn_wrap" id="ul_tabWap">
							<li class="tab_btn on" data-callbackfn="fnAfterTabChange(1);"><a href="#" onclick="return false;" data-tab="1">단어</a></li>
							<li class="tab_btn" data-callbackfn="fnAfterTabChange(2);"><a href="#" onclick="return false;" data-tab="2">용어</a></li>
							<li class="tab_btn" data-callbackfn="fnAfterTabChange(3);"><a href="#" onclick="return false;" data-tab="3">도메인</a></li>
						</ul>
						<div class="tab_cont_wrap">
							
							<!-- tab 1 start -->
							<div class="tab_content" data-tab="1" style="padding-top:0">
			                	<div class="table_area marginb25">
									<iframe src="/open/meta/stddicary/wrd_list?pageMode=SEARCH_POP" style="border:0;width: 100%;height: 100vh; " id="sub_frame1"></iframe>
                				</div>
	                    	</div>
	                    	<!--tab 1 end -->
							
							<!--tab 2 start -->
	                    	<div class="tab_content" data-tab="2" style="padding-top:0; display: none;">
								 <div class="table_area marginb25">
									<iframe src="/open/meta/stddicary/word_list?pageMode=SEARCH_POP" style="border:0;width: 100%;height: 100vh; " id="sub_frame2"></iframe>
                				</div>
	                    	</div>
	                    	<!--tab 2 end-->
							
							<!--tab 3 start -->
	                    	<div class="tab_content" data-tab="3" style="padding-top:0; display: none;">
								 <div class="table_area marginb25">
									<iframe src="/open/meta/stddicary/domn_list?pageMode=SEARCH_POP" style="border:0;width: 100%;height: 100vh; " id="sub_frame3"></iframe>
                				</div>
	                    	</div>
	                    	<!--tab 3 end-->
	                    	
						</div>
					</div>
				</div>
                  
			
			</div>
		</div>
	</div>



<script type="text/javascript">
 
$(document).ready(function() {
	
});


function fnAfterTabChange() {
	setFrameHeight();
}
function setFrameHeight() {
	try {
		
		var selectedTabIdx = 0;
		$("#ul_tabWap li").each(function() {
			if($(this).hasClass("on")) {
				selectedTabIdx = $(this).find("a").attr("data-tab");
			}
		});
		
		var $frame = $("#sub_frame" + selectedTabIdx);
		var curHeight = $frame.contents().find('body').height();
 
		
		var lnbHeightVhFlag = false;		
		if(Number(curHeight) < Number(window.outerHeight) - 240) {
			curHeight = Number(window.outerHeight) - 240;
			lnbHeightVhFlag = true;
		}  
		 
		
		//curHeight = curHeight - 96;
		//console.log(curHeight);
		
		//curHeight = curHeight - 20;
		
		
		//$frame.css('height', (curHeight + 20) + 'px' );	// 스크롤 20 추가
		$frame.css('height', (curHeight) + 'px' );	 
		
		 
	} catch(e) {
		console.log(e);
	}
	
}
	

</script>
</body>
</html>

