<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/mainLayout">
<head>

<!-- head inclue -->
<th:block th:replace="fragments/head_inc :: head_inc" />
</head>
<body>
	<!-- wrap -->
	<div id="wrap">
		<!-- container -->
		<div class="container">
			<!-- content -->
			<div id="content">

				<!-- page_info_area -->
				<div class="page_info_area">
					<div class="left">
						<div class="location_area">
							<a href="#" class="bookmark active" title="즐겨찾기"></a>
							<ul>
								<li>홈</li>
								<li>데이터표준화관리</li>
								<li>통합</li>
							</ul>
						</div>
						<div class="title_area">
							<p>용어</p>
							<a href="#" class="reload_btn" title="새로고침">새로고침</a> <a href="#"
								class="help_btn" title="도움말">도움말</a>
						</div>
					</div>
					<div class="right">
						<div class="button_area" id="multiBtnList" style="display: none;">
							<button class="btn" title="데이터타입관리" id="dataTypeBtn" onclick="fnDataTypeModal(); return false;">데이터타입관리</button>
							<button class="btn" title="도메인그룹관리" id="domnGroupBtn" onclick="fnDomnGroupModal(); return false;">도메인그룹관리</button>
							<button class="btn" title="도메인등록" id="domnRegBtn" onclick="fnDomnRegBtnModal('R'); return false;">도메인등록</button>
						</div>
					</div>
				</div>
				<!--// page_info_area -->

				<!-- content_area -->
				<div class="content_area">
					<!-- division20 -->
					<div class="division20" style="padding-bottom: 50px;">
						<div class="row marginb25">
							<div class="left" data-width="0">
								<div class="tbl_wrap" >
									<div class="view_wrap" style="padding-bottom: 30px;" id="div_view_wrap_paddingbtn">
										<div class="tbl_top">
											<p class="tit v2">
												<span>용어 일괄 등록</span>
											</p>
											<div class="btn_wrap" id="wordMultiBtnList" style="display:none;">
												<button class="btn sm" title="추가" onclick="fnMultiAddRowBtn(); fnSetRightAreaHeight(); return false;">추가</button>
												<button class="btn sm blue" title="저장(승인)" name="multiRequestBtn" onclick="fnMultiRequestBtn(); return false;" th:if="${session.STANDARD_USER_SESSION_KEY.userAttrMap[isApprover]} == 'Y'">저장(승인)</button>
												<button class="btn sm blue" title="요청" name="multiRequestBtn" onclick="fnMultiRequestBtn(); return false;" th:unless="${session.STANDARD_USER_SESSION_KEY.userAttrMap[isApprover]} == 'Y'">저장(요청)</button>
											</div>
										</div>
										<div class="tbl_wrap" id="dv_regmultilist_div" style="overflow:visible;">
											<table id="tb_regmultilist_table" class="list" style="margin-top:0">
												<colgroup>
													<col style="width: 120px;" />
													<col style="width: 120px;" />
													<col style="width: 130px;" />
													<col style="width: 100px;" />
													<col style="width: 70px;" />
													<col style="width: 80px;" />
													<col style="width: 100px;" />
													<col style="width: 40px;" />
												</colgroup>
												<thead>
													<tr>
														<th>*용어명(한글)</th>
														<th>*영문약어명</th>
														<th>*도메인명</th>
														<th>*용어구분</th>
														<th>*금칙어여부</th>
														<th>연관어</th>
														<!-- <th>설명</th> -->
														<th>결과</th>
														<th>삭제</th>
													</tr>
												</thead>
												<tbody>

												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="right" data-width="400">
								<div class="view_wrap">
									<div class="tbl_top">
										<p class="tit v2">
											<span>도메인정보</span>
										</p>
											<input type="text" class="in_w60" id="searchDomnNmText" name="searchDomnNmText" title="검색어" placeholder="도메인명 검색 입력후 엔터"/>
											<!-- <button class="btn sm" style="width: 55px; margin-right:7px" title="요청" name="multiAddDomnBtn" onclick="fnMultiAddDomnBtn(); return false;">추가</button> -->
									</div>
									<div class="tbl_wrap" id="dv_rightTableArea">
										<table id="tb_multidomnlist_table" class="list" style="margin-top:0">
											<colgroup>
												<col style="width: 90px;" />
												<col style="width: auto;" />
												<col style="width: 70px;" />
											</colgroup>
											<thead>
												<tr>
													<th>도메인그룹</th>
													<th>도메인명</th>
													<th>사용여부</th>
												</tr>
											</thead>
											<tbody>
												<tr class="fwk_templete_row">
													<td>#{domnGroupNm}</td>
													<td class="domnNm">#{domnNm}</td>
													<td>
														<input type="hidden" name="availUseYn" value="#{availUseYn}" class="cl_availUseYn" />
														<div class="cl_usingText" style="display: none;">사용중</div>
														<div class="cl_useDomnBtnArea" style="display: none;">
															<div class="btn_wrap" th:if="${session.STANDARD_USER_SESSION_KEY.userAttrMap[isApprover]} == 'Y'">
																<button class="btn sm" name="useDomnBtn" onclick="fnSaveUseDomn('#{mergedStdSetSn}', '#{domnSn}'); return false;">사용</button>
															</div>
															<div class="btn_wrap" th:unless="${session.STANDARD_USER_SESSION_KEY.userAttrMap[isApprover]} == 'Y'">
																<button class="btn sm" name="useDomnBtn" onclick="fnSaveUseDomn('#{mergedStdSetSn}', '#{domnSn}'); return false;">사용요청</button>
															</div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
										 
									</div>
								</div>
							</div>
							<!--// division20 -->

						</div>
					</div>
				</div>
				<!--// content_area -->
			</div>
			<!--// content -->
		</div>
		<!--// container -->
	</div>
	<!--// wrap -->

<!--현 페이지를 조회 팝업으로 사용시  SEARCH_POP 값으로 들어옴 -->
<input type="hidden" id="p_pageMode" name="p_pageMode" th:if="${#maps.containsKey(paramMap, 'pageMode')}" th:value="${paramMap.pageMode}" />

<!-- 데이터타입관리 -->
<div class="popup layer" id="datatypelist_modal" style="width:1100px;">
	<th:block th:replace="meta/stddicary/domn_datatype_list_inc :: domn_datatype_list_inc" />
</div>

<!-- 도메인그룹 -->
<div class="popup layer" id="domngrouplist_modal">
	<th:block th:replace="meta/stddicary/domn_list_group_inc :: domn_list_group_inc" />
</div>

<!-- 신규등록 및 수정  -->
<div class="popup layer" id="domnreginfo_modal" style="height :600px;">
	<th:block th:replace="meta/stddicary/domn_list_reg_inc :: domn_list_reg_inc" />
</div>

<!-- DBMS 등록 -->
<div class="popup layer" id="regdbmsInfo_modal" style="width:650px;">
	<th:block th:replace="meta/stddicary/domn_dbms_reg_inc :: domn_dbms_reg_inc" />
</div>

<!-- 용어 검색 결과 선택 해야 하는 상황의 팝업 -->
<div class="popup layer" id="dv_multiwordnmlist_div" style="width:1400px; height :450px;">
	<div class="pop_header">
		<p class="title">단어조회</p>
		<div class="btn_wrap">
			<button class="btn sm" id="multiChkBoxSlctnBtn" onclick="fnMultiChkBoxSlctnBtn();">확인</button>
			<button class="btn sm" onclick="fnMultiCloseCheckWordNmBtn();">닫기</button>
		</div>
	</div>
	<div class="tbl_wrap" style="height:350px;">
		<div class="card">
			<table id="tb_multiwordnmlist_table" class="list">
				<colgroup>
					<col width="4%"/>
					<col width="11%"/>
					<col width="6%"/>
					<col width="9%"/>
					<col width="auto"/>
					<col width="auto"/>
					<col width="8%"/>
					<col width="8%"/>
					<col width="5%"/>
					<col width="6%"/>
					<col width="6%"/>
					<col width="7%"/>
					<col width="5%"/>
				</colgroup>
				<thead>
					<tr>
						<th>No</th>
						<th>표준셋명</th>
						<th>단어구분</th>
						<th>단어명</th>
						<th>영문약어명</th>
						<th>영문명</th>
						<th>표준어</th>
						<th>연관어</th>
						<th>금칙어</th>
						<th>승인여부</th>
						<th>사용횟수</th>
						<th>비고</th>
						<th>선택</th>
					</tr>
				</thead>
				<tbody>
					<tr class="fwk_templete_row">
						<td>#{FWK_TR_NO}</td>
						<td>#{stdSetNm}
							<input type="hidden" name="multiStdSetSn" value="#{stdSetSn}" />
							<input type="hidden" name="multiWrdSn" value="#{wrdSn}" />
							<input type="hidden" name="multiAprvSttusCd"value="#{aprvSttusCd}" />
							<input type="hidden" name="multiStdSetTyCd" value="#{stdSetTyCd}" />
							<input type="hidden" name="multiPrhibtYn" value="#{prhibtYn}" />
						</td>
						<td class="multiwrdtycd_td">#fn{fnMultiBindCodeListObj('WRDCDTY', '#{wrdTyCd}')}</td>
						<td class="alignl multiwrdnm_td">#{wrdNm}</td>
						<td class="alignl multiwrdengabrvnm_td">#{wrdEngAbrvNm}</td>
						<td class="alignl multiwrdengnm_td">#{wrdEngNm}</td>
						<td class="multiStdWrdNm_td">#{stdWrdNm}</td>
						<td class="multirelwrdnm_td">#{relWrdNm}</td>
						<td class="multiprhibtyn_td">#{prhibtYn}</td>
						<td>#fn{fnMultiBindCodeListObj('CONFMCDTY', '#{aprvSttusCd}')}</td>
						<td>#{wrdUseCnt}</td>
						<td class="multiNoRegist">#{noRegist}</td>
						<td class="multiChk_td"><input type="checkbox" name="multiChkWrdNm" data-stdsetsn="#{stdSetSn}" data-wrdsn="#{wrdSn}" data-wrdengnm="#{wrdEngNm}" data-wrdengabrvnm="#{wrdEngAbrvNm}" data-wrdnm="#{wrdNm}"></td>
					</tr>
				</tbody>
			</table>
		</div> 
	</div>
	<div class="pop_footer"></div>
</div>


<script type="text/javascript">
$(document).ready(function() {

	try {
		// 왼쪽 메뉴 선택 처리 (링크로 해당 페이지 들어온경우 오른쪽 메뉴를 선택 처리 한다. )
		parent.fnSelectLeftMenu(location.pathname);
	} catch (e) {
	}

	// 현 페이지를 조회 팝업으로 사용시  SEARCH_POP 값으로 들어옴
	if ($("#p_pageMode").val() != undefined
			&& $("#p_pageMode").val() == "SEARCH_POP") {
		// 조회 버튼만 보이도록 처리 
		$(".button_area").find("button").hide();

		// 오른쪽 영역 안보이도록 처리 
		$(".content_area").find(".right").hide();
	}

	var stdSetSn = parent.$("#topgv_stdSetSn").val();

	if (!fnChkStdSet(stdSetSn)) {
		return;
	} else {
		$("#wordMultiBtnList").show();
		$("#multiBtnList").show();
	}
	fnMultiCodeListInit();
	
	
	
	$("#searchDomnNmText").on("keyup", function(event) {
		if(event.keyCode == 13)
			fnDomnSearch();
	});
	
	
});

var _loadCodeBinder;

var rowIndex = 1; // row index번호 저장시 fnMultiCodeListInit에서 초기화  
// 코드 초기 데이터 목록
function fnMultiCodeListInit(){
	rowIndex = 1;
	var stdSetSn = parent.$("#topgv_stdSetSn").val();
	_loadCodeBinder = new CodeBinder()
		.setCommonCode("WRDCDTY")
		.setCommonCode("CONFMCDTY")
		.setSqlCode("meta_code.selectDomnNmList:stdSetSn="+stdSetSn)
		.setLoadCallbackFunc("fnCmmnCodeLoadCallback()")
	.load();
}

function fnCmmnCodeLoadCallback() {
	//_loadCodeBinder.getCodeList();
	fnDomnSearch();
	fnMultiDftAddRowBtn();
}

// 오른쪽 영역 높이 설정
function fnSetRightAreaHeight() {
	$("#dv_rightTableArea").css("height", $("#dv_regmultilist_div").css("height"));
	setFrameHeight();
}


// 용어 일괄 등록 기본 제공 row 15개
function fnMultiDftAddRowBtn(){
	for (var k = 0; k < 15; k++) {
		fnMultiAddRowBtn();
	}
	// 오른쪽 영역 높이 설정
	fnSetRightAreaHeight();
}
// 용어 일괄 등록 row 추가
function fnMultiAddRowBtn() {
	var table = '<tr class="add_data_row" id="row_'+rowIndex+'">';
	table += '<td>';
	table += '	<div style="display: flex; align-items: center;">';
	table += '		<input type="radio" name="rdoNm'+rowIndex+'" value="2"/>';
	table += '		<input type="text" class="in_w100" name="multiWordNm' + rowIndex + '" id="multiWordNm' + rowIndex + '" onchange="fnCheckDpcnMultiEngAbrvNm(' + rowIndex + ')" style="text-transform: uppercase;" maxlength="100"/>';
	table += '		<input type="hidden" name="multiWordNmHide' + rowIndex + '" />';
	table += '	</div">';
	table += '</td>';
	table += '<td>';
	table += '	<input type="hidden" name="multiWordEngNmHide"/>';
	table += '	<input type="hidden" name="multiWrdRefrnStdSetSnHide" />';
	table += '	<input type="hidden" name="multiWrdSnHide" />';
	table += '	<input type="hidden" name="multiDomnSnHide"/>';
	table += '	<input type="hidden" name="multiDomnGroupSnHide"/>';
	table += '	<input type="hidden" name="multiDomnRefrnStdSetSnHide"/>';
	table += '	<div style="display: flex; align-items: center;">';
	table += '		<input type="radio" name="rdoNm'+rowIndex+'" value="1"/>';
	table += '		<input type="text" class="in_w100" name="multiWordEngAbrvNm' + rowIndex + '" id="multiWordEngAbrvNm' + rowIndex + '" onchange="fnCheckDpcnMultiEngAbrvNm(' + rowIndex + ')" style="text-transform: uppercase;" maxlength="100"/>';
	table += '		<input type="hidden" name="multiWordEngAbrvNmHide' + rowIndex + '" />';
	table += '	</div>';
	table += '</td>';
	table += '<td>';
	table += '	<div class="div_container">';
	table += '		<input type="text" class="in_w100" name="multiDomnNm" id="multiDomnNm'+rowIndex+'" autocomplete="off"/>';
	table += '		<div class="div_drop" id="div_drop'+rowIndex+'"style="display : none;"">';
	table += '			<ul class="ul_results">'; 
	table += '			</ul>';
	table += '		</div>';
	table += '	</div>';
	table += '</td>';
	table += '<td style="white-space:nowrap">';
	table += '	<div id="multiWordTyCd'+rowIndex+'">';
	table += '	</div>';
	table += '</td>';
	table += '<td style="white-space:nowrap">';
	table += '<div id="multiPrhibtYn'+rowIndex+'">';
	table += '	<input type="radio" name="multiPrhibtYn'+rowIndex+'" id="prhibt_y_'+rowIndex+'" value="Y"/>';
	table += '	<label for="prhibt_y_'+rowIndex+'" class="req">Y</label>';
	table += '	<input type="radio" name="multiPrhibtYn'+rowIndex+'" id="prhibt_n_'+rowIndex+'" value="N" checked="checked"/>';
	table += '	<label for="prhibt_n_'+rowIndex+'" class="req">N</label>';
	table += '</div>';
	table += '</td>';
	table += '<td><input type="text" class="in_w100" name="multiRelWordNm" maxlength="100" /></td>';
	table += '<td class="multiResult" style="color:#ef4141 !important"></td>';
	table += '<td><button class="btn sm" name="multiDel" onclick="fnMultiDelRowBtn(\'row_' + rowIndex + '\');" >삭제</button></td>';
	table += '</tr>';

	$("#tb_regmultilist_table tbody").append(table);
	fnMultiCodeListDomnNmBinder(rowIndex);
	fnMultiCodeListBinder(rowIndex);
	
	fnEventDomnNmList(rowIndex);
	fnEventList(rowIndex);
	rowIndex++;

}


function fnMultiCodeListDomnNmBinder(i){
	var stdSetSn = parent.$("#topgv_stdSetSn").val();
	var codeId = "meta_code.selectDomnNmList:stdSetSn="+stdSetSn;
	var codeList = _loadCodeBinder.getCodeMap();
	
	var domnNmList = codeList[codeId];
	
	$("#div_drop"+i+" .ul_results").each(function() {
		var table ='';
		index = 0;
		$.each(domnNmList, function(){
			table +='<li class= "li_result" data-option-index="'+index+'" value='+this.codeNm+' data-code='+this.code+' data-extval='+this.extval+' data-extval2='+this.extval2+'>'+this.codeNm+'</li>';
			index++;
		});
		$(this).append(table);
	});
}
// 코드 데이터 목록 바인터
function fnMultiCodeListBinder(i){

	var codeList = _loadCodeBinder.getCodeMap();
	var wrdCdTyList = codeList["WRDCDTY"];
	
	$("#multiWordTyCd" + i + "").each(function() {
		var table ='';
		$.each(wrdCdTyList, function(){
			table +='<input type= "radio" name="'+this.groupCmmnCd+"_"+i+'" id="'+this.groupCmmnCd+"_"+this.code+"_"+i+'" value="'+this.code+'" />';
			table +='<label for="'+this.groupCmmnCd+"_"+this.code+"_"+i+'">'+this.codeNm+'</label>';
		});
		$(this).append(table);
	});
	
	$("input[name=multiWordEngAbrvNm" + i + "]").attr("readonly", true);
	$("input[name=multiWordNm" + i + "]").attr("readonly", false);
}

function fnEventDomnNmList(i){
	var idx = 0;
	$("html").mouseup(function(e) {
		var target = $("#div_drop"+i+"");
		if(target.has(e.target).length == 0){
			target.css("display", "none");
		}
		
		if($("#multiDomnNm"+i+"").val() == ""){
			fnSelectedDomnValue(i, "", "", "");
		}
	});
	
	
	// 체크 이벤트
	$("#multiDomnNm"+i+"").on("click", function(e) {
		fnDivViewWrapPaddingbtn(i);
		$("#div_drop"+i+"").css("display", "");
		if($("#div_drop"+i+" li").length == 0){
			return false;
		}

		idx = 0;
		var showLiCnt = 0;
		$("#div_drop"+i+" li").each(function(){
			if($(this).css("display") != "none"){
				showLiCnt++;
			}
		});
		
		if($(this).val()!=""){
			if(showLiCnt > 0){
				fnDomnNmSearch($(this).val(), i, idx);
			}
		} else {
			fnDomnNmSearch($(this).val(), i, idx);
			//fnMultiCodeListScrollControl("div_drop", "ul_results", i , idx);
		}
	});
	// 입력 이벤트
	$("#multiDomnNm"+i+"").on("input", function() {
		$("#div_drop"+i+"").css("display", "");
		idx = 0;
		fnDomnNmSearch($(this).val(), i, idx);
	});
	
	// 방향키 이벤트
	$("#multiDomnNm"+i+"").on("keydown", function(e) {
		// enter
		if(e.keyCode == 13){
			var dataOptionIdxdomnNm = $("#div_drop"+i+"").find("[data-option-index =\""+idx+"\"]").text();
			
			if(dataOptionIdxdomnNm == ""){
				fnCheckDomnNmUseYn(i, $("#multiDomnNm"+i+"").val());
			}else {
				$(this).val($("#div_drop"+i+"").find("[data-option-index =\""+idx+"\"]").text());
				
				
				var domnSn = $("#div_drop"+i+"").find("[data-option-index =\""+idx+"\"]").data("code"); 			// 도메인순번
				var domnGroupSn =$("#div_drop"+i+"").find("[data-option-index =\""+idx+"\"]").data("extval");	// 도메인그룹
				var domnStdSetSn = $("#div_drop"+i+"").find("[data-option-index =\""+idx+"\"]").data("extval2"); // 표준세트
				fnSelectedDomnValue(i, domnSn, domnGroupSn, domnStdSetSn);
				
				$("#row_"+i+"").find(".multiResult").text("");
			}
			
			$("#div_drop"+i+"").css("display", "none");
		}
		// backspace
		if(e.keyCode == 8){
			fnSelectedDomnValue(i, "", "", "");
		}
		// tab
		if(e.keyCode == 9){
			$("#div_drop"+i+"").css("display", "none");
		}
		
		// 방향키 up(38) down(40)
		if(e.keyCode == 38 || e.keyCode == 40){
			var len = $("#div_drop"+i+"").find("li").length - 1;
			var showLiCnt = 0;
			$("#div_drop"+i+" li").each(function(){
				if($(this).css("display") != "none"){
					showLiCnt++;
				} 
			});
			
			if (showLiCnt == 0) {
				return;
			} else {
				len = showLiCnt - 1;	
			}
			$("#div_drop"+i+"").each(function(){
				if($(this).find(".on").length == 0){
					fnMultiCodeListScrollControl("div_drop", "ul_results", i , idx);
				} else {
					if(len > 0){
						// 방향키 up
						if(e.keyCode == 38){
							if(idx > 0){
								idx--;
							}
						// 방향키 down
						} else if(e.keyCode == 40) {
							
							if(idx < len){
								idx++;
							}
						}
		 				fnMultiCodeListScrollControl("div_drop", "ul_results", i , idx);
					}
				}
			});
			
			return false;
		}
	});
	// 마우스 커서 이벤트
	$("#div_drop"+i+" li").hover(function() {
		$("#div_drop"+i+"").each(function(){
			$(this).find("li").removeClass("on");
		});
		idx = $(this).data("option-index");
		$(this).addClass("on");
	},function(){
		$("#div_drop"+i+"").each(function(){
			$(this).find("li").removeClass("on");
		});
		idx = 0;
	});

	$("#div_drop"+i+" li").on("click", function() {
		var domnNm = $(this).attr("value");
		var domnSn = $(this).data("code"); 			// 도메인순번
		var domnGroupSn = $(this).data("extval");	// 도메인그룹
		var domnStdSetSn = $(this).data("extval2"); // 표준세트
		
		$("#multiDomnNm"+i+"").val(domnNm);
		fnSelectedDomnValue(i, domnSn, domnGroupSn, domnStdSetSn);
		
		$(".div_drop").css("display", "none");
		
		//$("#row_"+i+"").find(".multiResult").text("");
	});
	
	
	$("#multiDomnNm"+i+"").on("blur", function(e) {
		var domnNm = $(this).val();
		fnCheckDomnNmUseYn(i, domnNm);
	});
	$("#multiDomnNm"+i+"").on("focus", function(e) {
		$("#div_drop"+i+"").css("display", "");
	});
}

function fnDivViewWrapPaddingbtn(i){
	var tableTrCnt = $("#tb_regmultilist_table tbody tr").length;
	if(tableTrCnt == i){
		$("#div_view_wrap_paddingbtn").css("padding-bottom", 80);
	} else {
		$("#div_view_wrap_paddingbtn").css("padding-bottom", 30);
	}
}

function fnCheckDomnNmUseYn(i, domnNm){
	
	if(domnNm !=""){
		useYn ="";
		$("#tb_multidomnlist_table tbody tr").each(function(){
			var targetVal = $(this).find(".domnNm").text();
			if(domnNm == targetVal){
				useYn = $(this).find("input[name=availUseYn]").val();
			}
		});
		
		if(useYn == "N") {
			$("#row_"+i+"").find(".multiResult").text(domnNm +" 사용처리 필요");
		} else if(useYn == "Y") {
			$("#row_"+i+"").find(".multiResult").text("");
		} else {
			$("#row_"+i+"").find(".multiResult").text(domnNm +" 도메인등록 필요");
		}
		
	} else {
		$("#row_"+i+"").find(".multiResult").text("");
	}
}

function fnEventList(i){
	$("input:radio[name=rdoNm" + i + "]").change(function() {
		var val = $(this).val();
		
		if (val == 1) {
			$("input[name=multiWordEngAbrvNm" + i + "]").attr("readonly", false);
			$("input[name=multiWordNm" + i + "]").attr("readonly", true);
			$("input[name=multiWordEngAbrvNm" + i + "]").focus();
		} else {
			$("input[name=multiWordEngAbrvNm" + i + "]").attr("readonly", true);
			$("input[name=multiWordNm" + i + "]").attr("readonly", false);
			$("input[name=multiWordNm" + i + "]").focus();
		}
		
	});
	
	// 용어 구분 라디오 박스 기본값(표준어) checked
	$("#multiWordTyCd" + i + " :radio").each(function() {
		if($(this).val() == "TYPE01"){
			$(this).prop("checked", true);
		}
	});
	
	// 영문약어명, 용어명 구분 라디오 박스 기본값(영문약어명) checked
	$("input:radio[name=rdoNm"+i+"]").each(function() {
		if($(this).val() == "2"){
			$(this).prop("checked", true);
		}
	});
}


function fnSelectedDomnValue(i, domnSn, domnGroupSn, domnStdSetSn){
	$("#row_"+i+"").find("input[name=multiDomnSnHide]").val(domnSn);					// code 도메인순번
	$("#row_"+i+"").find("input[name=multiDomnGroupSnHide]").val(domnGroupSn);			// extval 도메인그룹
	$("#row_"+i+"").find("input[name=multiDomnRefrnStdSetSnHide]").val(domnStdSetSn);	// extval2 표준세트
}

// 용어 일괄 등록 쪽 도메인명 검색
function fnDomnNmSearch(searchText, i, idx){
	searchText = searchText.toUpperCase();
	var optionIndexCnt = 0;
	$("#div_drop"+i+" li").each(function() {
		$(this).hide();
		$(this).attr("data-option-index", "");
		
		if(($(this).text()).indexOf(searchText) > -1) {
			$(this).closest("li").show();
			$(this).attr("data-option-index", optionIndexCnt++);
			
			if($(this).text() == searchText){
				fnSelectedDomnValue(i, $(this).data("code"), $(this).data("extval"), $(this).data("extval2"));
			}
		}
	});
	if(optionIndexCnt > 0 ){
		fnMultiCodeListScrollControl("div_drop", "ul_results", i , idx);
	}
}

// 상세조회 표준어, 승인여부코드값 코드명으로 변경작업
function fnMultiBindCodeListObj(id, val){
	var rtnVal="";
	 
	
	var codeList = _loadCodeBinder.getCodeMap();
	var list = codeList[id];
	//console.log(id);
	
	//console.log(list);
	
	$.each(list, function(){
		var code = this.code;
		if(val == code){
			rtnVal += this.codeNm;
		}
	});
	return rtnVal;
}


//삭제버튼
function fnMultiDelRowBtn(trId) {
	var length = $("#tb_regmultilist_table tbody tr").length;
	if (1 < length) {
		$("#tb_regmultilist_table tbody").find("tr").remove("#" + trId + "");
	}
	fnSetRightAreaHeight();
}
//영문약어명 중복 검사
function fnCheckDpcnMultiEngAbrvNm(index) {

	var multiWordEngAbrvNm = $("input[name=multiWordEngAbrvNm" + index + "]").val().toUpperCase();
	var multiWordNm = $("input[name=multiWordNm" + index + "]").val().toUpperCase();
	
	if(multiWordEngAbrvNm != "" &&  multiWordNm !==""){
		if(!confirm("변경 하시겠습니까?")){
			var multiWordNmHide = $("input[name=multiWordNmHide" + index + "]").val().toUpperCase();
			var multiWordEngAbrvNmHide = $("input[name=multiWordEngAbrvNmHide" + index + "]").val().toUpperCase();
			$("input[name=multiWordNm"+index+"]").val(multiWordNmHide);
			$("input[name=multiWordEngAbrvNm"+index+"]").val(multiWordEngAbrvNmHide);
			return;
		}
		$("input:radio[name=rdoNm"+index+"]:checked").each(function() {
			if($(this).val() == "1"){
				multiWordNm ="";
				$("input[name=multiWordNm" + index + "]").val("")
				$("input[name=multiWordNmHide" + index + "]").val("");
			} else {
				multiWordEngAbrvNm ="";
				$("input[name=multiWordEngAbrvNm" + index + "]").val("")
				$("input[name=multiWordEngAbrvNmHide" + index + "]").val("");
			}
		});
		
		
	}
	var arrNm ="";
	var errMsg ="";
	var errCnt = 0;
	if(multiWordEngAbrvNm != ""){
		errMsg = "영문약어명은 단어를 언더바(_)로 분리하여 2개 이상의 조합으로 생성할 수 있습니다. ";
		if(multiWordEngAbrvNm.indexOf("_") == -1 ){
			errCnt++;
		}
		arrNm = multiWordEngAbrvNm.split("_");
		for(var i in arrNm){
			if(arrNm[i] ==""){
				errCnt++;
			}
		}

	}
	if(multiWordNm != "") {
		errMsg = "용어명은 단어를 언더바(_)로 분리하여 2개 이상의 조합으로 생성할 수 있습니다. ";
		if(multiWordNm.indexOf("_") == -1 ){
			errCnt++;
		}
		arrNm = multiWordNm.split("_");
		for(var i in arrNm){
			if(arrNm[i] ==""){
				errCnt++;
			}
		}
	}
	
	if(errCnt > 0){
		alert(errMsg);
		return;
	}
	$("input:radio[name=rdoNm"+index+"]:checked").each(function() {
		if($(this).val() == "1"){
			multiWordNm = "";
			$("input[name=multiWordNm"+index+"]").val(multiWordNm);
			
		} else {
			multiWordEngAbrvNm = "";
			$("input[name=multiWordEngAbrvNm"+index+"]").val(multiWordEngAbrvNm);
		}
		
		$("#row_"+index+"").find("input[name=multiWordEngNmHide]").val("");
		$("#row_"+index+"").find("input[name=multiWrdRefrnStdSetSnHide]").val("");
		$("#row_"+index+"").find("input[name=multiWrdSnHide]").val("");
		$("input[name=multiWordNmHide" + index + "]").val("");
		$("input[name=multiWordEngAbrvNmHide" + index + "]").val("");
	});
	$.ajax({
		url : "/json/stdDicary/getCheckDpcnNm",
		method : "POST",
		contentType : 'application/json',
		data : JSON.stringify({
			cmprWordEngAbrvNm : multiWordEngAbrvNm,
			cmprWordNm : multiWordNm
		}),
		success : function(data) {
			if (data.resultCd == "OK") {
				$("#row_" + index + " .multiResult").text("");
				fnMultiCmbntWrdNm(multiWordEngAbrvNm, multiWordNm, index);
			} else {
				$("#row_" + index + " .multiResult").text("중복약어");
				fnMultiCloseCheckWordNmBtn();
			}
		}
	});

}

// 용어영문약어명으로 단어명 조합
function fnMultiCmbntWrdNm(wordEngAbrvNm, wordNm, index) {
	$.ajax({
		url : "/json/stdDicary/getCmbntWrdNm",
		method : "POST",
		contentType : 'application/json',
		data : JSON.stringify({
			multiWordEngAbrvNm : wordEngAbrvNm
			, multiWordNm : wordNm
			
		}),
		success : function(data) {
			if (data.resultCd == "NO") {
				fnSearchMultiBtn(wordEngAbrvNm, wordNm, index);
			} else {
				if(wordEngAbrvNm !=""){
					$("#row_" + index + "").find("input[name=multiWordNm"+index+"]").val(data.wordNm);
					$("#row_" + index + "").find("input[name=multiWordNmHide"+index+"]").val(data.wordNm);
					$("#row_" + index + "").find("input[name=multiWordEngAbrvNmHide"+index+"]").val(wordEngAbrvNm);
					$("#row_" + index + "").find("input[name=multiWordEngAbrvNm"+index+"]").val(wordEngAbrvNm);
				} else if(wordNm != ""){
					$("#row_" + index + "").find("input[name=multiWordNm"+index+"]").val(wordNm);
					$("#row_" + index + "").find("input[name=multiWordNmHide"+index+"]").val(wordNm);
					$("#row_" + index + "").find("input[name=multiWordEngAbrvNmHide"+index+"]").val(data.wordEngAbrvNm);
					$("#row_" + index + "").find("input[name=multiWordEngAbrvNm"+index+"]").val(data.wordEngAbrvNm);
				}
				
				$("#row_" + index + "").find("input[name=multiWrdSnHide]").val(data.wrdArrList);
				$("#row_" + index + "").find("input[name=multiWrdRefrnStdSetSnHide]").val(data.setArrList);
				$("#row_" + index + "").find("input[name=multiWordEngNmHide]").val(data.wordEngNm);
				fnMultiCloseCheckWordNmBtn();
			}
		}
	});
}

//상세 조회
function fnSearchMultiBtn(wordEngAbrvNm, wordNm, index){
	
	$(".tbl_wrap").css("overflow", "auto");
	//$('#dv_multirequestbtn_div').hide();
	//$('#dv_regmultilist_div').css("height", 550);
	//$('#dv_multiwordnmlist_div').show();
	
	fnClearBindData("dv_multiwordnmlist_div");
	
	fnShowModal("dv_multiwordnmlist_div");
	
	
	var cmprNm = "";
	
	if(wordEngAbrvNm !=""){
		cmprNm = wordEngAbrvNm
	} else {
		cmprNm = wordNm
	}
	
	$.ajax({
		url : "/json/stdDicary/getStdDicarySearchWordNmWrdList"
		, method : "POST"
		, contentType : 'application/json'
		, data : JSON.stringify({
			wordNm : cmprNm
		})
		, success : function(data) {
			var list = data.list;
			$("#multiChkBoxSlctnBtn").attr("onclick","fnMultiChkBoxSlctnBtn(\'"+index+"\');");
			
			fnBindTableValue("tb_multiwordnmlist_table", list);
			
			var myStdSetSn = parent.$("#topgv_stdSetSn").val();
			var i = 1;
			var j = 0;
			$("#tb_multiwordnmlist_table tr.fwk_data_row").each(function(){
				var aprvSttusCd = $(this).find("input[name=multiAprvSttusCd]").val();
				var stdSetTyCd = $(this).find("input[name=multiStdSetTyCd]").val();
				var stdSetSn = $(this).find("input[name=multiStdSetSn]").val();
				var wrdSn = $(this).find("input[name=multiWrdSn]").val();
				var multiNoRegist = $(this).find(".multiNoRegist");
				var multiPrhibtYn = $(this).find("input[name=multiPrhibtYn]").val();
				var multiRegistText = "";
				
				if (stdSetTyCd != "COMMON") {
					if (aprvSttusCd =="APPROVAL") {
						if (myStdSetSn != stdSetSn && multiPrhibtYn !="Y") {
							$(this).find("input:checkbox[name=multiChkWrdNm]").remove();
							var addBtn = "<button class='btn sm' name='addWrdBtn' data-stdsetsn="+stdSetSn+" data-wrdsn="+wrdSn+"  onclick='fnAddOtherWrdBtn(this); return false;'>저장</button>";
							$(this).find(".multiChk_td").append(addBtn);
						}  
						if(multiPrhibtYn == "Y"){
							$(this).find("input:checkbox[name=multiChkWrdNm]").remove();
							multiRegistText = "금칙어";
						}
					} else {
						$(this).find("input:checkbox[name=multiChkWrdNm]").remove();
						multiRegistText = "미승인단어";
					}
					if(multiRegistText !=""){
						multiNoRegist.text(multiRegistText);
					}
				}
				if(aprvSttusCd == "-"){
					var checkVal = "";
					$("input:radio[name=rdoNm"+index+"]:checked").each(function() {
						checkVal =$(this).val();
					});
					
					
					var textVal = $(this).find(".multiwrdnm_td").text();
					var wrdNmTdHtml = ' <input type="text" class="in_w100" name="multiWrdNmDtl'+i+'" id="multiWrdNmDtl'+i+'" style="text-transform: uppercase;"/>';
					var engAbrvTdHtml = ' <input type="text" class="in_w100" name="multiWrdEngAbrvNmDtl'+i+'" id="multiWrdEngAbrvNmDtl'+i+'" style="text-transform: uppercase;"/>';
					var engTdHtml  = ' <input type="text" class="in_w100" name="multiWrdEngNmDtl'+i+'" id="multiWrdEngNmDtl'+i+'" style="text-transform: uppercase;"/>';
					var relWrdNmHtml  = ' <input type="text" class="in_w100" name="multiRelWrdNmDtl'+i+'" id="multiRelWrdNmDtl'+i+'" style="text-transform: uppercase;"/>';
					var prhibtYnHtml = 'N';
					var wrdTyCdHtml ='표준어';
					var saveBtnHtml = '<button class="btn sm" name="multiAddWrdBtn" onclick="fnAddWrdBtn(\'R\',\''+i+'\',\''+index+'\'); return false;">등록</button>';
					
					$(this).find(".multiChk_td").append(saveBtnHtml);
					$(this).find(".multiwrdnm_td").text("");
					$(this).find(".multiwrdengabrvnm_td").text("");
					$(this).find(".multiwrdengnm_td").text("");
					$(this).find(".multirelwrdnm_td").text("");
					$(this).find(".multiprhibtyn_td").text("");
					$(this).find(".multiStdWrdNm_td").text("");
					
					
					$(this).find(".multiwrdtycd_td").append(wrdTyCdHtml);
					$(this).find(".multiwrdnm_td").append(wrdNmTdHtml);
					$(this).find(".multiwrdengabrvnm_td").append(engAbrvTdHtml);
					$(this).find(".multiwrdengnm_td").append(engTdHtml);
					$(this).find(".multirelwrdnm_td").append(relWrdNmHtml);
					$(this).find(".multiprhibtyn_td").append(prhibtYnHtml);
					if(checkVal == "1"){
						$(this).find("#multiWrdEngAbrvNmDtl"+i+"").val(textVal).prop("readonly", true);
					} else {
						$(this).find("#multiWrdNmDtl"+i+"").val(textVal).prop("readonly", true);
					}
					if(wrdMapList.length != 0){
						$("#multiWrdNmDtl"+i+"").val(wrdMapList[j].wrdNm);
						$("#multiWrdEngAbrvNmDtl"+i+"").val(wrdMapList[j].wrdEngAbrvNm);
						$("#multiWrdEngNmDtl"+i+"").val(wrdMapList[j].wrdEngNm);
						$("#multiRelWrdNmDtl"+i+"").val(wrdMapList[j].relWrdNm);
					}
					j++;
				}
				i++;
			});
			wrdMapList = [];
		}
	});
}

//용어명 상세조회 체크 확인 버튼
function fnMultiChkBoxSlctnBtn(index) {

	var wrdNm = "";
	var wrdEngNm = "";
	var wrdEngAbrvNm = "";
	var wrdSnArry = [];
	var wrdStdSetSnArry = [];
	var checkCnt = 0;

	$("input:checkbox[name='multiChkWrdNm']").each( function() {
		if ($(this).is(":checked") == true) {
			
			var wrdNmObj = {};
			var wrdEngNmObj = {};
			var wrdEngAbrvNmObj = {};
			

			wrdSnArry.push($(this).data("wrdsn"));
			wrdStdSetSnArry.push($(this).data("stdsetsn"));
			
			wrdNmObj.wrdNm = $(this).data("wrdnm");
			wrdEngNmObj.wrdEngNm = $(this).data("wrdengnm");
			wrdEngAbrvNmObj.wrdEngAbrvNm = $(this).data("wrdengabrvnm");
			
			wrdNm += (wrdNmObj.wrdNm + "_");	// 논리명
			wrdEngNm += (wrdEngNmObj.wrdEngNm + " ");
			wrdEngAbrvNm += (wrdEngAbrvNmObj.wrdEngAbrvNm + "_");	// 물리명
			checkCnt++;
		}
	});

	// 선택 안했을때 초기화
	if (checkCnt == 0 || checkCnt == 1) {
		wrdSnArry = [];
		wrdStdSetSnArry = [];
		$("#regWordEngNm").val("");
		$("#regWordEngAbrvNm").val("");
		if (checkCnt == 1) {
			alert("용어는 단어의 2개 이상의 조합으로 생성 할수 있습니다. ");
		}
		return;
	}
	// 공백 제거
	var resWrdEngNmVal = $.trim(wrdEngNm);
	var resWrdEngAbrvNmVal = wrdEngAbrvNm.replace(/\s/gi, "");
	var resWrdNmVal = wrdNm.replace(/\s/gi, "");

	// 맨뒤에 _ 제거
	resWrdEngAbrvNmVal = resWrdEngAbrvNmVal.substring(0, resWrdEngAbrvNmVal.length - 1);
	resWrdEngNmVal = resWrdEngNmVal.substring(0, resWrdEngNmVal.length - 1);
	resWrdNmVal = resWrdNmVal.substring(0, resWrdNmVal.length - 1);
	$("#tb_regmultilist_table tbody #row_"+index+"").each(function(){

		$(this).find("input[name=multiWrdSnHide]").val(wrdSnArry);
		$(this).find("input[name=multiWrdRefrnStdSetSnHide]").val(wrdStdSetSnArry);
		$(this).find("input[name=multiWordNm"+index+"]").val(resWrdNmVal);
		$(this).find("input[name=multiWordNmHide"+index+"]").val(resWrdNmVal);
		$(this).find("input[name=multiWordEngAbrvNm"+index+"]").val(resWrdEngAbrvNmVal);
		$(this).find("input[name=multiWordEngAbrvNmHide"+index+"]").val(resWrdEngAbrvNmVal);
		$(this).find("input[name=multiWordEngNmHide]").val(resWrdEngNmVal);
	
	});

	fnMultiCloseCheckWordNmBtn();

}

//용어명 검사 닫기 버튼
function fnMultiCloseCheckWordNmBtn() {
	
	//$(".tbl_wrap").css("overflow", "visible");
	//$('#dv_multiwordnmlist_div').hide();
	//$('#dv_regmultilist_div').css("height", "");
	//$('#dv_multirequestbtn_div').show();
	
	fnCloseModal("dv_multiwordnmlist_div");
}

// 저장
function fnMultiRequestBtn() {
	
	var i = 1;
	var arr = [];
	var arrIndex = 0;
	
	var isDomnNmEmpty = false;
	var isDomnSnEmpty = false;
	
	$("#tb_regmultilist_table tbody tr").each(function() {
		var obj = {};
		var multiWordEngAbrvNm = $(this).find("#multiWordEngAbrvNm"+i+"").val();
		var multiWordNm = $(this).find("#multiWordNm"+i+"").val();
		var multiDomnNm = $(this).find("#multiDomnNm"+i+"").val();
		var multiDomnSnHide = $(this).find("input[name=multiDomnSnHide]").val();
		
		if(multiWordEngAbrvNm !="" && multiWordNm !=""){
			if(multiDomnNm == ""){
				isDomnNmEmpty = true;
				return false; // break
			}
			
			if($(this).find("input[name=multiDomnSnHide]").val() == "") {
				isDomnSnEmpty = true;
				return false; 	
			}
		}
		
		if(multiWordEngAbrvNm !="" && multiWordNm !="" && multiDomnNm !="" && multiDomnSnHide !=""){
			obj.wordEngAbrvNm = multiWordEngAbrvNm;
			obj.wordNm = multiWordNm;
			obj.domnNm = multiDomnNm;
			obj.wordEngNm = $(this).find("input[name=multiWordEngNmHide]").val();
			obj.wrdRefrnStdSetSn = $(this).find("input[name=multiWrdRefrnStdSetSnHide]").val();
			obj.wrdSn = $(this).find("input[name=multiWrdSnHide]").val();
			obj.domnSn = $(this).find("input[name=multiDomnSnHide]").val();
			obj.domnGroupSn = $(this).find("input[name=multiDomnGroupSnHide]").val();
			obj.domnRefrnStdSetSn = $(this).find("input[name=multiDomnRefrnStdSetSnHide]").val();
			obj.wordTyCd = $(this).find("input:radio[name=WRDCDTY_"+i+"]:checked").val();
			obj.prhibtYn = $(this).find("input:radio[name=multiPrhibtYn"+i+"]:checked").val();
			obj.relWordNm = $(this).find("input[name=multiRelWordNm]").val();
			arr[arrIndex]=obj;
			arrIndex++;
		}
		i++;
	});
	
	if(isDomnNmEmpty){
		alert("도메인명는(은) 필수 입력 항목입니다.");
		return;
	}
	
	if(isDomnSnEmpty) {
		alert("등록되어 있지 않은 도메인명 입니다.");
		return;
	}
	
	
	if(arr.length == 0){
		alert("저장할 데이터가 없습니다.");
		return;
	}
	
	
	if(g_isApprover == "Y"){
		if(!confirm("저장(승인) 하시겠습니까?")){
			return;
		}
	} else{
		if(!confirm("저장(요청) 하시겠습니까?")){
			return;
		}
	}
	
	$.ajax({
		url : "/json/stdDicary/saveStdDicaryWordMultiInfo"
		, method : "POST"
		, contentType : 'application/json'
		, data : JSON.stringify({
			pmode : "R"
			, isApprover : g_isApprover
			, wordMultiInfo : arr
		})
		, success : function(data) {
			if (data.resultCd == "OK") {
				alert("저장되었습니다.");
				$("#tb_regmultilist_table tbody").find("tr").remove();
				fnMultiCodeListInit();
			} else {
				alert("실패하셨습니다. "+data.errorMsg+"");
			}
		}
	});
}

//검색 조건
var getDomnSearchParamObj = function(){
	var paramObj = {
		//availUseYn : "N"
		 excelYn : "Y"
		, domnNm : fnUnderbarChgVar($("#searchDomnNmText").val())
	};
	return paramObj;
};

function fnDomnSearch(pageNum) {

	if (!pageNum)
		pageNum = 1;
	
 	var searchParamObj = getDomnSearchParamObj();
	searchParamObj["pageNum"]= pageNum;
	
	// 사용 버튼 노출 초기화
	$(".cl_usingText").hide();
	$(".cl_useDomnBtnArea").hide();
	
	$.ajax({
		url : "/json/stdDicary/getStdDicaryDomnList"
		, method : "POST"
		, contentType : 'application/json'
		, data : JSON.stringify(searchParamObj)
		, success : function(data) {
			fnBindTableValue("tb_multidomnlist_table", data.list);
			// 도메인 사용여부 버튼 노출 처리
			fnDispDomnUseYnBtn();
		}
	});

}

// 도메인 사용여부 버튼 노출 처리
function fnDispDomnUseYnBtn() {
	$("#tb_multidomnlist_table .cl_availUseYn").each(function() {
		var availUseYn = $(this).val();
		
		if(availUseYn == "Y") 
			$(this).closest("td").find(".cl_usingText").show();
		else 
			$(this).closest("td").find(".cl_useDomnBtnArea").show();
		
	});
}

//도메인 사용버튼
function fnSaveUseDomn(stdSetSn, domnSn) {
	if(!isDbmsChk())
		return;
	
	if (g_isApprover == "Y") {
		if (!confirm("사용처리 하시겠습니까?")) 
			return;
	} else if (g_isApprover == "N") {
		if (!confirm("사용요청 하시겠습니까?"))
			return;
	} else {
		return;
	}
	
	$.ajax({
		url : "/json/stdDicary/saveCopyCmmnToMyDomn"
		, method : "POST"
		, contentType : 'application/json'
		, data : JSON.stringify({
			fromStdSetSn: stdSetSn
			, fromDomnSn : domnSn
			, isApprover : g_isApprover
		})
		, success : function(data) {
			if (data.resultCd == "OK") {
				alert("저장되었습니다.");
				fnDomnSearch();
				fnMultiCodeListInitReload();
				//location.reload();
			} else {
				alert("실패하셨습니다.");
				//fnDomnSearch(pagingNo);
				//location.reload();
			}
		}
	});
}

// 도메인 사용버튼 클릭시 코드 초기 데이터 목록 재로드
function fnMultiCodeListInitReload(){
	
	var stdSetSn = parent.$("#topgv_stdSetSn").val();
	
 	new CodeBinder()
		.setCommonCode("WRDCDTY")
		.setCommonCode("CONFMCDTY")
		.setSqlCode("meta_code.selectDomnNmList:stdSetSn="+stdSetSn)
		.setLoadCallbackFunc("fnDomnNmListReBind('"+stdSetSn+"')")
	.load();

}

// 도메인정보 사용버튼 클릭시 도메인명 rebinding
function fnDomnNmListReBind(stdSetSn){
	var codeId = "meta_code.selectDomnNmList:stdSetSn="+stdSetSn;
	
	var codeList = _loadCodeBinder.getCodeMap();
	
	var domnNmList = codeList[codeId];

	i = 1;
	$("#tb_regmultilist_table tbody tr").each(function(){
		if($("#div_drop"+i+" li").length > 0){
			$("#div_drop"+i+" li").remove();
		}
		fnMultiCodeListDomnNmBinder(i);
		fnEventDomnNmList(i);
		i++;
	});
}

//수정 및 신규등록 모달
function fnDomnRegBtnModal(pmode) {
	
	// DBMS 체크
	if(!isDbmsChk())
		return;
	
	fnShowModal("domnreginfo_modal");
	
	$("#regDomnPmodeHide").val(pmode);
	$("#multipage").val("Y");

	if (pmode == "R") {
		$("#regDomnSnHide").val("");
	}
	
	fnRegDomnSearch();
	
}

//데이터타입관리
function fnDataTypeModal(){
	// fnChangeSelectVal("datatypeDbmsSn");
	$("#datatypeDbmsSn").find("option[value='']").prop("selected", true);
	fnDbmsDataTypeListDetail("","");
	$("#datatypeGroupSn").val("");
	//$("#tb_datatypelist_table tbody tr.fwk_add_row").remove();
	//fnClearSelectTrEvent("#tb_datatypegrouplist_table");
	fnShowModal("datatypelist_modal");	
}


function fnCloseModalResetSelectBox(modalId, selectedBoxId){
	fnCloseModal(modalId);
}


//도메인그룹관리모달
function fnDomnGroupModal() {
	fnGpSearch();
	fnGpListDetail();
	fnRemoveDomnGpAddBtn();
	fnShowModal("domngrouplist_modal");
}


//다른 표준세트 단어 등록
function fnAddOtherWrdBtn(obj){
	var stdSetSn = $(obj).data("stdsetsn");
	var wrdSn = $(obj).data("wrdsn");
	
	if(g_isApprover == "Y"){
		if(!confirm("승인 하시겠습니까?")){
			return;
		}
	} else{
		if(!confirm("승인요청 하시겠습니까?")){
			return;
		}
	}
		
	$.ajax({
		url : "/json/stdDicary/getStdDicarySaveOtherWrdInfo"
		, method : "POST"
		, contentType : 'application/json'
		, data : JSON.stringify({
			isApprover : g_isApprover
			, stdSetSn : stdSetSn
			, wrdSn : wrdSn
			, pmode : "R"
		})
		, success : function(data) {
			if (data.resultCd == "OK") {
				if(g_isApprover == "Y"){
					alert("승인 되었습니다.");
				} else{
					alert("승인요청 되었습니다.");
				}
				fnSearchWordNmListBtn();
			} else {
				alert("실패하셨습니다.");
				fnSearchWordNmListBtn();
			}
		}
	});
	
	
}
var wrdMapList =[];
// 새단어 등록
function fnAddWrdBtn(pmode, i, index){
	
	if (!fnCheckValid("#multiWrdNmDtl"+i+"", "단어명"))
		return;
	
	if (!fnCheckValid("#multiWrdEngAbrvNmDtl"+i+"", "영문약어명"))
		return;

	if (!fnCheckValid("#multiWrdEngNmDtl"+i+"", "영문명"))
		return;
	
	var wrdMap = {
			wrdSn : ""
			, wrdTyCdNm : $(".multiwrdtycd_td").text()
			, aprvSttusCdNm : "등록"
			, wrdTyCd : "TYPE01"
			, wrdNm : $("#multiWrdNmDtl"+i+"").val()
			, wrdEngNm : $("#multiWrdEngNmDtl"+i+"").val().toUpperCase()
			, wrdEngAbrvNm :  $("#multiWrdEngAbrvNmDtl"+i+"").val().toUpperCase()
			//, prhibtYn : $(".multiprhibtyn_td").text()
			, prhibtYn : "N"
			, stdWrdNm : ""
			, relWrdNm : $("#multiRelWrdNmDtl"+i+"").val().toUpperCase()
			, wrdCn : ""
	}
	var j = 1;
 	$("#tb_multiwordnmlist_table tr.fwk_data_row").each(function(){
		var aprvSttusCd = $(this).find("input[name=multiAprvSttusCd]").val();
		if(i != j){
			
			if(aprvSttusCd == "-"){
				var wrdNm = $("#multiWrdNmDtl"+j+"").val().toUpperCase();
				
				var val = {
					wrdNm : wrdNm
					, wrdEngAbrvNm :$("#multiWrdEngAbrvNmDtl"+j+"").val().toUpperCase()
					, wrdEngNm : $("#multiWrdEngNmDtl"+j+"").val().toUpperCase()
					, relWrdNm : $("#multiRelWrdNmDtl"+j+"").val().toUpperCase()
				}
				wrdMapList.push(val);
			}
		}
		
		j++;
		
	});
	
	$.ajax({
		url : "/json/stdDicary/saveStdDicaryWrdInfo"
		, method : "POST"
		, contentType : 'application/json'
		, data : JSON.stringify({
			pmode : pmode
			, isApprover : g_isApprover
			, wrdMap : wrdMap
		})
		, success : function(data) {
			if (data.resultCd == "OK") {
				alert("저장되었습니다.");
				fnMultiCloseCheckWordNmBtn();
				$("input:radio[name=rdoNm"+index+"]:checked").each(function() {
					checkVal =$(this).val();
				});
				var wordEngAbrvNm = "";
				var wordNm = "";
				
				if(checkVal == 1){
					wordEngAbrvNm = $("#multiWordEngAbrvNm"+index+"").val().toUpperCase();
					wordNm = "";
				} else {
					wordEngAbrvNm = "";
					wordNm = $("#multiWordNm"+index+"").val().toUpperCase();
				}
				fnMultiCmbntWrdNm(wordEngAbrvNm, wordNm, index);
			} else {
				alert("실패하셨습니다.");
			}
		}
	});
}
</script>
</body>
</html>
