<html th:lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="wrd_datastd_bundle_inc">
	<div class="pop_header">
		<p class="title">엑셀업로드</p>
		<button class="btn_ic btn_pop_close" onclick="fnCloseModal('wrddatastdbundle_modal');">닫기</button>
	</div>
	<div class="pop_content">
		<div class="tbl_top right">
			<div class="btn_wrap">
				<button class="btn sm pad0" title="양식다운로드" onclick="fnStdDicaryExcelFormDown(); return false;">양식다운로드</button>
				<button class="btn sm" title="엑셀저장" onclick="fnStdDicaryExcelSaveDown(); return false;">엑셀저장</button>
				<button class="btn sm" title="저장(승인)" id="uploadFileRequestBtn" onclick="fnUploadFileRequestBtn(); return false;" th:if="${session.STANDARD_USER_SESSION_KEY.userAttrMap[isApprover]} == 'Y'">저장(승인)</button>
				<button class="btn sm" title="요청" id="uploadFileRequestBtn" onclick="fnUploadFileRequestBtn(); return false;" th:unless="${session.STANDARD_USER_SESSION_KEY.userAttrMap[isApprover]} == 'Y'">요청</button>
			</div>
		</div>
		<div class="search_wrap">
			<table class="search fixed">
				<tbody>							
					<tr>
						<td style="border-right: none">
							<div class="file_append"  style="display: flex; align-items: center;">
							<form id="fileUploadForm" name="fileUploadForm">
								<label class="btn sm" title="파일선택" for="selFile">파일선택</label>
								<input class="btn" type="file" name="file" id="selFile" accept=".xls,.xlsx" style="display: none;"/>
								<input type="hidden" name="basePathId" value="meta.upload.base_path" />
								<input type="hidden" name="subDir" id="subDir"/>
								<input type="hidden" name="savedFileNm" id="savedFileNm" />
							</form>
							<p class="txt_filename" style="margin-left: 10px;">선택된 파일 없음</p>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="card">
			<table class="view">
				<tbody>
					<tr>
						<!-- <th>총</th> -->
						<!-- <td th:text ="${#numbers.formatInteger(totalErrorCnt,3,'COMMA')}"></td> -->
						<th>총</th>
						<td id="totalTargetCnt"></td>
						<th>정상</th>
						<td id="totalClearCnt"></td>
						<th>오류</th>
						<td id="totalErrorCnt"></td>						
						<td>
							<input type="checkbox" name="chkBox" value="psb"/>정상
							<input type="checkbox" name="chkBox" value="impsb"/>오류
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="card">
			<div class="tbl_wrap" style="height:350px;"> 
				<table class="list fixed" id="tb_filelist_table">
					<colgroup>
						<col width="5%;">
						<col width="5%;">
						<col width="11%;">
						<col width="13%;">
						<col width="14%;">
						<col width="5%;">
						<col width="5%;">
						<col width="7%;">
						<col width="10%;">
						<col width="auto;">
					</colgroup>
					<thead>
						<tr>
							<th>NO</th>
							<th>단어구분</th>
							<th>단어명</th>
							<th>영문약어명</th>
							<th>영문명</th>
							<th>연관어</th>
							<th>금칙어</th>
							<th>설명</th>
							<th>비고</th>
							<th>오류 상태</th>
						</tr>
					</thead>
					<tbody>
						<tr class="fwk_templete_row">
							<td>#{EXCEL_ROW_NO}</td>
							<td>#{wrdTyCdNm}</td>
							<td>#{wrdNm}</td>
							<td>#{wrdEngAbrvNm}</td>
							<td>#{wrdEngNm}</td>
							<td>#{relWrdNm}</td>
							<td>#{prhibtYn}</td>
							<td class="alignl">#{wrdSumCn}</td>
							<td>#{etcCn}</td>
							<td class="alignl errorInfo">#{errorInfo}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="pop_footer">
	</div>
	
<script type="text/javascript">
var list;
$(document).ready(function() {
	
	if(!fnChkStdSet())
		return;

	$("input[name=chkBox]").click(function(){
		if($(this).prop('checked')){
			
			$("input[name=chkBox]").prop('checked',false);
			   
			$(this).prop('checked',true);

		}
		
		if ($("#savedFileNm").val() == "") {
			alert("업로드한 파일이없습니다.");
			$("input[name=chkBox]").prop('checked',false);
			return;
		}

		var chkVal = $("input[name=chkBox]:checked").val();
		$("#tb_filelist_table .fwk_data_row .errorInfo").filter(function(){
			if (chkVal == "psb") {
				if ($(this).text() == "") {
					$(this).parent("tr").show();
				} else {
					$(this).parent("tr").hide();
				}
			} else if (chkVal == "impsb") {
				if ($(this).text() == "") {
					$(this).parent("tr").hide();
				} else {
					$(this).parent("tr").show();
				}
			} else {
				$(this).parent("tr").show();
			}
		});

	});
	
    $("#selFile").on("click", function(){
    	$("#selFile").val("");
    });
	// 파일 선택
	$("#selFile").on("change", function(){
		if ($(this).val() != "") {
			var filePath = $(this).val();
			var fileName = $(this)[0].files[0].name;
			$(".txt_filename").text(fileName);

			fnGetMetaConstantsVal("UPLOAD_WRD_TEMP_PATH", function(data) {
				$("#fileUploadForm").find("input[name=subDir]").val(data.value);
				fnUploadFileBtn();
			});
		}
	});
});

// 업로드 버튼
function fnUploadFileBtn() {
	if ($("#subDir").val() == "") {
		alert("선택한 파일이없습니다.");
		return;
	}
	fnCommSingleFileUpload("fileUploadForm", function(data) {

		if (data.resultCd == "OK") {

			var orgFileNm = data.orgFileNm;
			var savedFileNm = data.savedFileNm;
			var subDir = data.subDir;
			
			$("#orgFileNm").val(orgFileNm);
			$("#savedFileNm").val(savedFileNm);
			$("#subDir").val(subDir);
			
			$.ajax({
				url : "/json/stdDicary/getStdDicaryWrdBundleList"
				, method : "POST"
				, contentType : 'application/json'
				, data : JSON.stringify({
					savedFileNm : savedFileNm
					, subDir : subDir
				})
				, success : function(data) {
					$("#totalTargetCnt").text(data.totalTargetCnt+"건");	// 총항목개수
					$("#totalClearCnt").text(data.totalClearCnt+"건");	// 준수항목개수
					$("#totalErrorCnt").text(data.totalErrorCnt+"건");	// 에러항목개수
					fnBindTableValue("tb_filelist_table", data.list)

					list = data.list;
					
					if(data.totalErrorCnt >= 1){
						$("#tb_filelist_table").width("140%");
					} else {
						$("#tb_filelist_table").width("100%");
					}
					
					$("#tb_filelist_table tbody tr.fwk_data_row").each(function(){
						if($(this).find(".errorInfo").text() != ""){
							$(this).find("td").css("background-color", "#FFD2D2");
						}
					});
					
					$("input[name=chkBox]").prop('checked',false);
				}
			});

		} else {
			alert("업로드중 에러가 발생하였습니다.");
		}

	});

}
// 요청 버튼
function fnUploadFileRequestBtn(){
	var errorInfo = "";
	$("#tb_filelist_table .fwk_data_row .errorInfo").each(function(){
		if ($(this).text() != "") {
			errorInfo = $(this).text()
		}
	});
	
	if (errorInfo != "") {
		alert("오류가 있는경우 등록 요청 할 수 없습니다.");
		return;
	}
	
	if (g_isApprover == "Y") {
		if (!confirm("승인 하시겠습니까?")) {
			return;
		}
	} else if (g_isApprover == "N") {
		if (!confirm("요청 하시겠습니까?")) {
			return;
		}
	} else {
		return;
	}
	
	var savedFileNm = $("#savedFileNm").val();
	var subDir = $("#subDir").val();
 	$.ajax({
		url : "/json/stdDicary/saveStdDicaryWrdFileList"
		, method : "POST"
		, contentType : 'application/json'
		, data : JSON.stringify({
			savedFileNm : savedFileNm
			, subDir : subDir
			, isApprover : g_isApprover		
		})
		, success : function(data) {
			if (data.resultCd == "OK") {
				if(g_isApprover == "Y"){
					alert("저장 되었습니다.");
				} else {
					alert("요청 되었습니다.");
				}
					
				location.reload();
			} else {
				alert("실패하셨습니다.");
				location.reload();
			}
		}
	});
	
}

// 양식 다운로드
function fnStdDicaryExcelFormDown() {
	
	var paramObj = {};

	fnCommFileDownByUrl("/exceldown/stdDicary/getStdDicaryWrdExcelFormDown", "단어양식", JSON.stringify(paramObj));

}

//엑셀저장
function fnStdDicaryExcelSaveDown(){
	if (!confirm("엑셀 업로드 하시겠습니까?")) {
		return;
	}
	
	if (!list) {
		return;
	}
	
	var paramObj = {list};
	fnCommFileDownByUrl("/exceldown/stdDicary/getStdDicaryWrdExcelSaveDown", "단어엑셀저장", JSON.stringify(paramObj));

}
</script>

</th:block>