<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/mainLayout">

<head>
	<th:block th:replace="fragments/head_inc :: head_inc" />
</head>

<body>
	<div id="wrap">
		<div class="container">
			<div id="content">

				<div class="page_info_area">
					<div class="left">
						<div class="title_area">
							<p>수집그룹관리</p>
							<a href="#" class="reload_btn" title="새로고침">새로고침</a>
						</div>
					</div>
					<div class="right">
						<div class="button_area">
							<button class="btn" title="신규등록" onclick="fnOpenModal('R', ''); return false;">신규등록</button>
							<button class="btn" title="조회" onclick="fnSearch(); return false;">조회</button>
						</div>
					</div>
				</div><!--// page_info_area -->


				<div class="content_area">
					<div class="division20">
						<div class="search_wrap card">
							<table class="search fixed">
								<caption>검색 테이블</caption>
								<colgroup>
									<col style="width: 100px;" />
									<col style="width: auto;" />
									<col style="width: 60px;" />
									<col style="width: 100px;" />
									<col style="width: auto;" />
								</colgroup>
								<tbody>
									<tr>
										<th scope="row"><label for="searchValue">검색</label></th>
										<td>
											<div style="display: flex; align-items: center;">
												<div class="selectbox" style="margin-right: 5px;">
													<select name="searchType" id="searchType" style="padding : 0 70px 0 10px;">
														<option>선택</option>
														<option value="API_GROUP_CD">그룹코드</option>
														<option value="API_GROUP_NM">그룹명</option>
														<option value="API_STNG_NM">기관명</option>
													</select>
													<label for="searchType">선택</label>
												</div>
												<input type="text" class="in_w75" id="searchValue" name="searchValue" title="검색어" value=""/>
											</div>
										</td>
										<td></td>
										<th scope="row"><label for="useAt">사용여부</label></th>
										<td>
											<div class="selectbox">
												<select name="useAt" id="useAt">
													<option value="">전체</option>
													<option value="Y">Y</option>
													<option value="N">N</option>
			                           			</select>
			                           		</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div><!--// division20 -->


					<div class="division20">
						<div class="card">
							<div class="left" data-width="0">
								<div class="table_area marginb25">
									<table class="list fixed" id="metaGroupTable">
										<caption>수집 그룹</caption>
										<colgroup>
											<col style="width: auto;" />
					                        <col style="width: auto;" />
					                        <col style="width: auto;" />
					                        <col style="width: 10%;" />
					                        <col style="width: 10%;" />
										</colgroup>
										<thead>
											<tr>
												<th>그룹코드</th>
					                            <th>그룹명</th>
					                            <th>기관명</th>
					                            <th>사용여부</th>
					                            <th>수정</th>
											</tr>
										</thead>
										<tbody>
											<tr class="fwk_templete_row">
					                            <td>#{apiGroupCd}</td>
					                            <td>#{apiGroupNm}</td>
					                            <td>#{apiStngNm}</td>
					                            <td>#{useYn}</td>
					                            <td>
													<button class="btn sm" title="수정" onclick="fnOpenModal('M', '#{apiGroupCd}'); return false;">수정</button>
					                            </td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="pagination_area marginb25" id="dv_paging"></div>
							</div><!--// table_area -->
						</div>
					</div><!-- division20 -->
				</div>

			</div><!-- content -->
		</div><!-- container -->
	</div><!-- wrap -->

	<div class="popup layer ui-draggable" id="metagroupinfo_modal" style="height: 750px; width: 1000px; position: absolute; top: 88.5px; left: 316.5px;">
		<div class="pop_header">
			<p class="title">수집그룹정보 추가</p>
			<button class="btn_ic btn_pop_close" onclick="fnCloseModal('metagroupinfo_modal');">닫기</button>
		</div>

		<div class="pop_content">
			<div class="tbl_top right">
				<button type="button" class="btn sm" onclick="fnRegNew(); return false;">저장</button>
			</div>

			<div class="card">
				<table class="view">
					<caption>테이블</caption>
					<colgroup>
						<col style="width:15%;" />
						<col style="width:85%;" />
					</colgroup>
					<tbody>
						<tr>
							<th scope="row"><span class="star">*</span> <label for="apiGroupCd">그룹코드</label></th>
							<td>
								<div style="display: flex; align-items: center;">
									<input type="text" name="apiGroupCd" id="apiGroupCd" style="text-transform: uppercase;" onkeyup="inputCheck(this); fnKeepDup(); return false;" maxlength="15" placeholder="15자 이내로 입력해주세요" />
									<button class="btn sm" id="ckDup" style="margin-left:4px" title="중복체크" onclick="fnCkDup(); return false;" >중복체크</button>
								</div>
							</td>
						</tr>
						<tr>
							<th><span class="star">*</span> <label for="apiGroupNm">그룹명</label></th>
							<td>
								<input type="text" name="apiGroupNm" id="apiGroupNm" maxlength="100" placeholder="100자 이내로 입력해주세요" />
							</td>
						</tr>
						<tr>
							<th><label for="apiStngNm">기관명</label></th>
							<td>
								<input type="text" name="apiStngNm" id="apiStngNm" maxlength="100" placeholder="100자 이내로 입력해주세요"/>
							</td>
						</tr>
						<tr>
							<th><label for="apiGroupCn">설명</label></th>
							<td>
								<div>
									<textarea name="apiGroupCn" id="apiGroupCn" rows="5" style="height: 350px;" maxlength="500" placeholder="500자 이내로 입력해주세요"></textarea>
								</div>
							</td>
						</tr>
						<tr>
							<th scope="row"><span class="star">*</span> <label for="useYn">사용여부</label></th>
							<td colspan="3">
								<select name="useYn" id="useYn">
		              				<option value="Y" selected>Y</option>
		              				<option value="N">N</option>
		              			</select>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div> <!-- pop_content -->
	</div>

<script>

$(document).ready(function(){

	$("#searchValue").on("keyup", function(event) {
		if(event.keyCode == 13)
			fnSearch();
	});

	fnSearch();
});

function fnSearch(pageNum){
	if(!pageNum){
		pageNum = 1;
	}

	$.ajax({
		url: "/json/collectGroupInfo/selectMetaGroupList"
		, method : "POST"
		, dataType:'json'
		, contentType:"application/json"
		, data: JSON.stringify({
			pageIndex: pageNum
			, searchType: $("#searchType").find("option:selected").val()
			, searchValue: fnUnderbarChgVar($("#searchValue").val())
			, useAt : $("#useAt").find("option:selected").val()
		})
		, success: function(data){
			//console.log(data);
			fnBindTableValue("metaGroupTable", data.list, data.pagingInfo);

			fnSetPaging("dv_paging", data.pagingInfo);
		}
	});
}

function fnOpenModal(pmode, apiGroupCd) {

	$("#ckDup").attr('ckDup', 'N');

	if(pmode == 'M') {
		$.ajax({
			url: "/json/collectGroupInfo/selectMetaGroupInfo"
			, method : "POST"
			, dataType:'json'
			, contentType:"application/json"
			, data: JSON.stringify({
				apiGroupCd : apiGroupCd
			})
			, success: function(data){

				$("#apiGroupCd").val(data.apiGroupCd);
				$("#apiGroupNm").val(data.apiGroupNm);
				$("#apiStngNm").val(data.apiStngNm);
				$("#apiGroupCn").val(data.apiGroupCn);
				$("#useYn").val(data.useYn);

				$("#apiGroupCd").attr('disabled', true);
				$("#ckDup").attr('ckDup', 'Y')
				$("#ckDup").hide();
			}
		});
	} else {

		$("#apiGroupCd").val("");
		$("#apiGroupNm").val("");
		$("#apiStngNm").val("");
		$("#apiGroupCn").val("");
		$("#useYn").val('Y');

		$("#apiGroupCd").attr('disabled', false);
		$("#ckDup").show();
	}

	fnShowModal('metagroupinfo_modal');
}

function fnRegNew() {
	var groupCdLength= $("#apiGroupCd").val().length;
	
	if(groupCdLength > 15){
		alert("그룹코드는 15자리 이내로 작성해주세요.");
		return;
	}

	if(!fnCheckValid("#apiGroupCd", "그룹코드")) return;

	if($("#ckDup").attr('ckDup') != 'Y') {
		alert("그룹코드 중복체크를 확인 해주세요.");
		return;
	}

	if(!fnCheckValid("#apiGroupNm", "그룹명")) return;

	if(!fnCheckValid("#useYn", "사용여부")) return;
	
	if(confirm("저장 하시겠습니까?")) {		
		$.ajax({
			url: "/json/collectGroupInfo/saveMetaGroup"
			, method : "POST"
			, dataType:'json'
			, contentType:"application/json"
			, data: JSON.stringify({
				apiGroupCd : $("#apiGroupCd").val().toUpperCase()
				, apiGroupNm : $("#apiGroupNm").val()
				, apiStngNm : $("#apiStngNm").val()
				, apiGroupCn : $("#apiGroupCn").val()
				, useYn : $("#useYn").val()
			})
			, success: function(data){
				if(data.resultCd == "OK"){
					alert("수집그룹정보가 저장되었습니다.");
	
					fnCloseModal('metagroupinfo_modal');
					fnSearch();
				} else {
					alert("저장이 실패되었습니다.");
				}
			}
		});
	}

}

function fnCkDup() {

	if(!fnCheckValid("#apiGroupCd", "그룹코드")) return;
	
	var apiGroupCd = $("#apiGroupCd").val();
	
	if($.trim(apiGroupCd) == ""){ 
		alert("그룹코드에 공백을 사용할 수 없습니다.");
		return false;
	}
	
	$.ajax({
		url: "/json/collectGroupInfo/selectMetaGroupInfoCkDup"
		, method : "POST"
		, dataType:'json'
		, contentType:"application/json"
		, data: JSON.stringify({
			apiGroupCd : $("#apiGroupCd").val()
		})
		, success: function(data){
			if(data.cnt == 0) {
				alert("가능한 그룹코드 입니다.");
				$("#ckDup").attr('ckDup', 'Y');
			} else {
				alert("입력 값에 유효한 그룹코드가 아닙니다.");
				$("#ckDup").attr('ckDup', 'N');
			}
		}
	});
}

function fnKeepDup() {
	$("#ckDup").attr('ckDup', 'N');
}
</script>

	<!-- 하단영역 inlucde  -->
	<th:block th:replace="fragments/footer_inc :: footer_inc" />
</body>
</html>
