<!--
	Description : (팝업)수집통합관리 > 수집데이터 조회

	Modification Information
	수정일				수정자			수정내용
	-------		-----------------------------------
	2016.01.29		조남훈			최초작성

-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/mainLayout">
<head>
	<th:block th:replace="fragments/head_inc :: head_inc" />
	<style>
		.guide_box {
			margin-bottom: 15px;
		    padding: 12px;
		    border: 1px solid #d6d5c9;
		    background-color: #fefbde;
		}
	</style>

<script type="text/javascript" th:inline="javascript">

	$(document).ready(function(){
		// 달력 set
		$("#logBeginDe").datepicker();
		$("#logEndDe").datepicker();

		// form에서 엔터로 검색시 1페이지로 셋팅하게 한다.
		$('#colValue').keydown(function(e) {
			if(e.keyCode == 13) {
				$('#pageIndex').val("1");
				$('#listType').val("LIST");		// 엑셀로 sumbit 후 다시 조회로 바꿔준다.
				$('#frm').attr("target", "_self");
				$('#frm').submit();
			}
		});

		fnSetPaging("dv_paging", /*[[${pagingInfo}]]*/);
	});

	//조회
	function fnSearch(pageIdx) {
		if(!fnSearcDateChk($("#logBeginDe").val(), $("#logEndDe").val())) return;

		if(pageIdx)
			$('#pageIndex').val(pageIdx);
		$('#listType').val("LIST");
		$('#frm').attr("target", "_self");
		$('#frm').submit();
	}

	//엑셀 다운로드
	function fnListExcelDown() {
		console.log("fnListExcelDown");
		/* $('#listType').val("EXCEL");
		$('#frm').attr("target", "com_excel_frame");
		$('#frm').submit(); */
		var apiCd = $("#apiCd").val();
		var fileName = apiCd;

		fnCommFileDownByUrl("/exceldown/collectDataInfo/getMetaMngCollectDataListExcel", fileName, JSON.stringify({apiCd : apiCd, listType : 'EXCEL'}));
	}

	function fnSetGridColor(gridColorFmt) {
		switch(coloFmt) {
	    case 1:
             return 'style="background-color:#58D3F7"';
             break;
	    case 2:
             return 'style="background-color:#E0F2F7"';
             break;
	    case 3:
             return 'style="background-color:white"';
             break;
	    default:
		}
		return  "";
	}

	//테이블 수정팝업창 실행
	function fnModPop() {
		var purl = "";
		var formData = $("#efrm").serialize(); //폼값을 문자열로 반환

		purl = "/mngr/metaMng/edit_data_pop?" + formData;

	    $.colorbox({
	        iframe:true,
	        href: purl,
	        width:"80%",
	        height:"650px"
	    });
	}

</script>

</head>
<body>

<div id="wrap">
	<div class="container">
		<div id="content">
			<div class="page_info_area">
				<div class="left">
					<div class="title_area">
						<p>수집통합관리</p>
						<a href="#" class="reload_btn" title="새로고침">새로고침</a>
					</div>
				</div>
				<div class="right">
					<div class="btn_wrap">
						<button type="button" class="btn" onclick="fnListExcelDown(); return false;">엑셀다운로드</button>
						<button type="button" class="btn" onclick="fnSearch('1'); return false;" >조회</button>
					</div>
				</div>
			</div> <!-- //page_info_area-->

			<div class="content_area">
				<div class="division20">
					<div class="guide_box">
						<p>
							<b>&#183;</b> 수집된 데이터의 전체리스트를 확인한다.<br>
						</p>
					</div>
					<form name="efrm" id="efrm" method="post">
						<input type="hidden" name="apiCd" id="apiCd" th:value="${params.apiCd}" />
						<input type="hidden" name="logYmd" id="logYmd" />
						<input type="hidden" name="logSn" id="logSn" />
						<input type="hidden" name="dataSn" id="dataSn" />
					</form>

					<!-- 검색 영역 -->
					<form name="frm" id="frm"  method="post" th:action="@{/collector/collect/collect_data_list(apiCd=${params.apiCd})}">
						<input type="hidden" name="pageIndex" id="pageIndex" th:value="${pagingInfo.pageNum}" /><!-- 페이징 처리부분 -->
						<input type="hidden" name="listType" id="listType" value="" />
						<input type="hidden" name="apiCd" id="apiCd" th:value="${params.apiCd}" />
						<input type="hidden" name="tIdx" id="listType" value="tab06" />

						<div class="search_wrap card">
							<table class="search fixed">
								<caption>검색 테이블</caption>
								<colgroup>
									<col style="width: 10%;" />
									<col style="width: 20%;" />
									<col style="width: 20%;" />
									<col style="width: 10%;" />
									<col style="width: 40%;" />
								</colgroup>
								<tbody>
									<tr>
										<th scope="row">항목검색</th>
										<td>
											<select name="colNm" id="colNm" class="in_w95">
												<option value="">항목선택</option>
												<th:block th:each="result : ${outputList}">
													<option th:value="${result.colNm}" th:selected="${result.colNm eq (#maps.containsKey(params, 'colNm') ? params.colNm : '')}">[[${result.apiRcptnNm}]] ([[${result.apiRcptnEngNm}]])</option>
												</th:block>>
		                           			</select>
		                           		</td>
		                           		<td>
		                           			<input type="text" name="colValue" id="colValue" title="항목명" th:value="${#maps.containsKey(params, 'colValue') ? params.colValue : ''}" class="in_w95"/>
										</td>
										<th scope="row">수집기간</th>
										<td>
											<div class="calendar_box">
												<input type="text" name="logBeginDe" id="logBeginDe" th:value="${#maps.containsKey(params, 'logBeginDe') ? params.logBeginDe : ''}" maxlength="10" title="시작일자" autocomplete="off">
											</div> ~
											<div class="calendar_box">
			                         			<input type="text" name="logEndDe" id="logEndDe" th:value="${#maps.containsKey(params, 'logEndDe') ? params.logEndDe : ''}" maxlength="10" title="종료일자" autocomplete="off">
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div> <!-- //table_wrap -->
					</form>
					<!-- //검색 영역 -->

					<div class="card">
						<div style="overflow:auto; min-height:50px;">
							<table class="list" id="apiClctDataTable" style="min-width:100%; width:max-content; word-break:break-all; height:auto;">
								<caption>수집데이터 테이블</caption>
								<colgroup>
									<col style="width:auto;"/>
									<col style="width:auto;"/>
									<col style="width:auto;"/>
									<col style="width:auto;"/>
									<th:block th:each="result : ${outputList}">
										<col style="width:auto;"/>
									</th:block>
								</colgroup>
								<tbody>
									<tr>
										<th scope="col">NO</th>
										<th scope="col">YMD</th>
										<th scope="col">LogNo</th>
										<th scope="col">DataNo</th>
									<th:block th:each="result : ${outputList}">
										<th scope="col">[[${result.apiRcptnNm}]]</th>
									</th:block>
									</tr>
								<th:block th:if="${#lists.size(resultList) != 0}" th:each="result : ${resultList}">
									<tr>
										<td>[[${result.rowNum}]]</td>
										<td>[[${result.logYmd}]]</td>
										<td>[[${result.logSn}]]</td>
										<td>[[${result.dataSn}]]</td>
									<th:block th:each="output : ${outputList}">
										<th:block th:each="data : ${result}">
											<th:block th:if="${#strings.toLowerCase(output.colNm)} eq ${data.key}">
												<td>[[${data.value}]]</td>
											</th:block>
										</th:block>
									</th:block>
									</tr>
								</th:block>
								<th:block th:unless="${#lists.size(resultList) != 0}">
									<tr>
										<td th:colspan="${#lists.size(outputList)+4}">조회된 데이터가 없습니다.</td>
									</tr>
								</th:block>
								</tbody>
							</table>
							<div class="pagination_area marginb25" id="dv_paging"></div>
						</div>
					</div> <!-- //division20  -->
				</div> <!-- //contents_area -->
			</div> <!-- //content -->
		</div> <!-- //container -->
	</div> <!-- //wrap -->
</div>


</body>
</html>