<!--
	Description : (팝업)수집통합관리 > 전문정보 리스트

	Modification Information
	수정일				수정자			수정내용
	-------		-----------------------------------
	2016.01.29		조남훈			최초작성
    2019.11.16		mt1716			오류 수정,
                                                              기능 변경(테이블을 먼저 만드는 것이 아닌, 필드를 추가할 때마다 alter를 통해 추가. 삭제는 해당 데이터 없을 경우만 가능 불가)
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/mainLayout">
<head>
	<th:block th:replace="fragments/head_inc :: head_inc" />

	<style>
		.guide_box {
			margin-bottom: 15px;
		    padding: 12px;
		    border: 1px solid #d6d5c9;
		    background-color: #fefbde;
		}
	</style>

<script type="text/javascript" th:inline="javascript">

//jQuery ...
$(document).ready(function() {

	// 공통 > 수신데이터구분
	new CodeBinder()
	.setCommonCode("APIRCPTNDATATY")
	.setLoadCallbackFunc("fnCodeBinderSelectbox()")
	.load();

	checkKeyupValue();
});

function fnCodeBinderSelectbox() {
	var list = /*[[${resultList}]]*/null;
	var listCnt = /*[[${#lists.size(resultList)}]]*/0;

	if (listCnt) {
		$.each(list, function(index, value) {
			// 공통 > 수신데이터구분
			new CodeBinder().getSelectForLoadedCode("APIRCPTNDATATY", "rcptnDataTyCd_"+value.apiRcptnSn, value.rcptnDataTyCd);
		});
	}

}

//인풋체크박스 대상 정의
function checkKeyupValue() {
	//항목ID 영문자 체크
	$("input:text[name=rcptnEngNm]").keyup(function(e) {
		reg = /[^a-zA-Z_]/gi;
        v = $(this).val();
        if (reg.test(v)) {
            $(this).val(v.replace(reg, ''));
            $(this).focus();
        }
	});

	//데이터길이 숫자 체크
	$("input:text[name=rcptnDataLtValue]").keyup(function(e) {
		reg = /[^0-9]/gi;
        v = $(this).val();
        if (reg.test(v)) {
            $(this).val(v.replace(reg, ''));
            $(this).focus();
        }
	});
}

//등록 실행
function doSave() {

	var frm = document.output_frm;
	//유효성 체크 시작
	var outputTr = $("#outpt_tbody").find("tr").not("#nullTr");

	if ($(outputTr).length == 0) {
		alert("저장할 정보가 없습니다.");
		return false;
	}

	var loop = 0; //전문 수
	var returnBool = false; //true가 되면 리턴

	//항목명 체크
	$(frm.rcptnNm).each(function() {
 		if("" == this.value) {
			alert("항목명은 필수 입력 항목입니다.");
			$(this).focus();
			returnBool = true;
			return false;
		}else {
			loop++;
		}
	});
	if(returnBool) return false;
	/* if(loop == 0) {
		alert("전문정보를 추가한 후 \'저장\' 버튼을 눌러주세요");
		return false;
	} */

	//항목ID 체크
	$(frm.rcptnEngNm).each(function() {
		if("" == this.value) {
			alert("항목ID는 필수 입력 항목입니다.");
			$(this).focus();
			returnBool = true;
			return false;
		}
	});
	if(returnBool) return false;

	//데이터구분 체크
	$(frm.rcptnDataTyCd).each(function() {
		if("" == this.value) {
			alert("데이터구분은 필수 입력 항목입니다.");
			$(this).focus();
			returnBool = true;
			return false;
		}
	});
	if(returnBool) return false;


	if(confirm("입력한 정보를 저장하겠습니까?")){
		$('#frm').attr("target", "_self");

		var _frm = document.frm;
		var _frmArr = $(_frm).serializeArray();

		var jsonObj = fnArrayToJson(_frmArr);

		var outputTrArr = new Array();

		$.each(outputTr, function(index, value) {
			outputTrArr.push(fnArrayToJson($(value).find("input,select").not("input:checked").serializeArray()));
		});

		jsonObj['outputList'] = outputTrArr;

		console.log("==== jsonObj ====");
		console.log(jsonObj);

		$.ajax({
			url: "/json/collectRcptnInfo/saveMetaMngOutputExec"
			, contentType: "application/json"
			, method: "POST"
			, data: JSON.stringify(jsonObj)
			, success: function(data) {
				var resultCd = data.resultCd;
				if (resultCd == "OK") {
					alert("처리가 완료되었습니다.");
					location.href="/collector/collect/collect_rcptn_list?apiCd="+$("#apiCd").val()+"&tIdx="+$("#tIdx").val();
				}
			}
		});

	}

}

//배열(form.serializeArray)을 JSON 으로 변경
function fnArrayToJson(array) {
	var jsonObj = {};

	$.each(array, function(idx, value){
		jsonObj[value.name] = value.value;
	}); // end each

	return jsonObj;
}

//전문정보 라인 추가
function addLine() {
	var rcnt = Number($("#rcnt").val()) + 1; //신규의 경우 추가. (삭제시 사용)
	var rnum = "r"+rcnt;
	var col_new = "";

	col_new += "<tr id=\"outpt_tr_"+rnum+"\">";
	col_new += "	<input type=\"hidden\" name=\"pmode\" value=\"INS\" />";
	col_new += "	<input type=\"hidden\" name=\"apiRcptnSn\" value=\"\" />";
	col_new += "	<td>신규</td>";
	col_new += "	<td><input type=\"text\" name=\"rcptnNm\" class=\"frm_"+rnum+"\" value=\"\" style=\"width:97%;\" maxlength=\"100\" placeholder=\"100자 이내로 입력해주세요\" /></td>";
	col_new += "	<td><input type=\"text\" name=\"rcptnEngNm\" class=\"frm_"+rnum+"\" value=\"\" style=\"width:97%;\" maxlength=\"100\" placeholder=\"100자 이내로 입력해주세요\" /></td>";
	col_new += "	<td>";
	col_new += " <select name=\"rcptnDataTyCd\" id=\"rcptnDataTyCd"+rnum+"\" class=\"frm_"+rnum+"\">";
	col_new += "	 <option value=\"\">선택</option>";
	col_new += " </select>";
	col_new += " </td>";
	col_new += " <td><input type=\"text\" name=\"rcptnDataLtValue\" class=\"frm_"+rnum+"\" style=\"width:97%;\" maxlength=\"10\" /></td>";
	col_new += "	<td>";
	col_new += "  <input type=\"hidden\" name=\"rcptnDataNullYn\" value=\"Y\" />";
	col_new += "  <input type=\"checkbox\" name=\"rcptnDataNullYnCheck\" onchange=\"checkAtFunc(this);\" class=\"frm_"+rnum+"\" checked=\"true\" />";
	col_new += " </td>";
	col_new += " <td><input type=\"text\" name=\"rcptnDataSumryCn\" class=\"frm_"+rnum+"\" style=\"width:97%;\"  maxlength=\"10\" ></td>";
	col_new += "	<td>";
	col_new += "  <input type=\"hidden\" name=\"useYn\" value=\"Y\" />";
	col_new += "  <input type=\"checkbox\" name=\"useYnCheck\" onchange=\"checkAtFunc(this);\" class=\"frm_"+rnum+"\" checked=\"true\" />";
	col_new += " </td>";
	col_new += "	<td><a href=\"#\" onclick=\"btnDel('"+rnum+"', 'quick');\" class=\"btn sm\" style=\"color:black\">삭제</a></td>";
	col_new += "</tr>";

	$("#outpt_tbody").append(col_new);
	$("#rcnt").val(rcnt);

	// 공통 > 수신데이터구분
	new CodeBinder()
	.setCommonCode("APIRCPTNDATATY", "rcptnDataTyCd"+rnum, "select")
	.setLoadCallbackFunc("setFrameHeight()")
	.load();

	checkNullTrOnOff();
	checkKeyupValue();

	$("#outpt_tr_"+rnum).find("[name='rcptnNm']").focus();
}

//전문정보 라인 제거
function btnDel(rnum, cmd) {

	if(cmd == "delete") {
		if(confirm("삭제하시겠습니까?")) {
			$("#pmode_"+rnum).val("DEL");
			$(".frm_"+rnum).attr("readOnly", true); //폼 비활성
			$(".frm_"+rnum).css("background", "#eee"); //색 변경
			$("#outpt_btn_td_"+rnum).html("<a href=\"#\" onclick=\"btnDel("+rnum+", 'cancel');\" class=\"btn sm\" style=\"color:black\">취소</a>"); //버튼변경
		}

	}else if(cmd == "cancel") {
		$("#pmode_"+rnum).val("UPD");
		$(".frm_"+rnum).attr("readOnly", false); //폼 비활성
		$(".frm_"+rnum).css("background", "#fff"); //색 변경
		$("#outpt_btn_td_"+rnum).html("<a href=\"#\" onclick=\"btnDel("+rnum+", 'delete');\" class=\"btn sm\" style=\"color:black\">삭제</a>"); //버튼변경

	}else if(cmd == "quick") { // 새로추가한 라인일 경우
		if(confirm("삭제하시겠습니까?")) {
			$("#outpt_tr_"+rnum).remove(); //그냥삭제

			var rcnt = Number($("#rcnt").val()) -1;
			$("#rcnt").val(rcnt);
			checkNullTrOnOff();
		}
	}

	setFrameHeight();
}

//tr 숨김처리
function checkNullTrOnOff() {
	var rcnt = $("#rcnt").val();
	if(rcnt == 0) {
		$("#nullTr").show();
	}else {
		$("#nullTr").hide();
	}
}

//체크박스 체크여부
function checkAtFunc(chk) {
	if($(chk).is(":checked") == true) {
		if($(chk).attr("name") == "rcptnDataNullYnCheck") {
			$(chk).parents().children("input[name=rcptnDataNullYn]").val("Y");
		}else if($(chk).attr("name") == "useYnCheck") {
			$(chk).parents().children("input[name=useYn]").val("Y");
		}
	}else {
		if($(chk).attr("name") == "rcptnDataNullYnCheck") {
			$(chk).parents().children("input[name=rcptnDataNullYn]").val("N");
		}else if($(chk).attr("name") == "useYnCheck") {
			$(chk).parents().children("input[name=useYn]").val("N");
		}
	}
}

//엑셀등록
function doExcelSave() {
	if(!checkNullNAlert("quesImageFileIemSn", "선택된 파일이 없습니다.")) return;
	if(confirm("입력한 엑셀을 저장 하시겠습니까?")){
		$('#excelFrm').submit();
	}
}

//전문(엑셀) 다운로드
/*
function fnListExcelDown() {
	var loop = 0;
	$(frm.rcptnNm).each(function() {
		loop++;
	});
	if(loop == 0) {
		alert("전문정보를 추가한 후 \'전문다운로드\' 버튼을 눌러주세요");
	}else {
		$('#listType').val("EXCEL");
		$('#frmDown').attr("target", "com_excel_frame");
		$('#frmDown').submit();
	}
}
*/

function fnGoMetaList() {
	location.href='/collector/collect/collect_info_list';
}
</script>

</head>
<body>

<div id="wrap">
	<div class="container">
		<div id="content">
			<div class="page_info_area">
				<div class="left">
					<div class="title_area">
						<p>수집통합관리</p>
						<a href="#" class="reload_btn" title="새로고침">새로고침</a>
					</div>
				</div>
				<div class="right">
					<div class="btn_wrap">
						<button type="button" class="btn" onclick="fnGoMetaList();">목록</button>
					</div>
				</div>
			</div><!-- page_info_area -->

			<div class="content_area" style="overflow:auto;">
				<th:block th:replace="collector/inc/metamng_tab_inc :: metamng_tab_inc" />

				<div class="division20">
					<form name="frm" id="frm"  method="post">
						<input type="hidden" name="rcnt" id="rcnt" value="0" />
						<input type="hidden" name="apiCd" id="apiCd" th:value="${params.apiCd}"/>
						<input type="hidden" name="tIdx" id="tIdx" th:value="${params.tIdx}" />
					</form>

					<div class="guide_box margint10">
						<p>
							<b>&#183;</b> ‘항목명’ : 수집할 전문의 항목명을 입력한다.<br>
							<b>&#183;</b> ‘항목ID’ : 영문과 '_'로만 입력한다.<br>
							<b>&#183;</b> ‘데이터구분’ : 수집할 데이터의 형태를 설정한다.<br>
							<b>&#183;</b> ‘데이터길이’ : 수집할 데이터의 길이를 결정한다.<br>
							<b>&#183;</b> ‘공백허용’ : 공백이 있어도 수집된다. 허용하지 않으면 공백이 있는 경우 수집하지 않는다.<br>
							<b>&#183;</b> ‘입력허용범위’ : 데이터 수집 최대/최소값을 설정한다.<br>
						</p>
					</div>

					<div class="btn_wrap">
						<div class="right marginb10">
							<button class="btn" type="button" onclick="addLine(); return false;">행추가</button>
						</div>
					</div>

					<div class="card" style="min-height:100px;">
						<form id="output_frm" name="output_frm">
							<table class="list fixed" id="metaOutputTable">
								<caption>테이블</caption>
								<colgroup>
									<col style="width: 5%;" />
									<col style="width: 11%;" />
									<col style="width: 11%;" />
									<col style="width: 11%;" />
									<col style="width: 11%;" />
									<col style="width: 5%;" />
									<col style="width: 11%;" />
									<col style="width: 5%;" />
									<col style="width: 7%;" />
								</colgroup>
								<thead>
									<tr>
										<th>번호</th>
										<th><span class="star">*</span> 항목명</th>
										<th><span class="star">*</span> 항목ID</th>
										<th><span class="star">*</span> 데이터구분</th>
										<th>데이터길이</th>
										<th>공백허용</th>
										<th>입력허용범위</th>
										<th>사용여부</th>
										<th></th>
									</tr>
								</thead>
								<tbody id="outpt_tbody">
									<th:block th:if="${#lists.size(resultList) != 0}" th:each="result : ${resultList}">
										<tr th:id="|outpt_tr_${result.apiRcptnSn}|">
											<input type="hidden" name="pmode" th:id="|pmode_${result.apiRcptnSn}|" value="UPD" />
											<input type="hidden" name="apiRcptnSn" th:value="${result.apiRcptnSn}" />
											<td>[[${result.apiRcptnSn}]]</td>
											<td><input type="text" name="rcptnNm" th:class="|frm_${result.apiRcptnSn}|" th:value="${result.rcptnNm}" style="width:97%;" /></td>
											<td><input type="text" name="rcptnEngNm" th:class="|frm_${result.apiRcptnSn}|" style="width:97%;" th:value="${result.rcptnEngNm}" /></td>
											<td>
												<select name="rcptnDataTyCd" th:id="|rcptnDataTyCd_${result.apiRcptnSn}|" th:class="|frm_${result.apiRcptnSn}|" />
													<option value="">선택</option>
				                          		</select>
											</td>
											<td><input type="text" name="rcptnDataLtValue" th:class="|frm_${result.apiRcptnSn}|" style="width:97%;" th:value="${result.rcptnDataLtValue}" /></td>
											<td>
												<input type="hidden" name="rcptnDataNullYn" th:value="${result.rcptnDataNullYn}" />
												<input type="checkbox" name="rcptnDataNullYnCheck" onchange="checkAtFunc(this);" th:class="|frm_{result.apiRcptnSn}|" th:checked="${result.rcptnDataNullYn eq 'Y'}" />
											</td>
											<td><input type="text" name="rcptnDataSumryCn" th:class="|frm_${result.apiRcptnSn}|" style="width:97%;" th:value="${result.rcptnDataSumryCn}" /></td>
											<td>
												<input type="hidden" name="useYn" th:value="${result.useYn}" />
												<input type="checkbox" name="useYnCheck" onchange="checkAtFunc(this);" th:class="|frm_${result.apiRcptnSn}|" th:checked="${result.useYn eq 'Y'}" />
											</td>
											<td th:id="|outpt_btn_td_${result.apiRcptnSn}|" ><a href="#" th:onclick="btnDel([[${result.apiRcptnSn}]], 'delete');" class="btn sm" style="color:black">삭제</a></td>
										</tr>
									</th:block>
									<th:block th:unless="${#lists.size(resultList) != 0}">
										<tr id="nullTr">
											<td colspan="9">조회된 데이터가 없습니다.</td>
										</tr>
									</th:block>

								</tbody>
							</table>
						</form>
					</div> <!-- //table_wrap -->

					<div class="btn_wrap right">
						<button type="button" class="btn" onclick="doSave();">저장</button>
					</div>
					<!-- <form name="excelFrm" id="excelFrm"  method="post" action="/mngr/metaMng/metaMngOutputImportExec" enctype="multipart/form-data">
						<input type="hidden" name="apiCd" id="apiCd" th:value="${params.apiCd}" />
						<input type="hidden" name="tIdx" id="tIdx" th:value="${params.tIdx}" />

						<div class="tbl_top">
							<p class="tit v2">엑셀 일괄등록</p>
						</div>

						<div class="guide_box">
							<p>
								<b>&#183;</b> 엑셀 양식을 다운로드 받아 전문정보를 한번에 업로드할 수 있다.<br>
								<b>&#183;</b> 필수값 누락시 항목명과 영문항목명은 'NAN', 데이터타입은 '문자형' 으로 대체등록 된다.<br>
							</p>
						</div>

						<div class="btn_wrap marginb10">
							<div class="right">
								<a href="/mngr/sample/metamng_output_sample.xls" class="btn">양식다운로드</a>
								<button type="button" class="btn" onclick="doExcelSave();">저장</button>
							</div>
						</div>

						<div class="view_wrap" style="min-height:50px;">
							<table class="view">
								<caption>테이블</caption>
								<colgroup>
									<col style="width: 15%;" />
									<col style="width: 85%;" />
								</colgroup>
								<tbody>
									<tr>
										<th scope="row">파일선택</th>
										<td>&nbsp;&nbsp;&nbsp;<input type="file" name="quesImageFileIemSn" id="quesImageFileIemSn" /></td>
									</tr>
								</tbody>
							</table>
						</div> //table_wrap
					</form> -->

				</div> <!-- //division20 -->
			</div> <!-- //content_area -->
		</div> <!-- //content -->
	</div> <!-- //container -->
</div>

</body>
</html>
