<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/mainLayout">

<head>
	<th:block th:replace="fragments/head_inc :: head_inc" />
<style type="text/css">
#tb_data_table th {
	padding:6px
}
</style>
</head>
<body id="body">
	<div id="wrap">
		<div class="container">
			<div id="content">
                <div class="page_info_area">
                	<div class="left">
                		<div class="location_area">
                			<a href="#" class="bookmark active" title="즐겨찾기"></a>
                			<ul>
                                <li>홈</li>
                                <li>학습모듈관리</li>
								<li>학습모듈관리 목록</li>
                            </ul>
                		</div>
                		<div class="title_area">
                            <p>학습모듈관리 목록</p>
                            <a href="#" class="reload_btn" title="새로고침">새로고침</a>
                            <a href="#" class="help_btn" title="도움말">도움말</a>
                        </div>
                	</div>
                	<div class="right">
                        <div class="button_area">
                        	<button class="btn" title="조회" onclick="fnSearch(); return false;">조회</button>
                        </div>
                    </div>
                </div>
                
                <div class="content_area">
                	<div class="division20">
                		<div class="search_wrap">
                			<table class="search fixed">
                				<colgroup>
	                            	<col style="width:100px;" />
	                                <col style="width:auto;" />
	                                <col style="width:60px;" />
	                                <col style="width:100px" />
	                                <col style="width:auto;" />
	                                <col style="width:60px;" />
	                                <col style="width:100px" />
	                                <col style="width:auto;" />
	                            </colgroup>
	                            <tbody>
	                            	<tr>
	                            		<th scope="row"><label for="moduleNm">모듈명</label></th>
	                            		<td><input type="text" class="in_w100" id="moduleNm" name="moduleNm" /></td>
	                            		<td></td>
	                            		<th scope="row"><label for="moduleClassNm">모듈클래스명</label></th>
	                            		<td><input type="text" class="in_w100" id="moduleClassNm" name="moduleClassNm" /></td>
	                            		<td></td>
	                            		<th scope="row"><label for="paramtrNm">파라미터명</label></th>
	                            		<td><input type="text" class="in_w100" id="paramtrNm" name="paramtrNm" /></td>
	                            	</tr>
	                            </tbody>
                			</table>
                		</div>
                	</div>
                	
                	<div class="division20">
                		<div class="table_area marginb25">
                			<table class="list fixed" id="tb_data_table">
                				<colgroup>
                					<col width="60px;" />
                					<col width="120px;" />
                					<col width="auto;" />
                					<col width="220px;" />
                					<col width="220px;" />
                					<col width="200px;" />
                					<col width="100px;" />
                					<col width="60px;" />
                					<col width="60px;" />
                					<col width="auto;" />
                				</colgroup>
                				<thead>
									<tr>
										<th>순번</th>
										<th>모듈타입</th>
										<th>모듈명</th>
										<th>모듈패키지명</th>
										<th>모듈클래스명</th>
										<th>파라미터명</th>
										<th>디폴트값</th>
										<th>필수<br>여부</th>
										<th>사용<br>여부</th>
										<th>허용범위설명</th>
									</tr>
								</thead>
								<tbody>
									<tr class="fwk_templete_row">
										<td>#{FWK_TR_NO}</td>
										<td>#{moduleTyCdNm}</td>
										<td class="alignl"><a href="#" onclick="fnOpenModuleDetail('M', '#{moduleSn}'); return false;">#{moduleNm}</a></td>
										<td class="alignl">#{modulePckageNm}</td>
										<td class="alignl">#{moduleClassNm}</td>
										<td class="alignl">#{paramtrNm}</td>
										<td class="alignl">#{dfltValue}</td>
										<td>#{esntlParamtrYn}</td>
										<td>#{useYn}</td>
										<td class="alignl">#{permScopeDc}</td>
									</tr>
								</tbody>
                			</table>
                		</div>
                	</div>
                	
                	<div class="pagination_area marginb25" id="dv_paging"></div>
                	
                </div>
                
            </div>
        </div>
    </div>
    <div class="popup layer" id="modal_mdl">
	</div>
    
<script type="text/javascript">


$(document).ready(function() {

	fnSearch();
	
	$("#moduleNm, #moduleClassNm, #paramtrNm").on("keyup", function(event) {
		if(event.keyCode == 13) 
			fnSearch();
	});
	
});


function fnSearch(pageNum) {
	if(!pageNum) 
		pageNum = 1;
	
	$.ajax({
		url: "/json/learningModuleInfo/getLearningModuleParamSearchList"
		, method : "POST"
		, contentType: 'application/json'
		, data: JSON.stringify({
			pageNum: pageNum
			, moduleNm: $("#moduleNm").val()
			, moduleClassNm: $("#moduleClassNm").val()
			, paramtrNm: $("#paramtrNm").val()
		})
		, success: function(data){
			
			fnBindTableValue("tb_data_table", data.paramList, data.pagingInfo);
			
			fnSetPaging("dv_paging", data.pagingInfo);
			
			
		}
	});
	 
} 



function fnOpenModuleDetail(pmode, moduleSn) {
	//window.open('/open/mlms/learning_modl/learning_modl_form?moduleSn=' + moduleSn, '_blank', 'width=1200, height=600, resize=yes');
	show_loading_bar_flag = false;
	
	if(!moduleSn)
		var moduleSn = "";
	$("#modal_mdl").empty();
	$.ajax({
		url: "/view/learningModuleInfo/viewLearningModuleInfo?pmode=" + pmode + "&moduleSn=" + moduleSn
		, method : "POST"
		, success: function(data){
			
			$("#modal_mdl").empty();
			$("#modal_mdl").html(data);
			
			fnShowModal("modal_mdl");
		}
	});
	
	show_loading_bar_flag = true;
}



</script>
</body>
</html>		 