<!DOCTYPE HTML>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="fragments/head_inc :: head_inc" />
</head>
<body>

    <!-- wrap -->
    <div id="wrap">


 
        <!-- content -->
        <div id="content">

			<div class="location">
	            <h2 class="title">DBMS 표준분석 <button class="btn ic-reset"></button> 
					
				</h2>

				<div class="top-btn-area">
					<button class="btn w75">점검</button>
					<button class="btn w165 skyblue">단어/용어/도메인 조회</button>
				</div>
					
            	<!--
                <ul>
                    <li class="home">home</li>
                    <li>PROFILING</li>
                    <li><label>프로파일링 분석</label></li>
                </ul>
				-->
            </div>

            <div class="container">
                <div class="card fd-r">
                    <div class="compliance-rate">
                        <p class="tit">준수율</p>
                        <p class="value">32.81%</p>
                    </div>
                    <div class="fx1">
                        <div class="search-wrap">
                            <span>DBMS</span>
                            <input type="text" name="" id="" class="fill">
                            <span>DBMS IP</span>
                            <input type="text" name="" id="" class="fill">
                            <span>DBMS Port</span>
                            <input type="text" name="" id="" class="fill">
                        </div>
                        <div class="search-wrap mt15">
                            <span>접속계정</span>
                            <input type="text" name="" id="" class="fill">
                            <span>Database명</span>
                            <input type="text" name="" id="" class="fill">
                            <span>표준세트</span>
                            <input type="text" name="" id="" class="fill">
                        </div>
                    </div>
                </div>
                <div class="card fd-r">
                    <div class="search-wrap fx1">
                        <span class="w120">제외테이블</span>
                        <input type="text" name="" id="" class="line">
                    </div>
                </div>
                <div class="row">
                    <div class="col card">
                        <div class="tab-area box">
                            <div class="tab-btn-area">
                                <a href="javascript:;" class="tab-btn on">테이블 컬럼조회 </a>
                                <a href="javascript:;" class="tab-btn">비표준 항목 조회</a>
                                <a href="javascript:;" class="tab-btn">테이블 컬럼 조회</a>
                            </div>
                            <div class="tab-cont-area">
                                <div class="tab-cont">
                                    <div class="sort-wrap">
                                        <div class="sort-l">
                                            <label for=""><input type="radio" name="" id=""><span>전체 (512건)</span></label>
                                            <label for=""><input type="radio" name="" id=""><span>표준 (168건)</span></label>
                                            <label for=""><input type="radio" name="" id=""><span>비표준 (344건)</span></label>
                                        </div>
                                        <div class="sort-r">
                                            <label for=""><input type="radio" name="" id=""><span>전체</span></label>
                                            <label for=""><input type="radio" name="" id=""><span class="tag yellow">물리명</span></label>
                                            <label for=""><input type="radio" name="" id=""><span class="tag pink">논리명</span></label>
                                            <label for=""><input type="radio" name="" id=""><span class="tag mint">단어없음</span></label>
                                            <label for=""><input type="radio" name="" id=""><span class="tag blue">논리명없음</span></label>
                                            <label for=""><input type="radio" name="" id=""><span class="tag green">도메인타입없음</span></label>
                                            <label for=""><input type="radio" name="" id=""><span class="tag purple">용어불일치</span></label>
                                            <input type="text" name="" id="" placeholder="검색어를 입력 후 엔터" class="line">
                                        </div>
                                    </div>
                                    <div class="tbl-wrap list mt15">
                                        <table>
                                            <colgroup>
                                                <col style="width: 10%;">
                                                <col style="width: 5.5%;">
                                                <col style="width: 15%;">
                                                <col style="width: 15%;">
                                                <col style="width: 15%;">
                                                <col style="width: 9.5%;">
                                                <col style="width: 30%;">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th>순번</th>
                                                    <th>표준여부</th>
                                                    <th>테이블명</th>
                                                    <th>컬럼명(물리명)</th>
                                                    <th>컬럼명(물리명)</th>
                                                    <th>데이터타입</th>
                                                    <th>비표준항목</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>N</td>
                                                    <td class="ta-l">CMMN_CODE</td>
                                                    <td class="ta-l txt-red">GROUP_CMMN_CD</td>
                                                    <td class="ta-l txt-red">그룹_공통_코드</td>
                                                    <td class="ta-l">VARCHAR(10)</td>
                                                    <td class="ta-l">
                                                        <div class="tag-wrap">
                                                            <span class="tag yellow">GROUP_CMMN_CD 없음</span><span class="tag pink">그룹_공통_코드 없음</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>N</td>
                                                    <td class="ta-l">CMMN_CODE</td>
                                                    <td class="ta-l txt-red">CMMN_CD</td>
                                                    <td class="ta-l txt-red">공통_코드</td>
                                                    <td class="ta-l">VARCHAR(10)</td>
                                                    <td class="ta-l">
                                                        <div class="tag-wrap">
                                                            <span class="tag yellow">GROUP_CMMN_CD 없음</span><span class="tag pink">그룹_공통_코드 없음</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>N</td>
                                                    <td class="ta-l">CMMN_CODE</td>
                                                    <td class="ta-l">DEL_YN</td>
                                                    <td class="ta-l">삭제_여부</td>
                                                    <td class="ta-l">VARCHAR(200)</td>
                                                    <td class="ta-l">
                                                        <div class="tag-wrap">
                                                            <span class="tag yellow">GROUP_CMMN_CD 없음</span><span class="tag pink">그룹_공통_코드 없음</span><span class="tag green">INT 없음</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>N</td>
                                                    <td class="ta-l">CMMN_CODE</td>
                                                    <td class="ta-l">DEL_YN</td>
                                                    <td class="ta-l">삭제_여부</td>
                                                    <td class="ta-l">\INT</td>
                                                    <td class="ta-l"></td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>Y</td>
                                                    <td class="ta-l">CMMN_CODE</td>
                                                    <td class="ta-l">DEL_YN</td>
                                                    <td class="ta-l">삭제_여부</td>
                                                    <td class="ta-l">CHAR</td>
                                                    <td class="ta-l"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-cont">
                                    2
                                </div>
                                <div class="tab-cont">
                                    3
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// content -->

  
    </div>
    <!-- // wrap -->
</body>
</html>