<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="authMngUser">
 	
 	<sql id="where_selectUserList">
		<!-- AND T3.USE_YN = 'Y' -->
		<if test="useYn != '' and useYn != null ">
		AND T1.USE_YN = #{useYn}
		</if>
		<choose>
			<when test = "APP_DBMS_TYPE == 'MARIADB' or APP_DBMS_TYPE == 'MYSQL'">
				<if test="selectSearch != '' and selectSearch != null ">
					<if test="selectSearch == 'userId'">
					AND T1.USER_ID LIKE CONCAT('%', #{searchText}, '%')
					</if>
					<if test="selectSearch == 'userNm'">
					AND T1.USER_NM LIKE CONCAT('%', #{searchText}, '%')
					</if>  
					<if test="selectSearch == 'selectSearch'">
					AND T1.REG_USER_ID like CONCAT('%', #{searchText}, '%')
					</if>
				</if>
			</when>
			<otherwise>
				<if test="selectSearch != '' and selectSearch != null ">
					<if test="selectSearch == 'userId'">
					AND T1.USER_ID LIKE '%'|| #{searchText} || '%'
					</if>
					<if test="selectSearch == 'userNm'">
					AND T1.USER_NM LIKE '%'|| #{searchText} || '%'
					</if>  
					<if test="selectSearch == 'selectSearch'">
					AND T1.REG_USER_ID LIKE '%'|| #{searchText} || '%'
					</if>
				</if>
			</otherwise>
		</choose>
		
	</sql>
	
	<!-- dbms별 공통 insert query -->
	<sql id="common_insert_query">
		<if test="APP_DBMS_TYPE != '' and APP_DBMS_TYPE != null ">
			<choose>
				<when test = "APP_DBMS_TYPE == 'MARIADB' or APP_DBMS_TYPE == 'MYSQL'">
					, #{regUserId}
					, NOW()
					, #{regUserId}
					, NOW()
				</when>
				<otherwise>
					, #{regUserId}
					, SYSDATE
					, #{regUserId}
					, SYSDATE
				</otherwise>
			</choose>	
		</if>
	</sql>
	
	<!-- dbms별 공통 update query -->
	<sql id="common_update_query">
		<if test="APP_DBMS_TYPE != '' and APP_DBMS_TYPE != null ">
			<choose>
				<when test = "APP_DBMS_TYPE == 'MARIADB' or APP_DBMS_TYPE == 'MYSQL'">
					, CHG_USER_ID = #{regUserId}
					, CHG_DT = NOW()
				</when>
				<otherwise>
					, CHG_USER_ID = #{regUserId}
					, CHG_DT = SYSDATE
				</otherwise>
			</choose>
		</if>
	</sql>
 
	<select id="selectUserListCnt" resultType="Integer" parameterType="map">
		SELECT 
			COUNT(1) AS CNT
		FROM 
			CMMN_USER T1 
		WHERE 1=1
		<include refid="where_selectUserList" />
	</select>
	
	<select id="selectUserInfo" resultType="sangsMap" parameterType="map">
		SELECT 
			T.*
		FROM (
			SELECT 
				ROW_NUMBER() OVER(ORDER BY T1.REG_USER_ID DESC) AS SORT_NO
				, T1.USER_ID
				, T2.USER_PASSWORD 
				, T1.USER_NM
				, T1.USE_YN 
				, T1.REG_USER_ID
				<choose>
					<when test = "APP_DBMS_TYPE == 'MARIADB' or APP_DBMS_TYPE == 'MYSQL'">
						, IFNULL(T2.LGN_FAILR_CNT, 0) AS LGN_FAILR_CNT
						, DATE_FORMAT(T2.PASSWORD_EXPRY_DT, '%Y-%m-%d %H:%i:%s') AS PASSWORD_EXPRY_DT
						, DATE_FORMAT(T2.LAST_LGN_DT, '%Y-%m-%d %H:%i:%s') AS LAST_LGN_DT
						, DATE_FORMAT(T1.REG_DT, '%Y-%m-%d %H:%i:%s') AS REG_DT
						, DATE_FORMAT(T1.CHG_DT, '%Y-%m-%d %H:%i:%s') AS CHG_DT
					</when>
					<otherwise>
						, NVL(T2.LGN_FAILR_CNT, 0) AS LGN_FAILR_CNT
						, TO_CHAR(T2.PASSWORD_EXPRY_DT, 'YYYY-MM-DD HH24:MI:SS') AS PASSWORD_EXPRY_DT
						, TO_CHAR(T2.LAST_LGN_DT, 'YYYY-MM-DD HH24:MI:SS') AS LAST_LGN_DT
						, TO_CHAR(T1.REG_DT, 'YYYY-MM-DD HH24:MI:SS') AS REG_DT
						, TO_CHAR(T1.CHG_DT, 'YYYY-MM-DD HH24:MI:SS') AS CHG_DT
					</otherwise>
				</choose>
			FROM 
				CMMN_USER T1 
				LEFT OUTER JOIN CMMN_USER_LOGIN T2 ON T1.USER_ID = T2.USER_ID
			WHERE 1=1
				AND T1.USER_ID = #{userId}
		) T
	</select>
	
	<select id="selectUserInfoAttrbList" resultType="sangsMap" parameterType="map">
		SELECT 
			USER_ATTRB_SN, ATTRB_ID, ATTRB_NM, ATTRB_TY_CD, SORT_SN
		FROM CMMN_USER_ATTRB
		WHERE 1=1
			AND USE_YN = 'Y'
		ORDER BY SORT_SN
	</select>
	
	<select id="selectUserInfoAttrbDtlList" resultType="sangsMap" parameterType="map">
		SELECT 
			USER_ATTRB_SN, ATTRB_DTL_CD, ATTRB_DTL_NM, SORT_SN 
		FROM CMMN_USER_ATTRB_DTL
		WHERE 1=1
			AND USE_YN = 'Y'
		ORDER BY SORT_SN
	</select>
	
	<select id="selectUserInfoAttrbDataList" resultType="sangsMap" parameterType="map">
		SELECT 
			USER_ID, USER_ATTRB_SN, USER_INFO_VALUE
		FROM CMMN_USER_INFO 
		WHERE 1=1
			AND USER_ID = #{userId}
	</select>
	
	<select id="selectUserList" resultType="sangsMap" parameterType="map">
		SELECT 
			T.*
		FROM (
			SELECT 
				T1.USER_ID
				, T1.USER_NM
				, T1.USE_YN 
				, T1.REG_USER_ID
				<choose>
					<when test = "APP_DBMS_TYPE == 'MARIADB' or APP_DBMS_TYPE == 'MYSQL'">
						, DATE_FORMAT(T1.REG_DT, '%Y-%m-%d %H:%i:%s') AS REG_DT
						, DATE_FORMAT(T1.CHG_DT, '%Y-%m-%d %H:%i:%s') AS CHG_DT
						, ROW_NUMBER() OVER(ORDER BY DATE_FORMAT(T1.REG_DT, '%Y-%m-%d %H:%i:%s') DESC) AS RN
					</when>
					<otherwise>
						, TO_CHAR(T1.REG_DT, 'YYYY-MM-DD HH24:MI:SS') AS REG_DT
						, TO_CHAR(T1.CHG_DT, 'YYYY-MM-DD HH24:MI:SS') AS CHG_DT
						, ROW_NUMBER() OVER(ORDER BY TO_CHAR(T1.REG_DT, 'YYYY-MM-DD HH24:MI:SS') DESC) AS RN
					</otherwise>
				</choose>
			FROM 
				CMMN_USER T1 
			WHERE 1=1
			<include refid="where_selectUserList" />
			ORDER BY RN DESC
		) T
		WHERE 1=1
			AND RN BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<sql id="where_selectUserAttrbList">
		<!-- AND T1.USE_YN = 'Y' -->
		AND T1.DEL_YN = 'N'
		
		<choose>
			<when test = "APP_DBMS_TYPE == 'MARIADB' or APP_DBMS_TYPE == 'MYSQL'">
				<if test="selectSearch != '' and selectSearch != null ">
					<if test="selectSearch == 'attrbId'">
					AND T1.ATTRB_ID LIKE CONCAT('%', #{searchText}, '%')
					</if>
					<if test="selectSearch == 'attrbNm'">
					AND T1.ATTRB_NM LIKE CONCAT('%', #{searchText}, '%')
					</if>  
					<if test="selectSearch == 'attrbTyCd'">
					AND T1.ATTRB_TY_CD LIKE CONCAT('%', #{searchText}, '%')
					</if>
					<if test="searchText == 'regUserId'">
					AND T1.REG_USER_ID LIKE CONCAT('%', #{searchText}, '%')
					</if>
				</if>
			</when>
			<otherwise>
				<if test="selectSearch != '' and selectSearch != null ">
					<if test="selectSearch == 'attrbId'">
					AND T1.ATTRB_ID LIKE '%'|| #{searchText} ||'%'
					</if>
					<if test="selectSearch == 'attrbNm'">
					AND T1.ATTRB_NM LIKE '%'|| #{searchText} ||'%'
					</if>  
					<if test="selectSearch == 'attrbTyCd'">
					AND T1.ATTRB_TY_CD LIKE '%'|| #{searchText} ||'%'
					</if>
					<if test="searchText == 'regUserId'">
					AND T1.REG_USER_ID LIKE '%'|| #{searchText} ||'%'
					</if>
				</if>
			</otherwise>
		</choose>
		
		
		
	</sql>
	
	<select id="selectUserAttrbDtlList" resultType="sangsMap" parameterType="map">
		SELECT 
			ROW_NUMBER () OVER (ORDER BY SORT_SN) AS SORT_NO
			, USER_ATTRB_SN, ATTRB_DTL_CD, ATTRB_DTL_NM, SORT_SN, USE_YN
		FROM CMMN_USER_ATTRB_DTL
		WHERE 1=1
			<if test="userAttrbSn != '' and userAttrbSn != null ">
			AND USER_ATTRB_SN = #{userAttrbSn}
			</if>
			AND USE_YN  = 'Y'
			AND DEL_YN = 'N'
		ORDER BY SORT_SN
	</select>
	
	<select id="selectUserAttrbListCnt" resultType="Integer" parameterType="map">
		SELECT 
			COUNT(1) AS CNT
		FROM 
			CMMN_USER_ATTRB T1
		WHERE 1=1
		<include refid="where_selectUserAttrbList" />
	</select>
	
	<select id="selectUserAttrbList" resultType="sangsMap" parameterType="map">
		SELECT 
			T.*
		FROM (
			SELECT
				G.*
			FROM (
				SELECT
					T1.USER_ATTRB_SN
					, T1.ATTRB_ID 
					, T1.ATTRB_NM
					, T1.ATTRB_TY_CD
					, T1.SORT_SN
					, T1.USE_YN
					, T1.DEL_YN
					, T1.REG_USER_ID
					, T1.CHG_USER_ID 
					<choose>
						<when test = "APP_DBMS_TYPE == 'MARIADB' or APP_DBMS_TYPE == 'MYSQL'">
							, DATE_FORMAT(T1.REG_DT, '%Y-%m-%d %H:%i:%s') AS REG_DT
							, DATE_FORMAT(T1.CHG_DT, '%Y-%m-%d %H:%i:%s') AS CHG_DT
							, ROW_NUMBER() OVER(ORDER BY DATE_FORMAT(T1.REG_DT, '%Y-%m-%d %H:%i:%s') DESC) AS RN
						</when>
						<otherwise>
							, TO_CHAR(T1.REG_DT, 'YYYY-MM-DD HH24:MI:SS') AS REG_DT
							, TO_CHAR(T1.CHG_DT, 'YYYY-MM-DD HH24:MI:SS') AS CHG_DT
							, ROW_NUMBER() OVER(ORDER BY TO_CHAR(T1.REG_DT, 'YYYY-MM-DD HH24:MI:SS') DESC) AS RN
						</otherwise>
					</choose>
					, ROW_NUMBER() OVER(ORDER BY T1.REG_DT DESC) AS SORT_NO
				FROM 
					CMMN_USER_ATTRB T1
				WHERE 1=1
				<include refid="where_selectUserAttrbList" />
			) G
			ORDER BY G.SORT_NO
		) T
		WHERE 1=1
			AND RN BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<select id="selectUserAttrbDtlCodeCnt" resultType="Integer" parameterType="map">
		SELECT 
			COUNT(1) AS CNT
		FROM CMMN_USER_ATTRB_DTL
		WHERE 1=1
<!-- 
			AND USE_YN  = 'Y'
			AND DEL_YN = 'N'
-->
			AND USER_ATTRB_SN = #{userAttrbSn}
			AND ATTRB_DTL_CD = #{attrbDtlCd}
	</select>
	
	<select id="selectNextUserAttrbSn" resultType="Integer" parameterType="map">
		SELECT 
		<choose>
			<when test = "APP_DBMS_TYPE == 'MARIADB' or APP_DBMS_TYPE == 'MYSQL'">
				IFNULL(MAX(USER_ATTRB_SN), 0) + 1
			</when>
			<otherwise>
				NVL(MAX(USER_ATTRB_SN), 0) + 1
			</otherwise>
		</choose>
		FROM CMMN_USER_ATTRB
	</select>
	
	<insert id="insertUserAttrbInfo" parameterType="map">
		INSERT INTO CMMN_USER_ATTRB (
			USER_ATTRB_SN, ATTRB_ID, ATTRB_NM, ATTRB_TY_CD, SORT_SN, USE_YN, DEL_YN, REG_USER_ID, REG_DT, CHG_USER_ID, CHG_DT
		) VALUES (
			#{userAttrbSn}
			, #{modalAttrbId}
			, #{modalAttrbNm}
			, #{modalAttrbTyCd}
			, #{modalSortSn}
			, #{modalUseYn}
			, 'N'
			<include refid="common_insert_query" />
		)
	</insert>
	
	<update id="updateUserAttrbInfo" parameterType="map">
		UPDATE CMMN_USER_ATTRB SET 
			ATTRB_ID = #{modalAttrbId}
			, ATTRB_NM = #{modalAttrbNm}
			, ATTRB_TY_CD = #{modalAttrbTyCd}
			, SORT_SN = #{modalSortSn}
			, USE_YN = #{modalUseYn}
			<include refid="common_update_query" />
		WHERE 1=1
			AND USER_ATTRB_SN = #{userAttrbSn}
	</update>
	
	<update id="deleteUserAttrbInfo" parameterType="map">
		UPDATE CMMN_USER_ATTRB SET 
			DEL_YN = 'Y'
			<include refid="common_update_query" />
		WHERE 1=1
			AND USER_ATTRB_SN = #{modalSortSn}
	</update>
	
	<insert id="insertUserAttrbDtlInfo" parameterType="map">
		INSERT INTO CMMN_USER_ATTRB_DTL (
			USER_ATTRB_SN, ATTRB_DTL_CD, ATTRB_DTL_NM, SORT_SN, USE_YN, DEL_YN, REG_USER_ID, REG_DT, CHG_USER_ID, CHG_DT
		) VALUES (
			#{userAttrbSn}
			, #{attrbDtlCd}
			, #{attrbDtlNm}
			, #{sortSn}
			, #{useYn}
			, 'N'
			<include refid="common_insert_query" />
		)
	</insert>
	
	<update id="updateUserAttrbDtlInfo" parameterType="map">
		UPDATE CMMN_USER_ATTRB_DTL SET 
			ATTRB_DTL_NM = #{attrbDtlNm}
			, SORT_SN = #{sortSn}
			, USE_YN = #{useYn}
			<include refid="common_update_query" />
		WHERE 1=1
			AND USER_ATTRB_SN = #{userAttrbSn}
			AND ATTRB_DTL_CD = #{attrbDtlCd}
	</update>
	
	<update id="deleteUserAttrbDtlInfo" parameterType="map">
		UPDATE CMMN_USER_ATTRB_DTL SET 
			DEL_YN = 'Y'
			<include refid="common_update_query" />
		WHERE 1=1
			AND USER_ATTRB_SN = #{userAttrbSn}
			AND ATTRB_DTL_CD = #{attrbDtlCd}
	</update>
	
	<insert id="insertUserLoginInfo" parameterType="map">
		INSERT INTO CMMN_USER_LOGIN (
			USER_ID, USER_PASSWORD, PASSWORD_EXPRY_DT, LGN_FAILR_CNT
		) VALUES (
			#{userId}
			, #{encryptPass}
			<choose>
				<when test = "APP_DBMS_TYPE == 'MARIADB' or APP_DBMS_TYPE == 'MYSQL' or APP_DBMS_TYPE == 'CUBRID'">
				, DATE_ADD(NOW(),INTERVAL 1 YEAR)
				</when>
				<otherwise>
				, SYSDATE + (INTERVAL '1' YEAR)
				</otherwise>
			</choose>
			, 0
		)
	</insert>
	
	<update id="updateUserLoginInfo" parameterType="map">
		UPDATE CMMN_USER_LOGIN SET 
			USER_PASSWORD = #{encryptPass}
			<choose>
				<when test = "APP_DBMS_TYPE == 'MARIADB' or APP_DBMS_TYPE == 'MYSQL' or APP_DBMS_TYPE == 'CUBRID'">
				, PASSWORD_EXPRY_DT = DATE_ADD(NOW(),INTERVAL 1 YEAR)
				</when>
				<otherwise>
				, PASSWORD_EXPRY_DT = SYSDATE + (INTERVAL '1' YEAR)
				</otherwise>
			</choose>  
			, LGN_FAILR_CNT = 0
		WHERE 1=1
			AND USER_ID = #{userId}
	</update>
	
	<select id="selectUserInfoCnt" resultType="Integer" parameterType="map">
		SELECT 
			COUNT(1) AS CNT
		FROM 
			CMMN_USER_INFO
		WHERE 1=1
			AND USER_ID = #{userId}
	</select>
	
	<insert id="insertUser" parameterType="map">
		INSERT INTO CMMN_USER (
			USER_ID, USER_NM, USE_YN, REG_USER_ID, REG_DT, CHG_USER_ID, CHG_DT
		) VALUES (
			#{userId}
			, #{userNm}
			, #{useYn}
			<include refid="common_insert_query" />
		)
	</insert>
	
	<update id="updateUser" parameterType="map">
		UPDATE CMMN_USER SET 
			USER_NM = #{userNm}
			, USE_YN = #{useYn}
			<include refid="common_update_query" />
		WHERE 1=1
			AND USER_ID = #{userId}
	</update>
	
	<insert id="insertUserInfo" parameterType="map">
		INSERT INTO CMMN_USER_INFO (
			USER_ID, USER_ATTRB_SN, USER_INFO_VALUE
		) VALUES (
			#{userId}
			, #{userAttrbSn}
			, #{userInfoValue}
		)
	</insert>
	
	<delete id="deleteUserInfo" parameterType="map">
		DELETE FROM CMMN_USER_INFO  
		WHERE USER_ID = #{userId}
	</delete>
	
	<select id="selectUserIdCnt" resultType="Integer" parameterType="map">
		SELECT 
			COUNT(1) AS CNT
		FROM CMMN_USER
		WHERE 1=1
			AND USER_ID = #{userId}
	</select>
	
	<insert id="insertUserPrjctInfo" parameterType="map">
		INSERT INTO CMMN_PRJCT_USER (
			PRJCT_SN, USER_ID
		) VALUES (
			#{prjctSn}
			, #{userId}
		)
	</insert>
	
</mapper>