<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
        <title>관리자</title>
        <!-- 공통으로 쓰이는 css파일을넣는다.-->
		<link rel="stylesheet" type="text/css" href="../../css/default.css" />
        <link rel="stylesheet" type="text/css" href="../../css/layout.css" />
        <link rel="stylesheet" type="text/css" href="../../css/common.css" />
        <link rel="stylesheet" type="text/css" href="../../css/NotoSansKR.css" />
        <link rel="stylesheet" type="text/css" href="../../css/style.css" /><!-- 20210930 파일 추가(다른 html 동일하게 적용바람) -->
        <!--// 공통으로 쓰이는 css파일을넣는다.-->

    </head>

    <body>
    <!-- wrap -->
    <div id="wrap">
        <!-- skip_nav -->
        <div id="skip_nav">
            <a href="#lnb">레프트메뉴 바로가기</a>
            <a href="#content">본문내용 바로가기</a>
        </div>
        <!--// skip -->
        <!-- container -->
		<div class="container">
            <!-- content -->
			<div id="content">
                <div class="full_page">
                    <div class="inner">
                        <div class="full_cont">
                            <div class="cont error">
                                <h1 class="logo">상상스토리</h1>
                                <h2 class="tit v2 full">요청한 페이지를 처리 할수 없습니다. [[${status}]]</h2>
                                <p class="txt">방문하시려는 페이지의 주소가 잘못 입력되었거나, <br>
                                    서버상에 에러가 발생한경우 입니다.<br>
                                    메인페이지 혹으로 이동 혹은 잠시후에 이용해 주세요.</p>
                                <button class="btn xl longer rnd bg_navy txt_white marginauto theblock margint55" onclick="location.href='/'">메인페이지로 이동</button>
                            </div>                            
                        </div>
                        <!-- footer_area -->
                        <div class="footer_area">
                            <ul>
                                <li>상상스토리</li>
                            </ul>
                            <p>COPYRIGHT © 2022 SANGSANGSTORY ALL RIGHTS RESERVES.</p>
                        </div>
                        <!--// footer_area -->
                    </div>
                </div>
            </div>
            <!--// content -->
        </div>
        <!--// container -->

    </div>
    <!--// wrap -->
    </body>
</html>

 