<!DOCTYPE html>
<html th:lang = "ko" xmlns:th="http://www.thymeleaf.org" style="overflow: auto;">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
		
		<title th:text="상상스토리"></title>
		
		<link rel="shortcut icon" th:href="@{/img/icon/favicon.ico}"  type="image/x-icon" />
		
		<link rel="stylesheet" type="text/css" th:href="@{/css/default.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/NotoSansKR.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
		
		<link rel="stylesheet" type="text/css" th:href="@{/vender/jquery/jquery-ui.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />
	
		<script th:src="@{/vender/jquery/jquery_3.6.js}"></script>
		<script th:src="@{/vender/jquery/jquery-ui.js}"></script>
	
		<script th:src="@{/js/design.js}"></script>
	
		<script th:src="@{/vender/sangs/sangs_table_binder.js}"></script>
		<script th:src="@{/vender/sangs/sangs_code_loader.js}"></script>
		
		<script th:src="@{/vender/echarts/echarts.common.js}"></script>
		<script th:src="@{/vender/echarts/echarts.min.js}"></script>
		
		<script th:src="@{/vender/jwtToken/hmac-sha512.js}"></script>
		<script th:src="@{/vender/jwtToken/enc-base64-min.js}"></script>
		<script th:src="@{/vender/jwtToken/jwt_util.js}"></script>
	
		<script th:src="@{/js/common_util.js}"></script>
		<script th:src="@{/js/common_biz_util.js}"></script>
		<script th:src="@{/js/common_file_upload.js}"></script>
		<script th:src="@{/js/common_jstree_util.js}"></script>
		<script th:src="@{/js/common_date_util.js}"></script>
    </head>

    <body>
    <!-- wrap -->
    <div id="wrap">
        <!-- container -->
		<div class="container">
            <!-- content -->
			<div id="content">
                <div class="full_page">
                    <div class="inner">
                        <div class="full_cont">
							 
                            <div class="cont login" id="dv_cont">
                                <h2 class="tit v2">관리자 시스템 로그인</h2>
								<!--
                                <p class="txt1">상상 데이터 종합관리 솔루션 v2.0</p>
								-->
								<p class="txt1" id="systemName"></p>

                                <div id="dv_loginArea" class="bx_wrap" >
									<form name="frm" id="frm" method="POST" action="/login/loginProc" >
										<input type="hidden" name="systemMode" id="systemMode" />
										<input type="hidden" name="loginPageUrl" id="loginPageUrl" th:value="${loginPage}"/>
										<input type="hidden" name="userToken" />
										<input type="hidden" name="prjctSn" id="prjctSn"  />
                                    	<input type="text" name="userId" id="userId"  placeholder="아이디">
										<br/>
										<input type="password" name="pwd" id="pwd" placeholder="비밀번호">
									</form>
									<p class="tit v4" style="margin-top:10px">
										<a href="#" onclick="fnDoLogin(); return false;">로그인</a>
									</p>
                                </div>
			
			
								<div id="dv_projectList" class="table_area marginb25 card" style="display: none; margin-top: 30px">
			                        <table class="list margint10 marginb10" id="tb_data_table" >
			                            <thead>
			                                <tr>
												<th>프로젝트명</th>
												<!--
												<th>프로젝트 설명</th>
												-->
												<th>표준세트</th>
												<th>접속DBMS</th>
												<th>선택</th>
			                                </tr>
			                            </thead>
			                            <tbody>
											 
											<tr class="fwk_templete_row">
												<td class="alignl">#{prjctNm}</td>
												<!--
												<td>#{prjctCn}</td>
												-->
												<td class="alignl">#{stdSetNm}</td>
												<td class="alignl">#fn{fnGetConnDbText('#{dbmsIpAddr}', '#{dbmsPortNo}', '#{dbmsDatabaseNm}','#{dbmsNm}')} </td>
												
												<td>
													<div class="sub_btn" style="text-align:center">
														<a href="#" class="btn sm blue" onclick="fnSelectPrject(this); return false;" data-selectproject="#{prjctSn}">접속</a>
													</div>
												</td>
											</tr>
			                            </tbody>
			                        </table>
			                    </div>

 

                            </div>
							                    
                        </div>
                    </div>
                </div>
            </div>
            <!--// content -->
        </div>
        <!--// container -->
        
        <!-- 관리자 패스워드 모달 -->
		<div class="popup layer" id="modalChargePassword" style="width: 40%;">
			<div class="pop_header">
		    	<p class="title">패스워드 변경</p>
		        <button class="btn_ic btn_pop_close" onclick="fnCloseModal('modalChargePassword');">닫기</button>
		    </div>
		    <form method="POST" id="chargeForm" name="chargeForm">
		    <input type="hidden" id="passwordChk" name="passwordChk" value=""/>
		    <div class="pop_content">
				<div class="tbl_top right padt10">
		       		<div class="btn_wrap">
		           		<button class="btn sm" onclick="fnSavePassword(); return false;">변경</button> 
		            </div>
		       	</div>	
				<div class="table_area">
					<table class="view">
						<colgroup>
							<col style="width: 25%;">
			      			<col style="width: auto;">
			  			</colgroup>
			    		<tbody>
			   				<tr>
								<th><span id="isUserChkText">관리자 아이디</span></th>
		           				<td>
		       						<input type="text" id="loginUserId" name="loginUserId" readonly="readonly"/>
		               			</td>
							</tr>
			   				<tr>
			         			<th id="loginPasswordTh">기존 패스워드</th>
		             			<td>
		            				<input type="password" id="loginPassword" name="loginPassword" class="in_w100" onchange="fnDbPasswordChk();" />
		               			</td>
			   				</tr>
			   				<tr>
			         			<th id="newPasswordTh">신규 패스워드</th>
		             			<td>
		            				<input type="password" id="newPassword" name="newPassword" class="in_w100" onchange="fnPasswordChk('newPassword');" placeholder="최소 8 자, 하나 이상의 문자, 하나의 숫자 및 하나의 특수 문자 를 입력하세요."/>
		               			</td>
			   				</tr>
			   				<tr>
			         			<th id="newPasswordChkTh">신규 패스워드 확인</th>
		             			<td>
		            				<input type="password" id="newPasswordChk" name="newPasswordChk" class="in_w100" onchange="fnPasswordChk('newPasswordChk');" placeholder="최소 8 자, 하나 이상의 문자, 하나의 숫자 및 하나의 특수 문자 를 입력하세요."/>
		               			</td>
			   				</tr>
			     		</tbody>
			   		</table>
				</div>
			</div>
			</form>
			<div class="pop_footer"></div>
		</div>

    </div>
    <!--// wrap -->
    </body>




<script type="text/javascript">


$(document).ready(function() {
	
	fnPageInit();
	
	var loginPage = $("#loginPageUrl").val();
	
	var ss = parent.document.location + "";
	
	if(ss.indexOf(loginPage) >= 0) {
		// 본창이 로그인 화면으로 들어온경우
	} else {
		parent.location.href = loginPage;
	}
	 
	$("#pwd").on("keyup", function(event) {
		if(event.keyCode == 13) 
			fnDoLogin();
	});
	
	if($("#userId").val() == "") 
		$("#userId").focus();
	else 
		$("#userPwd").focus();
	
});


function fnPageInit() {
	
	$.ajax({
		url: "/json/common/getMainDashboardType"
		, method : "POST"
		, contentType: 'application/json'
		, data: JSON.stringify({})
		, success: function(data){
			var mainDashboardType = data.mainDashboardType;
			$("#systemMode").val(mainDashboardType);
			
			if(mainDashboardType == "dq")
				$("#systemName").text("SS-DQ");
			else if(mainDashboardType == "meta")
				$("#systemName").text("SS-META");
			else 
				$("#systemName").text("상상 데이터 종합관리 솔루션 v2.0");
		}
	});
	
}


function fnDoLogin() {
	
	// jwt-token 생성
	var userData = {
		"userId" : $("#userId").val()
		, "userPwd": $("#pwd").val()
	};
	
	var userToken = fnGenerateToken(userData);
	$("#frm input[name=userToken]").val(userToken);
	$.ajax({
		url: "/login/checkLogin"
		, method : "POST"
		, contentType: 'application/json'
		, data: JSON.stringify({
			userToken : userToken
		})
		, success: function(data){
			
			//console.log("data - ", data.resultCd);
			
			if("DEFAULT_PASSWORD_LOGIN" == data.resultCd){
				
				$("#chargeForm")[0].reset();
				$("#loginUserId").val($("#userId").val());
				
				fnShowModal("modalChargePassword");
			} 
			
			if(data.resultCd == "OK") {
				
				if(data.list.length == 1) {
					// 사용자가 접근 가능 한 프로젝트가 하나일때
					$("#prjctSn").val(data.list[0].prjctSn);
					$("#frm").submit();
				} else {
					$("#dv_cont").css("max-width", "1200px");
					$("#dv_loginArea").hide();
					$("#dv_projectList").show("fast");
					
					//var prjList = data.list;
					fnBindTableValue("tb_data_table", data.list);
				}
			} else {
				alert(data.resultMsg);
				return;
			}
		}
	});
	
}
function fnSelectPrject(obj) {
	$("#prjctSn").val($(obj).attr("data-selectproject"));
	$("#frm").submit();
}


function fnDbPasswordChk() {
	
	var loginUserId = $("#loginUserId").val();
	var loginPassword = $("#loginPassword").val();
	
	$.ajax({
		url: "/login/checkDbPassword"
		, method : "POST"
		, contentType: 'application/json'
		, data: JSON.stringify({
			userId : loginUserId
			, userPwd : loginPassword
		})
		, success: function(data){
			
			if(data.isPassChk){
				$("#loginPasswordTh").css("color", "#009b03");
				$("#passwordChk").val("Y");
			}else{
				$("#loginPasswordTh").css("color", "#ff0000");
				$("#passwordChk").val("N");
			}
		}
	});
}

function fnPasswordChk(newPasswordId) {
	
	var loginPassword = $("#loginPassword").val();
	var newPassword = $("#"+newPasswordId).val();

	if(loginPassword != "" || newPassword != ""){
		
		var reg = new RegExp("^(?=.*[a-zA-z])(?=.*[0-9])(?=.*[$`~!@$!%*#^?&\\(\\)\-_=+])(?!.*[^a-zA-z0-9$`~!@$!%*#^?&\\(\\)\-_=+]).{8,}$");
		
		if(!reg.test(newPassword)){
			alert("최소 8 자, 하나 이상의 문자, 하나의 숫자 및 하나의 특수 문자 를 입력하세요.");
			
			$("#"+newPasswordId).val("");
			$("#"+newPasswordId).focus();
			$("#passwordChk").val("N");
			
			return false;
		} else {
			if(loginPassword == newPassword){
				alert("초기화 된 패스워드와 동일하게 사용할 수 없습니다.");
				
				$("#"+newPasswordId).val("");
				$("#"+newPasswordId).focus();
				
				$("#"+newPasswordId+"Th").css("color", "#0c2341");
				$("#passwordChk").val("N");
				return false;
			}else{
				$("#"+newPasswordId+"Th").css("color", "#009b03");
				$("#passwordChk").val("Y");
			}
		}
	}
}

function fnSavePassword() {
	
	var loginUserId = $("#loginUserId").val();
	var newPassword = $("#newPassword").val();
	var newPasswordChk = $("#newPasswordChk").val();
	
	if (newPassword != newPasswordChk) {
		alert("신규 패스워드를 확인해 주세요.");
		$("#passwordChk").val("N");
		$("#newPasswordChk").focus();
		$("#newPasswordChkTh").css("color", "#ff0000");
		return false;
	}
	
	var passwordChk = $("#passwordChk").val();
	
	if(passwordChk == 'Y'){
		if(confirm("패스워드를 변경 하시겠습니까?")){
			$.ajax({
				url: "/login/modPasswordInfo"
				, method : "POST"
				, contentType: 'application/json'
				, data: JSON.stringify({
					userId : loginUserId
					, userPwd : newPassword
				})
				, success: function(data){
					
					if(data.resultCd == "OK") {
						alert("변경 되었습니다. 변경 된 패스워드로 로그인 해주세요.");	
						$("#chargeForm")[0].reset();
						$("#frm")[0].reset();
						fnCloseModal('modalChargePassword');
					}
				}
			});	
		}
	} else {
		alert("패스워드를 확인해 주세요.");
		return false;
	}
}

function fnGetConnDbText(dbmsIpAddr, dbmsPortNo, dbmsDatabaseNm, dbmsNm) {
	var rtnStr = "";
	
	if(!isEmpty(dbmsIpAddr))
		rtnStr = rtnStr + dbmsIpAddr;
	if(!isEmpty(dbmsPortNo))
		rtnStr = rtnStr + ":" + dbmsPortNo;
	if(!isEmpty(dbmsDatabaseNm))
		rtnStr = rtnStr + "?db=" + dbmsDatabaseNm;
	if(!isEmpty(dbmsNm))
		rtnStr = rtnStr + " (" + dbmsNm + ")";
		
	
	return rtnStr;
	 
}

</script>


</html>
