<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/mainLayout">
<head>
	<th:block th:replace="fragments/head_inc :: head_inc" />
</head>
<!-- wrap -->
<body>
	<!-- wrap -->
	<div id="wrap">
		<!-- container -->
		<div class="container">
			<!-- content -->
			<div id="content">
				<!-- pageInfoArea -->
				<div class="page_info_area">
					<div class="left">
						<div class="location_area">
							<a href="#" class="bookmark active" title="즐겨찾기"></a>
							<ul>
								<li>홈</li>
								<li>프로젝트관리</li>
								<li>프로젝트 관리</li>
							</ul>
						</div>
						<div class="title_area">
							<p>프로젝트 관리</p>
							<a href="#" class="reload_btn" title="새로고침">새로고침</a>
							<a href="#"	class="help_btn" title="도움말">도움말</a>
						</div>
					</div>
					<div class="right">
						<div class="button_area">
							<button class="btn" title="조회" onclick="fnPrjctSearch(); return false;">조회</button> 
							<button class="btn" title="신규등록" onclick="fnPrjctRegBtnModal('R'); return false;">신규등록</button>
						</div>
					</div>
				</div>
				<!-- pageInfoArea -->
				
				
				<!-- content_area -->
				<div class="content_area">
					<!-- division -->
					<div class="division20">
						<div class="search_wrap">
							<table class="search fixed">
								<colgroup>
									<col style="width: 100px;" />
									<col style="width: auto;" />
									<col style="width: 60px;" />
									<col style="width: 100px;" />
									<col style="width: auto;" />
									<col style="width: 60px;" />
									<col style="width: 200px;" />
									<col style="width: auto;" />
								</colgroup>
								<tbody>
									<tr>
										<th scope="row"><label for="dbmsSn">DBMS구분</label></th>
										<td>
											<div class="selectbox">
												<select id="dbmsSn" name="dbmsSn">
													<option value="">전체</option>
												</select>
											</div>
										</td>
										<td></td>
										<th scope="row"><label for="operYn">운영DB여부</label></th>
										<td>
											<div class="selectbox">
												<select id="operYn" name="operYn">
													<option value="">전체</option>
													<option value="Y">Y</option>
													<option value="N">N</option>
												</select>
											</div> 
										</td>
										<td></td>
										<th scope="row">
											<div class="selectbox">
												<select id="selectSearch" name="selectSearch">
													<option value="">조회 조건</option>
													<option value="prjctNm">프로젝트명</option>
													<option value="dbmsIpAddr">DB서버IP</option>
													<option value="dbmsPortNo">DB서버PORT</option>
													<option value="dbmsId">DB접속계정</option>
													<option value="dbmsDatabaseNm">DB명</option>
												</select>
											</div>
										</th>
										<td>
											<input type="text" class="in_w95 float_right" id="searchText" name="searchText" placeholder="검색어를 입력하세요." />
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!-- //division -->
					
					<div class="division20">
						<div class="row marginb25">
							<div class="left" data-width="0">
								<!-- table_area -->		
								<div class="table_area marginb25">
									<table class="list fixed marginb25" id="tb_prjctlist_table">
										<colgroup>
											<col style="width: 60px;" />
											<col style="width: auto;" />
											<col style="width: 90px;" />
											<col style="width: 110px;" />
											<col style="width: 70px;" />
											<col style="width: 110px;" />
											<col style="width: 110px;" />
											<col style="width: 60px;" />
										</colgroup>
										<thead>
											<tr>
												<th>No</th>
												<th>프로젝트명</th>
												<th>DBMS</th>
												<th>DB서버IP</th>
												<th>PORT</th>
												<th>DB접속계정</th>
												<th>DB명</th>
												<th>운영DB</th>
											</tr>
										</thead>
										<tbody>
											<tr class="fwk_templete_row">
												<td>#{FWK_TR_NO}
													<input type="hidden" name="prjctSn" value="#{prjctSn}" />
													<input type="hidden" name="dbmsCnncSn" value="#{dbmsCnncSn}" />
													<input type="hidden" name="stdSetSn" value="#{stdSetSn}" /> 
												</td>
												<td class="alignl">#{prjctNm}</td>
												<td>#{dbmsNm}</td>
												<td>#{dbmsIpAddr}</td>
												<td>#{dbmsPortNo}</td>
												<td>#{dbmsId}</td>
												<td>#{dbmsDatabaseNm}</td>
												<td>#{operYn}</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- table_area -->		
								<!-- pagination_area -->
								<div id="dv_paging" class="pagination_area"></div>
								<!-- //pagination_area -->
							</div>
							<div class="right" data-width="420">
								<div class="view_wrap" id="dv_rightPanel">
									<div class="tbl_top">
										<p class="tit v2">
											<span> 프로젝트 정보</span>
										</p>
										<div class="btn_area">
											<button class="btn sm" id="prjctCnctDbmsTest" onclick="fnPrjctCnctDbmsTest();">연결테스트</button>
											<button class="btn sm" id="prjctModifyBtn" onclick="fnPrjctRegBtnModal('M'); return false;" style="width:60px !important">수정</button>
											<button class="btn sm" id="prjctDeleteBtn" onclick="fnPrjctDeleteBtn('D');" style="width:60px !important">삭제</button>
										</div>
									</div>
									<!-- table_area -->
									<div class="table_area">
										<table class="view">
											<colgroup>
												<col width="40%" />
												<col width="60%" />
											</colgroup>
											<tbody>
												<tr>
													<th>프로젝트 명</th>
													<td id="dtlview_prjctnm"></td>
												</tr>
												<tr>
													<th>프로젝트 사용자</th>
													<td id="dtlview_usernm"></td>
												</tr>
												<tr>
													<th>프로젝트 설명</th>
													<td id="dtlview_prjctcn"></td>
												</tr>
											</tbody>
										</table>
									</div>
									<!-- //table_area -->
									<div class="tbl_top margint20">
										<p class="tit v2">
											<span> DBMS 정보</span>
										</p>
										<div>
											<label>&nbsp;</label>
										</div>
									</div>
									<!-- table_area -->		
									<div class="table_area">
										<table class="view">
											<colgroup>
												<col width="40%" />
												<col width="60%" />
											</colgroup>
											<tbody>
												<tr>
													<th>DBMS</th>
													<td id="dtlview_dbmsnm"></td>
												</tr>
												<tr>
													<th>운영DB</th>
													<td id="dtlview_operyn"></td>
												</tr>
												<tr>
													<th>DB 서버 IP</th>
													<td id="dtlview_dbmsipaddr"></td>
												</tr>
												<tr>
													<th>DB 서버 PORT</th>
													<td id="dtlview_dbmsportno"></td>
												</tr>
												<tr>
													<th>접속계정</th>
													<td id="dtlview_dbmsid"></td>
												</tr>
												<tr>
													<th>비밀번호</th>
													<td id="dtlview_dbmspassword"></td>
												</tr>
												<tr>
													<th>DATABASE명</th>
													<td id="dtlview_dbmsdatabasenm"></td>
												</tr>
												<tr>
													<th id="optionDtlThSchemaNm" style="display: none;">
														<div id="optionDtlDivSchemaNm" style="display: none;">SCHEMA명</div>
													</th>
													<td id="optionDtlTdSchemaNm" style="display: none;">
														<div id="dtlview_dbmsschemanm" style="display: none;"></div>
													</td>
												</tr>
												<tr>
													<th id="optionDtlThSid" style="display: none;">
														<div id="optionDtlDivSid" style="display: none;">SID</div>
													</th>
													<td id="optionDtlTdSid" style="display: none;">
														<div id="dtlview_dbmssidnm" style="display: none;"></div>
														</td>
													</tr>
											</tbody>
										</table>
									</div>
									<!-- //table_area -->		
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- content_area -->
			</div>
			<!-- //content -->
		</div>
		<!-- //container -->
	</div>
	<!-- //wrap -->

<!-- 신규등록 및 수정  -->
<div class="popup layer" id="prjctreginfo_modal" style="height:700px; width:1000px;">
	<th:block th:replace="cmmn/project/project_list_reg_inc :: project_list_reg_inc" />
</div>

<script type="text/javascript">

$(document).ready(function() {

	$("#searchText").on("keyup", function(event) {
		if (event.keyCode == 13){
			if($("#selectSearch").val() !=""){
				fnPrjctSearch();
			} else{
				alert("조회조건을 선택해주세요.");
			}
		}
	});

	//수정버튼 hidden
	$("#prjctModifyBtn").hide();
	$("#prjctDeleteBtn").hide();
	fnPrjctInit();

});

function fnPrjctInit() {

	//DBMS구분, 표준세트구분
	new CodeBinder()
		.setSqlCode("cmmn_project.selectDbmsList", "dbmsSn", "select")
		.setLoadCallbackFunc("fnPrjctSearch()")
		.load();

}

//검색 조건
var getPrjctSearchParamObj = function(){
	var paramObj = {
			dbmsSn : $("#dbmsSn").val()
			, stdSetSn : $("#stdSetSn").val()
			, operYn : $("#operYn").val()
			, selectSearch: $("#selectSearch").val()
			, searchText : $("#searchText").val()
	};
	return paramObj;
};

//조회
function fnPrjctSearch(pageNum) {
	if (!pageNum)
		pageNum = 1;

	var searchParamObj = getPrjctSearchParamObj();
	searchParamObj["pageNum"]= pageNum;
	
	$.ajax({
		url : "/json/project/getProjectList"
		, method : "POST"
		, contentType : 'application/json'
		, data : JSON.stringify(searchParamObj)
		, success : function(data) {

			fnBindTableValue("tb_prjctlist_table", data.list, data.pagingInfo);

			fnSetPaging("dv_paging", data.pagingInfo, "fnPrjctSearch");

			fnSelectTrEvent("#tb_prjctlist_table tbody tr", function(rtnObj) {
				var prjctSn =$(rtnObj).find("input[name=prjctSn]").val();
				var stdSetSn =$(rtnObj).find("input[name=stdSetSn]").val();
				
				fnViewDetail(prjctSn, stdSetSn);
			});
			fnPrjctInitDtlView();
		}
	});

}

//프로젝트 상세정보, DBMS 상세정보
function fnViewDetail(prjctSn, stdSetSn) {

	$.ajax({
		url : "/json/project/getProjectInfo",
		method : "POST",
		contentType : 'application/json',
		data : JSON.stringify({
			prjctSn : prjctSn
			, stdSetSn : stdSetSn
		}),
		success : function(data) {

			var prjctInfo = data.prjctInfo;
			var userList = data.userList;
			
			$("#dtlview_prjctnm").text(prjctInfo.prjctNm);
			
			var userNm = "";
			for(var i = 0; i<userList.length; i++){
				userNm+=userList[i].userNm+", "
			}
			userNm = userNm.substr(0, userNm.length-2);
			$("#dtlview_usernm").text(userNm);
			$("#dtlview_prjctcn").text(prjctInfo.prjctCn);
			$("#dtlview_stdsetnm").text(prjctInfo.stdSetNm);

			$("#dtlview_operyn").text(prjctInfo.operYn);
			$("#dtlview_dbmsnm").text(prjctInfo.dbmsNm);

			var dbmsNm = prjctInfo.dbmsNm;
			if (dbmsNm == "Oracle" || dbmsNm == "Tibero") {
				$("#dtlview_dbmssidnm").show();
				$("#optionDtlDivSid").show();
				$("#optionDtlThSid").show();
				$("#optionDtlTdSid").show();
			} else {
				$("#dtlview_dbmssidnm").hide();
				$("#optionDtlDivSid").hide();
				$("#optionDtlThSid").hide();
				$("#optionDtlTdSid").hide();
			}
			
			if (dbmsNm == "PostgreSQL" || dbmsNm == "Altibase" || dbmsNm == "DB2"){
				$("#dtlview_dbmsschemanm").show();	 
				$("#optionDtlDivSchemaNm").show();
				$("#optionDtlThSchemaNm").show();
				$("#optionDtlTdSchemaNm").show();
			} else {
				$("#dtlview_dbmsschemanm").hide();	 
				$("#optionDtlDivSchemaNm").hide();
				$("#optionDtlThSchemaNm").hide();
				$("#optionDtlTdSchemaNm").hide();
			}
			
			$("#dtlview_dbmsipaddr").text(prjctInfo.dbmsIpAddr);
			$("#dtlview_dbmsportno").text(prjctInfo.dbmsPortNo);
			$("#dtlview_dbmsid").text(prjctInfo.dbmsId);
			$("#dtlview_dbmspassword").text(prjctInfo.dbmsPassword);
			$("#dtlview_dbmssidnm").text(prjctInfo.dbmsSidNm);
			$("#dtlview_dbmsdatabasenm").text(prjctInfo.dbmsDatabaseNm);
			$("#dtlview_dbmsschemanm").text(prjctInfo.dbmsSchemaNm);
			
			//수정버튼 활성화
			$("#prjctCnctDbmsTest").show();
			$("#prjctModifyBtn").show();
			$("#prjctDeleteBtn").show();
		}
	});
}

function fnPrjctDeleteBtn(pmode){
	
	if(!confirm("삭제 하시겠습니까?")) 
		return;
	
	prjctSn = $("#tb_prjctlist_table").find("tr[data-selectedtr=Y]").find("input[name=prjctSn]").val();
	dbmsCnncSn = $("#tb_prjctlist_table").find("tr[data-selectedtr=Y]").find("input[name=dbmsCnncSn]").val();

	$.ajax({
		url : "/json/project/saveProjectInfo",
		method : "POST",
		contentType : 'application/json',
		data : JSON.stringify({
			prjctSn : prjctSn
			, dbmsCnncSn : dbmsCnncSn
			, pmode : pmode
		}),
		success : function(data){
			if(data.resultCd == "OK") {
				alert("삭제 되었습니다.");
				location.reload();
			}
		}
	});
}

function fnPrjctRegBtnModal(pmode) {
	fnShowModal("prjctreginfo_modal");
	
	var prjctSn = fnSelectTrHiddenValue("tb_prjctlist_table", "prjctSn");
	var stdSetSn = fnSelectTrHiddenValue("tb_prjctlist_table", "stdSetSn");
	
	$("#regPrjctSnHide").val(prjctSn);
	$("#regPrjctStdSetSnHide").val(stdSetSn);
	$("#regPrjctPmodeHide").val(pmode);
	
	if (pmode == "R") {
		
		fnPrjctInitDtlView();
		
	}

	fnRegPrjctSearch();
}

// 연결 테스트
function fnPrjctCnctDbmsTest(){

	var result = confirm("연결 테스트 하시겠습니까?");
	if(!result){
		return;
	}

	
	if($("#dtlview_dbmsnm").text()==""){
		alert("DBMS정보가 없습니다. 연결 테스트 할 수 없습니다.")
		return;
	}
	
	if($("#dtlview_dbmsipaddr").text()==""){
		alert("ip주소 확인해주세요. 연결 테스트 할 수 없습니다.")
		return;
	}
	
	
	if($("#dtlview_dbmsportno").text()==""){
		alert("prot번호 확인해주세요. 연결 테스트 할 수 없습니다.")
		return;
	}
	
	if($("#dtlview_dbmsid").text()==""){
		alert("접속계정 정보가 없습니다. 연결 테스트 할 수 없습니다.")
		return;
	}
	
	
	if($("#dtlview_dbmspassword").text()==""){
		alert("비밀번호 정보가 없습니다. 연결 테스트 할 수 없습니다.")
		return;
	}
	
	if($("#dtlview_dbmsdatabasenm").text()==""){
		alert("DATABASE 정보가 없습니다. 연결 테스트 할 수 없습니다.")
		return;
	} 
		 
	$.ajax({
		url : "/json/DbmsConn/doConnectionTest",
		method : "POST",
		contentType : 'application/json',
		data : JSON.stringify({
			dbmsNm : $("#dtlview_dbmsnm").text()
			, dbmsId : $("#dtlview_dbmsid").text()
			, dbmsIpAddr : $("#dtlview_dbmsipaddr").text()
			, dbmsPortNo : $("#dtlview_dbmsportno").text()
			, dbmsPassword : $("#dtlview_dbmspassword").text()
			, dbmsSchemaNm : $("#dtlview_dbmsschemanm").text()
			, dbmsDatabaseNm : $("#dtlview_dbmsdatabasenm").text()
			, dbmsSidNm : $("#dtlview_dbmssidnm").text()
		}),
		success : function(data) {
			if(data.result == true){
				alert(data.message);

			}else{
				alert(data.message);
			}
		}
	});
}

// 정보 초기화
function fnPrjctInitDtlView() {

	$("#dtlview_prjctnm").empty();
	$("#dtlview_usernm").empty();
	$("#dtlview_prjctcn").empty();
	$("#dtlview_stdsetnm").empty();
	$("#dtlview_operyn").empty();
	$("#dtlview_dbmsnm").empty();
	$("#dtlview_dbmsipaddr").empty();
	$("#dtlview_dbmsportno").empty();
	$("#dtlview_dbmsid").empty();
	$("#dtlview_dbmspassword").empty();
	$("#dtlview_dbmssidnm").empty();
	$("#dtlview_dbmsdatabasenm").empty();
	$("#dtlview_dbmsschemanm").empty();
	
	$("#prjctCnctDbmsTest").hide();
	$("#prjctModifyBtn").hide();
	$("#prjctDeleteBtn").hide();
}

</script>
</body>
</html>
					 