<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="ct_collect_log">

	<!-- 수집로그 목록 조회 -->
	<select id="selectMetaMngCollectLogList" parameterType="map" resultType="SangsMap">
		<if test="listType == null or listType != 'EXCEL' "> SELECT T1000.* FROM ( SELECT T999.*, (@rownum2 := @rownum2+1) AS ROWNUM FROM ( </if>
		SELECT
		      T1.API_GROUP_CD
		    , T1.API_GROUP_NM
		    , T2.API_CD
		    , T2.API_NM
		    , T2.CMMN_API_DATA_TY_CD
		    <!-- , (SELECT CMMN_CODE_NM FROM SFT_CMMN_CODE_DETAIL WHERE CODE_GROUP_CODE ='CC_API_DATA_TY_CODE' AND CMMN_CODE = T2.CC_API_DATA_TY_CODE) AS CC_API_DATA_TY_NM -->
		    <!-- , (SELECT CMMN_CODE_NM FROM SFT_CMMN_CODE_DETAIL WHERE CODE_GROUP_CODE ='CC_API_SVC_TY_CODE' AND CMMN_CODE = T2.CC_API_SVC_TY_CODE) AS CC_API_SVC_TY_NM -->
		    , (SELECT CD_NM FROM EGOV_CMNCDDTLCODE WHERE CD_ID ='APIDATATY' AND CD = T2.CMMN_API_DATA_TY_CD) AS CMMN_API_DATA_TY_NM
			, (SELECT CD_NM FROM EGOV_CMNCDDTLCODE WHERE CD_ID ='APISVCTY' AND CD =  T2.CMMN_API_SRVC_TY_CD) AS CMMN_API_SRVC_TY_NM
		    , T2.CMMN_API_SRVC_TY_CD
		    , DATE_FORMAT(T3.LOG_YMD, '%Y-%m-%d') LOG_YMD_DE
		    , T3.LOG_YMD
		    , T3.LOG_SN
		    , T3.RSPNS_RESULT_CD
		    , T3.RSPNS_RESULT_CN
		    , T3.RSPNS_RESULT_CNT
		    , T3.BGNG_DT
		    , T3.END_DT
			, T3.ARNG_YN
			, T3.ARNG_DT
			, T3.ARNG_SCS_CNT
			, T3.ARNG_FAILR_CNT
			, (@rownum := @rownum+1) AS RN
		FROM
		    CT_API_GROUP T1, CT_API_META_INF T2, CT_API_CLCT_LOG T3, (SELECT @rownum :=0) AS R
		WHERE
			T1.API_GROUP_CD = T2.API_GROUP_CD
			AND T2.API_CD = T3.API_CD
			<include refid="selectMetaMngCollectLogList_whereSearch" />
		ORDER BY
		    T3.LOG_YMD DESC, T3.LOG_SN DESC
		<if test="listType == null or listType != 'EXCEL' "> ) T999, (SELECT @rownum2 :=0) AS TRNUM ) T1000 WHERE ROWNUM BETWEEN #{start_row} AND #{end_row}  </if>
	</select>

	<!-- 수집로그 목록 카운트조회 -->
	<select id="selectMetaMngCollectLogListCnt" parameterType="map" resultType="Integer">
		SELECT
			COUNT(1) AS CNT
		FROM
		    CT_API_GROUP T1, CT_API_META_INF T2, CT_API_CLCT_LOG T3
		WHERE
			T1.API_GROUP_CD = T2.API_GROUP_CD
			AND T2.API_CD = T3.API_CD
			<include refid="selectMetaMngCollectLogList_whereSearch" />
	</select>


	<!-- 수집로그목록 검색 조건 -->
	<sql id="selectMetaMngCollectLogList_whereSearch">
		<if test='apiCd != null and apiCd != ""'>
	    	AND T3.API_CD LIKE CONCAT('%', #{apiCd}, '%')
	    </if>
		<if test="logBeginYmd != null and logBeginYmd != '' and logEndYmd != null and logEndYmd != '' ">
			AND DATE_FORMAT(T3.LOG_YMD, '%Y%m%d') BETWEEN DATE_FORMAT(#{logBeginYmd}, '%Y%m%d') AND DATE_FORMAT(#{logEndYmd}, '%Y%m%d')
		</if>
		<if test="rspnsResultCd != null and rspnsResultCd != ''">
			AND T3.RSPNS_RESULT_CD LIKE CONCAT('%', #{rspnsResultCd}, '%')
		</if>
		<if test='arngYn == "Y" '>
 			AND T3.ARNG_YN = 'Y'
 		</if>
 		<if test='arngYn == "N" '>
 			AND (T3.ARNG_YN = 'N' OR T3.ARNG_YN IS NULL)
 		</if>
	</sql>

	<!-- 수집로그 상세정보 -->
	<select id="selectMetaMngCollectLogInfo" parameterType="map" resultType="SangsMap">
		SELECT
		      T1.API_GROUP_CD
		    , T1.API_GROUP_NM
		    , T2.API_CD
		    , T2.API_NM
		    , T2.CMMN_API_DATA_TY_CD
		    <!-- , (SELECT CMMN_CODE_NM FROM SFT_CMMN_CODE_DETAIL WHERE CODE_GROUP_CODE ='CC_API_DATA_TY_CODE' AND CMMN_CODE = T2.CC_API_DATA_TY_CODE) AS CC_API_DATA_TY_NM -->
		    <!-- , (SELECT CMMN_CODE_NM FROM SFT_CMMN_CODE_DETAIL WHERE CODE_GROUP_CODE ='CC_API_SVC_TY_CODE' AND CMMN_CODE = T2.CC_API_SVC_TY_CODE) AS CC_API_SVC_TY_NM -->
		    , (SELECT CD_NM FROM EGOV_CMNCDDTLCODE WHERE CD_ID ='APIDATATY' AND CD = T2.CMMN_API_DATA_TY_CD) AS CMMN_API_DATA_TY_NM
			, (SELECT CD_NM FROM EGOV_CMNCDDTLCODE WHERE CD_ID ='APISVCTY' AND CD =  T2.CMMN_API_SRVC_TY_CD) AS CMMN_API_SRVC_TY_NM
		    , T2.CMMN_API_SRVC_TY_CD
		    , DATE_FORMAT(T3.LOG_YMD, '%Y-%m-%d') LOG_YMD_DE
		    , T3.LOG_YMD
		    , T3.LOG_SN
		    , T3.RSPNS_RESULT_CD
		    , T3.RSPNS_RESULT_CN
		    , T3.RSPNS_RESULT_CNT
		    , T3.BGNG_DT
		    , T3.END_DT
		    , T3.RQST_URL_ADDR
		    , T3.ARNG_YN
			, T3.ARNG_DT
			, T3.ARNG_SCS_CNT
			, T3.ARNG_FAILR_CNT
		    , (SELECT COUNT(1) FROM CT_API_META_RCPTN WHERE API_CD = T2.API_CD AND USE_YN = 'Y') RCPTN_CNT
		FROM
		    CT_API_GROUP T1, CT_API_META_INF T2, CT_API_CLCT_LOG T3
		WHERE
		    T1.API_GROUP_CD = T2.API_GROUP_CD AND T2.API_CD = T3.API_CD
		    AND T3.API_CD = #{apiCd} AND T3.LOG_YMD = #{logYmd} AND T3.LOG_SN = #{logSn}
	</select>

	<!-- 수집 로그 일련번호 조회 -->
	<select	id="selectMetaMngCollectLogNextSeq" parameterType="map" resultType="Integer">
		SELECT NVL(MAX(LOG_SN), 0) +1 AS SN FROM CT_API_CLCT_LOG
		WHERE API_CD = #{apiCd} AND LOG_YMD = #{logYmd}
	</select>

	<!-- 수집 로그 등록 -->
	<insert id="insertMetaMngCollectLogInfo" parameterType="map">
		INSERT INTO CT_API_CLCT_LOG (
			  API_CD
		 	<if test = "logYmd != null and logYmd != '' ">
			, LOG_YMD
			</if>
			<if test = "logSn != null and logSn != '' ">
			, LOG_SN
			</if>
			<if test = "rqstUrlAddr != null and rqstUrlAddr != '' ">
			, RQST_URL_ADDR
			</if>
			<if test = "bgngDt != null and bgngDt != '' ">
			, BGNG_DT
			</if>
			<if test = "endDt != null and endDt != '' ">
			, END_DT
			</if>
			<if test = "rspnsResultCd != null and rspnsResultCd != '' ">
			, RSPNS_RESULT_CD
			</if>
			<if test = "rspnsResultCn != null and rspnsResultCn != '' ">
			, RSPNS_RESULT_CN
			</if>
			<if test = "rspnsResultCnt != null and rspnsResultCnt != '' ">
			, RSPNS_RESULT_CNT
			</if>
		) VALUES (
			  #{apiCd}
			<if test = "logYmd != null and logYmd != '' ">
			, #{logYmd}
			</if>
			<if test = "logSn != null and logSn != '' ">
			, #{logSn}
			</if>
			<if test = "rqstUrlAddr != null and rqstUrlAddr != '' ">
			, #{rqstUrlAddr}
			</if>
			<if test = "bgngDt != null and bgngDt != '' ">
			, #{bgngDt}
			</if>
			<if test = "endDt != null and endDt != '' ">
			, #{endDt}
			</if>
			<if test = "rspnsResultCd != null and rspnsResultCd != '' ">
			, #{rspnsResultCd}
			</if>
			<if test = "rspnsResultCn != null and rspnsResultCn != '' ">
			, #{rspnsResultCn}
			</if>
			<if test = "rspnsResultCnt != null and rspnsResultCnt != '' ">
			, #{rspnsResultCnt}
			</if>
		)
	</insert>

	<!-- 수집 로그 삭제 -->
	<delete id="deleteMetaMngCollectLogInfo" parameterType="map">
		DELETE FROM CT_API_CLCT_LOG WHERE API_CD = #{apiCd} AND LOG_YMD = #{logYmd}
	</delete>

</mapper>
