<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/mainLayout">

<head>
	<th:block th:replace="fragments/head_inc :: head_inc" />
	<style type="text/css">
	
		/*table.list tbody td { padding : 4px 8px; }
		.cl_height60 {
			height:60px;
		}*/
		.cl_no_physical {
		    
		    background-color : #fdba9d;
		    padding: 2px 8px;
		    margin-right: 4px;
			white-space: nowrap;
			border-radius: 8px;
			cursor: pointer;
		}
		.cl_no_logical {
		    
		    background-color : #fbd0f3;
		    padding: 2px 8px;
		    margin-right: 4px;
			white-space: nowrap;
			border-radius: 8px;
			cursor: pointer;
		}
		
		.cl_no_wrd { 
		    
		    background-color : #a3e1d0;
		    padding: 2px 8px;
		    margin-right: 4px;
			white-space: nowrap;
			border-radius: 8px;
			cursor: pointer;
		}
		.cl_no_domn { 
		    
		    background-color : #aed4ff;
		    padding: 2px 8px;
		    margin-right: 4px;
			white-space: nowrap;
			border-radius: 8px;
			cursor: pointer;
		}
		.cl_diff_word { 
		    
		    background-color : #f475a9;
		    padding: 2px 8px;
		    margin-right: 4px;
			white-space: nowrap;
			border-radius: 8px;
		}
		.cl_empty_logical { 
		    
		    background-color : #eafb7f;
		    padding: 2px 8px;
		    margin-right: 4px;
			white-space: nowrap;
			border-radius: 8px;
		}
		.cl_errorItemText { 
			color:red !important;
		}
	
	</style>
</head>

<body id="body">
	<div id="wrap">
		<div class="container">
			<div id="content">
				<div class="page_info_area">
					<div class="left">
                        <div class="location_area">
                            <a href="#" class="bookmark active" title="즐겨찾기"></a>
                            <ul>
                                <li>홈</li>
                                <li>분석 및 통계</li>
								<li>DBMS표준분석</li>
                            </ul>
                        </div>
                        <div class="title_area">
                            <p>DBMS표준분석</p>
                            <a href="#" class="reload_btn" title="새로고침">새로고침</a>
                            <a href="#" class="help_btn" title="도움말">도움말</a>
                        </div>
                    </div>
                    <div class="right">
                        <div class="button_area" id="btnList" style="display:none;">
							<!--
                        	<button class="btn" title="조회" onclick="fnSearch(); return false;">조회</button>
								-->
							<button class="btn" title="엑셀다운로드" onclick="fnAnalDownloadExcel(); return false;">엑셀다운로드</button>
							<button class="btn" title="조회" onclick="fnDoAnalysis(); return false;">점검</button>
							
                        </div>
                    </div>
                </div>
				<form name="hiddenFrm" id="hiddenFrm" >
					<input type="hidden" id="searchMode" name="searchMode" th:if="${#maps.containsKey(paramMap, 'searchMode')}"  th:value="${paramMap.searchMode}" />
				</form>	

				<div class="content_area">
                    <div class="division20">
                        <div class="search_wrap">
                            <table class="search fixed" id="tb_dbms_info">
                                <colgroup>
									<col style="width: 140px;" />
									<col style="width: 20px;" />									
                                    <col style="width: 110px;" />
                                    <col style="width: auto;" />
                                    <col style="width: 50px;" />
                                    <col style="width: 110px;" />
                                    <col style="width: auto;" />
                                    <col style="width: 50px;" />
                                    <col style="width: 110px;" />
                                    <col style="width: auto;" />
                                </colgroup>
                                <tbody class="fwk_databind_single_tbody">
                                    <tr>
										
                                        <th rowspan="2" style="text-align: center; font-size: 18px; border: 1px solid #be8787">준수율 <span id="sp_stdRateText">-</span>%</th>
										<th rowspan="2"></th>
                                        <th scope="row">DBMS</th>
                                        <td>
											<input type="text" class="in_w100" name="dbmsNm" value="#{dbmsNm}" readonly>
											<input type="hidden" name="dbmsCnncSn" id="dbmsCnncSn" value="#{dbmsCnncSn}">
										</td>
                                        <td></td>
 										<th scope="row">DBMS IP</th>
                                        <td><input type="text" class="in_w100" name="dbmsIpAddr" value="#{dbmsIpAddr}" readonly></td>
                                        <td></td>
                                        <th scope="row">DBMS Port</th>
                                        <td><input type="text" class="in_w100" name="dbmsPortNo" value="#{dbmsPortNo}" readonly></td>
										
                                    </tr>
 									<tr>
                                        <th scope="row">접속계정</th>
                                        <td><input type="text" class="in_w100" name="dbmsId" value="#{dbmsId}" readonly></td>
                                        <td></td>
 										<th scope="row">Database명</th>
                                        <td><input type="text" class="in_w100" name="dbmsDatabaseNm" value="#{dbmsDatabaseNm}" readonly></td>
                                        <td></td>
                                        <th scope="row">표준세트</th>
                                        <td><input type="text" class="in_w100" name="stdSetNm" value="#{stdSetNm}" readonly></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


					<div style="margin-bottom: 8px;">
                        <div class="search_wrap">
                            <table class="search fixed">
                                <colgroup>
                                    <col style="width: 110px;" />
                                    <col style="width: auto;" />
                                </colgroup>
                                <tbody class="fwk_databind_single_tbody">
                                    <tr>
                                        <th scope="row">제외테이블</th>
                                        <td><input type="text" class="in_w100" id="exceptTabs" name="exceptTabs" value="" placeholder="제외할 테이블명을 컴마로 구분하여 입력 해주세요"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
				</div>

				
				<div class="content_area" style="padding-top: 0;">
					<div class="tab_wrap view_wrap">
						<ul class="tab_btn_wrap" id="ul_tabWap">
							<li class="tab_btn on" data-callbackfn="fnAfterTabChange(1);"><a href="#" onclick="return false;" data-tab="1">표준 점검 목록</a></li>
							<li class="tab_btn" data-callbackfn="fnAfterTabChange(2);"><a href="#" onclick="return false;" data-tab="2">비표준 항목 조회</a></li>
							<li class="tab_btn" data-callbackfn="fnAfterTabChange(3);"><a href="#" onclick="return false;" data-tab="3">테이블 컬럼 조회</a></li>
						</ul>
						<div class="tab_cont_wrap">
						
						
							<!-- tab 1 start -->
							<div class="tab_content" data-tab="1" >
								<div class="tbl_top" style="flex: 0 0 0;">
									<div class="search_wrap" style="padding: 0;" >
			                            <table class="search fixed" id="tb_analSearch">
			                                <colgroup>

			                                    <col style="width: auto;" />
			                                    <col style="width: 5px;" />
			                                    <col style="width: 740px;" />
												<col style="width: 160px;" />
			                                </colgroup>
			                                <tbody class="fwk_databind_single_tbody">
			                                    <tr>
			                                        <td>
														<span style="vertical-align:middle; margin-right: 5px;"> 
															<input type="radio" name="stdResultType" value="ALL" checked /> 전체 (<span id="sb_totColCnt">0</span>건) &nbsp;/&nbsp;
															<input type="radio" name="stdResultType" value="Y" /> 표준 (<span id="sb_stdListCnt">0</span>건) &nbsp;/&nbsp;
															<input type="radio" name="stdResultType" value="N" /> 비표준 (<span id="sb_nonStdListCnt">0</span>건) 
														</span>
													</td>
			                                        <td></td>
													<td>
														<input type="radio" name="errorItemType" value="ALL" checked />전체
														<input type="radio" name="errorItemType" value="NO_DOMN" /><span class="cl_no_domn">도메인타입없음</span>
														<input type="radio" name="errorItemType" value="NO_WRD" /><span class="cl_no_wrd">단어없음</span>
														<input type="radio" name="errorItemType" value="NO_PHYSICAL"/><span class="cl_no_physical">용어약어없음</span>
														<input type="radio" name="errorItemType" value="NO_LOGICAL" /><span class="cl_no_logical">용어명없음</span>
														<input type="radio" name="errorItemType" value="EMPTY_LOGICAL" /><span class="cl_empty_logical">DB논리명없음</span>
														<input type="radio" name="errorItemType" value="DIFF_WORD" /><span class="cl_diff_word">용어불일치</span>
													</td>
			                                        <td><input type="text" name="analResultSearchText" id="analResultSearchText" style="width: 150px;" title="검색어" placeholder="검색어를 입력 후 엔터" ></td>
			                                    </tr>
			                                </tbody>
			                            </table>
			                        </div> 
								</div> 
			                	<div class="table_area marginb25">
									<table class="list margin0" id="tb_analResultList">
									
										<colgroup>
											<col width="60px;">
											<col width="60px;">
											<col width="260px;">
											<col width="260px;">
											<col width="200px;">
											<col width="140px;">
											<col width="auto;">
										</colgroup>
										<thead>
											<tr>
												<th>순번</th>
												<th>표준여부</th>
												<th>테이블명</th>
												<th>컬럼명(물리명)</th>
												<th>컬럼커멘트(논리명)</th>
												<th>데이터타입</th>
												<th>비표준항목(단어/용어/도메인 항목)</th>
											</tr>
										</thead>
										<tbody>
											<tr class="fwk_templete_row cl_stdAnalsTr"> 
												<td><span class="sp_rowNo">#{FWK_TR_NO}</span></td> 
												<td>#{analStdYn}</td>
												<td class="alignl">
													#{tableName}
													<input type="hidden" name="tableName" value="#{tableName}" />
													<input type="hidden" name="searchText" value="#{tableName}_#{columnName}_#{columnComment}" class="cl_analStdSearchText" />
													<input type="hidden" name="analStdYn" value="#{analStdYn}" class="cl_analStdYn" />
													<input type="hidden" name="stdAnalErrorCds" value="#{stdAnalErrorCds}" class="cl_analStdAnalErrorCds"  />
													<!--		
													<input type="hidden" name="errorWrdNms" value="#{errorWrdNms}" />
													-->
												</td>
												<td class="alignl cl_columnName">#{columnName}</td>
												<td class="alignl cl_columnComment">#{columnComment}</td>
												<td class="alignl">#{dataTypeLength}</td>
												<td class="alignl">#{errorViewHtml}</td>
											</tr>
											<tr class="fwk_tr_no_row"><td colspan="7" style="text-align: center">조회된데이터가 없습니다.</td></tr>
										</tbody>
									</table>
                				</div>

	                    	</div><!--tab 1 end -->

							<!--tab 2 start -->
	                    	<div class="tab_content" data-tab="2" style="display: none;">
								<div class="division" >
			                		<div class="row">
			                			<div class="left" data-width="auto">
				                			<div class="tbl_top" style="flex: 0 0 0;">
												<p class="tit v2">
													<span>비표준 용어 (<span id="sp_errorWordListCnt">0</span>건)</span>
												</p>
												<input type="text" name="errorWordSearchText" id="errorWordSearchText" style="width: 180px;" title="검색어" placeholder="검색어를 입력해주세요" >
											</div>
											<div class="table_area marginb25">
												<table class="list margin0" id="tb_errorWordList">
													<colgroup>
														<col width="60px;">
														<col width="auto;">
														<col width="auto;">
														<col width="80px;">
														<col width="80px;">
													</colgroup>
													<thead>
														<tr>
															<th>번호</th>
															<th>컬럼명(물리명)</th>
															<th>컬럼커멘트(논리명)</th>
															<th>비표준 수</th>
															<th>용어등록</th>
														</tr>
													</thead>
													<tbody>
														<tr class="fwk_templete_row">
															<td><span class="sp_rowNo">#{FWK_TR_NO}</span></td>
															<td class="alignl">
																#{wordEngAbrvNm}
																<input type="hidden" name="searchText" value="#{wordEngAbrvNm}_#{wrdNm}" class="cl_tableFilter"  />
															</td>
															<td class="alignl">#{wrdNm}</td>
															<td class="alignr">#{cnt}</td>
															<td><button class="btn sm" onclick="fnDbmsWordRegBtnModal('R','#{wordEngAbrvNm}'); return false;">등록</button></td>
														</tr>
													</tbody>
												</table>
											</div>
				                		</div>

										<div class="right" data-width="370">
				                			<div class="tbl_top" style="flex: 0 0 0;">
												<p class="tit v2">
													<span>비표준 단어 (<span id="sp_errorWrdListCnt">0</span>건)</span>
												</p>
												<input type="text" name="errorWrdSearchText" id="errorWrdSearchText" style="width: 180px;" title="검색어" placeholder="검색어를 입력해주세요" >
											</div> 
						                	<div class="table_area marginb25">
												<table class="list margin0" id="tb_errorWrdList">
													<colgroup>
														<col width="60px;">
														<col width="auto;">
														<col width="80px;">
														<col width="80px;">
													</colgroup>
													<thead>
														<tr>
															<th>순번</th>
															<th>단어명</th>
															<th>비표준 수</th>
															<th>단어등록</th>
														</tr>
													</thead>
													<tbody>
														<tr class="fwk_templete_row"> 
															<td><span class="sp_rowNo">#{FWK_TR_NO}</span></td> 
															<td class="alignl">
																#{wrdNm}
																<input type="hidden" name="searchText" value="#{wrdNm}" class="cl_tableFilter"  />
															</td>
															<td class="alignr">#{cnt}</td>
															<td><button class="btn sm" onclick="fnDbmsWrdRegBtnModal('R','#{wrdNm}'); return false;">등록</button></td>
														</tr>
													</tbody>
												</table>
			                				</div>
										</div>
										
										
			                			<div class="right" data-width="370">
				                			<div class="tbl_top" style="flex: 0 0 0;">
												<p class="tit v2">
													<span>비표준 데이터타입 (<span id="sp_errorDataTypeListCnt">0</span>건)</span>
												</p>
											</div> 
						                	<div class="table_area marginb25">
												<table class="list margin0" id="tb_errorDataTypeList">
													<colgroup>
														<col width="60px;">
														<col width="auto;">
														<col width="80px;">
														<col width="80px;">
													</colgroup>
													<thead>
														<tr>
															<th>순번</th>
															<th>데이터타입</th>
															<th>비표준 수</th>
															<th>도메인등록</th>
														</tr>
													</thead>
													<tbody>
														<tr class="fwk_templete_row"> 
															<td><span class="sp_rowNo">#{FWK_TR_NO}</span></td> 
															<td class="alignl">
																#{dataTypeLength}
																<input type="hidden" name="searchText" value="#{wrdNm}" class="cl_tableFilter"  />
															</td>
															<td class="alignr">#{cnt}</td>
															<td><button class="btn sm" onclick="fnDbmsDomnRegBtnModal('#{dataTypeLength}'); return false;">등록</button></td>
														</tr>
													</tbody>
												</table>
			                				</div>
										</div>
				                	</div>
		        		        </div>
	                    	</div><!--tab 2 end-->


							<!--tab 3 start -->
	                    	<div class="tab_content" data-tab="3" style="display: none;">
								<div class="division">
			                		<div class="row">
			                			<div class="left" data-width="600">
				                			<div class="tbl_top" style="flex: 0 0 0;">
												<p class="tit v2">
													<span>테이블 목록 (총 <span id="sp_tableListCnt">0</span>건)
													</span>
													
												</p>
												
												<input type="text" name="tabNmSearchText " id="tabNmSearchText" style="width: 300px;" title="검색어" placeholder="검색어를 입력해주세요" >
											</div>
											<div class="table_area marginb25">
												<table class="list margin0" id="tb_tableList">
													<colgroup>
														<col width="60px;">
														<col width="auto;">
														<col width="auto;">
													</colgroup>
													<thead>
														<tr>
															<th>번호</th>
															<th>테이블명</th>
															<th>테이블커멘트</th>
														</tr>
													</thead>
													<tbody>
														<tr class="fwk_templete_row cl_datalisttr">
															<td><span class="sp_rowNo">#{FWK_TR_NO}</span></td>
															<td class="alignl">
																#{tableName}
																<input type="hidden" name="tableName" value="#{tableName}" />
																<input type="hidden" name="seachTable" value="#{tableName}_#{tableComment}" />
															</td>
															<td class="alignl">#{tableComment}</td>
														</tr>
													</tbody>
												</table>
											</div>
				                		</div>
			                			<div class="right" data-width="auto;">
				                			<div class="tbl_top" style="flex: 0 0 0;">
												<p class="tit v2">
													<span>컬럼 목록 (총 <span id="sp_columnListCnt">0</span>건)</span>
												</p>
												<div>
													<input type="hidden" name="checkedTableNm" id="checkedTableNm" />
													<button class="btn sm" title="전체보기" onclick="fnClearColumnFilter(); return false;" style="margin-right: 3px;">전체보기</button>
													<input type="text" name="tabCommentSearchText" id="tabCommentSearchText" style="width: 300px;" title="검색어" placeholder="검색어를 입력해주세요" >
												</div>
											</div> 
						                	<div class="table_area marginb25">
												<table class="list margin0" id="tb_columnList">
													<colgroup>
														<col width="60px;">
														<col width="auto;">
														<col width="auto;">
														<col width="auto;">
														<col width="130px;">
													</colgroup>
													<thead>
														<tr>
															<th>순번</th>
															<th>테이블명</th>
															<th>컬럼명(물리명)</th>
															<th>컬럼커멘트(논리명)</th>
															<th>데이터타입</th>
														</tr>
													</thead>
													<tbody>
														<tr class="fwk_templete_row cl_datalisttr" > 
															<td><span class="sp_rowNo">#{FWK_TR_NO}</span></td> 
															<td class="alignl">
																#{tableName}
																<input type="hidden" name="searchColumn" value="#{columnName}_#{columnComment}"/>
																<input type="hidden" name="tableName" value="#{tableName}" />
															</td>
															<td class="alignl">#{columnName}</td>
															<td class="alignl">#{columnComment}</td>
															<td class="alignl">#{dataTypeLength}</td>
														</tr>
													</tbody>
												</table>
			                				</div>
										</div>
				                	</div>
		        		        </div>
	                    	</div><!--tab 3 end-->

						</div> 
						
					</div>
				</div>
				
			</div>
		</div>
	</div>

<!-- 용어 신규등록 및 수정  -->
<div class="popup layer" id="wordreginfo_modal" style="height :600px">
	<th:block th:replace="meta/stddicary/word_list_reg_inc :: word_list_reg_inc" />
</div>
<!-- 단어 신규등록 및 수정  -->
<div class="popup layer" id="wrdreginfo_modal" style="height :500px">
	<th:block th:replace="meta/stddicary/wrd_list_reg_inc :: wrd_list_reg_inc" />
</div>

<!-- 도메인 신규등록 및 수정  -->
<div class="popup layer" id="domnreginfo_modal" style="height :550px">
	<th:block th:replace="meta/stddicary/domn_list_reg_inc :: domn_list_reg_inc" />
</div>


	
	
<script type="text/javascript">

$(document).ready(function() {
	
	try {
		// 왼쪽 메뉴 선택 처리 (링크로 해당 페이지 들어온경우 오른쪽 메뉴를 선택 처리 한다. )
		parent.fnSelectLeftMenu(location.pathname);
	} catch(e) {}
	
	var stdSetSn = parent.$("#topgv_stdSetSn").val();
	
	if(!fnChkStdSet(stdSetSn)){
		return;
	} else {
		$("#btnList").show();
	}
	
	/*
	$("#analResultSearchText").on("keyup", function(event) {
		fnFilterStdResultList();
	});
	*/
	$("#analResultSearchText").on("keyup", function(event) {
		if(event.keyCode == 13)
			fnFilterStdResultList();
	});
	
	$("#tb_analSearch input[name=stdResultType], #tb_analSearch input[name=errorItemType]").on("change", function(event) {
		fnFilterStdResultList();
	});
 
	$("#errorWordSearchText").on("keyup", function(event) {
		if(event.keyCode == 13)
			fnErrorWordFilter($(this).val());
	});
	$("#errorWrdSearchText").on("keyup", function(event) {
		if(event.keyCode == 13)
			fnErrorWrdFilter($(this).val());
	});

	$("#tabNmSearchText").on("keyup", function(event) {
		if(event.keyCode == 13)
			fnTableNameFilter($(this).val());
	});
	$("#tabCommentSearchText").on("keyup", function(event) {
		if(event.keyCode == 13)
			fnColumnNameFilter($(this).val());
	});
	

	// 접속 dbms 정보 조회
	fnGetPrjDbmsInfo();
	
	// 표준점검 
	//fnDoAnalysis();
	
	// 전체 테이블 컬럼 목록 조회
	//fnSearchDbmsTableColumnList();
	
	fnWordInit();
});


// 용어 공통코드 설정
function fnWordInit() {
	new CodeBinder()
		.setCommonCode("CONFMCDTY")
		.setCommonCode("WRDCDTY")
		.load();
}

//용어 등록
function fnDbmsWordRegBtnModal(pmode, wordEngAbrvNm) {
	fnShowModal("wordreginfo_modal");
	
	var wordSn ="";
	fnRegWordSearch(wordSn, pmode);
	$("#regWordSearchNm").val(wordEngAbrvNm);
	fnSearchWordNmListBtn();
}

// 용어 등록후 조회시
function fnWordSearch(){
	fnDoAnalysis("fnWordSearch");
}

//단어 등록
function fnDbmsWrdRegBtnModal(pmode, wrdEngAbrvNm) {
	fnShowModal("wrdreginfo_modal");
	
	fnRegWrdSearch("", pmode);
	$("#regWrdEngAbrvNm").val(wrdEngAbrvNm);
	
}
// 단어 등록후 조회시
function fnWrdSearch(){
	fnDoAnalysis("fnWrdSearch");
}
 

//도메인 등록
function fnDbmsDomnRegBtnModal(selectedDataTypeLength) {
	
	if(selectedDataTypeLength && selectedDataTypeLength != "") {

		var dataType = "";
		var dataLength = "";
		var dataScale = "";
		if(selectedDataTypeLength.indexOf("(") >= 0) {
			dataType = selectedDataTypeLength.substring(0, selectedDataTypeLength.indexOf("("));
			dataLength = selectedDataTypeLength.substring( selectedDataTypeLength.indexOf("(") + 1,  selectedDataTypeLength.indexOf(")"));
			if(dataLength.indexOf(",") >= 0) {
				var tl = dataLength;
				dataLength = tl.substring(0, tl.indexOf(","));
				dataScale = tl.substring(tl.indexOf(",") + 1, tl.length);
			}
		} else {
			dataType = selectedDataTypeLength;
		}
		$("#regDomnSnHide").val("");
		$("#regDomnPmodeHide").val("R");
		
		fnRegDomnSearch();
		
		// 도메인 등록 화면에 데이터 타입 선택 처리		
		$("#regDomnDataTyCd").val(dataType).prop("selected", true); 
		$("#regDomnDataLtValue").val(dataLength);
		$("#regDomnDataDcmlpointLtValue").val(dataScale);
		// 도메인명 자동 완성
		// fnAutoMakeDomnNm();
		
		fnShowModal("domnreginfo_modal");
	}
}
// 도메인저장후 재조회
function fnDomnSearch() {
	fnDoAnalysis("fnDomnSearch");
	
	// 용어쪽에 도메인리스트 업데이트
	var sqlId = "meta_code.selectDomnNmList:stdSetSn="+parent.$("#topgv_stdSetSn").val();
	var tempSqlCodeList = new Array();
	tempSqlCodeList[0] = sqlId;
	var paramObj = {};
	paramObj.COMMON_CODE_LIST = [];
	paramObj.SQL_CODE_LIST = tempSqlCodeList;
	
	$.ajax({
		url: "/json/commonCode/getCommonCodeMultiList"
		, method : "POST"
		, contentType: 'application/json'
		, data: JSON.stringify(paramObj)
		, success: function(data){
			//console.log(data);
			
			var tempSqlCodeList = data.SQL_CODE_LIST;
			var codeList = tempSqlCodeList[sqlId];
			//console.log(codeList);
			
			var selectObj = $(".ul_results");
			selectObj.empty();
			var selectedText = "";
			for(var j = 0 ; j < codeList.length; j++) {
				var item = codeList[j];

				var extvarText = "";
				if(item.extval && item.extval != undefined && item.extval != "") {	// extval 이 있을때 
					extvarText = " data-extval='"+item.extval+"'";
				}
				var extvarText2 = "";
				if(item.extval2 && item.extval2 != undefined && item.extval2 != "") {	// extval2 이 있을때 
					extvarText2 = " data-extval2='"+item.extval2+"'";
				}
				var code = "";
				if(item.code && item.code != undefined && item.code != "") {	// code 있을때 
					code = " data-code='"+item.code+"'";
				}
				var addObj = "<li class='li_result' data-option-index='"+j+"' value='"+item.codeNm + "' "+selectedText+code+" "+selectedText+extvarText+" "+selectedText+extvarText2+">"+item.codeNm+"</li>";
				selectObj.append(addObj);
			}			
			
			
			fnCodeLoadCallbackRegWord();
							
		}
	});
	
	
	
				
}


// 프로젝트 dbms정보 조회
function fnGetPrjDbmsInfo() {
	 
	$.ajax({
		url : "/json/project/getCurrProjectInfo",
		method : "POST",
		contentType : 'application/json',
		data : JSON.stringify({}),
		success : function(data) {
			fnBindTableValueForSingle("tb_dbms_info", data.info);
			
			
			// 자동조회 처리
			if($("#searchMode").val() && $("#searchMode").val() != "") {
				fnDoAnalysis($("#searchMode").val())
			}
				
			
			// 표준점검 제외테이블 정보 조회  
			fnGetStdAnalsExclTblInfo();
		}
	});
}

// 표준점검 제외테이블 정보 조회  
function fnGetStdAnalsExclTblInfo() {
	 
	$.ajax({
		url : "/json/dbmsStdAnalysis/getStdAnalsExclTblInfo",
		method : "POST",
		contentType : 'application/json',
		data : JSON.stringify({
			dbmsCnncSn: $("#dbmsCnncSn").val()
		}),
		success : function(data) {
			//console.log(data.info);
			if(data.info) {
				$("#exceptTabs").val(data.info.exclTblCn);
			}
		}
	});
}



var searchDataObj;		// 조회된 데이터 
var isLoadedTab1 = false;	// tab 별 load 여부
var isLoadedTab2 = false;
var isLoadedTab3 = false;

// 점검
function fnDoAnalysis(location) {
	
	if (!location){
		location = "";
	}

	if (location == "") {
		if(!confirm("점검을 시작 하시겠습니까?")){
			return;
 		}
	} 
	isLoadedTab1 = false;
	isLoadedTab2 = false;
	isLoadedTab3 = false;
	/*
	// 첫번째 tab 선택 처리
	$("#ul_tabWap").find("li").removeClass("on");
	$("#ul_tabWap").find("li").eq(0).trigger("click");
	*/					
							
	$.ajax({
		url: "/json/dbmsStdAnalysis/doDbmsStdAnalysis"
		, method : "POST"
		, contentType: 'application/json'
		, data: JSON.stringify({
			exceptTabs: $("#exceptTabs").val()
			, dbmsCnncSn: $("#dbmsCnncSn").val()
		})
		, success: function(data){

			searchDataObj = data;
			
			// 각종 count display 처리
			$("#sb_totColCnt").text(fnFormatNumber(data.tableColumnList.length));
			$("#sb_stdListCnt").text(fnFormatNumber(data.stdCnt));
			$("#sb_nonStdListCnt").text(fnFormatNumber(data.nonStdCnt));
			$("#sp_stdRateText").text(data.stdComplyRate);	// 표준준수율
					
		
			if(location == "T2") {
				// 화면 진입과 동시에 조회 한 후 Tab 2번째 조회 시 
				$("#ul_tabWap").find("li").removeClass("on");
				$("#ul_tabWap").find("li").eq(1).trigger("click");
				fnAfterTabChange(2);		
			} else {
				// 선택 되어 있는 TAB 데이터 로드 & display
				fnAfterTabChange(getSelectedTabId());
			}
			//fnFilterStdResultList();
			
			//setFrameHeight();
		}
	});
}

// 엑셀 다운로드
function fnAnalDownloadExcel() {
	fnCommFileDownByUrl("/exceldown/dbmsStdAnalysis/getAnalExcelDown","DBMS 표준 분석", JSON.stringify({exceptTabs : $("#exceptTabs").val(), dbmsCnncSn : $("#dbmsCnncSn").val()}));
}

function getSelectedTabId() {
	return $("#ul_tabWap").find("li.on").find("a").attr("data-tab");
}
// 탭변경시
function fnAfterTabChange(tabIndex) {
	
	if(tabIndex == 1 && isLoadedTab1 == false) {
		fnBindTableValue("tb_analResultList", searchDataObj.tableColumnList, null, function() {
			
			$("#tb_analResultList .fwk_data_row").each(function() {
				var stdAnalErrorCds = $(this).find("input[name=stdAnalErrorCds]").val();
				//console.log(stdAnalErrorCds);
				if(stdAnalErrorCds.indexOf("NO_PHYSICAL") >= 0) {
					//$(this).find(".cl_columnName").addClass("cl_errorItemText");
					$(this).find(".cl_columnName").attr("style", "color:red !important");
					
				}
				if(stdAnalErrorCds.indexOf("NO_LOGICAL") >= 0) {
					//$(this).find(".cl_columnComment").addClass("cl_errorItemText");
					$(this).find(".cl_columnComment").attr("style", "color:red !important");
				}
			});
			
		});
		fnFilterStdResultList();
		isLoadedTab1 = true;
	} else if(tabIndex == 2 && isLoadedTab2 == false) {
		if(!searchDataObj)
			return;
			
		// 비표준 용어 
		$("#sp_errorWordListCnt").text(fnFormatNumber(searchDataObj.errorWordGrpList.length));
		fnBindTableValue("tb_errorWordList", searchDataObj.errorWordGrpList);
		
		// 비표준 단어 
		$("#sp_errorWrdListCnt").text(fnFormatNumber(searchDataObj.errorWrdGrpList.length));
		fnBindTableValue("tb_errorWrdList", searchDataObj.errorWrdGrpList);
		
		$("#sp_errorDataTypeListCnt").text(fnFormatNumber(searchDataObj.errorDataTypeGrpList.length));
		fnBindTableValue("tb_errorDataTypeList", searchDataObj.errorDataTypeGrpList);
		
		isLoadedTab2 = true;
	} else if(tabIndex == 3 && isLoadedTab3 == false) {

		if(!searchDataObj)
			return;
			
		// 테이블 컬럼조회 부분 목록 
		$("#sp_tableListCnt").text(fnFormatNumber(searchDataObj.tableList.length));
		$("#sp_columnListCnt").text(fnFormatNumber(searchDataObj.tableColumnList.length));
		
		fnBindTableValue("tb_tableList", searchDataObj.tableList);
		// 클릭시 로 변경 
		fnBindTableValue("tb_columnList", searchDataObj.tableColumnList, null );	
		// 선택 tr event 처리 후 color 처리 		
		fnSelectTrEvent("#tb_tableList tbody tr", function(rtnObj) {
			fnTableViewDetail($(rtnObj).find("input[name=tableName]").val());
		});
		isLoadedTab3 = true;
	}
	
	
	setFrameHeight();
	 
	
	
}

// 표준 점검 목록 필터링 
function fnFilterStdResultList() {
	
	$("#tb_analResultList").find(" tr.cl_stdAnalsTr").hide();
	
	var stdResultType = $("#tb_analSearch input[name=stdResultType]:checked").val();
	var errorItemType = $("#tb_analSearch input[name=errorItemType]:checked").val();
	var analColumnNameText = $("#analResultSearchText").val();
	 
		
	//$("#tb_analResultList tbody tr").hide();
	$("#tb_analResultList").find(" tr.cl_stdAnalsTr").hide();
	
	//var rowNo = 1;
	if(stdResultType == "ALL" && errorItemType == "ALL" && analColumnNameText == "") {
		// 전체 목록 일때 
		/*
		$("#tb_analResultList tbody tr").each(function() {
			if(!$(this).closest("tr").hasClass("fwk_templete_row") && !$(this).closest("tr").hasClass("fwk_tr_no_row")) {
				//$(this).closest("tr").find(".sp_rowNo").text(rowNo++);
				$(this).closest("tr").show();
			} 
		});
		*/
		//$("#tb_analResultList").find("tr.cl_stdAnalsTr").show();
		
		var tbObj = document.getElementById("tb_analResultList");
		var trsObj = tbObj.getElementsByTagName("tbody")[0].getElementsByTagName("tr");
		for (let trObj of trsObj) {
			var tempClNm = trObj.className;
			if(tempClNm.indexOf("fwk_templete_row") < 0 && tempClNm.indexOf("fwk_tr_no_row")) {
				trObj.style.display = "";	
			}
		}
			
			
	} else {
		
		var tbObj = document.getElementById("tb_analResultList");
		var trsObj = tbObj.getElementsByTagName("tbody")[0].getElementsByTagName("tr");
		
		
		for (let trObj of trsObj) {
			var tempClNm = trObj.className;
			if(tempClNm.indexOf("fwk_templete_row") < 0 && tempClNm.indexOf("fwk_tr_no_row")) {
				var analStdYn = trObj.getElementsByClassName("cl_analStdYn")[0].value;
				var searchText = trObj.getElementsByClassName("cl_analStdSearchText")[0].value;
				var stdAnalErrorCds = trObj.getElementsByClassName("cl_analStdAnalErrorCds")[0].value;
				
				 
				if( (stdResultType == "ALL" || stdResultType == analStdYn)
					&& (errorItemType == "ALL" || stdAnalErrorCds.indexOf(errorItemType) > -1)  
					&& searchText.indexOf(analColumnNameText.toUpperCase()) > -1 ) {
						//$(this).closest("tr").find(".sp_rowNo").text(rowNo++);
						//$(this).closest("tr").show();
						trObj.style.display = "";	
				} 	
			}
		}
		
		 
	}
	
	
	setFrameHeight();
	
}




// 상세 조회
function fnTableViewDetail(tableName) {
	$("#checkedTableNm").val(tableName);
	
	var columnName = "";
	var columnSearchText = "";
	var rowNum = 1;
	$("#tb_columnList tbody tr").each(function(){

		if(tableName.toUpperCase() == $(this).find("input[name=tableName]").val().toUpperCase()){
			
			columnSearchText = $("#tabCommentSearchText").val().toUpperCase();
			columnName = $(this).find("input[name=searchColumn]").val().toUpperCase();
			
			if(columnSearchText != ""){
				if (columnName.indexOf(columnSearchText.toUpperCase()) != -1) {
					$(this).find(".sp_rowNo").text(rowNum++);
					$(this).show();
				} else {
					$(this).hide();
				}
			} else {
				$(this).find(".sp_rowNo").text(rowNum++);
				$(this).show();
			}
		} else {
			$(this).hide();
		}
	});
	setFrameHeight();
	
	
	
}
// 비표준 용어 목록 필터링 
function fnErrorWordFilter(searchText) {
	var rowNo = 1;
	$("#tb_errorWordList").find(".cl_tableFilter").each(function() {
		var tval = ($(this).val()).toUpperCase();
		if((tval).indexOf(searchText.toUpperCase()) > -1) {
			if($(this).closest("tr").hasClass("fwk_data_row")) {
				$(this).closest("tr").find(".sp_rowNo").text(rowNo++);
				$(this).closest("tr").show();
			}
		} else {
			$(this).closest("tr").hide();
		}
	});
	setFrameHeight();
}
// 비표준 단어 목록 필터링 
function fnErrorWrdFilter(searchText) {
	var rowNo = 1;
	$("#tb_errorWrdList").find(".cl_tableFilter").each(function() {
		var tval = ($(this).val()).toUpperCase();
		if((tval).indexOf(searchText.toUpperCase()) > -1) {
			if($(this).closest("tr").hasClass("fwk_data_row")) {
				$(this).closest("tr").find(".sp_rowNo").text(rowNo++);
				$(this).closest("tr").show();
			}
		} else {
			$(this).closest("tr").hide();
		}
	});
	setFrameHeight();
}

function fnTableNameFilter(searchText) {
	var tableNam = "";
	var rowNum = 1;
	$("#tb_tableList tbody .fwk_data_row").filter(function() {
		tableName = $(this).find("input[name=seachTable]").val().toUpperCase();
		if (searchText != "") {
			if (tableName.indexOf(searchText.toUpperCase()) != -1) {
				$(this).find(".sp_rowNo").text(rowNum++);
				$(this).show();
			} else {
				$(this).hide();
			}
		} else {
			$(this).find(".sp_rowNo").text(rowNum++);
			$(this).show();
		}
	});
	
	setFrameHeight();
}

function fnColumnNameFilter(searchText) {
	var columnName = "";
	var tableName = "";
	var checkedTableNm = $("#checkedTableNm").val().toUpperCase();
	var rowNum = 1;
	$("#tb_columnList tbody .fwk_data_row").filter(function() {
		
 		columnName = $(this).find("input[name=searchColumn]").val().toUpperCase();
		tableName = $(this).find("input[name=tableName]").val().toUpperCase();
		
		
		if(checkedTableNm == ""){
			if(searchText != ""){
				if (columnName.indexOf(searchText.toUpperCase()) != -1) {
					$(this).find(".sp_rowNo").text(rowNum++);
					$(this).show();
				} else {
					$(this).hide();
				}
			} else {
				$(this).find(".sp_rowNo").text(rowNum++);
				$(this).show()
			}
		} else {
			if(checkedTableNm == tableName){
				if (columnName.indexOf(searchText.toUpperCase()) != -1) {
					$(this).find(".sp_rowNo").text(rowNum++);
					$(this).show();
				} else {
					$(this).hide();
				}
			} else {
				$(this).hide();
			}
		}
		
	});
	
	setFrameHeight();
	
}

function fnClearColumnFilter() {
	$("#checkedTableNm").val("");
	$("#tabNmSearchText").val("");
	$("#tabCommentSearchText").val("");
 	fnClearSelectTrEvent(".cl_datalisttr");

 	fnColumnNameFilter("");
	fnTableNameFilter(""); 
}


// 비표준 항목 클릭시 호출됨  
function fnClickErrorItem(errorType, obj) {
	if(errorType == "NO_PHYSICAL" || errorType == "NO_LOGICAL") {
		fnDbmsWordRegBtnModal("R", (obj.innerHTML).trim() );
	} else if(errorType == "NO_WRD") {
		fnDbmsWrdRegBtnModal("R",  (obj.innerHTML).trim() );
	} else if(errorType == "NO_DOMN") {
		fnDbmsDomnRegBtnModal((obj.innerHTML).trim());
	}
}




</script>
</body>
</html>