<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/mainLayout">

<head>
	<th:block th:replace="fragments/head_inc :: head_inc" />
	<style type="text/css">
	
		table.list tbody td { padding : 4px 8px; }
		.cl_height60 {
			height:60px;
		}
		
	</style>
</head>

<body id="body">
	<div id="wrap">
		<div class="container">
			<div id="content">
				<div class="page_info_area">
					<div class="left">
                        <div class="location_area">
                            <a href="#" class="bookmark active" title="즐겨찾기"></a>
                            <ul>
                                <li>홈</li>
                                <li>분석 및 통계</li>
								<li>DBMS도메인분석</li>
                            </ul>
                        </div>
                        <div class="title_area">
                            <p>DBMS도메인분석</p>
                            <a href="#" class="reload_btn" title="새로고침">새로고침</a>
                            <a href="#" class="help_btn" title="도움말">도움말</a>
                        </div>
                    </div>
                    <div class="right">
                        <div class="button_area">
							<!--
                        	<button class="btn" title="조회" onclick="fnSearch(); return false;">조회</button>
								-->
							<button class="btn" title="조회" onclick="fnDoAnalysis(); return false;">점검</button>
							
                        </div>
                    </div>
                </div>


				<div class="content_area">
                    <div class="division20">
                        <div class="search_wrap">
                            <table class="search fixed" id="tb_dbms_info">
                                <colgroup>
                                    <col style="width: 110px;" />
                                    <col style="width: auto;" />
                                    <col style="width: 50px;" />
                                    <col style="width: 110px" />
                                    <col style="width: auto;" />
                                    <col style="width: 50px;" />
                                    <col style="width: 110px" />
                                    <col style="width: auto;" />
                                </colgroup>
                                <tbody class="fwk_databind_single_tbody">
                                    <tr>
                                        <th scope="row">DBMS</th>
                                        <td>
											<input type="text" class="in_w100" name="dbmsNm" value="#{dbmsNm}" readonly>
											<input type="hidden" name="dbmsCnncSn" id="dbmsCnncSn" value="#{dbmsCnncSn}">
										</td>
                                        <td></td>
 										<th scope="row">DBMS IP</th>
                                        <td><input type="text" class="in_w100" name="dbmsIpAddr" value="#{dbmsIpAddr}" readonly></td>
                                        <td></td>
                                        <th scope="row">DBMS Port</th>
                                        <td><input type="text" class="in_w100" name="dbmsPortNo" value="#{dbmsPortNo}" readonly></td>
										
                                    </tr>
 									<tr>
                                        <th scope="row">접속계정</th>
                                        <td><input type="text" class="in_w100" name="dbmsId" value="#{dbmsId}" readonly></td>
                                        <td></td>
 										<th scope="row">Database명</th>
                                        <td><input type="text" class="in_w100" name="dbmsDatabaseNm" value="#{dbmsDatabaseNm}" readonly></td>
                                        <td></td>
                                        <th scope="row">표준세트</th>
                                        <td><input type="text" class="in_w100" name="stdSetNm" value="#{stdSetNm}" readonly></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


					<div style="margin-bottom: 8px;">
                        <div class="search_wrap">
                            <table class="search fixed" id="tb_dbms_info">
                                <colgroup>
                                    <col style="width: 110px;" />
                                    <col style="width: auto;" />
                                </colgroup>
                                <tbody class="fwk_databind_single_tbody">
                                    <tr>
                                        <th scope="row">제외테이블</th>
                                        <td><input type="text" class="in_w100" id="exceptTabs" name="exceptTabs" value="" placeholder="제외할 테이블명을 컴마로 구분하여 입력 해주세요"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
				</div>

				
				<div class="content_area" style="padding-top: 0;">
					<div class="tab_wrap view_wrap">
						<ul class="tab_btn_wrap" id="ul_tabWap">
							<li class="tab_btn on" data-callbackfn="fnAfterTabChange();"><a href="#" onclick="return false;" data-tab="1">데이터타입별 컬럼목록</a></li>
							<li class="tab_btn" data-callbackfn="fnAfterTabChange();"><a href="#" onclick="return false;" data-tab="2">형식단어별 데이터타입목록</a></li>
						</ul>
						<div class="tab_cont_wrap">
						
						
							<!-- tab 1 start -->
							<div class="tab_content" data-tab="1">
								<div class="division">
			                		<div class="row">
			                			<div class="left" data-width="300">
				                			<div class="tbl_top" style="flex: 0 0 0;">
												<p class="tit v2">
													<span>데이터타입 목록</span>
												</p>
											</div>
											<div class="table_area marginb25">
												<table class="list margin0" id="tb_dataTypeColList">
													<colgroup>
														<col width="60px;">
														<col width="auto;">
														<col width="70px;">
													</colgroup>
													<thead>
														<tr>
															<th>번호</th>
															<th>데이터타입</th>
															<th>사용횟수</th>
														</tr>
													</thead>
													<tbody>
														<tr class="fwk_templete_row cl_dataTypeLengthTr">
															<td>#{FWK_TR_NO}</td>
															<td class="alignl">#{dataTypeLength}<input type="hidden" name="dataTypeLength" value="#{dataTypeLength}"  /></td>
															<td class="alignr">#{cnt}</td>
														</tr>
													</tbody>
												</table>
											</div>
				                		</div>

										<div class="right" data-width="200">
				                			<div class="tbl_top" style="flex: 0 0 0;">
												<p class="tit v2">
													<span>도메인 목록</span>
												</p>
											</div> 
						                	<div class="table_area marginb25">
												<table class="list margin0" id="tb_domnList">
													<colgroup>
														<col width="60px;">
														<col width="auto;">
													</colgroup>
													<thead>
														<tr>
															<th>순번</th>
															<th>도메인명</th>
														</tr>
													</thead>
													<tbody>
														<tr class="fwk_templete_row"> 
															<td><span class="sp_rowNo">#{FWK_TR_NO}</span></td> 
															<td class="alignl">
																#{domnNm}
																<input type="hidden" name="dataTypeLength" value="#{dataTypeLength}" />
															</td>
														</tr>
														<tr class="fwk_tr_no_row" style="display: none;">
															<td colspan="2">
																<button class="btn sm" onclick="fnDbmsDomnRegBtnModal(); return false;">도메인등록</button>
															</td>
														</tr>
													</tbody>
												</table>
			                				</div>
										</div>


										<div class="right" data-width="230">
				                			<div class="tbl_top" style="flex: 0 0 0;">
												<p class="tit v2">
													<span>형식단어 목록</span>
												</p>
											</div> 
						                	<div class="table_area marginb25">
												<table class="list margin0" id="tb_dataTypeLenFormWrdList">
													<colgroup>
														<col width="60px;">
														<col width="auto;">
														<col width="80px;">
													</colgroup>
													<thead>
														<tr>
															<th>순번</th>
															<th>형식단어</th>
															<th>사용횟수</th>
														</tr>
													</thead>
													<tbody>
														<tr class="fwk_templete_row"> 
															<td><span class="sp_rowNo">#{FWK_TR_NO}</span></td> 
															<td class="alignl">
																#{formWrd}
																<input type="hidden" name="dataTypeLength" value="#{dataTypeLength}" />
															</td>
															<td>#{cnt}</td>
														</tr>
													</tbody>
												</table>
			                				</div>
										</div>
										

			                			<div class="right" data-width="auto;">
				                			<div class="tbl_top" style="flex: 0 0 0;">
												<p class="tit v2">
													<span>테이블 컬럼 목록</span>
												</p>
												<div>
													<button class="btn sm" title="전체보기" onclick="fnClearColumnFilter(); return false;" style="margin-right: 3px;">전체보기</button>
													<input type="text" name="tabColSearchText" id="tabColSearchText" style="width: 200px;" title="검색어" placeholder="컬럼명 입력후 엔터" >
												</div>
											</div> 
						                	<div class="table_area marginb25">
												<table class="list margin0" id="tb_columnList">
													<colgroup>
														<col width="60px;">
														<col width="240px;">
														<col width="auto;">
														<col width="120px;">
													</colgroup>
													<thead>
														<tr>
															<th>순번</th>
															<th>테이블명</th>
															<th>컬럼명(물리명)</th>
															<th>데이터타입</th>
														</tr>
													</thead>
													<tbody>
														<tr class="fwk_templete_row"> 
															<td><span class="sp_rowNo">#{FWK_TR_NO}</span></td> 
															<td class="alignl">
																#{tableName}
																<input type="hidden" name="tableName" value="#{tableName}" />
																<input type="hidden" name="dataTypeLength" value="#{dataTypeLength}" class="cl_dataTypeLengthTd"  />
																<input type="hidden" name="searchText" value="#{columnName}" class="cl_tableFilter" data-dataTypeLength="#{dataTypeLength}" />
															</td>
															<td class="alignl">#{columnName}</td>
															<td class="alignl" style="white-space: nowrap;">#{dataTypeLength}</td>
														</tr>
													</tbody>
												</table>
			                				</div>
										</div>
										
										
										
										

				                	</div>
		        		        </div>
	                    	</div><!--tab 1 end-->


							 <!-- tab 2 start -->
							<div class="tab_content" data-tab="2" style="display: none;">
								<div class="division">
			                		<div class="row">
			                			<div class="left" data-width="300">
				                			<div class="tbl_top" style="flex: 0 0 0;">
												<p class="tit v2">
													<span>형식단어 목록</span>
												</p>
											</div>
											<div class="table_area marginb25">
												<table class="list margin0" id="tb_formWrdList">
													<colgroup>
														<col width="60px;">
														<col width="auto;">
														<col width="70px;">
													</colgroup>
													<thead>
														<tr>
															<th>번호</th>
															<th>형식단어</th>
															<th>사용횟수</th>
														</tr>
													</thead>
													<tbody>
														<tr class="fwk_templete_row cl_dataTypeLengthTr">
															<td>#{FWK_TR_NO}</td>
															<td class="alignl">#{formWrd}<input type="hidden" name="formWrd" value="#{formWrd}"  /></td>
															<td class="alignr">#{cnt}</td>
														</tr>
													</tbody>
												</table>
											</div>
				                		</div>
			                			<div class="right" data-width="auto;">
				                			<div class="tbl_top" style="flex: 0 0 0;">
												<p class="tit v2">
													<span>테이블 컬럼 목록</span>
												</p>
											</div> 
						                	<div class="table_area marginb25">
												<table class="list margin0" id="tb_columnListByFormWrd">
													<colgroup>
														<col width="60px;">
														<col width="auto;">
														<col width="auto;">
														<col width="auto;">
														<col width="140px;">
													</colgroup>
													<thead>
														<tr>
															<th>순번</th>
															<th>테이블명</th>
															<th>컬럼명(물리명)</th>
															<th>컬럼커멘트(논리명)</th>
															<th>데이터타입</th>
														</tr>
													</thead>
													<tbody>
														<tr class="fwk_templete_row"> 
															<td><span class="sp_rowNo">#{FWK_TR_NO}</span></td> 
															<td class="alignl">
																#{tableName}
																<input type="hidden" name="tableName" value="#{tableName}" />
																<input type="hidden" name="formWrd" value="#{formWrd}" />
															</td>
															<td class="alignl">#{columnName}</td>
															<td class="alignl">#{columnComment}</td>
															<td class="alignl">#{dataTypeLength}</td>
														</tr>
													</tbody>
												</table>
			                				</div>
										</div>
										
										
										<div class="right" data-width="300">
				                			<div class="tbl_top" style="flex: 0 0 0;">
												<p class="tit v2">
													<span>데이터 타입목록</span>
												</p>
											</div> 
						                	<div class="table_area marginb25">
												<table class="list margin0" id="tb_formWrdDataTypeLenList">
													<colgroup>
														<col width="60px;">
														<col width="auto;">
														<col width="80px;">
													</colgroup>
													<thead>
														<tr>
															<th>순번</th>
															<th>데이터타입</th>
															<th>사용횟수</th>
														</tr>
													</thead>
													<tbody>
														<tr class="fwk_templete_row"> 
															<td><span class="sp_rowNo">#{FWK_TR_NO}</span></td> 
															<td class="alignl">
																#{dataTypeLength}
																<input type="hidden" name="formWrd" value="#{formWrd}" />
															</td>
															<td>#{cnt}</td>
														</tr>
													</tbody>
												</table>
			                				</div>
										</div>
										
				                	</div>
		        		        </div>
	                    	</div><!--tab 2 end-->
 





						</div> 
						
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
<!-- 도메인 신규등록 및 수정  -->
<div class="popup layer" id="domnreginfo_modal" style="height :500px">
	<th:block th:replace="meta/stddicary/domn_list_reg_inc :: domn_list_reg_inc" />
</div>

	
<script type="text/javascript">

$(document).ready(function() {
	 
	$("#tabColSearchText").on("keyup", function(event) {
		if(event.keyCode == 13)
			fnColumnNameFilter($(this).val());
	});
	

	// 접속 dbms 정보 조회
	fnGetPrjDbmsInfo();
	
  
	 
});
 
// 프로젝트 dbms정보 조회
function fnGetPrjDbmsInfo() {
	 
	$.ajax({
		url : "/json/project/getCurrProjectInfo",
		method : "POST",
		contentType : 'application/json',
		data : JSON.stringify({}),
		success : function(data) {
			
			fnBindTableValueForSingle("tb_dbms_info", data.info);
			
			// 표준점검 제외테이블 정보 조회  
			fnGetStdAnalsExclTblInfo();
		}
	});
}

// 표준점검 제외테이블 정보 조회  
function fnGetStdAnalsExclTblInfo() {
	 
	$.ajax({
		url : "/json/dbmsStdAnalysis/getStdAnalsExclTblInfo",
		method : "POST",
		contentType : 'application/json',
		data : JSON.stringify({
			dbmsCnncSn: $("#dbmsCnncSn").val()
		}),
		success : function(data) {
			if(data.info) {
				$("#exceptTabs").val(data.info.exclTblCn);
			}
		}
	});
}


// 점검
function fnDoAnalysis() {
	 
	if(!confirm("점검을 시작 하시겠습니까?")){
		return;
 	}
 
	
	$.ajax({
		url: "/json/dbmsStdAnalysis/doDbmsDomnAnalysis"
		, method : "POST"
		, contentType: 'application/json'
		, data: JSON.stringify({
			exceptTabs: $("#exceptTabs").val()
			, dbmsCnncSn: $("#dbmsCnncSn").val()
		})
		, success: function(data){


			// tab 1
			fnBindTableValue("tb_dataTypeColList", data.dataTypeColList);
			fnBindTableValue("tb_domnList", data.domnList);
			fnBindTableValue("tb_dataTypeLenFormWrdList", data.dataTypeLenFormWrdList);			
			fnBindTableValue("tb_columnList", data.tableColumnList);			
						
			fnSelectTrEvent("#tb_dataTypeColList tbody tr", function(rtnObj) {
				fnViewDtlTab1($(rtnObj).find("input[name=dataTypeLength]").val());
			})
			
		
			// tab 2 
			// 데이터 길이로 sort 처리
			var columnListByFormWrdList = sortJSON(data.tableColumnList, "dataLength", "asc");

			fnBindTableValue("tb_formWrdList", data.formWrdList);
			fnBindTableValue("tb_columnListByFormWrd", columnListByFormWrdList);
			fnBindTableValue("tb_formWrdDataTypeLenList", data.formWrdDataTypeLenList);
			

			fnSelectTrEvent("#tb_formWrdList tbody tr", function(rtnObj) {
				fnViewDtlTab2($(rtnObj).find("input[name=formWrd]").val());
			})
			
	 		setFrameHeight();
		 
			
		}
	});
}

function fnAfterTabChange() {
	setFrameHeight();
}
 

// 상세 조회
function fnViewDtlTab1(dataTypeLength) {

	$("#tb_columnList tbody tr").hide();
	var rowNo = 1;
	/*
	$("#tb_columnList tbody tr").each(function() {
		if( $(this).find("input[name=dataTypeLength]").val() == dataTypeLength) {
			$(this).find(".sp_rowNo").text(rowNo++);
			$(this).show();
		}
	});
	*/
	
	var tbObj = document.getElementById("tb_columnList");
	var trsObj = tbObj.getElementsByTagName("tbody")[0].getElementsByTagName("tr");
	for (let trObj of trsObj) {
		
		var sDataTypeLength = trObj.getElementsByClassName("cl_dataTypeLengthTd")[0].value;
		if(sDataTypeLength == dataTypeLength) {
			trObj.getElementsByClassName("sp_rowNo")[0].innerHTML = rowNo;
			trObj.style.display = "";	
			rowNo++;
		}
	}
	
	
	$("#tb_dataTypeLenFormWrdList tbody tr").hide();
	rowNo = 1;
	$("#tb_dataTypeLenFormWrdList tbody tr").each(function() {
		if( $(this).find("input[name=dataTypeLength]").val() == dataTypeLength) {
			$(this).find(".sp_rowNo").text(rowNo++);
			$(this).show();
		}
	});
	
	$("#tb_domnList tbody tr").hide();
	$("#tb_domnList .fwk_tr_no_row").hide();
	
	rowNo = 1;
	$("#tb_domnList tbody tr").each(function() {
		if( $(this).find("input[name=dataTypeLength]").val() == dataTypeLength) {
			$(this).find(".sp_rowNo").text(rowNo++);
			$(this).show();
		}
	});
	if(rowNo == 1)
		$("#tb_domnList .fwk_tr_no_row").show();
	
	setFrameHeight();
	
}
function fnViewDtlTab2(formWrd) {

	$("#tb_columnListByFormWrd tbody tr").hide();
	var rowNo = 1;
	$("#tb_columnListByFormWrd tbody tr").each(function() {
		if( $(this).find("input[name=formWrd]").val() == formWrd) {
			$(this).find(".sp_rowNo").text(rowNo++);
			$(this).show();
		}
	});
	//setFrameHeight();
	
	$("#tb_formWrdDataTypeLenList tbody tr").hide();
	var rowNo = 1;
	$("#tb_formWrdDataTypeLenList tbody tr").each(function() {
		if( $(this).find("input[name=formWrd]").val() == formWrd) {
			$(this).find(".sp_rowNo").text(rowNo++);
			$(this).show();
		}
	});
	
	
	setFrameHeight();
	
}
 
function fnColumnNameFilter(searchText) {
	var rowNo = 1;
	$("#tb_columnList").find(".cl_tableFilter").each(function() {
		
		// dataTypeLength
		var tval = ($(this).val()).toUpperCase();
		var tdataTypeLength = $(this).attr("data-dataTypeLength");
		
		var dataTypeLength = "";
		$(".cl_dataTypeLengthTr").each(function(index, obj) {
			if($(obj).attr("data-selectedtr") == "Y") {
				dataTypeLength = $(obj).find("input[name=dataTypeLength]").val();
			}
		});
		 
		if(dataTypeLength == "" &&  searchText == "") {
			if($(this).closest("tr").hasClass("fwk_data_row") && !$(this).closest("tr").hasClass("fwk_tr_no_row")) {
				$(this).closest("tr").show();
			} 
		}
		if((tval).indexOf(searchText.toUpperCase()) > -1 && (dataTypeLength == "" || dataTypeLength == tdataTypeLength) ) {
			if($(this).closest("tr").hasClass("fwk_data_row")) {
				$(this).closest("tr").find(".sp_rowNo").text(rowNo++);
				$(this).closest("tr").show();
			}
		} else {
			$(this).closest("tr").hide();
		}
	});
	setFrameHeight();
}
function fnClearColumnFilter() {
	
	fnClearSelectTrEvent(".cl_dataTypeLengthTr");
	
	
	var rowNo = 1;
	$("#tb_dataTypeLenFormWrdList tbody tr").each(function() {
		if($(this).closest("tr").hasClass("fwk_data_row")) {
			$(this).find(".sp_rowNo").text(rowNo++);
			$(this).show();
		}
	});
	rowNo = 1;
	$("#tb_domnList tbody tr").each(function() {
		if($(this).closest("tr").hasClass("fwk_data_row")) {
			$(this).find(".sp_rowNo").text(rowNo++);
			$(this).show();
		}
	});
	$("#tb_domnList .fwk_tr_no_row").hide();
	
	$("#tabColSearchText").val("");
	fnColumnNameFilter("");
	setFrameHeight();
}
 

//도메인 등록
function fnDbmsDomnRegBtnModal() {
	
	var selectedDataTypeLength = fnSelectTrHiddenValue("tb_dataTypeColList", "dataTypeLength");
	
	if(selectedDataTypeLength && selectedDataTypeLength != "") {

		var dataType = "";
		var dataLength = "";
		var dataScale = "";
		if(selectedDataTypeLength.indexOf("(") >= 0) {
			dataType = selectedDataTypeLength.substring(0, selectedDataTypeLength.indexOf("("));
			dataLength = selectedDataTypeLength.substring( selectedDataTypeLength.indexOf("(") + 1,  selectedDataTypeLength.indexOf(")"));
			if(dataLength.indexOf(",") >= 0) {
				var tl = dataLength;
				dataLength = tl.substring(0, tl.indexOf(","));
				dataScale = tl.substring(tl.indexOf(",") + 1, tl.length);
			}
		} else {
			dataType = selectedDataTypeLength;
		}
		$("#regDomnSnHide").val("");
		$("#regDomnPmodeHide").val("R");
		
		fnRegDomnSearch();
		
		// 도메인 등록 화면에 데이터 타입 선택 처리
		$("#regDomnDataTyCd").val(dataType).prop("selected", true); 
		$("#regDomnDataLtValue").val(dataLength);
		$("#regDomnDataDcmlpointLtValue").val(dataScale);
		
		fnShowModal("domnreginfo_modal");
	}
}
// 도메인 등록후 조회시
function fnDomnSearch(){
	var location = "fnWrdSearch";
	fnDoAnalysis(location);
}

</script>
</body>
</html>