<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/mainLayout">
<head>
	<th:block th:replace="fragments/head_inc :: head_inc" />
</head>
<style>
#tb_sampleData_table {
	min-height:120px;
	display:block;
	overflow-y:scroll;
}

#tb_sampleData_table th, 
#tb_sampleData_table td {
	width:160px;
	min-width:160px;
}

</style>


<body id="body">
	<div id="wrap">
		<div class="container">
			<div id="content">
				<div class="content_area">
					<input type="hidden" name="tblNm" id="tblNm" th:value="${paramMap.dbmsTableNm}" />
					<div class="card" id="table_area">
						<div style="font-size:13px; margin-top:10px">※ 데이터는 최대 300건까지 조회됩니다.</div>
						<table class="list" id="tb_sampleData_table">
							<thead>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript">

$(document).ready(function(){
	
	$.ajax({
		url:'/json/profileMng/getDgnssSampleDataList'
		, method:'POST'
		, contentType:'application/json'
		, data:JSON.stringify({
			dbmsTableNm : $("#tblNm").val()
		})
		, success:function(data){
			if (data.resultCd == "OK") {
				
				var theadHtml = "<tr>";
				var tbodyHtml = "<tr class='fwk_templete_row'>";
				for (key in data.sampleDataList[0]) {
					theadHtml += "<th>"+fnToSnakeCase(key)+"</th>";
					tbodyHtml += "<td>#{"+key+"}</td>";
				}
				theadHtml += "</tr>";
				tbodyHtml += "</tr>";
				
				$("#tb_sampleData_table thead").append(theadHtml);
				$("#tb_sampleData_table tbody").append(tbodyHtml);
				
				fnBindTableValue("tb_sampleData_table", data.sampleDataList);
			}
		}
	});
	
	
	setTableHeight();
	$(parent.window).on("resize", function() {
		setTableHeight();
	});
	
});


// 카멜케이스 -> 스네이크 케이스 변경
function fnToSnakeCase(str) {
	return str.split(/(?=[A-Z])/).join('_').toUpperCase();
}



//테이블 page에 맞춤 
function setTableHeight() {
	var frame = document.documentElement.clientHeight;
	$("#table_area").css("max-height", frame-80 + "px");
}


</script

</html>
