<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/mainLayout">

<head>
	<th:block th:replace="fragments/head_inc :: head_inc" />
</head>
<style type="text/css">
.move_targt_tb tr {
	height:78px 
}
.move_targt_tb th {
	cursor:default !important;
	border-right: 1px solid #ddd;
	margin-top : 0 !important;
	vertical-align: middle !important;
}
.move_targt_tb td {
	background: none !important;
	cursor:default !important;
	
}
.move_targt_tb td div {
	float:left;
}								
.dv_moveItem {
	width: 278px; 
	height: 54px;
	border: 1px solid; 
	z-index:120; 
	border-radius: 3px; 
	padding: 5px; 
	border-color: #737373;	
	margin: 2px;
	/**cursor: move;**/
	/** over cut **/
	overflow:hidden; 
	text-overflow:ellipsis; 
	white-space:nowrap; 
	margin-right:40px;
	
	
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dv_moveItem_fix {
	width: 278px; 
	height: 54px;
	border: 1px solid; 
	z-index:120; 
	border-radius: 3px; 
	padding: 5px; 
	border-color: #737373;	
	margin: 2px;
	/** over cut **/
	overflow:hidden; 
	text-overflow:ellipsis; 
	white-space:nowrap; 
	margin-right:40px;
}

.cl_nodeNm {
	font-weight:bold;
	float: left;
	width: 232px;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 6px;
	white-space : nowrap;
}


.node_line {
	border:1px solid #737373;
	width:43px;
	position: absolute;
	z-index: 100;
}

#modal_moduleParamList td, #modal_moduleParamList th {
	border-right: 1px solid #eceff1;
}
.cl_nodeParamBtn img, .cl_nodeCloseBtn img {
	width: 16px;
	height: 16px;
	vertical-align:top;
}
.cl_nodeDtl {
	display:inline;
	color : #585656;
	width: 260px;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
}
.cl_nodeDtl2 {
	color : #585656
}
.cl_nodeArrow {
	width:40px;
	display:none;
}
.cl_nodeArrow img {
	margin-top:18px;
	margin-left:7px;
}

</style>
<body>

	<!-- wrap -->
    <div id="wrap">
        <!-- container -->
		<div class="container">
            <!-- content -->
			<div id="content">
			
				<!-- page_info_area -->
                <div class="page_info_area">
                    <div class="left">
                        <div class="location_area">
                            <a href="#" class="bookmark active" title="즐겨찾기"></a>
                            <ul>
                                <li>홈</li>
                                <li>학습관리</li>
								<li>학습모델훈련</li>
                            </ul>
                        </div>
                        <div class="title_area">
                            <p>학습모델훈련</p>
                            <a href="#" class="reload_btn" title="새로고침">새로고침</a>
                            <a href="#" class="help_btn" title="도움말">도움말</a>
                        </div>
                    </div>
                    <div class="right">
                        <div class="button_area">
                            <button class="btn" title="훈련시작" onclick="fnSave('READY'); return false;">훈련시작</button>
							<button class="btn" title="저장" onclick="fnSave('TEMP_SAVED'); return false;">저장</button>
                        </div>
                    </div>
                </div>
                <!--// page_info_area -->

			
				<!-- content_area -->
                <div class="content_area">
					 <!-- division20 -->
                    <div class="division20">

						<div class="view_wrap" style="min-height:30px">
							<p class="tit"><span>학습정보</span></p>
							
							<form name="regFrm" id="regFrm" action="">
								<input type="hidden" name="pmode" id="pmode" th:value="${paramMap.pmode}" />
								<input type="hidden" name="lrnSn" id="lrnSn" th:value="${paramMap.lrnSn}" />
								<input type="hidden" name="lrnExcnSn" id="lrnExcnSn" th:value="${paramMap.lrnExcnSn}" />
							</form>
                            <table class="view">
								 <colgroup>
                                    <col style="width: 120px;">
                                    <col style="width: auto;">
                                    <col style="width: 120px;">
                                    <col style="width: auto;">
									<col style="width: 120px;">
                                    <col style="width: auto;">
                                </colgroup>
                                <tbody>
                                    <tr>
	                                    <th>학습명</th>
	                                    <td><span id="sp_lrnNm"></span></td>
										<th>학습그룹</th>
										<td><span id="sp_lrnGroupNm"></span></td>
										<th>학습설명</th>
										<td><span id="sp_lrnDc"></span></td>
	                                </tr>
                                </tbody>
                            </table>
						</div>
                    </div>
                    <!--// division20 -->
				 
 					<div class="division">
                        <div class="row marginb25">
                            <div class="left" data-width="350">
								<div class="view_wrap">
									<div style="margin-bottom:6px">
										<p class="tit"><span>학습모듈</span></p>
									</div>
									<div class="form-group col-sm-12" id="dv_moduleList">
										<div>
											<label for="moduleSearch" class="req" style="display: none;">모듈검색</label>
											<input type="text" name="moduleSearch" id="moduleSearch" class="form-control" style="width:290px" />
										</div>
										<div id="dv_datasetList" style="margin-top:5px">
											<span class="cl_arrwOpCl"></span><span style="font-weight: bold;" onclick="fnModuleListOpCl(this); return false;"> Datasets</span><span class="cl_moduleCnt"></span>
											<ul style="list-style:none; display:none"></ul>
										</div>
										<div id="dv_filterList" style="margin-top:5px">
											<span class="cl_arrwOpCl"></span><span style="font-weight: bold;" onclick="fnModuleListOpCl(this); return false;"> Filters</span><span class="cl_moduleCnt"></span>
											<ul style="list-style:none; display:none"></ul>
										</div>
										<div id="dv_processorList" style="margin-top:5px">
											<span class="cl_arrwOpCl"></span><span style="font-weight: bold;" onclick="fnModuleListOpCl(this); return false;"> Processors</span><span class="cl_moduleCnt"></span>
											<ul style="list-style:none; display:none"></ul>
										</div>
										<div id="dv_modelerList" style="margin-top:5px">
											<span class="cl_arrwOpCl"></span><span style="font-weight: bold;" onclick="fnModuleListOpCl(this); return false;"> Modelers</span><span class="cl_moduleCnt"></span>
											<ul style="list-style:none; display:none"></ul>
										</div>
									</div>
								</div>
                            </div>
							 <div class="right" data-width="0">
								<div class="view_wrap"> 
									<div style="margin-bottom:8px">
										<p class="tit" style="position: absolute;"><span>학습모듈 구성</span></p>
				                        <div class="button_area" style="text-align: right;">
				                            
											<button class="btn sm" title="학습구성 추가" onclick="fnAddLearningCourse(); return false;">학습구성 추가</button>
											<button class="btn sm" title="초기화" onclick="fnClearLearningCourse(); return false;">초기화</button>
											<!--
											<button class="btn" title="조회">테스트선처리모듈 자동적용</button>
											-->
				                        </div>	
									</div>
									<table class="view move_targt_tb" id="tb_aplcnModuleCourse">
										 <colgroup>
		                                    <col style="width: 150px;">
		                                    <col style="width: auto;">
		                                </colgroup>
		                                <tbody>
		                                    <tr>
												<th>훈련 데이터셋</th>
												<td class="contain" id="td_aplcnTrainDataset"></td>
											</tr>
											<tr>
												<th>훈련 선처리모듈</th>
												<td class="contain" id="td_aplcnTrainProcs"></td>
											</tr>
											<tr>
												<th>훈련 모델러</th>
												<td class="contain" id="td_aplcnModeler"></td>
											</tr>
											<tr>
												<th>모델 생성</th>
												<td class="contain" id="td_aplcnModel">
													<div class="dv_moveItem_fix cl_moduleNode" data-moduletype="MODELER" data-itemsn="0" style="background-color: rgb(245, 245, 245);">
														<div class="cl_nodeNm">ML모델생성</div><div style="padding-left:10px" class="cl_nodeDtl"></div>
													</div>
												</td>
											</tr>
											<tr>
												<th>테스트 데이터셋</th>
												<td class="contain" id="td_aplcnTestDataset"></td>
											</tr>
											<tr>
												<th>테스트 선처리모듈</th>
												<td class="contain" id="td_aplcnTestProcs"></td>
											</tr>
											<tr>
												<th>테스트 결과파일</th>
												<td class="contain" id="td_aplcnTestResult">
													<div class="dv_moveItem_fix cl_moduleNode" data-moduletype="RESULT" data-itemsn="0" style="background-color: rgb(245, 245, 245);">
														<div class="cl_nodeNm">결과파일</div><div style="padding-left:10px" class="cl_nodeDtl"></div>
													</div>
												</td>
											</tr>
		                                </tbody>
		                            </table>
									<div class="margint20" style="margin-bottom: 8px;">
										<p class="tit" style="position: absolute;"><span>학습 구성</span></p>
				                        <div class="button_area" style="text-align: right;">
											<button class="btn sm" title="삭제" onclick="fnDeleteLearningCourse(); return false;">삭제</button>
				                        </div>
									</div>
									<table class="list" id="tb_lrnCourseList">
										<colgroup>
											<col width="16" />
											<col width="16" />
											<col width="33%" />
											<col width="20%" />
											<col width="33%" />
										</colgroup>
										<thead>
											<tr>
												<th></th>
												<th>순번</th>
												<th>훈련 선처리모듈</th>
												<th>모델러</th>
												<th>테스트 선처리모듈</th>
											</tr>
										</thead>
										<tbody>
											<!--
											<tr>
												<td colspan="5" style="text-align: center;">학습을 구성후 추가 해주세요 </td>
											</tr>
											-->
										</tbody>
									</table>
	
								</div>
							 </div>
                        </div>
 					</div>
					
 
					
                </div>
				 <!--// content_area -->
            </div>
            <!--// content -->
        </div>
        <!--// container -->
    </div>
    <!--// wrap -->
 
 

	 
	
	<!-- 모듈 파라미터 팝업창 -->
	<div class="popup layer" id="modal_moduleParam" style="width: 1000px;">
        <div class="pop_header">
            <p class="title" id="modal_moduleNm">모듈 파라미터</p>
            <button class="btn_ic btn_pop_close" onclick="fnCloseModalModuleParam();">닫기</button>
        </div>
        <div class="pop_content">
			<div id="modal_moduleDc" style="margin-top: 10px; "></div>            
			<table class="list" id="modal_moduleParamList" style="margin-top: 10px;">
				<thead>
					<tr>
						<th>파라미터명</th>
						<th class='cl_moduleInputParam'>파라미터값</th>
						<th class='cl_esntlParamtrYn'>필수</th>
						<th>기본값</th>
						<th>비고</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
        </div>
        <div class="pop_footer">
			<div class="button_area" style="text-align: right;">
	            <button class="btn" id="btn_moduleParamDown" onclick="fnClickDownDatasetParam(); return false;">다운로드</button>
				<button class="btn" onclick="fnStoreParam(); return false;">확인</button>
				<button class="btn" id="btn_moduleCancel" onclick="fnCloseModalModuleParam(); return false;">취소</button>
			</div>
        </div>
	</div>

 

<script type="text/javascript">
 

var iconModulListClose = '▶';
var iconModulListOpen = '▼';
var aplcnModuleIdx = 0;




$(document).ready(function() {
	 
	 
	
	$("#moduleSearch").on("keyup", function() {
		fnSearchModule($(this).val());
	});
	
	$(".cl_arrwOpCl").text(iconModulListClose);
	
	// 학습정보 조회
	getLearningInfo($("#lrnSn").val());
			
	
	// 학습모듈조회 (학습모듈 조회 후 상세 모드 일때 다른 조회가 포함되어 있음 )
	fnGetLearnModuleList();
	
	 
	
});



var l_datasetList;
var l_processorList;
var l_modelerList;


// 학습모듈조회 
function fnGetLearnModuleList() {
	
	$.ajax({
		url: "/json/learning/getLearnModuleList"
		, method : "POST"
		, contentType: 'application/json'
		, data: JSON.stringify({
			useYn : "Y"
			, apiDataYn : 'N'
		})
		, success: function(data){
			//console.log(data);
		
			// 데이터 셋 리스트 set
			setDatasetList("dv_datasetList", data.datasetList);
			// 모듈리스트 set 
			setModuleList("dv_filterList", data.filterList);
			setModuleList("dv_processorList", data.processorList);
			setModuleList("dv_modelerList", data.modelerList);

			// 전역변수로 셋팅		
			l_datasetList = data.datasetList;
			//l_filterList = data.filterList;
			l_processorList = data.processorList;
			
			for(i = 0 ; i < data.filterList.length ; i++) {
				l_processorList[l_processorList.length] = data.filterList[i];
			}

			l_modelerList = data.modelerList;
			
			// 모듈 노드 드래그 초기화 
			fnInitDragModuleNode();

			// 모듈 수 셋팅
			fnSetModuleCnt();

			// 영역 일괄 open 			
			$("#dv_moduleList").find("ul").show();
			$("#dv_moduleList").find(".cl_arrwOpCl").text(iconModulListOpen);
			
			// 모듈 파라미터 초기화 
			initModuleParam(data.moduleParamList);			
			
			// 상세화면인경우
			if($("#pmode").val() == "M") {	
				
				// 실행학습적용모듈정보조회
				console.log($("#lrnExcnSn").val());
				getLearningExcnAplcnModule($("#lrnExcnSn").val());
			}
			 
	
	
		}
	});
}

function fnModuleListOpCl(obj) {
	if($(obj).closest("div").find("ul").is(":visible")) {
		$(obj).closest("div").find("ul").slideUp(200, function() {parent.setFrameHeight()});
		$(obj).closest("div").find(".cl_arrwOpCl").text(iconModulListClose);
	} else {
		$(obj).closest("div").find("ul").slideDown(200, function() {parent.setFrameHeight()});
		$(obj).closest("div").find(".cl_arrwOpCl").text(iconModulListOpen);
	}
	
}

// 모듈 파라미터 맵
var l_moduleParamMap;
var mapKey = "msk_";
function initModuleParam(list) {
	l_moduleParamMap = {};
	
	
	var lastModuleSn = -1;
	var tempListArr;
	
	for(i = 0 ; i < list.length ; i++) {
		var item = list[i];
		//console.log(item);
		var moduleSn = item.moduleSn;
		
		if(lastModuleSn != moduleSn) {
			if(i != 0) {
				l_moduleParamMap[mapKey+lastModuleSn] = tempListArr;
			}
			tempListArr = new Array();
			tempListArr[0] = item;
			lastModuleSn = moduleSn;
		} else {
			tempListArr[tempListArr.length] = item;
		}
		
		// console.log(getModuleParamList(moduleSn));
		if( (i + 1) == list.length) {
			l_moduleParamMap[mapKey+lastModuleSn] = tempListArr;
		}
	}
}

function getModuleParamList(moduleSn) {
	return l_moduleParamMap[mapKey+moduleSn];
}

function getCreateNodeHtml(type, item) {
	 
	var moduleNm = "";
	var moduleDc = "";
	if(type == "DATASET") {
		moduleNm = item.lrnDatasetNm;
		moduleDc = nvl(item.lrnDatasetDc);
	} else { 
		moduleNm = item.moduleNm;
		moduleDc = nvl(item.moduleDc);
	}
	
	var nodeHtml = "";
	nodeHtml+=" <div>";
	nodeHtml+="  <div class='cl_nodeNm'>"+moduleNm+"</div>";
	nodeHtml+="  <div>";
	nodeHtml+="   <span class='cl_nodeParamBtn' onclick='fnOpenNodeParam(this); return false;'><img src='/img/node/btn_node_popup.png' title='node popup btn' /></span>";
	nodeHtml+="   <span class='cl_nodeCloseBtn' onclick='fnNodeClose(this); return false;' style='display:none'><img src='/img/node/btn_node_cancel.png' title='node popup btn' /></span>";
	nodeHtml+="  </div>";
	nodeHtml+=" </div>";
	if(type == "DATASET")
		nodeHtml+=" <div style='padding-left:10px;' class='cl_nodeDtl2' >Layout : "+ item.dataColCnt + " x " + item.dataRowCnt +"</div>";
	
	nodeHtml+=" <div style='padding-left:10px' class='cl_nodeDtl'> "+nvl(moduleDc)+"</div>";
	return nodeHtml;
}

							
// 데이터셋 목록 만들기
function setDatasetList(targetId, list) {
	
	var nodeBgColor = "#f2f9c9";
	var html = "";
	for(i = 0; i < list.length ; i++) {
		var item = list[i];
			 
		$dvNode = $("<div/>");
		$dvNode.addClass("dv_moveItem");
		$dvNode.addClass("cl_moduleNode");
		$dvNode.css("background-color", nodeBgColor);
		$dvNode.attr("data-moduletype", "DATASET");
		$dvNode.attr("data-itemsn", item.lrnDatasetSn);
		$dvNode.html(getCreateNodeHtml("DATASET", item));
		
		$liNode = $("<li/>");
		$liNode.append($dvNode);
		
		html+="<li>"+$liNode.html()+"</li>";

	}
	$("#"+targetId).find("ul").html(html);
}
// 모듈 목록 만들기
function setModuleList(targetId, list) {
	
	var nodeBgColor = "";
	var html = "";
	for(i = 0; i < list.length ; i++) {
		var item = list[i];
		if(item.moduleTyCd == "FILTER")
			nodeBgColor = "#c0def9";
		else if(item.moduleTyCd == "PROCESSOR")
			nodeBgColor = "#ffd8a3";
		else if(item.moduleTyCd == "MODELER")
			nodeBgColor = "#b2f3b5";
		 
		//console.log(item);
		$dvNode = $("<div/>");
		$dvNode.addClass("dv_moveItem");
		$dvNode.addClass("cl_moduleNode");
		$dvNode.css("background-color", nodeBgColor);
		$dvNode.attr("data-moduletype", item.moduleTyCd);
		$dvNode.attr("lib_ty_cd", item.libTyCd);
		$dvNode.attr("data-itemsn", item.moduleSn);
		$dvNode.html(getCreateNodeHtml("MODULE", item));
		
		$liNode = $("<li/>");
		$liNode.append($dvNode);
		html+="<li>"+$liNode.html()+"</li>";
	}
	$("#"+targetId).find("ul").html(html);
}

function fnSetModuleCnt() {
	$("#dv_datasetList").find(".cl_moduleCnt").text(" ("+ $("#dv_datasetList li").length + ")");
	$("#dv_filterList").find(".cl_moduleCnt").text(" ("+ $("#dv_filterList li").length + ")");
	$("#dv_processorList").find(".cl_moduleCnt").text(" ("+ $("#dv_processorList li").length + ")");
	$("#dv_modelerList").find(".cl_moduleCnt").text(" ("+ $("#dv_modelerList li").length + ")");
}
 	
	 
	
	
function fnSearchModule(searchText) {
	$(".dv_moveItem").find(".cl_nodeNm").each(function() {
		if(($(this).text()).indexOf(searchText) > -1) {
			$(this).closest("li").show();
		} else {
			$(this).closest("li").hide();
		}
	});
	
	fnSetModuleCnt();

							
}


// 모듈 파라미터 목록 팝업창 open
function fnOpenNodeParam(obj) {
	
	var nodeClassNm = "";
	if($(obj).closest(".cl_moduleNode").hasClass("dv_moveItem")) {
		nodeClassNm = ".dv_moveItem";
	} else if($(obj).closest(".cl_moduleNode").hasClass("dv_moveItem_fix")) {
		nodeClassNm = ".dv_moveItem_fix";
	} else { 
		alert("잘못된 node 입니다.");
		return;
	}
	var moduleType = $(obj).closest(nodeClassNm).attr("data-moduletype");
	var libraryTyCd = $(obj).closest(nodeClassNm).attr("lib_ty_cd");
	var itemSn = $(obj).closest(nodeClassNm).attr("data-itemsn");
	var nodeId = $(obj).closest(nodeClassNm).attr("id");
	
	//aplcnModule_
	
	$("#modal_moduleNm").text("");
	$("#modal_moduleDc").text("");
	
	var tbHtml = "";
	if(moduleType == "FILTER" || moduleType == "PROCESSOR" || moduleType == "MODELER") {
		
		var tempModuleList;
		
		if( moduleType == "MODELER")
			tempModuleList = l_modelerList;
		else 
			tempModuleList = l_processorList;
		
		//console.log(moduleType + "|" + itemSn);
		
		// 모듈 정보에서 제목과 설명을 팝업의 내용 부분에 셋팅 
		for(i = 0 ; i < tempModuleList.length ; i++) {
			var item = tempModuleList[i];
			//console.log(item);
			if(itemSn == item.moduleSn) {
				$("#modal_moduleNm").text(item.moduleNm);
				//console.log("item.moduleDc :"+item.moduleDc+":");
				if(nvl(item.moduleDc) == "") {
					$("#modal_moduleDc").hide();
				} else { 
					$("#modal_moduleDc").text(item.moduleDc);
					$("#modal_moduleDc").show();
				}
				break;
			}
		}
		
		// 모듈 파라미터 정보를 목록 으로 보여주기 
		var mplist = getModuleParamList(itemSn);
		
		if(mplist != undefined && mplist.length != 0) {
			// 기존 입력했던 파라미터 정보 
			var inputParamList = l_inputModuleParamObj[nodeId];
			//console.log("inputParamList : " + inputParamList);
			
			for(i = 0 ; i < mplist.length ; i++) {
				var item = mplist[i];
				var paramVal = "";
				if(inputParamList != undefined && inputParamList.length > 0) {
					// 기존 입력 했던 파라미터가 있는경우 값을 셋팅 해준다.
					for(j = 0 ; j < inputParamList.length ; j++) {
						var storedItem = inputParamList[j];	
						if(item.paramtrNm == storedItem.paramnm) {
							paramVal = storedItem.paramval;
						}
					}
				}
				
				tbHtml+="<tr>";
				tbHtml+="<td>"+item.paramtrNm+"</td>";
				tbHtml+="<td class='cl_moduleInputParam'><input type='text' name='paramtrVal' style='width:100%' data-paramnm='"+item.paramtrNm+"' class='form-control' value='"+paramVal+"' /></td>";
				tbHtml+="<td class='cl_esntlParamtrYn'>"+nvl(item.esntlParamtrYn)+"</td>";
				tbHtml+="<td>"+item.dfltValue+"</td>";
				tbHtml+="<td class='alignl'>"+item.permScopeDc+"</td>";
				tbHtml+="</tr>";
			}
		}  
	} else if(moduleType == "DATASET" ) {	//데이터셋인경우 

		for(var i = 0 ; i < l_datasetList.length ; i++) {
			var item = l_datasetList[i];
			//console.log(item);
			if(itemSn == item.lrnDatasetSn) {
				$("#modal_moduleNm").text(item.lrnDatasetNm);
				if(nvl(item.lrnDatasetDc) == "") {
					$("#modal_moduleDc").hide();
				} else { 
					$("#modal_moduleDc").text(item.lrnDatasetDc);
					$("#modal_moduleDc").show();
				}
				
				var arrParamNm = [];
				var arrParamVal = [];
				arrParamNm[arrParamNm.length] = "파일명";
				arrParamVal[arrParamVal.length] = item.dataOrginlFlpth;
				
				arrParamNm[arrParamNm.length] = "파일명(물리경로)";
				arrParamVal[arrParamVal.length] = item.dataFlpth;
				
				
				arrParamNm[arrParamNm.length] = "데이터셋 Layout";
				arrParamVal[arrParamVal.length] = item.dataColCnt + " cols x " + item.dataRowCnt + " rows";
				
				
				arrParamNm[arrParamNm.length] = "데이터 크기(KB)";	
				arrParamVal[arrParamVal.length] = item.dataKbSize + "KB";
				
				arrParamNm[arrParamNm.length] = "학습데이터셋 설명";	
				arrParamVal[arrParamVal.length] = nvl(item.lrnDatasetDc, "");
				
				for(var j = 0 ; j < arrParamNm.length ; j++) {
					tbHtml+="<tr>";
					tbHtml+="<td>"+arrParamNm[j]+"</td>";
					tbHtml+="<td class='cl_moduleInputParam'></td>";
					tbHtml+="<td class='cl_esntlParamtrYn'></td>";
					tbHtml+="<td class='alignl'>"+arrParamVal[j]+"</td>";
					tbHtml+="<td><input type='hidden' name='datasetSn' value='"+item.datasetSn+"'  /></td>";
					tbHtml+="</tr>";
				}
				break;
			}
		}
	}
	
	if(tbHtml == "")
		tbHtml = "<tr><td colspan='5' style='text-align:center'>파라미터가 없습니다.</td></tr>"
		
	$("#modal_moduleParamList tbody").html(tbHtml);
	
	// 움직일수 있는 node 일때 
	if(nodeClassNm == ".dv_moveItem") { 
		$("#modal_moduleParamList .cl_moduleInputParam").hide();
		$("#modal_moduleParam").attr("data-param_mode", "NONE");
		$("#btn_moduleCancel").hide();
	} else { 
		// 구성으로 node가 배치된경우
	 	$("#modal_moduleParamList .cl_moduleInputParam").show();
		$("#modal_moduleParam").attr("data-param_mode", "INPUT");
		$("#btn_moduleCancel").show();
	}
	
	if(moduleType == "DATASET" ) {
		$(".cl_esntlParamtrYn").hide();
		$(".cl_moduleInputParam").hide();
		$("#modal_moduleParam").find("#btn_moduleParamDown").show();
	} else {
		$(".cl_esntlParamtrYn").show();
		$("#modal_moduleParam").find("#btn_moduleParamDown").hide();
	}
	
	 
	
	
	
	$("#modal_moduleParam").attr("data-nodeId", nodeId);
	$("#modal_moduleParam").attr("data-itemSn", itemSn);
	//$("#modal_moduleParam").modal();
	fnShowModal("modal_moduleParam");
	
}


var l_inputModuleParamObj = new Object();

// 모듈 파라미터 저장
function fnStoreParam() {
	var paramMode = $("#modal_moduleParam").attr("data-param_mode");
	
	if(paramMode == "INPUT") {	// 파라미터 입력 화면일 때
	
		var nodeId = $("#modal_moduleParam").attr("data-nodeId");
		var itemSn = $("#modal_moduleParam").attr("data-itemSn");
		 
		var arrParamNm = [];
		var arrParamVal = [];
		var arrIdx = 0;
		$(".cl_moduleInputParam > input").each(function () {
			if($(this).val() != "") {
				arrParamNm[arrIdx] = $(this).attr('data-paramnm');
				arrParamVal[arrIdx] = $(this).val();
				arrIdx++;
			}
		});
		fnStoreParamProc(nodeId, itemSn, arrParamNm, arrParamVal);
	} 
	
	fnCloseModalModuleParam();
}

// 모듈 파라미터 저장 처리
function fnStoreParamProc(nodeId, itemSn, arrParamNm, arrParamVal) {
	
	var inputParamList = new Array();
	var nodeDtlText = "";
	
	for(var i = 0 ; i < arrParamNm.length ; i++) {
		var paramNm = arrParamNm[i];
		var paramVal = nvl(arrParamVal[i]);
		//console.log("paramNm : "+ paramNm + "=" + paramVal);
		
		if(paramVal != "") {
			var inputObj = {
				paramnm : paramNm
				, paramval : paramVal
				, itemSn : itemSn
			}
			nodeDtlText += paramNm +"="+paramVal+",";
			
			inputParamList[inputParamList.length] = inputObj;
		}
	}
	
	// 노드의 내에 파라미터 부분 보여주기
	$("#"+nodeId).find(".cl_nodeDtl").text(fnRemoveLastComma(nodeDtlText));
	
	// 모듈 파라미터 입력내용 저장
	l_inputModuleParamObj[nodeId] = inputParamList;
	
}


							
	
	

var l_lrnCourceIdx = 0;		// 학습구성 row id index 
var l_lrnCourseMap = new Array();	// 학스구성 목록

// 학습 구성 추가
function fnAddLearningCourse() {
	
	// 훈련데이터셋 td_aplcnTrainDataset
	// 훈련 선처리모듈 td_aplcnTrainProcs
	// 훈련 모델러 td_aplcnModeler
	// 모델 생성 td_aplcnModel
	// 테스트 데이터셋 td_aplcnTestDataset
	// 테스트 선처리모듈 td_aplcnTestProcs
	// 테스트 결과파일 td_aplcnTestResult
	var trainProcsNms = "";
	var modelerNms = "";
	var testProcsNms = "";
	
	var trainProcsNodeId = "";
	var modelerNodeId = "";
	var testProcsNodeId = "";
	
	var trainProcsItemSn = "";
	var modelerItemSn = "";
	var testProcsItemSn = "";
	
	//console.log(l_processorList);
	
	var trainDatasetSn = "";
	var testDatasetSn = "";
	
	$("#td_aplcnTrainDataset").find(".dv_moveItem_fix").each(function() {
		trainDatasetSn = $(this).attr("data-itemsn");
	});
	
	$("#td_aplcnTestDataset").find(".dv_moveItem_fix").each(function() {
		testDatasetSn = $(this).attr("data-itemsn");
	});
	
	
	

	$("#td_aplcnTrainProcs").find(".dv_moveItem_fix").each(function() {
		for(i = 0 ; i < l_processorList.length ; i++ ) {
			var item = l_processorList[i];
			if(item.moduleSn == $(this).attr("data-itemsn")) {
				trainProcsNms+= item.moduleNm+", ";
				trainProcsNodeId+= $(this).attr("id")+",";
				trainProcsItemSn+=item.moduleSn + ",";
			}
		}
	});
	
	$("#td_aplcnModeler").find(".dv_moveItem_fix").each(function() {
		for(i = 0 ; i < l_modelerList.length ; i++ ) {
			var item = l_modelerList[i];
			if(item.moduleSn == $(this).attr("data-itemsn")) {
				modelerNms+= item.moduleNm+", ";
				modelerNodeId+= $(this).attr("id")+",";
				modelerItemSn+=item.moduleSn + ",";
			}
		}
	});
	
	$("#td_aplcnTestProcs").find(".dv_moveItem_fix").each(function() {
		for(i = 0 ; i < l_processorList.length ; i++ ) {
			var item = l_processorList[i];
			if(item.moduleSn == $(this).attr("data-itemsn")) { 
				testProcsNms+= item.moduleNm+", ";
				testProcsNodeId+= $(this).attr("id")+",";
				testProcsItemSn+=item.moduleSn + ",";
			}
		}
	});

	if(modelerNodeId == "") {
		alert("훈련 모델러는 필수 선택 항목입니다. ");
		return false;
	}

	// 마지막 컴마 remove
	trainProcsNms = fnRemoveLastComma(trainProcsNms);
	modelerNms = fnRemoveLastComma(modelerNms);
	testProcsNms = fnRemoveLastComma(testProcsNms);
	
	trainProcsNodeId = fnRemoveLastComma(trainProcsNodeId);
	modelerNodeId = fnRemoveLastComma(modelerNodeId);
	testProcsNodeId = fnRemoveLastComma(testProcsNodeId);
	
	trainProcsItemSn = fnRemoveLastComma(trainProcsItemSn);
	modelerItemSn = fnRemoveLastComma(modelerItemSn);
	testProcsItemSn = fnRemoveLastComma(testProcsItemSn);
	
	
	
	// 전역변수에 학습 구성 정보 셋팅 
	var lc_item = new Object();
	var lc_id = "lc_key_"+l_lrnCourceIdx++;
	lc_item.trainProcsNodeId = trainProcsNodeId;
	lc_item.modelerNodeId = modelerNodeId;
	lc_item.testProcsNodeId = testProcsNodeId;
	
	lc_item.trainProcsItemSn = trainProcsItemSn;
	lc_item.modelerItemSn = modelerItemSn;
	lc_item.testProcsItemSn = testProcsItemSn;
	lc_item.trainDatasetSn = trainDatasetSn;
	lc_item.testDatasetSn = testDatasetSn;
	
	l_lrnCourseMap[lc_id] = lc_item;

	// 학습구성 row 만들기											
	var html = "<tr>";
	html+="<td style='text-align:center'><input type='checkbox' name='chk' value='"+lc_id+"' /></td>";
	html+="<td style='text-align:center'>"+($("#tb_lrnCourseList tbody tr").length+1)+"</td>";
	html+="<td>"+trainProcsNms+"</td>";
	html+="<td>"+modelerNms+"</td>";
	html+="<td>"+testProcsNms+"</td>";
	html+="</tr>";
	$("#tb_lrnCourseList tbody").append(html);
	
	//console.log(l_lrnCourseMap);
	return true;
}

// 학습모듈 구성 초기화 
function fnClearLearningCourse() {
	if(!confirm("학습모듈 구성을 초기화 하시겠습니까?"))
		return ;
		
	$("#tb_aplcnModuleCourse").find(".dv_moveItem_fix").each(function() {
		//console.log($(this).attr("data-itemsn"));
		if($(this).attr("data-itemsn") != "0") {
			var removeObj = $(this);
			var aplcnModuleId = removeObj.attr("id");
			
			$("#"+removeObj.attr("id") +"_line").remove();
			removeObj.remove();
			fnRemoveModuleParamObj(aplcnModuleId);
		}
	});
	
}




// 노드 삭제
function fnNodeClose(obj) {
	var removeNodeObj = $(obj).closest(".cl_moduleNode");
	var aplcnModuleId = removeNodeObj.attr("id");
	
	//$("#"+removeObj.attr("id") +"_line").remove();
	//removeObj.remove();
	removeNodeObj.parent("div").remove();
	fnRemoveModuleParamObj(aplcnModuleId);

}
function fnRemoveModuleParamObj(aplcnModuleId) {
	delete l_inputModuleParamObj[aplcnModuleId];
}


function fnGetAplcnModuleData(itemSns, nodeIds) {
	
	var outList = new Array();
	
	if(nodeIds != "") {
		var nodeIdsArr = nodeIds.split(",");
		var itemSnArr = itemSns.split(",");
		
		for(i = 0 ; i < nodeIdsArr.length ; i++) {
			//var nodId = trainProcsNodeIdArr[i];
			var moduleSn = "";
			var outObj = new Object();
			
			var paramList = l_inputModuleParamObj[nodeIdsArr[i]];
			if(paramList != undefined && paramList.length > 0) {
				var outParamList = new Array();	
				for(j = 0 ; j < paramList.length ; j++) {
					var paramObj = paramList[j];
					//console.log(paramObj);
					moduleSn = paramObj.itemSn;
					
					var outParamObj = new Object();
					outParamObj.paramtrNm = paramObj.paramnm;
					outParamObj.paramtrValue = paramObj.paramval;
					outParamList[outParamList.length] = outParamObj;
				}
				outObj.paramList = outParamList;
			}
			outObj.moduleSn = itemSnArr[i];
			
			outList[outList.length] = outObj;
		}
		
		
	} 
	return outList;
}

function fnCloseModalModuleParam() {
	//$("#modal_moduleParam").modal("hide");
	fnCloseModal("modal_moduleParam");
}


// 저장 / 훈련시작
function fnSave(traingSttusCd) {
	
	var trLength = $("#tb_lrnCourseList tbody tr").length;
	
	// 학습구성 버튼으로 학습구성을 추가 하지 않았을때 
	if(trLength == 0) {
		if(traingSttusCd == "TEMP_SAVED") { 	// 저장시 학습 구성 자동 추가 후 임시저장 처리 한다.
			fnAddLearningCourse();
			
		} else {
			
			alert("학습구성을 추가 해주세요");
			return;
		}
	}

	var dataList = new Array();

	$("#tb_lrnCourseList tbody tr input[name=chk]").each(function() {
		var dataObj = new Object();	
		//console.log($(this).val());
		var lc_id = $(this).val();
		var courseObj = l_lrnCourseMap[lc_id];
		//console.log(l_lrnCourseMap[lc_id]);
		
		dataObj.aplcnTrainDatasetSn = courseObj.trainDatasetSn;
		dataObj.aplcnTestDatasetSn = courseObj.testDatasetSn;
		dataObj.aplcnTrainModuleList = fnGetAplcnModuleData(courseObj.trainProcsItemSn, courseObj.trainProcsNodeId);
		dataObj.aplcnModelerList = fnGetAplcnModuleData(courseObj.modelerItemSn, courseObj.modelerNodeId);
		dataObj.aplcnTestModuleList = fnGetAplcnModuleData(courseObj.testProcsItemSn, courseObj.testProcsNodeId);
		dataList[dataList.length] = dataObj;
	});

	console.log(dataList);
	
	if(traingSttusCd == "READY") {
		if(!confirm("훈련을 시작 하시겠습니까?"))
			return;
	} else if(traingSttusCd == "TEMP_SAVED") {
		if(!confirm("저장 하시겠습니까?"))
			return;
	}
	
	
	$.ajax({
		url: "/json/learning/regLearningExcnInfo"
		, method : "POST"
		, contentType: 'application/json'
		, data: JSON.stringify({
			dataList: dataList 
			, lrnSn : $("#lrnSn").val()
			, traingSttusCd: traingSttusCd
		})
		, success: function(data){
			if(data.resultCd == "OK") {
				if(traingSttusCd == "READY") {
					alert("훈련 시작이 정상 요청 되었습니다. ");
					location.href="/open/mlms/learning/model_train_hist_list";
				} else {
					alert("저장되었습니다.");
				}
			}
		}
		, error : function(data) {
			console.log(data);
			//alert("");
		}
	});
}


// 학습정보 조회 
function getLearningInfo(lrnSn) {
	
	$.ajax({
		url: "/json/learning/getLearningInfo"
		, method : "POST"
		, contentType: 'application/json'
		, data: JSON.stringify({
			 lrnSn : lrnSn
		})
		, success: function(data){
			var info = data.info;
			$("#sp_lrnNm").text(info.lrnNm);
			$("#sp_lrnGroupNm").text(info.lrnGroupNm);
			$("#sp_lrnDc").text(info.lrnDc);
		}
	});
}

// 실행학습적용모듈정보조회
function getLearningExcnAplcnModule(lrnExcnSn) {

	$.ajax({
		url: "/json/learning/getLearningExcnAplcnModule"
		, method : "POST"
		, contentType: 'application/json'
		, data: JSON.stringify({
			lrnExcnSn : lrnExcnSn
		})
		, success: function(data){
			var aplcnDatasetList = data.aplcnDatasetList;
			var aplcnModuleList = data.aplcnModuleList;
			var aplcnModuleParamList = data.aplcnModuleParamList;
			
			//console.log(aplcnDatasetList);
			//console.log(aplcnModuleList);
			//console.log(aplcnModuleParamList);
	
			for(var i = 0 ; i < aplcnDatasetList.length ; i++) {
				var item = aplcnDatasetList[i];
				console.log(item);
				if(item.datasetType == "TRAIN") {
					fnCloneNodeToTable($("#dv_datasetList").find("div[data-itemsn='"+item.lrnDatasetSn+"']"), "td_aplcnTrainDataset");
				} else if(item.datasetType == "TEST") {
					fnCloneNodeToTable($("#dv_datasetList").find("div[data-itemsn='"+item.lrnDatasetSn+"']"), "td_aplcnTestDataset");
				}
			}
			var nodeId = "";
			
			for(var i = 0 ; i < aplcnModuleList.length ; i++) {
				var item = aplcnModuleList[i];
				//console.log(item);
				nodeId = "";
				
				if(item.moduleAplcnTyCd == "PRE_TRAIN") {
					if(item.moduleTyCd == "FILTER")
						nodeId = fnCloneNodeToTable($("#dv_filterList").find("div[data-itemsn='"+item.moduleSn+"']"), "td_aplcnTrainProcs");
					else if(item.moduleTyCd == "PROCESSOR") 
						nodeId = fnCloneNodeToTable($("#dv_processorList").find("div[data-itemsn='"+item.moduleSn+"']"), "td_aplcnTrainProcs");
				} else if(item.moduleAplcnTyCd == "MODELER") {
					nodeId = fnCloneNodeToTable($("#dv_modelerList").find("div[data-itemsn='"+item.moduleSn+"']"), "td_aplcnModeler");
				} else if(item.moduleAplcnTyCd == "PRE_TEST") {
					if(item.moduleTyCd == "FILTER")
						nodeId = fnCloneNodeToTable($("#dv_filterList").find("div[data-itemsn='"+item.moduleSn+"']"), "td_aplcnTestProcs");
					else if(item.moduleTyCd == "PROCESSOR") 
						nodeId = fnCloneNodeToTable($("#dv_processorList").find("div[data-itemsn='"+item.moduleSn+"']"), "td_aplcnTestProcs");
				} 
				
				if(nodeId != "") {
					var arrParamNm = [];
					var arrParamVal = [];
					var paramIdx = 0;
					for(var j = 0 ; j < aplcnModuleParamList.length ; j++) {
						var itemDtl = aplcnModuleParamList[j];
						if(item.moduleAplcnSn == itemDtl.moduleAplcnSn && itemDtl.paramtrValue != "") {
							arrParamNm[paramIdx] = itemDtl.paramtrNm;
							arrParamVal[paramIdx] = itemDtl.paramtrValue;
							paramIdx++;
						}
					}
			
					// 파라미터 정보 로컬 목록에 저장
					fnStoreParamProc(nodeId, item.moduleSn, arrParamNm, arrParamVal);
					
				}
			}
			
			
		}
	});
}

// 모듈 노드를 복사 하여 태이블에 배치 시킨다. 
function fnCloneNodeToTable(obj, targetAreaId) {
	return fnMakeNodeToTable(obj.clone(), targetAreaId);
}
function fnMakeNodeToTable(cloneObj, targetAreaId) {
	var nodeId = "aplcnModule_" + (++aplcnModuleIdx);
	$viewNode = cloneObj;
	$viewNode.find(".cl_nodeCloseBtn").show();	// x버튼 보이도록 처리
	$viewNode.attr("id", nodeId);
	$viewNode.removeClass("dv_moveItem");
	$viewNode.addClass("dv_moveItem_fix");
	
	
	if($viewNode.attr("data-moduletype") == "DATASET") {
		//$viewNode.find(".cl_nodeDtl").text(nodeDtlTxt);
	} else {
		$viewNode.find(".cl_nodeDtl").text("");
	}
	
	
	$dvMainNode = $("<div/>");
	$dvMainNode.append($viewNode);
	var arrowVisibleText = "";
	
	// 기존에 해당 td 에 node 가 있는경우 화살표를 살려준다. 
	if($("#"+targetAreaId).find(".dv_moveItem_fix").length > 0) {
		
		$("#"+targetAreaId).find(".dv_moveItem_fix").each(function() {
			$(this).css("margin-right", "0");	// 기존에 viewNode 의 오른쪽 margin이 40 있던것을 없앤다..(노드가 놓아지는 순간 붙었다가 화살표가 살아나면서 순간적으로 움직이는것을 방지 하기 위해서 미리 40margin을 잡아놨던것임)
			$(this).parent("div").find(".cl_nodeArrow").show();
		});
	}
	
	
	$dvMainNode.append("<div class='cl_nodeArrow'><img src='/img/common/page_next_btn01.png' title='화살표 오른쪽' /></div>");
		
	
	$("#"+targetAreaId).append($dvMainNode);
	
	console.log(targetAreaId);
	
	
	/*
	if($viewNode.closest("td").find(".dv_moveItem_fix").length > 1) {
		// td 에 2개일 때 부터 

		// 노드 연결 선 그리기					
		var lineWidth = 40;
		var lineLeft = ($viewNode.offset().left) - lineWidth;
		var lineTop = ($viewNode.offset().top) + (Number($viewNode.css("height").replace("px","")) / 2 );
		//var nodeLineHtml = "<div id='aplcnModule_" + aplcnModuleIdx +"_line' class='node_line' style='left:"+lineLeft+"px;top:"+lineTop+"px'></div>";
		lineLeft = lineLeft + 4;
		lineTop = lineTop - 8;
		var nodeLineHtml = "<div id='aplcnModule_" + aplcnModuleIdx +"_line' style='position: absolute; left:"+lineLeft+"px;top:"+lineTop+"px'><img src='/img/common/page_next_btn01.png' title='화살표 오른쪽'/></div>";
		$("#content").append(nodeLineHtml);
	}
	*/
	
	return nodeId;
}



// 레이어 팝업에서 데이터 셋 다운로드 클릭 시 
function fnClickDownDatasetParam() {
	
	var datasetSn = $("#modal_moduleParam").find("input[name=datasetSn]").val();
	alert(datasetSn);
	fnCommFileDown("DATASET", datasetSn);
}






// 학습구성 삭제버튼
function fnDeleteLearningCourse() {
	if ($("input[name='chk']:checked").length >=1) {
		var tr = $("input[name='chk']:checked").parent().parent();
		tr.remove();
	} else {
		alert("선택된 학습 구성이 없습니다.");
	}
}





//Move Distance
var topDis = 0;
var leftDis = 0;

//boolean to revert check
var isRevert = true;

function fnInitDragModuleNode() {
	
	//droppable target 
	$contain=$(".contain");
	
	//draggable target
	$object = $(".dv_moveItem");
	//움직일 객체
	$object.draggable({
	    //드래그가 끝난뒤 제자리로 돌아오게 하는 속성값
		revert:function(event,ui){
	    	//droppable 객체가 아닌곳에 드래그 됫을때
	        if(event==false){
	        	isRevert=false;
	            return true;
				//droppable 객체에 들어갓을때
			} else {
				isRevert=true;
			}
		},
		//드래그되는 객체가 본인 자체일지 아니면 그외 다른것일지
		//해당 함수의 return 값이 드래그되어서 움직임
		helper:function(){
	    	$helper=$(this).clone();
			return $helper; 
		},
		//드래그가 시작됬을때 발생
		start:function(event,ui){
			//최종 더해질 객체
			$final=$(this).clone();
			//잠시 더해져서 에니메이션을 보여줄 객체
			$clone=$(this).clone();
			
		},
		//드래그 도중 발생
		drag:function(event,ui){
		},
		//드래그가 중지됬을때 발생
		stop:function(event,ui){
          
		}
	});
	
	
	$contain.droppable({
		accept:".dv_moveItem",
		drop:function(event,ui){
			
			//draggable의 stop function이 종료된 후에
			
	
			
			
			if(isRevert) {
			
				//최종 객체를 더해주고
				$(this).append($final);
				//최종 객체의 위치를 지정 후 거리 계산
				//visibility 속성은 해당위치에 존재함으로 밑의 과정이 
				//display 속성은 해당위치에 존재하지 않기때문에 필요함


				// 노드 validation 체크
				if(!fnCheckMoveNodeValidation($final)) {
					$final.remove();
					return;
				}
				

				$finalTop=$final.offset().top;
				$finalLeft=$final.offset().left;

				//객체를 숨기고
				$final.css("visibility","hidden");
				//이동할 객체를 생성
				$clone.css("position","absolute");
				$(this).append($clone);

				//drop 위치에 객체 배정
				$clone.offset({
					top:ui.offset.top,
					left:ui.offset.left
				});
				//거리 계산
				topDis=$finalTop-ui.offset.top;
				leftDis=$finalLeft-ui.offset.left;
				$clone.animate({left:"+="+leftDis},function(){
					
					//이동한 객체는 에니메이션 종료 후 삭제
					$(this).remove();

					
					
					//완료될시 모든 객체를 보여줌
					$final.css("visibility","visible");        
					
					//$final.addClass("dv_moveItem_fix");
					//$final.removeClass("dv_moveItem");
					//$final.attr("id", "aplcnModule_" + (++aplcnModuleIdx));
					//$final.find(".cl_nodeCloseBtn").show();	// x버튼 보이도록 처리
					
					fnMakeNodeToTable($final, $final.closest("td").attr("id"));
					
				});
				$clone.animate(
						{top:"+="+topDis},
						{queue:false}
				);   
			}
		}
	});
}
function fnCheckMoveNodeValidation(nodeObj) {
	
	var nodeTdTypeId = nodeObj.closest("td").attr("id");
	var moduleType = nodeObj.attr("data-moduletype");
	
	if(nodeTdTypeId == "td_aplcnModel" || nodeTdTypeId == "td_aplcnTestResult") {
		alert("구성할수 없는 위치입니다.");
		return false;	
	}
	if(moduleType == "DATASET") {
		if(nodeTdTypeId != "td_aplcnTrainDataset" && nodeTdTypeId != "td_aplcnTestDataset" ) {
			alert("데이터셋모듈은 훈련 데이터셋 혹은 테스트 데이터셋 위치에만 구성 가능합니다.");
			return false;			
		}
	} else {
		if(nodeTdTypeId == "td_aplcnModeler" && moduleType != "MODELER") {
			alert("모델러에 구성할 수 없는 모듈 입니다.");
			return false;
		} 
		if(moduleType == "MODELER" && nodeTdTypeId != "td_aplcnModeler") {
			alert("훈련 모델러에만 구성할 수 있는 모듈입니다.");
			return false;
		}
		if(nodeTdTypeId == "td_aplcnTrainDataset") {
			alert("훈련 데이터셋 구성할 수 없는 모듈입니다.");
			return false;
		} else if(nodeTdTypeId == "td_aplcnTestDataset") {
			alert("테스트 데이터셋 구성할 수 없는 모듈입니다.");
			return false;		
		}
	}
	
	
	
	return true;
}


	
	
	
</script>

</body>

</html>
					 