<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/mainLayout">

<th:block th:fragment="model_upload_test">
<div class="pop_header">
	<p class="title">모델 업로드/테스트</p>
	<button class="btn_ic btn_pop_close" onclick="fnExit('modelUpload_modal');">닫기</button>
</div>
<div class="pop_content">
	
	<!-- 
	<div class="tbl_top right padt10">
		<div style="width:100%;">※ </div>
	</div> -->
	
	<div class="table_area margint30">
		<form id="mupl_modelForm" name="mupl_modelForm">
		<input type="hidden" id="mupl_pmode" name="mupl_pmode" />
		<input type="hidden" id="mupl_lrnExcnSn" name="mupl_lrnExcnSn" />
		<input type="hidden" id="mupl_lrnDatasetSn" name="mupl_lrnDatasetSn" />
		<div class="search_wrap">
		
			<table class="search fixed">
				<colgroup>
					<col style="width: 170px;">
					<col style="width: auto;">
					<col style="width: 60px;">
					<col style="width: 170px;">
					<col style="width: auto;">
				</colgroup>
				<tbody>
					<tr>
						<th><label for="mupl_lrnGroupNm">*학습그룹명</label></th>
						<td>
							<div class="selectbox">
								<select name="mupl_lrnGroupNm" id="mupl_lrnGroupNm">
									<option value="option_default">선택</option>
								</select>
							</div>
						</td>
						<td></td>
						<th><label for="mupl_lrnNm">학습명</label></th>
						<td>
							<div class="selectbox">
								<select name="mupl_lrnNm" id="mupl_lrnNm">
									<option value="option_default">선택</option>
								</select>
							</div>
						</td>
					</tr>
					<tr>
						<th><label for="mupl_modelPath">모델파일</label></th>
						
						<td>
							<!-- <input type="hidden" name="basePathId" value="mls.resource.base_path" /> -->
							<input type="hidden" name="subDir" id="subDir" value="" />
							<input type="hidden" name="fileNm" id="fileNm" value="" />
							<input type="text" id="mupl_modelPath" style="width:299px;" value="" />
							<label class="btn sm" for="mupl_model" style="margin-right:-8px">모델찾기</label>
							<input type="file" id="mupl_model" name="file" style="display:none;" />
						</td>
						<td></td>
						<th><label for="mupl_pyPath">*테스트py파일</label></th>
						<td>
							<input type="hidden" id="mupl_pyPathOrigin" name="mupl_pyPathOrigin" value=""/>
							<input type="text" id="mupl_pyPath" style="width:299px;" value="" />
							<label class="btn sm" for="mupl_py" style="margin-right:-8px">파일찾기</label>
							<input type="file" id="mupl_py" name="file2" style="display:none;" />
						</td>
					</tr>
					
					<tr>
						<th><label for="mupl_lrnDatasetNm">*학습데이터셋명</label></th>
						<td><input type="text" name="mupl_lrnDatasetNm" id="mupl_lrnDatasetNm" style="width:380px;"/></td>
						<td></td>
						<th><label for="mupl_objectPath">추가파일</label></th>
						<td>
							<input type="text" id="mupl_objectPath" style="width:299px;" value="" />
							<label class="btn sm" for="mupl_object" style="margin-right:-8px">파일찾기</label>
							<input multiple="multiple" type="file" id="mupl_object" name="file3" style="display:none;" />
						</td>
					</tr>
					<tr>
						<th><label for="mupl_lrnDatasetDc">학습데이터설명</label></th>
						<td><input type="text" name="mupl_lrnDatasetDc" id="mupl_lrnDatasetDc" style="width:380px;"/></td>
						<td></td>
						<th><label for="mupl_exclRowCnt">*제외Row수</label></th>
						<td><input type="text" name="mupl_exclRowCnt" id="mupl_exclRowCnt" value="1" style="width:380px;"/></td>
					</tr>
				</tbody>
			</table>
		</div>
		</form>
	</div>
	
	
	<div class="row">
		<div class="left" data-width="50%">
			<div class="tbl_top margint20" style="flex: 0 0 0;">
				<div class="button_area">
					<button class="btn sm" title="추가" onclick="fnAddColumn(); return false;">추가</button>
					<button class="btn sm" title="삭제" onclick="fnDelRow('col'); return false;">삭제</button>
				</div>
			</div>
			
			<div class="tbl_wrap v1" style="max-height:500px; overflow-x:hidden; overflow-y:scroll;">
				<table class="view fixed" id="mupl_col_table">
					<colgroup>
						<col style="width:60px;">
						<col style="width:60px;">
						<col style="width:auto;">
						<col style="width:80px;">
					</colgroup>
					<thead>
						<tr class="alignc">
							<th>1</th>
							<th>순번</th>
							<th>*컬럼헤더(Feature)</th>
							<th>Target</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input type="checkbox" name="mupl_colCheck" /></td>
							<td>1</td>
							<td><input class="alignl" type="text" name="mupl_colNm" /></td>
							<td><input type="radio" name="mupl_targetCheck" /></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="right" data-width="auto;">
			<div class="tbl_top margint20" style="flex: 0 0 0;">
				<div class="button_area">
					<button class="btn sm" title="추가" onclick="fnAddLabel(); return false;">추가</button>
					<button class="btn sm" title="삭제" onclick="fnDelRow('lbl'); return false;">삭제</button>
				</div>
			</div>
			
			<div class="tbl_wrap v1" style="max-height:500px; overflow-x:hidden; overflow-y:scroll;">
				<table class="view fixed" id="mupl_lbl_table">
					<colgroup>
						<col style="width:60px;">
						<col style="width:60px;">
						<col style="width:150px;">
						<col style="width:auto;">
					</colgroup>
					<thead>
						<tr class="alignc">
							<th></th>
							<th>순번</th>
							<th>라벨값(Target)</th>
							<th>라벨명</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input type="checkbox" name="mupl_lblCheck" /></td>
							<td>1</td>
							<td><input class="alignc" type="text" name="mupl_lblValue" /></td>
							<td><input type="text" name="mupl_lblNm" /></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
</div>


<div class="pop_footer" style="text-align:center;">
	<button class="btn bg_navy txt_white" style="display: inline-block;" onclick="fnSave(); return false;">저장</button>
	<button class="btn bg_navy txt_white" style="display: inline-block;" onclick="fnExit('modelUpload_modal'); return false;">취소</button>
</div>	

<script>

$(document).ready(function() {
	
	fnInitModal();
	
	$("#mupl_lrnGroupNm").change(function() {
		fnLrnSnSelect();
	});
	
	
	$("#mupl_model").change(function() {
		if ($(this).val() != "") {
			$("#mupl_modelPath").val($("#mupl_model")[0].files[0].name);
		}
	});
	
	$("#mupl_py").change(function() {
		if ($(this).val() != "") {
			$("#mupl_pyPath").val($("#mupl_py")[0].files[0].name);
			$("#mupl_pyPathOrigin").val($("#mupl_py")[0].files[0].name);
		}
	});
	
	$("#mupl_object").change(function() {
		if ($(this).val() != "") {
			$("#mupl_objectPath").val($("#mupl_object")[0].files[0].name);			
		}
	});
});


function fnLrnSnSelect(selectValue) {
	if (!(selectValue))
		selectValue = "option_default";
	var lrnGroupSn = $("#mupl_lrnGroupNm option:selected").val();		
	$("#mupl_lrnNm option").remove();

	$.ajax({
		url: "/json/learning/getLearningList"
		, contentType: 'application/json'
		, success: function(data){
			var item = "<option value='option_default'>선택</option>"
			for (i=0; i<data.lrnMngList.length; i++) {
				if (data.lrnMngList[i].lrnGroupSn == lrnGroupSn) {
					item += "<option value='" + data.lrnMngList[i].lrnSn + "'>" + data.lrnMngList[i].lrnNm + "</option>";
				}
			}
			$("#mupl_lrnNm").append(item);
			console.log(selectValue);
			$("#mupl_lrnNm").val(selectValue).prop("selected", true);
			fnApplySelectLabel();
		}
	});
}



function fnInitModal() {	
	new CodeBinder()
	.setSqlCode("LEARNING_GROUP_CODE", "mupl_lrnGroupNm", "select")
	.load();
	
}


function fnAddColumn() {
	var table = '';
	table += '<tr><td><input type="checkbox" name="mupl_colCheck"/></td>';
	table += '<td>' + ($("#mupl_col_table tbody tr").length + 1) + '</td>';
	table += '<td><input type="text" name="mupl_colNm" /></td>';
	table += '<td><input type="radio" name="mupl_targetCheck" /></td></tr>';
	$("#mupl_col_table tbody").append(table);
	fnModalResize("modelUpload_modal");
}


function fnAddLabel() {
	var table = '';
	table += '<tr><td><input type="checkbox" name="mupl_lblCheck"/></td>';
	table += '<td>' + ($("#mupl_lbl_table tbody tr").length + 1) + '</td>';
	table += '<td><input class="alignc" type="text" name="mupl_lblValue" /></td>';
	table += '<td><input type="text" name="mupl_lblNm" /></td></tr>';
	$("#mupl_lbl_table tbody").append(table)
	fnModalResize("modelUpload_modal");
}



function fnModalResize(id) {
	$("#" + id).fnModalCenterPosition();
	$(window).on("resize", function() {
		$("#" + id).fnModalCenterPosition();  
	});
}



function fnDelRow(tableKind) {
	if ($("input[name=mupl_"+tableKind+"Check]:checked").length >= 1) {
		var tr = $("input[name=mupl_"+tableKind+"Check]:checked").parent().parent();
		tr.remove();
	} 
	else {
		alert("선택된 행이 없습니다.");
		return
	}
	
	var num = 1;
	$("#mupl_" + tableKind + "_table tbody tr").each(function() {
		$(this).children().eq(1)[0].innerText = num;
		num += 1
	});
}



function fnSave() {
	if ($("#mupl_lrnGroupNm").val() == "option_default") {
		alert("학습그룹명(은) 필수 선택 항목입니다.");
		$("#mupl_lrnGroupNm").focus();
		return;
	}
	if ($("#mupl_lrnNm").val() == "option_default") {
		alert("학습명(은) 필수 선택 항목입니다.");
		$("#mupl_lrnNm").focus();
		return;
	} 
	
	//if(!fnCheckValid("#mupl_modelPath", "모델")) return;
	if(!fnCheckValid("#mupl_pyPath", "*.py 파일")) return;
	if(!fnCheckValid("#mupl_lrnDatasetNm", "학습데이터셋명")) return;
	if(!fnCheckValid("#mupl_exclRowCnt", "제외 Row 수")) return;
	
	var hderList = new Array();
	$("#mupl_col_table tbody tr input[name='mupl_colCheck']").each(function() {
		var dataObj = new Object();
		var tr = $(this).closest("tr");
		
		if (!(tr.find("input[name=mupl_colNm]").val())) {
			alert("컬럼헤더는 필수 입력 항목입니다.");
			tr.find("input[name=mupl_colNm]").focus();
			return;
		}
		dataObj.hderValue = tr.find("input[name=mupl_colNm]").val();
		
		if (tr.find("input:radio[name=mupl_targetCheck]").is(":checked")) {
			dataObj.trgtValueYn = "Y"
		} else {
			dataObj.trgtValueYn = "N"
		}
		
		hderList[hderList.length] = dataObj;
	});
	
	var lblList = new Array();
	if ($("#mupl_lbl_table tbody tr").length > 1) {
		$("#mupl_lbl_table tbody tr input[name=mupl_lblCheck]").each(function() {
			var dataObj = new Object();
			var tr = $(this).closest("tr");
			
			if (!(tr.find("input[name=mupl_lblValue]").val())) {
				alert("라벨값은 필수 입력 항목입니다.");
				tr.find("input[name=mupl_lblValue]").focus();
				return;
			}
			
			if (!(tr.find("input[name=mupl_lblNm]").val())) {
				alert("라벨명은 필수 입력 항목입니다.");
				tr.find("input[name=mupl_lblNm]").focus();
				return;
			}
			
			dataObj.lblValue = tr.find("input[name=mupl_lblValue]").val();
			dataObj.lblNm = tr.find("input[name=mupl_lblNm]").val();			
			lblList[lblList.length] = dataObj;
		});
	};	
	
	var flag = confirm("저장하시겠습니까?");
	//console.log(hderList);
	//console.log(lblList);
	//console.log($("#mupl_pyPath").val());
	if (flag) {
		$.ajax({
			url: "/json/learning/saveUldModelPublishing"
			, method : "POST"
			, contentType: 'application/json'
			, data: JSON.stringify({
				lrnSn: $("#mupl_lrnNm").val()
				, lrnDatasetSn: $("#mupl_lrnDatasetSn").val()
				, lrnDatasetNm: $("#mupl_lrnDatasetNm").val()
				, lrnDatasetDc: $("#mupl_lrnDatasetDc").val()
				, exclRowCnt: $("#mupl_exclRowCnt").val()
				, testExcnFlpth: $("#mupl_pyPath").val()
				, crtModelFlpth: $("#mupl_modelPath").val()
				, hderList: hderList
				, lblList : lblList
				, pmode: $("#mupl_pmode").val()
				, lrnExcnSn: $("#mupl_lrnExcnSn").val()
			})
			, success: function(data){
				if (data.resultCd == "OK") {
					$("#subDir").val(data.nextLrnExcnSn + "/");
					$("#fileNm").val(data.crtModelFlpth);
					/*
					if (data.crtModelFlpth.indexOf("kcbert") > -1) {
						$("#mupl_model").val("");
					}*/
					
					var form = $("#mupl_modelForm")[0];
					var formData = new FormData(form);
					
					$.ajax({
						url: "/mlms/commdown/upload"
						, type: "POST"
						, enctype: "multipart/form-data"
						, data: formData
						, processData: false
				        , contentType: false
				        , cache: false
				        , timeout: 600000
				        , success: function (result) {
				        	if (result.resultCd == "OK")
				        		alert("등록되었습니다.");
				        		location.reload();
				        }
					});
				}
				
			}
		});
	}
	
	
}



function fnGetUldModelInfo() {
	
	$.ajax({
		url: "/json/learning/getLearningExcnInfo"
		, method: "POST"
		, contentType: "application/json"
		, data: JSON.stringify({
			lrnExcnSn: $("#mupl_lrnExcnSn").val()
		})
		, success: function(data) {
			$("select[name=mupl_lrnGroupNm]").val(data.info.lrnGroupSn);
			fnLrnSnSelect(data.info.lrnSn);
			$("#mupl_lrnDatasetSn").val(data.info.lrnDatasetSn);
			$("#mupl_modelPath").val(data.info.crtModelFlpth);
			var testExcnFlpth = data.info.testExcnFlpth;
			if (testExcnFlpth.indexOf("/") > -1) {
				var flpthList = testExcnFlpth.split("/");
				testExcnFlpth = flpthList[flpthList.length - 1];
			}
			$("#mupl_pyPathOrigin").val(testExcnFlpth); // 기존 등록 python 파일 명
			$("#mupl_pyPath").val(testExcnFlpth); // 변경 가능
			$("#mupl_lrnDatasetNm").val(data.info.lrnDatasetNm);
			$("#mupl_exclRowCnt").val(data.info.exclRowCnt);
			$("#mupl_lrnDatasetDc").val(data.info.lrnDatasetDc);
			$("#mupl_col_table tbody tr").remove();
			$("#mupl_lbl_table tbody tr").remove();
			$.ajax({
				url: "/json/dataset/getModelHderLblInfo"
				, method: "POST"
				, contentType: 'application/json'
				, data: JSON.stringify({lrnDatasetSn: data.info.lrnDatasetSn})
				, success: function(result) {
					var table = "";
					for (i=0; i<result.headerList.length; i++) {
						var checkedYn = "";
						if (result.headerList[i].trgtValueYn == "Y"){
							checkedYn = 'checked';
						}
						table += '<tr><td><input type="checkbox" name="mupl_colCheck"/></td>';
						table += '<td>' + ($("#mupl_col_table tbody tr").length + 1 + i) + '</td>';
						table += '<td><input type="text" name="mupl_colNm" value="' + result.headerList[i].hderValue + '" /></td>';
						table += '<td><input type="radio" name="mupl_targetCheck" ' + checkedYn + '/></td></tr>';
					}
					$("#mupl_col_table tbody").append(table);
					
					table = "";
					for (i=0; i<result.labelList.length; i++) {
						table += '<tr><td><input type="checkbox" name="mupl_lblCheck"/></td>';
						table += '<td>' + ($("#mupl_lbl_table tbody tr").length + 1 + i) + '</td>';
						table += '<td><input class="alignc" type="text" name="mupl_lblValue" value="' + result.labelList[i].lblValue + '" /></td>';
						table += '<td><input type="text" name="mupl_lblNm" value="' + result.labelList[i].lblNm + '" /></td></tr>';
					}
					
					$("#mupl_lbl_table tbody").append(table)
					fnShowModal("modelUpload_modal");
				}
			});
		}
	});
}



function fnInitUldModal() {
	$("#mupl_lrnGroupNm").val("option_default");
	$("#mupl_lrnNm option").remove();
	$("#mupl_lrnNm").val("option_default");
	fnApplySelectLabel();
	$("#subDir").val("");
	$("#fileNm").val("");
	$("#mupl_modelPath").val("");
	$("#mupl_model").val("");
	$("#mupl_pyPath").val("");
	$("#mupl_py").val("");
	$("#mupl_lrnDatasetNm").val("");
	$("#mupl_objectPath").val("");
	$("#mupl_object").val("");
	$("#mupl_lrnDatasetDc").val("");
	$("#mupl_exclRowCnt").val(1);
	$("#mupl_col_table tbody tr").remove();
	$("#mupl_lbl_table tbody tr").remove();
	fnAddColumn();
	fnAddLabel();
}
</script>
</html>
