<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/mainLayout">

<head>
	<th:block th:replace="fragments/head_inc :: head_inc" />
	<style type="text/css">
	
		#tb_data_table th { padding : 6px 0; }
		
	</style>
</head>

<body id="body">
	<div id="wrap">
		<div class="container">
			<div id="content">
				<div class="page_info_area">
					<div class="left">
                        <div class="location_area">
                            <a href="#" class="bookmark active" title="즐겨찾기"></a>
                            <ul>
                                <li>홈</li>
                                <li>학습관리</li>
								<li>학습모델테스트</li>
                            </ul>
                        </div>
                        <div class="title_area">
                            <p>학습모델테스트</p>
                            <a href="#" class="reload_btn" title="새로고침">새로고침</a>
                            <a href="#" class="help_btn" title="도움말">도움말</a>
                        </div>
                    </div>
                    <div class="right">
                        <div class="button_area">
                        	<button class="btn" title="모델업로드" onclick="fnUldModal('R', '', ''); return false;">모델업로드</button>
                        	<button class="btn" title="조회" onclick="fnSearch(); return false;">조회</button>
                        </div>
                    </div>
                </div>
                
                <div class="content_area">
                	<div class="division20">
                		<div class="search_wrap">
                			<table class="search fixed">
                				<colgroup>
                                    <col style="width: 100px;" />
                                    <col style="width: auto;" />
                                    <col style="width: 60px;" />
                                    <col style="width: 100px" />
                                    <col style="width: auto;" />
                                </colgroup>
                                <tbody>
                                	<tr>
                                		<th scope="row"><label for="lrnGroupSn">학습그룹</label></th>
                                		<td>
                                			<div class="selectbox">
                                				<select id="lrnGroupSn" name="lrnGroupSn">
                                					<option value="">선택</option>
                                				</select>
                                			</div>
                                		</td>
                                		<td></td>
                                		<th scope="row"><label for="lrnNm">학습명</label></th>
                                		<td><input type="text" class="in_w100" id="lrnNm" name="lrnNm" /></td>
                                	</tr>
                                </tbody>
                			</table>
                		</div>
                	</div>
                
                
                
                	<div class="division20">
                		<div class="row">
                			<div class="left" data-width="auto">
                				<div class="table_area marginb25">
                					<table class="list fixed" id="tb_data_table">
                						<colgroup>
											<col width="80px;" /> 
											<col width="auto;" />
											<col width="auto;" />
											<col width="70px;" />
											<col width="70px;" />
											<col width="70px;" />
											<col width="70px;" />
											<col width="120px;" />
											<col width="70px;" />
											<col width="100x;" />
										</colgroup>
										<thead>
											<tr>
												<th>실행<br/>순번</th>
												<th>학습그룹</th>
												<th>학습명</th>
												<th>업로드 여부</th>
												<th>테스트<br/>수행</th>
												<th>평균<br/>정확도</th>
												<th>평균<br/>소요시간</th>
												<th>최근<br/>학습일시</th>
												<th>최근<br/>정확도</th>
												<th>수정</th>
											</tr>
										</thead>
										<tbody>
											<tr class="fwk_templete_row">
												<td>
													#{lrnExcnSn}
													<input type="hidden" name="lrnExcnSn" value="#{lrnExcnSn}" />
													<input type="hidden" name="crtModelFlpth" value="#{crtModelFlpth}" />
													<input type="hidden" name="uldModelYn" value="#{uldModelYn}" />
												</td>
												<td class="alignl">#{lrnGroupNm}</td>
												<td class="alignl">#{lrnNm}</td>
												<td class="alingc">#{uldModelYn}</td>
												<td class="alignr">#{executeCnt}</td>
												<td class="alignr">#{avgAccrcyRate}%</td>
												<td class="alignr">#fn{fnDateTextBySec(#{avgDiffSecond})}</td>
												<td>#fn{replaceAll('#{lastTestDt}',' ', '<br/>')}</td>  
												<td class="alignr">#{lastAccrcyRate}%</td>
												<td>
													<button class="btn sm" name="modButton" onclick="fnUldModal('M', '#{lrnExcnSn}', '#{uldModelYn}'); return false;">수정</button>
												</td>
											</tr>
										</tbody>
                					</table>
                				</div>
                				<div class="pagination_area marginb25" id="dv_paging"></div>
                			</div>
                			
                			<div class="right" data-width="500">
                				<div class="view_wrap">
                					<div class="tbl_top" style="flex: 0 0 0;">
			                			<p class="tit v2"><span>학습모듈 구성</span></p>
		                				<div class="button_wrap">
		                					<!-- <button class="btn sm" style="width:145px;" onclick="fnDownLayout(); return false;">데이터 레이아웃 다운</button> -->
			                				<button class="btn sm" onclick="fnOpenSelectDataset(); return false;">테스트수행</button>
		                				</div>
		                			</div>
								
			                		<div class="table_area marginb25">
			                			<table class="view fixed" >
			                				<colgroup>
			                					<col width="140px" /> 
												<col width="auto;" />
											</colgroup>
											<tbody>
												<tr>
													<th>학습 데이터셋</th>
													<td id="dtlview_traindataset"></td>
												</tr>
												<tr>
													<th>훈련 선처리모듈</th>
													<td id="dtlview_trainpreproc"></td>
												</tr>
												<tr>
													<th>훈련 모델러</th>
													<td id="dtlview_modeler"></td>
												</tr>
												<tr>
													<th>모델</th>
													<td id="dtlview_model"></td>
												</tr>
												<tr>
													<th>테스트 선처리모듈</th>
													<td id="dtlview_testpreproc"></td>
												</tr>
											</tbody>
			                			</table>
			                		</div>
		                		</div>
                			</div>
                		</div>
                	</div>
                </div>
			</div>
		</div>
	</div>

	
	<div class="popup layer" id="modal_testDataset">
		<div class="pop_header">
			<p class="title">테스트데이터셋 선택</p>
			<button class="btn_ic btn_pop_close" onclick="fnExit('modal_testDataset');">닫기</button>
		</div>
		<div class="pop_content">
			<div class="alignr marint20" >
				<div class="search_wrap" style="margin-top: 15px;">
					<table class="search fixed">
						<thead>
							<tr>
								<td width="75%">
									<input type="text" class="in_w100" id="reg_searchKey" name="reg_searchKey" />
								</td>
								<td width="30px"></td>
								<td>
									<button class="btn sm" onclick="fnSrcDataSearch(); return false;">조회</button>
								</td>
							</tr>
						</thead>
					</table>
				</div>
			</div>
			<div class="division margint10">
				<div class="table_area marginb25" style="max-height:700px; overflow-x:hidden; overflow-y:scroll;">
					<table class="list fixed" id="tb_testdataset" style="width:100%">
						<colgroup>
							<col width="25%" />
							<col width="25%" />
							<col width="10%" />
							<col width="10%" />
							<col width="15%" />
							<col width="15%" />
						</colgroup>
						<thead>
							<tr>
								<th>데이터셋명</th>
								<th>데이터셋경로</th>
								<th>컬럼수</th>
								<th>데이터수</th>
								<th>데이터크기<br>(KB)</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr class="fwk_templete_row">
								<td><a href="#" onclick="fnRunTest('#{lrnDatasetSn}'); return false;">#{lrnDatasetNm}</a></td>
								<td class="alignl">#{dataOrginlFlpth}</td>
								<td class="alignr">#{dataColCnt}</td>
								<td class="alignr">#fn{fnFormatNumber(#{dataRowCnt})}</td>
								<td class="alignr">#fn{fnFormatNumber(#{dataKbSize})}</td>
								<td>
									<button class="btn sm" onclick="fnViewDatasetPop('S', '#{datasetSn}'); return false;">상세보기</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<div class="pagination_area marginb25" id="testdataset_dv_paging"></div>
		</div>
	</div>

<div class="popup layer" id="modelUpload_modal">
	<th:block th:replace="mlms/learning/model_upload_test :: model_upload_test" />
</div>

	
	
<script type="text/javascript">

$(document).ready(function() {
	
	$("#lrnNm").on("keyup", function(event) {
		if(event.keyCode == 13) 
			fnSearch();
	});
	
	// 공통코드 load
	fnInit();
	
	
});



function fnInit() {
	
	new CodeBinder()
	.setSqlCode("LEARNING_GROUP_CODE","lrnGroupSn", "select")
	.load();
	
	fnSearch(1);
}



function fnSearch(pageNum) {
	if(!pageNum) 
		pageNum = 1;
	
	//fnClearDetail();
	
	$.ajax({
		url: "/json/learning/getModelTestList"
		, method : "POST"
		, contentType: 'application/json'
		, data: JSON.stringify({
			pageNum: pageNum
			, lrnGroupSn : $("#lrnGroupSn").val()
			, lrnNm : $("#lrnNm").val()
		})
		, success: function(data){
			
			fnBindTableValue("tb_data_table", data.list, data.pagingInfo);
			
			fnSetPaging("dv_paging", data.pagingInfo); 
			
			$("#tb_data_table tbody tr").each(function() {
				if ($(this).children().find("input[name=uldModelYn]").val() == "N") {
					$(this).children().find("button[name=modButton]").css("display", "none");
				};
			});
			// 선택 tr event 처리 후 color 처리 		
			fnSelectTrEvent("#tb_data_table tbody tr", function(rtnObj) {
				fnViewDetail($(rtnObj).find("input[name=lrnExcnSn]").val());
			})
			
		}
	});
	 
}

// 상세영역 초기화
function fnClearDetail() {
	$("#dtlview_traindataset").empty();
	$("#dtlview_trainpreproc").empty();
	$("#dtlview_modeler").empty();
	$("#dtlview_model").empty();
	$("#dtlview_testpreproc").empty();
}

// 상세 조회
function fnViewDetail(lrnExcnSn) {

	//fnClearDetail();
	
	// 실행학습적용모듈정보조회
	$.ajax({
		url: "/json/learning/getLearningExcnAplcnModule"
		, method : "POST"
		, contentType: 'application/json'
		, data: JSON.stringify({
			lrnExcnSn : lrnExcnSn
		})
		, success: function(data){
			
			var aplcnDatasetList = data.aplcnDatasetList;
			var aplcnModuleList = data.aplcnModuleList;
			var aplcnModuleParamList = data.aplcnModuleParamList;
			
			
			var trainpreprocHtml = "";
			var modelerHtml = "";
			var testpreprocHtml = "";
			
			// 데이터셋
			for(var i = 0 ; i < aplcnDatasetList.length ; i++) {
				var item = aplcnDatasetList[i];
				//console.log(item);
				if(item.datasetType == "TRAIN") {
					$("#dtlview_traindataset").html("<a href='#' onclick='fnViewDatasetPop(\"L\","+item.lrnDatasetSn+"); return false;' >"+ item.datasetNm + "</a>");
				} 
			}
			// 적용모듈
			for(var i = 0 ; i < aplcnModuleList.length ; i++) {
				var item = aplcnModuleList[i];
				var paramHtml = "";
				
				for(var j = 0 ; j < aplcnModuleParamList.length ; j++) {
					var itemDtl = aplcnModuleParamList[j];
					if(item.moduleAplcnSn == itemDtl.moduleAplcnSn && itemDtl.paramtrValue != "") {
						paramHtml+="<br/> - " + itemDtl.paramtrNm + " = " + itemDtl.paramtrValue; 
					}
				}
				
				if(item.moduleAplcnTyCd == "PRE_TRAIN") {
					if(trainpreprocHtml != "") {
						trainpreprocHtml = trainpreprocHtml + "<br/>";
					}	
					trainpreprocHtml = trainpreprocHtml + item.moduleNm + paramHtml;
				} else if(item.moduleAplcnTyCd == "MODELER") {
					if(modelerHtml != "") {
						modelerHtml = modelerHtml + "<br/>";
					}	
					modelerHtml = modelerHtml + item.moduleNm + paramHtml;
				} else if(item.moduleAplcnTyCd == "PRE_TEST") {
					if(testpreprocHtml != "") {
						testpreprocHtml = testpreprocHtml + "<br/>";
					}	
					testpreprocHtml = testpreprocHtml + item.moduleNm + paramHtml;
				} 
			}
			
				
			$("#dtlview_trainpreproc").html(trainpreprocHtml);
			$("#dtlview_modeler").html(modelerHtml);
			$("#dtlview_testpreproc").html(testpreprocHtml);
			
			
			
			$("#dtlview_model").text($("#tb_data_table").find("tr[data-selectedtr=Y]").find("input[name=crtModelFlpth]").val());
		}
	});
}

function fnOpenSelectDataset() {
	var lrnExcnSn = $("#tb_data_table").find("tr[data-selectedtr=Y]").find("input[name=lrnExcnSn]").val();
	if(!lrnExcnSn || lrnExcnSn == undefined) {
		alert("테스트 수행 할 학습을 선택 해주세요.");
		return ;
	}
		
	$.ajax({
		url: "/json/dataset/getTestDatasetList"
		, method: "POST"
		, contentType: 'application/json'
		, data: JSON.stringify({
			pageNum: 1
			, datasetNm: $("#datasetNm").val()
			, dataOrginlFlpth: $("#dataOrginlFlpth").val()
			, regUserId: $("#regUserId").val()
			, apiDataYn: "N"
		})
		, success: function(data){
			
			fnBindTableValue("tb_testdataset", data.list);
			
			fnSetPaging("testdataset_dv_paging", data.pagingInfo);
			
			fnShowModal("modal_testDataset");
		}
		
	});
	
	
	
}


function fnExit(modalId) {
	fnCloseModal(modalId);
}





// 테스트 수행
function fnRunTest(lrnDatasetSn) {
	
	fnExit('modal_testDataset');

	var lrnExcnSn = $("#tb_data_table").find("tr[data-selectedtr=Y]").find("input[name=lrnExcnSn]").val();
	if(!lrnExcnSn || lrnExcnSn == undefined) {
		alert("테스트 수행 할 학습을 선택 해주세요.");
		return ;
	}
	
	if(!confirm("테스트를 수행 하시겠습니까?"))
		return;
	
	// 테스트 실행
	$.ajax({
		url: "/json/learning/runTest"
		, method : "POST"
		, contentType: 'application/json'
		, data: JSON.stringify({
			lrnExcnSn : lrnExcnSn
			, lrnDatasetSn: lrnDatasetSn
		})
		, success: function(data){
			if(data.resultCd == "OK") {
				alert("정상 요청 되었습니다.");
				location.href = "/open/"
				
				location.href="/open/mlms/learning/model_test_hist_list";
			}
					
		}
	});
}



function fnUldModal(pmode, lrnExcnSn, uldModelYn) {
	$("#mupl_pmode").val(pmode);
	$("#mupl_lrnExcnSn").val(lrnExcnSn);
	fnInitUldModal();
	// 업로드모델 신규등록 or 수정모드
	if (pmode == 'R') {
		fnShowModal("modelUpload_modal");
	} else {
		if (uldModelYn == 'N') {
			alert("업로드 모델이 아닙니다.");
			return;
		}
		fnGetUldModelInfo();
	}
}






</script>
</body>
</html>