<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/mainLayout">
<head>
	<!-- head inclue -->
	<th:block th:replace="fragments/head_inc :: head_inc" />
	<style type="text/css">
		#tb_data_table th {
			padding : 6px ​0px !important;
		} 
	</style>
</head>
<body>
    <!-- wrap -->
    <div id="wrap">
        <!-- container -->
		<div class="container">
            <!-- content -->
			<div id="content">
			
				<!-- page_info_area -->
                <div class="page_info_area">
                    <div class="left">
                        <div class="location_area">
                            <a href="#" class="bookmark active" title="즐겨찾기"></a>
                            <ul>
                                <li>홈</li>
                                <li>학습관리</li>
								<li>학습모델훈련</li>
                            </ul>
                        </div>
                        <div class="title_area">
                            <p>학습모델훈련</p>
                            <a href="#" class="reload_btn" title="새로고침">새로고침</a>
                            <a href="#" class="help_btn" title="도움말">도움말</a>
                        </div>
                    </div>
                    <div class="right">
                        <div class="button_area">
                            <button class="btn" title="조회" onclick="fnSearch(); return false;">조회</button>
                        </div>
                    </div>
                </div>
                <!--// page_info_area -->

			
				<!-- content_area -->
                <div class="content_area">
					 <!-- division20 -->
                    <div class="division20">
                        <div class="search_wrap">
                            <table class="search fixed">
                                <colgroup>
                                    <col style="width: 100px;" />
                                    <col style="width: auto;" />
                                    <col style="width: 60px;" />
                                    <col style="width: 100px" />
                                    <col style="width: auto;" />
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th scope="row"><label for="lrnGroupSn">학습그룹</label></th>
                                        <td>
                                            <div class="selectbox">
                                                <select id="lrnGroupSn" name="lrnGroupSn">
                                                    <option value="">선택</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td></td>
 										<th scope="row"><label for="lrnNm">학습명</label></th>
                                        <td>
											<input type="text" class="in_w100" id="lrnNm" name="lrnNm"   />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--// division20 -->
				
					<!-- table_area -->
                    <div class="table_area marginb25">
                        <table class="list fixed" id="tb_data_table" >
			                <colgroup>
                                <col style="width: 60px;" />
                                <col style="width: auto;" />
                                <col style="width: auto;" />
                                <col style="width: 100px" />
                                <col style="width: 100px;" />
                                <col style="width: 100px;" />
                                <col style="width: 150px;" />
                                <col style="width: 100px;" />
                                <col style="width: 100px;" />
                            </colgroup>
                            <thead>
                                <tr>
									<th>순번</th>
									<th>학습그룹</th>
									<th>학습명</th>
									<th>학습수행 수</th>
									<th>평균 정확도</th>
									<th>최근 정확도</th>
									<th>최근 학습일시</th>
									<th>평균 소요시간</th>
									<th>신규</th>
                                </tr>
                            </thead>
                            <tbody>
								 
								<tr class="fwk_templete_row">
									<td>#{FWK_TR_NO}</td>
									<td class="alignl">#{lrnGroupNm}</td>
									<td class="alignl"><a href="#" onclick="fnGoDetail('#{lrnSn}', '#{maxLrnExcnSn}'); return false;" >#{lrnNm}</a></td>
									<td class="alignr">#{executeCnt}</td>
									<td class="alignr">#{avgAccrcyRate}%</td>
									<td class="alignr">#{lastAccrcyRate}%</td>
									<td>#{lastLearningDt}</td>  
									<td class="alignr">#fn{fnDateTextBySec(#{avgDiffSecond})}</td>
									<td>
										<button class="btn sm"  onclick="fnGoNewLearning('#{lrnSn}'); return false;">신규</button>
									</td>
								</tr>
                            </tbody>
                        </table>
                    </div>
                    <!--// table_area -->

				
					<!-- pagination_area -->
					<div class="pagination_area marginb25" id="dv_paging"></div>
					<!--// pagination_area -->
					
					
                </div>
				 <!--// content_area -->
            </div>
            <!--// content -->
        </div>
        <!--// container -->
    </div>
    <!--// wrap -->
</body>

 

<script type="text/javascript">


$(document).ready(function() {
	
	$("#lrnNm").on("keyup", function(event) {
		if(event.keyCode == 13) 
			fnSearch();
	});
	
	// 공통코드 load
	fnInit();
	
});



function fnInit() {
	new CodeBinder()
	.setSqlCode("LEARNING_GROUP_CODE","lrnGroupSn", "select")
	.load();
	
	fnSearch(1);
}


function fnSearch(pageNum) {
	if(!pageNum) 
		pageNum = 1;
	
	$.ajax({
		url: "/json/learning/getModelTrainList"
		, method : "POST"
		, contentType: 'application/json'
		, data: JSON.stringify({
			pageNum: pageNum
			, lrnGroupSn : $("#lrnGroupSn").val()
			, lrnNm : $("#lrnNm").val()
		})
		, success: function(data){
			fnBindTableValue("tb_data_table", data.list, data.pagingInfo);
			fnSetPaging("dv_paging", data.pagingInfo); 
		}
	});
	 
}

function fnGoDetail(lrnSn, maxLrnExcnSn) {
	location.href = '/open/mlms/learning/learning_form?pmode=M&lrnSn='+lrnSn+'&lrnExcnSn='+maxLrnExcnSn;
}

// 신규 학습 등록
function fnGoNewLearning(lrnSn) {
	location.href = '/open/mlms/learning/learning_form?pmode=R&lrnSn='+lrnSn+"&lrnExcnSn=0";
}
	
</script>

 

</html>
					 