@charset "utf-8";
 

/* 폰트, color는 디자인가이드에 맞게사용 */
input, button, select, textarea {font-size: 12px; margin: 0px; padding: 0px;}
input[type="text"]{ color:#333 !important;}
textarea{color:#333 !important; border:1px solid #a0a0a0;}

.fontRed {color: #ff3838;}
.fontBlue {color: #0662ad;}

.bg_navy{ background-color: #324266 !important; }
.bg_navy2{ background-color: #203857 !important; }

.txt_white{ color: #ffffff !important; }

/* hidden */
.hidden {display: block; position: absolute; overflow: hidden; top: -999999px; left: -999999px; width: 1px; height: 1px; font-size: 0; text-indent: -999999px; line-height: 0;}

/* button area 버튼 */
.button_area {font-size: 0px;}
.btn_wrap{ display: flex; align-items: center; }
.btn_wrap > *{ flex: none; }
.btn_wrap > * + *{ margin-left: 8px; }
.btn {display: inline-block; padding: 0 15px; vertical-align: bottom; cursor:pointer; color: #000000; font-size: 16px; line-height: 35px; font-family: 'Noto Sans KR', sans-serif; font-weight: 400; border: 1px solid #cccccc; border-radius: 5px; box-sizing: border-box; background: #ffffff;}
.btn:hover{ background: #e0e8f4 }
.btn + .btn {margin-left: 5px;}
.btn:hover {text-decoration: none;}
.btn_ic{ text-indent: -9999px; }

.btn.rnd{ border-radius: 500px; }

.btn.long{ padding: 0 32px; }
.btn.longer{ padding: 0 64px; }

.btn.sm{ line-height: 26px; height: 28px; font-size: 11px; }
.btn.xl{ line-height: 58px; height: 60px; font-size: 24px; font-weight: 400; }
.btn.xxl{ line-height: 80px; height: 82px; font-size: 18px; font-weight: 700; border-radius: 10px; }

.btn_ic.list_toggle_btn{ width: 19px; height: 15px; border: 1px solid #dadada; border-radius: 3px; background: #ffffff url('../img/icon/icon_toggle_list_up.png') no-repeat center 3px; }
.btn_ic.list_toggle_btn.on{ background: #ffffff url('../img/icon/icon_toggle_list_down.png') no-repeat center 5px; }
.btn_ic.btn_pop_close{ width: 30px; height: 30px; border: 1px solid #0c2341; border-radius: 3px; background: url('../img/icon/icon_pop_close.png') no-repeat center; }

/* input & Select Type */
textarea {text-align: left; text-indent: 3px; line-height: 1.4em; border-radius: 5px; overflow:hidden;}
p {line-height: 1.5em; text-align: left;}
input[type=text]::-ms-clear {display: none;}
input {display: inline-block; display: inline; vertical-align: middle;}
input[type=text] {height: 25px; color: #999999; font-size: 100%; text-indent: 10px; line-height: 25px; text-align: left; border: 0px; font-family: 'Noto Sans KR R', sans-serif; background-color: #efeff1; border-radius: 5px;}
input[type=password] {height: 25px; color: #999999; font-size: 100%; text-indent: 10px; line-height: 25px; text-align: left; border: 0px; font-family: 'Noto Sans KR R', sans-serif; background-color: #efeff1; border-radius: 5px;}
input[type=submit] {font-family: 'Noto Sans KR';}
input[type=text].alignc {text-align: center;}

.inp_wrap{ display: flex; flex-wrap: wrap; }
.inp_wrap > .inp_item{ flex: 1 0; }

/* 라디오 */
.inp_wrap > .inp_item.radio,
.inp_wrap > .inp_item.check{ flex: none; }
label{ display: inline-block; }
label input[type="radio"],
label input[type="checkbox"]{ display: none; }
label input[type="radio"] + span{ display: block; min-width: 13px; min-height: 13px; font-size: 13px; background-image: url('../img/icon/icon_radio_off.png'); background-repeat: no-repeat; background-position: left 0; background-size: 13px; }
label input[type="radio"]:checked + span{ background-image: url('../img/icon/icon_radio_on.png'); }
label input[type="radio"] + span.txt{ padding-left: 18px; background-position: left 4px; }
label input[type="checkbox"] + span{ display: block; width: 13px; height: 13px; font-size: 13px; background-image: url('../img/icon/icon_check_off.png'); background-repeat: no-repeat; background-position: left 0; background-size: 13px; }
label input[type="checkbox"]:checked + span{ background-image: url('../img/icon/icon_check_on.png'); }
label input[type="checkbox"] + span.txt{ width: auto; padding-left: 18px; background-position: left 4px; height: auto; }

/* 셀렉트박스 */
.selectbox {position: relative; min-width: 100px; height: 25px; border: 0px; z-index: 1; background-color: #f2f2f2; text-align: left; border-radius: 5px;} 
.selectbox:before {/* 화살표 대체 */content: ""; position: absolute; width: 12px; height: 6px; top: 50%; right: 15px; margin-top: -3px; background: url('../img/icon/icon_select_arrow.png') no-repeat center center;} 
.selectbox label {overflow: hidden; position: absolute; width: calc(100% - 60px); top: 50%; left: 5px; text-overflow: inherit; white-space: nowrap; transform: translate(10px, -50%); z-index: -1; /* IE8에서 label이 위치한 곳이 클릭되지 않는 것 해결 */ } 
.selectbox select {width: 100%; height: auto; padding-top: 10px; line-height: normal; font-family: inherit; border: 0; opacity: 0; /* 숨기기 */ filter:alpha(opacity=0); /* IE8 숨기기 */ -webkit-appearance: none; /* 네이티브 외형 감추기 */ -moz-appearance: none; appearance: none; }
.selectbox select option {font-size: 13px;}

/* 엑셀 사유 */
.excel_reason textarea{ width: 100%; resize: none; height: 264px; border-radius: 10px; background: #efeff1; line-height: 1.875; font-size: 16px; padding: 13px 18px; border: none; box-sizing: border-box; }

/* 달력 선택 */
.calendar_box {overflow: hidden; display: inline-block; height: 25px; padding: 0 10px; font-size: 0px; background-color: #efeff1; border-radius: 5px; vertical-align: middle; box-sizing: border-box;}
.calendar_box input[type='text'] {display: inline-block; width: calc(100% - 25px); height: 25px; margin-right: 10px; font-size: 13px; vertical-align: middle; text-indent: 0;}
.calendar_box i.calendar {display: inline-block; width: 15px; height: 17px; background: url('../img/icon/icon_calendar.png') no-repeat center center; vertical-align: middle; cursor: pointer;}

/* margin & padding */
.marginl3 {margin-left: 3px;}
.marginl5 {margin-left: 5px;}
.marginl10 {margin-left: 10px;}
.marginl12 {margin-left: 12px;}
.marginl15 {margin-left: 15px;}
.marginl20 {margin-left: 20px;}
.marginl22 {margin-left: 22px;}
.marginl25 {margin-left: 25px;}
.marginl30 {margin-left: 30px;}
.marginl40 {margin-left: 40px;}
.marginl50 {margin-left: 50px;}
.marginl60 {margin-left: 60px;}
.marginml5 {margin-left: -5px;}
.marginr3 {margin-right: 3px;}
.marginr5 {margin-right: 5px;}
.marginr10 {margin-right: 10px;}
.marginr15 {margin-right: 15px;}
.marginr20 {margin-right: 20px;}
.marginr25 {margin-right: 25px;}
.marginr30 {margin-right: 30px;}
.marginr40 {margin-right: 40px;}
.marginr50 {margin-right: 50px;}
.marginr60 {margin-right: 60px;}
.marginmt2 {margin-top: -2px;}
.margintm5 {margin-top: -5px;}
.margintm10 {margin-top: -10px;}
.margintm20 {margin-top: -20px;}

.margint2 {margin-top: 2px;}
.margint3 {margin-top: 3px;}
.margint4 {margin-top: 4px;}
.margint5 {margin-top: 5px;}
.margint6 {margin-top: 6px;}
.margint10 {margin-top: 10px;}
.margint12 {margin-top: 12px;}
.margint15 {margin-top: 15px;}
.margint17 {margin-top: 17px;}
.margint20 {margin-top: 20px !important;}
.margint26 {margin-top: 26px;}
.margint30 {margin-top: 30px;}
.margint35 {margin-top: 35px;}
.margint40 {margin-top: 40px;}
.margint49 {margin-top: 49px !important;}
.margint50 {margin-top: 50px !important;}
.margint55 {margin-top: 55px !important;}
.margint80 {margin-top: 80px;}
.marginb5 {margin-bottom: 5px !important;}
.marginb10 {margin-bottom: 10px;}
.marginb15 {margin-bottom: 15px;}
.marginb20 {margin-bottom: 20px;}
.marginb25 {margin-bottom: 25px;}
.marginb30 {margin-bottom: 30px;}
.marginb35 {margin-bottom: 35px;}
.marginb40 {margin-bottom: 40px;}
.marginb50 {margin-bottom: 50px;}
.marginb60 {margin-bottom: 60px;}
.marginb85 {margin-bottom: 85px;}

.margin0 {margin: 0 !important;}
.marginauto {margin: 0 auto;}
.margin5 {margin: 5px;}
.margin10 {margin: 10px;}

.pad0 { padding: 0 !important; }
.padt0 { padding-top: 0 !important; }

.pad5 {padding: 5px;}
.pad510 {padding: 5px 10px;}
.pad100 {padding:10px 0;}
.pad30 {padding: 30px;}
.padlr30 {padding: 0 30px;}
.padlr20 {padding:0 20px;}
.padt3 {padding-top: 3px;}
.padt5 {padding-top: 8px;}
.padt6 {padding-top: 6px;}
.padt10 {padding-top: 10px;}
.padt30 {padding-top: 30px;}
.padt52 {padding-top: 52px;}
.padb10 {padding-bottom: 10px;}
.padb20 {padding-bottom: 20px;}
.padb30 {padding-bottom: 30px !important;}
.padl5 {padding-left: 5px;}
.padl10 {padding-left: 10px;}
.padl15 {padding-left: 15px;}
.padl20 {padding-left: 20px;}
.padt10 {padding-top: 10px;}
.pad105 {padding: 10px 10px 5px;}

/* width */
.in_wp70 {width: 70px;}
.in_wp100 {width: 100px;}
.in_wp120 {width: 120px !important;}
.in_wp140 {width: 140px !important;}
.in_wp160 {width: 160px !important;}
.in_wp200 {width: 200px;}
.in_wp250 {width: 250px;}
.in_w10 {width: 10%;}
.in_w15 {width: 15%;}
.in_w20 {width: 20%;}
.in_w25 {width: 25%;}
.in_w30 {width: 30% !important;}
.in_w33 {width: 33%;}
.in_w35 {width: 35% !important;}
.in_w39 {width: 39%;}
.in_w40 {width: 40%;}
.in_w45 {width: 45%;}
.in_w50 {width: 50%;}
.in_w60 {width: 60%;}
.in_w70 {width: 70%;}
.in_w75 {width: 75%;}
.in_w80 {width: 80%;}
.in_w85 {width: 85%;}
.in_w90 {width: 90%;}
.in_w93 {width: 93%;}
.in_w95 {width: 95%;}
.in_w98 {width: 98%;}
.in_w100 {width: 100% !important;}

/* height */
.in_hpauto {height: auto !important; min-height: 0 !important;}
.in_hp70 {height: 70px !important;}
.in_hp100 {height: 100px !important;}
.in_hp120 {height: 120px !important;}
.in_hp140 {height: 140px !important;}

/* align */
.alignl {text-align: left !important;}
.alignr {text-align: right !important;}
.alignc {text-align: center !important;}

.float_left {float: left !important;}
.float_right {float: right !important;}
.clear_both{clear:both;}

.vertical_top {vertical-align: top !important;}
.vertical_middle {vertical-align: middle !important;}
.vertical_bottom {vertical-align: bottom !important;}

/* block */
.theblock {display: block !important;}
.theflex {display: flex !important;}
.inblock {display: inline-block !important;}

/* area */
.division {overflow: hidden;}
.division100 {width:100%; overflow: hidden;}
.division20 {overflow: hidden; margin-bottom: 20px;}
.division25 {overflow: hidden; margin-bottom: 25px;}
.division30 {overflow: hidden; margin-bottom: 30px;}
.division40 {overflow: hidden; margin-bottom: 40px;}
.division50 {overflow: hidden; margin-bottom: 50px;}
.division60 {overflow: hidden; margin-bottom: 60px;}

/* layout */
/*
.row{ display: flex; margin-left: -9px; margin-right: -9px; }
.row > div{ flex: 1 0; margin-left: 9px; margin-right: 9px; display: flex; flex-direction: column; }
*/
/* 20220127 수정 */
.row{ display: flex; margin-left: -10px; margin-right: -10px; }
.row > div{ flex: 1 0; margin-left: 10px; margin-right: 10px; display: flex; flex-direction: column; }
/* // 20220127 수정 */
.row > div > *{ flex: 1 0; }
.row > div > .tit{ flex: 0 0; }

/* flex */
.fx_none{ flex: none !important; }

.ai_center{ align-items: center !important; }

.jc_center{ justify-content: center !important; }

/* 제목 */
.tit.v1{ font-size: 16px; font-weight: 700; color: #8e9daa; line-height: 1.5; }
.tit.v2{ max-width: 725px; text-align: center; font-size: 48px; line-height: 1.25; font-weight: 700; padding-bottom: 20px; border-bottom: 2px solid #203857; color: #0a203e; margin: 0 auto; }
.tit.v2.full{ max-width: 1220px; }
.tit.v3{ font-size: 24px; font-weight: 700; line-height: 1.25; }
.tit.v4{ font-size: 24px; text-align: center; font-weight: 700; line-height: 1.4166; }
.tit.v4 a{ color: #203857; border-bottom: 3px solid #203857; line-height: 1.4166; }
.tit.v5{ text-align: center; font-weight: 700; font-size: 24px; }

/* 내용 및 텍스트 */
.txt_normal{ font-size: 14px; line-height: 1.285; }

/* 테이블 영역 */
.table_area { width: 100%;}
.table_area.scroll{ overflow: auto; }

.view_wrap{ border: 1px solid #e7e7e7; background: #ffffff; border-radius: 3px; -webkit-box-shadow: 5px 5px 18px 0px rgba(0,0,0,0.04); box-shadow: 5px 5px 18px 0px rgba(0,0,0,0.04); padding: 27px 28px 36px; min-height: 484px; box-sizing: border-box; }
.view_wrap .tit{ color: #324266; font-weight: 700; font-size: 16px; margin-bottom: 13px; }
.view_wrap .tit span{ border-bottom: 1px solid #324266; line-height: 1.2 }

/* table list */
table.list {width: 100%;}
  table.list.fixed {table-layout: fixed;}
  table.list thead th {padding: 12px 0px; font-size: 13px; color: #fff; text-align: center; vertical-align: middle; font-weight: 500; background-color: #5986c2;}
  table.list thead th.alignl {text-align: left;}
  table.list thead th.alignr {text-align: right;}
  table.list tbody {border: 1px solid #efeff1;}
  table.list tbody th {border-top: 1px solid #e6e8ea; font-size: 14px; font-weight: 600; color: #000000; text-align: center;}
  table.list tbody td {padding: 8px 10px; border-top: 1px solid #e6e8ea; border-bottom: 1px solid #e7e7e7; font-size: 13px; color: #000000; text-align: center; line-height: 1.4em; vertical-align: middle; word-break: break-all; background-color: #fff;}
  table.list thead th:first-child {border-radius: 5px 0 0 0;}
  table.list thead th:last-child {border-radius: 0 5px 0 0;}
  table.list tbody th.alignl,
  table.list tbody td.alignl {text-align: left;}
  table.list tbody th.alignr,
  table.list tbody td.alignr {text-align: right;}
  table.list tbody td.ellipsis_txt {table-layout: fixed; overflow: hidden; color: #333333; text-align: left; text-overflow: ellipsis; white-space: nowrap;}
  table.list tbody td a {color: #626262; text-decoration: none; vertical-align: middle;}
  table.list tbody td a:hover {text-decoration: underline;}
  table.list tbody tr td.nopadding {padding: 0px;}
  table.list tbody tr td img {display: inline; display: inline-block; vertical-align: middle;}
  /*table.list tbody tr:hover td {background-color: #eff3ff;}*/
  table.list tbody tr:last-child td:first-child {border-radius: 0 0 0 5px;}
  table.list tbody tr:last-child td:last-child {border-radius: 0 0 5px 0;}

.tbl_top{ display: flex; align-items: center; justify-content: space-between; margin-bottom: 12px; }
.tbl_top.right{ justify-content: flex-end; }
  .tbl_top .txt_total{ font-size: 13px; font-weight: 700; color: #8e9daa; }
  .tbl_top .tit{ font-size: 13px; font-weight: 700; color: #8e9daa; text-align: left; width: auto; margin: 0; }
  .tbl_top .tit.v2{ color: #324266; font-weight: 700; font-size: 16px; padding-bottom: 0; line-height: 1.5em; border-bottom: 0; }
  .tbl_top .tit.v2 span{ border-bottom: 1px solid #324266; line-height: 1.2; }
  .tbl_top .tit.v2.none_bdr span{ border-bottom: 0; }
  .tbl_top .btn.sm{ width: 85px; }
  

.tbl_wrap{ width: 100%; overflow: auto; box-sizing: content-box; }
  .tbl_wrap ul{ width: 100%; }
  .tbl_wrap ul li{ flex: none; display: flex; }
  .tbl_wrap ul li .col{ flex: none; }
  .tbl_wrap ul.tbl_head li .col{ background: #5986c2; padding: 8px 0; } 
  .tbl_wrap ul.tbl_head li .col:first-child{ border-top-left-radius: 3px; }
  .tbl_wrap ul.tbl_head li .col:last-child{ border-top-right-radius: 3px; }
  .tbl_wrap ul.tbl_head li .col > *{ color: #ffffff; font-weight: 700; font-size: 13px; text-align: center; }
  .tbl_wrap ul.tbl_body li{ border-bottom: 1px solid #e7e7e7; cursor: pointer; }
  .tbl_wrap ul.tbl_body li .col{ box-sizing: border-box; padding: 7px 8px; background: #ffffff; height: 36px; }
  .tbl_wrap ul.tbl_body li:hover .col,
  .tbl_wrap ul.tbl_body li.on .col{ background: #e0e8f4 !important; }
  .tbl_wrap ul.tbl_body li.disabled .col{ background: #c9ccd0; }
  .tbl_wrap ul.tbl_body li.hidden{ height: 0; overflow: hidden; border: 0; }
  .tbl_wrap ul.tbl_body li .col + .col{ border-left: 1px solid #d0d0d0; }
  .tbl_wrap ul.tbl_body li .col > *{ text-align: center; font-size: 13px; flex: none; width: 100%; }
  .tbl_wrap ul.tbl_body li .col.ta_l > *{ text-align: left; }
  .tbl_wrap ul.tbl_body li .col.ta_c > *{ text-align: center; }
  .tbl_wrap ul.tbl_body li .col.ta_r > *{ text-align: right; }
  .tbl_wrap ul.tbl_body li .col .arr{ position: relative; height: 100%; }
  .tbl_wrap ul.tbl_body li .col .arr::before{ display: none; content: ""; border-top: 3px solid transparent; border-left: 7px solid #000000; border-bottom: 3px solid transparent; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%) }
  .tbl_wrap ul.tbl_body li .col .inp_group{ width: 100%; height: 35px; margin-top: -7px; margin-bottom: -7px; }
  .tbl_wrap ul.tbl_body li.on .col .arr::before,
  .tbl_wrap ul.tbl_body li:hover .col .arr::before{ display: block; }
  .tbl_wrap .inp_group select{ border: 0; padding: 0; background: url('../img/icon/icon_select_arrow.png') no-repeat right center; width: 100%; font-size: 13px; height: 100%; padding-left: 16px; background-position: right 16px center; text-align-last: center; text-align: center;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none; 
    -ms-text-align-last: center;
    -moz-text-align-last: center; 
  }
  .tbl_wrap .inp_group select.ta_l{ text-align-last: left; text-align: left; padding-left: 0; background-position: right 2px center;
    -ms-text-align-last: left;
    -moz-text-align-last: left;  
  }
  .tbl_wrap .inp_group select:disabled, 
  .tbl_wrap .inp_group select:read-only{ color: #000000; opacity: 1; }
  .tbl_wrap.lg ul.tbl_body li .col{ min-height: 52px; }

.tbl_wrap.v1 table{ width: 100%; table-layout: fixed; }
.tbl_wrap.v1 table th,
.tbl_wrap.v1 table td{ text-align: center; font-size: 13px; height: 34px; vertical-align: middle; border: 1px solid #d0d0d0; line-height: 1.5; box-sizing: border-box; }
.tbl_wrap.v1 table th > *,
.tbl_wrap.v1 table td > *{ margin: 0 auto; }
.tbl_wrap.v1 table tr th:first-child,
.tbl_wrap.v1 table tr td:first-child{ border-left: 0; }
.tbl_wrap.v1 table tr th:last-child,
.tbl_wrap.v1 table tr td:last-child{ border-right: 0; }
.tbl_wrap.v1 table th{ color: #ffffff; background: #5986c2 }
.tbl_wrap.v1 table th label input[type="checkbox"] + span{ background-image: url('../img/icon/icon_check_off_w.png'); }
.tbl_wrap.v1 table th label input[type="checkbox"]:checked + span{ background-image: url('../img/icon/icon_check_on_w.png'); }
.tbl_wrap.v1 table th.ta_l,
.tbl_wrap.v1 table th.ta_r,
.tbl_wrap.v1 table td.ta_l,
.tbl_wrap.v1 table td.ta_r{ padding: 0 16px; }
.tbl_wrap.v1 table td{ background: #ffffff; }
/* 테이블 마우스 오버 색 제거 2021.12.09 .tbl_wrap.v1 table tr:hover td{ background: #e0e8f4 }*/
.tbl_wrap.v1 table .calendar_box{ width: 100%; background: none; height: inherit; border-radius: 0; box-sizing: border-box; padding-left: 0; margin-left: 10px }
.tbl_wrap.v1 table td .calendar_box:first-child{ margin-left: -16px }
.tbl_wrap.v1 table .calendar_box select, 
.tbl_wrap.v1 table .calendar_box input[type='text'], 
.tbl_wrap.v1 table .calendar_box textarea{ margin-left: 0; width: 100%; }
.tbl_wrap.v1 table .calendar_box input[type='text']{ border: 0; padding: 0 16px; height: 100%; background: none; font-size: 13px; text-indent: 0; box-sizing: border-box; width: calc(100% - 25px) }
.tbl_wrap.v1 table td .calendar_box input[type='text']:first-child{  }

/* 202200127 수정 */
.tbl_wrap.v2{ height: 100%; }
.tbl_wrap.v2 table{ width: 100%; table-layout: fixed; }
.tbl_wrap.v2 .tbl_head{ background: #5774aa; }
.tbl_wrap.v2 thead th{ background: #5774aa; color: #ffffff; font-size: 12px; height: 34px; }
.tbl_wrap.v2 tbody td{ text-align: center; font-size: 12px; height: 30px; }
.tbl_wrap.v2 tbody tr:nth-of-type(odd){ background-color: #ffffff; }
.tbl_wrap.v2 tbody tr:nth-of-type(even){ background-color: #f2f3f6; }

.tbl_wrap.head-fixed{ overflow: hidden; display: flex; flex-direction: column; }
.tbl_wrap.head-fixed .tbl_head{ flex: none; }
.tbl_wrap.head-fixed .tbl_body{ max-height: calc(100% - 34px); overflow: auto; }
/* // 20220127 수정 */

table.view{ width: 100%; table-layout: fixed; }
  table.view th,
  table.view td{ border: 1px solid #d0d0d0; height: 35px; font-size: 13px; padding: 0 16px; box-sizing: border-box; }
  table.view tr th:first-child{ border-left: 0; }
  table.view tr td:last-child{ border-right: 0; }
  table.view th{ text-align: right; background: #e0e8f4; color: #0c2341; vertical-align: top; padding-top: 10px; line-height: 1.15; }
  table.view td{ background: #ffffff; }
  table.view td.disabled{ background: #efeff1; }
  table.view .ta_l{ text-align: left; }
  table.view .ta_c{ text-align: center; }
  table.view .ta_c select{ text-align-last: center; text-align: center; -ms-text-align-last: center; -moz-text-align-last: center; }
  table.view .ta_r{ text-align: right; }
  table.view .va_m{ vertical-align: middle; }
  table.view .inp_group{ display: flex; height: 100%; }
  table.view .inp_group select{ flex: 1 0; margin: 0; }
  table.view .inp_group select + select{ border-left: 1px solid #d0d0d0; }
  table.view td select,
  table.view td input[type='text'],
  table.view td textarea,
  table.view td .calendar_box:first-child{ width: calc(100% + 32px); margin-left: -16px; }
  table.view select{ border: 0; padding: 0; background: url('../img/icon/icon_select_arrow.png') no-repeat right center; appearance: none; -moz-appearance: none; -webkit-appearance: none; width: 100%; font-size: 13px; height: 100%; padding-left: 16px; background-position: right 16px center; }
  table.view select::-ms-expand{ display: none; }
  table.view input[type='text']{ border: 0; padding: 0 16px; height: 100%; background: none; width: 100%; font-size: 13px; font-family: 'Noto Sans KR', sans-serif; color: #000000; text-indent: 0; box-sizing: border-box }
  table.view textarea{ display: block; width: 100%; resize: none; padding: 16px; box-sizing: border-box; height: 140px; font-size: 13px; font-family: 'Noto Sans KR', sans-serif; border: 0; border-radius: 0; text-indent: 0px; }
  table.view input[type='text']:read-only,
  table.view textarea:read-only,
  table.view input[type='text']:disabled,
  table.view textarea:disabled{ background-color: #efeff1 }
  table.view input[readonly='readonly']
  table.view textarea[readonly='readonly']{ background-color: #efeff1 }
  table.view .file_append{ display: flex; align-items: center; padding: 0 16px; width: calc(100% + 16px); margin-left: -16px; }
  table.view .file_append .btn{ padding: 0 20px; font-size: 11px; line-height: 26px; }
  table.view .file_append .txt_filename{ padding-left: 8px; font-size: 11px; }
  table.view .file_append.v2 input[type='text']{ height: 36px; }
  table.view .file_append.v2 .btn{ width: 85px; flex: none; padding: 0 }
  table.view .calendar_box{ width: 100%; background: none; height: inherit; border-radius: 0; box-sizing: border-box; padding-left: 0; margin-left: 10px }
  table.view .calendar_box select, 
  table.view .calendar_box input[type='text'], 
  table.view .calendar_box textarea{ margin-left: 0; width: 100%; }
  table.view .calendar_box input[type='text']{ width: calc(100% - 25px) }

  table.view .has_btn{ display: flex; height: inherit; align-items: center; }
  table.view .has_btn > *{ flex: 1 0; }
  table.view .has_btn select, 
  table.view .has_btn input[type='text'], 
  table.view .has_btn textarea{ margin-left: 0; }
  table.view .has_btn .btn{ flex: none; }

  table.view.sm th,
  table.view.sm td{ height: 30px; padding: 0 16px; }
  table.view.sm th{ padding-top: 4px; }

/* line */
hr.v1{ border: 0; margin: 0; padding: 0; border-top: 1px solid #324266; display: block; width: 100%; height: auto; visibility: inherit; position: inherit; }
hr.v2{ border: 0; border-top: 1px dashed #dadada; margin: 0; padding: 0; display: block; width: 100%; height: auto; visibility: inherit; position: inherit; }

/* view list */
.view_list{  width: 100%; overflow: auto; box-sizing: content-box; }
  .view_list ul{ width: 100%; }
  .view_list ul li{ flex: none; display: flex; }
  .view_list ul li .col{ flex: none; border: 1px solid #e7e7e7 }
  .view_list ul li .col + .col{ border-left: 0; }
  .view_list ul li .col > *{ text-align: inherit; }
  .view_list ul.tbl_head li .col{ background: #e0e8f4; padding: 10px 0; border-bottom: 0; } 
  .view_list ul.tbl_head li .col:first-child{ border-top-left-radius: 3px; }
  .view_list ul.tbl_head li .col:last-child{ border-top-right-radius: 3px; }
  .view_list ul.tbl_head li .col > *{ color: #0c2341; font-weight: 700; font-size: 14px; text-align: center; }
  .view_list ul.tbl_body{ overflow: auto; height: calc(100% - 42px) }
  .view_list ul.tbl_body li{ cursor: pointer; }
  .view_list ul.tbl_body li .col{ box-sizing: border-box; padding: 8px; background: #ffffff; border-bottom: 0; text-align: center; }
  .view_list ul.tbl_body li:last-child .col:first-child{ border-bottom-left-radius: 3px; }
  .view_list ul.tbl_body li:last-child .col:last-child{ border-bottom-right-radius: 3px; }
  .view_list ul.tbl_body li:last-child .col{ border-bottom: 1px solid #e7e7e7; }
  
/* table search */
.search_wrap{ border: 2px solid #324266; border-radius: 5px; overflow: hidden; background-color: #ffffff; padding: 10px 28px; margin-bottom: 12px; }
  table.search {width: 100%; }
    table.search.fixed {table-layout: fixed;}
    table.search tbody th {font-size: 13px; color: #324266; text-align: left;}
    table.search tbody td {padding: 8px 0px; font-size: 13px; color: #000000; text-align: left; line-height: 1.4em; vertical-align: middle; word-break: break-all;}
    table.search tbody td:first-child {border-left: 0px;}
    table.search tbody td:last-child {padding-right: 0px;}
    table.search tbody td label {vertical-align: middle;}
    table.search tbody td select {padding: 0 25px 0 15px}
  
/* 페이징 */
.pagination_area {overflow: hidden;}
  .pagination_area ul {overflow: hidden; text-align: center; font-size: 0px;}
  .pagination_area ul li {display: inline-block; margin-right: 5px; vertical-align: middle;}
  .pagination_area ul li:first-child {margin-left: 0px;}
  .pagination_area ul li:last-child {margin-right: 0px;}
  .pagination_area ul li a {display: inline-block; width: 30px; height: 30px; font-size: 12px; color: #565656; vertical-align: middle; line-height: 28px; border: 1px solid #e7e7e7; background-color: #fff; border-radius: 5px; box-sizing: border-box;}
  .pagination_area ul li a.pprev {font-size: 0px; background: url('../img/common/page_prev_btn01.png') no-repeat center center #fff;}
  .pagination_area ul li a.pprev:hover {font-size: 0px; background: url('../img/common/page_prev_btn01_hover.png') no-repeat center center #323b46;}
  .pagination_area ul li a.prev {font-size: 0px; background: url('../img/common/page_prev_btn02.png') no-repeat center center #fff;}
  .pagination_area ul li a.prev:hover {font-size: 0px; background: url('../img/common/page_prev_btn02_hover.png') no-repeat center center #323b46;}
  .pagination_area ul li a.next {font-size: 0px; background: url('../img/common/page_next_btn01.png') no-repeat center center #fff;}
  .pagination_area ul li a.next:hover {font-size: 0px; background: url('../img/common/page_next_btn01_hover.png') no-repeat center center #323b46;}
  .pagination_area ul li a.nnext {font-size: 0px; background: url('../img/common/page_next_btn02.png') no-repeat center center #fff;}
  .pagination_area ul li a.nnext:hover {font-size: 0px; background: url('../img/common/page_next_btn02_hover.png') no-repeat center center #323b46;}
  .pagination_area ul li a:hover {color: #fff; background-color: #323b46;}
  .pagination_area ul li.on a {color: #fff; background-color: #323b46;}

/* text align */
.ta_l{ text-align: left !important; }
.ta_c{ text-align: center !important; }
.ta_r{ text-align: right !important; }

/* 리스트 이동 */
.list_change{ display: flex; align-content: space-between; }
  .list_change .left,
  .list_change .right{ flex: 1 0; }
  .list_change .controller{ flex: none; width: 140px; box-sizing: border-box; display: flex; padding: 0 27px; align-items: center; justify-content: center; flex-direction: column; padding-top: 49px; }
  .list_change .controller .btn{ width: 100%; text-indent: -9999px; margin-left: 0; margin-top: 20px; background-repeat: no-repeat; background-position: center; }
  .list_change .controller .btn_move_to_r{ background-image: url('../img/icon/icon_arrow_move_right.png'); }
  .list_change .controller .btn_move_to_l{ background-image: url('../img/icon/icon_arrow_move_left.png'); }
  .list_change .right .tbl_top{ margin-bottom: 17px;
    margin-top: 19px; }

/* 탭 */
.tab_wrap .tab_btn_wrap{ display: flex; }
.tab_wrap .tab_btn{ flex: 1 0; display: flex; align-items: center; justify-content: center; position: relative; z-index: 0; border: 1px solid #999999; background: #dadada; }
.tab_wrap .tab_btn + .tab_btn{ margin-left: -1px; }
.tab_wrap .tab_btn.on{ z-index: 1; background: #5986c2; border-color: #215eae; }
.tab_wrap .tab_btn > *{ flex: 1 0; line-height: 34px; height: 36px; text-align: center; font-size: 13px; color: #b7b7b7; }
.tab_wrap .tab_btn.on > *{ color: #ffffff; font-weight: 700; }
.tab_wrap .tab_content{ display: none; padding-top: 22px; }
.tab_wrap .tab_content:first-child{ display: block; }
.tab_wrap .tab_content > *:first-child{ margin-top: 0 !important; padding-top: 0 !important; }

/* 팝업 */
.dim{ display: block; width: 100vw; height: 100vh; position: fixed; z-index: 999; background: #000000; opacity: 0.3; top: 0; left: 0; }

.popup{ display: none; }
.popup.on{ display: block; }

.popup.layer{ width: 1295px; padding: 0 36px; position: fixed; z-index: 1001; top: 50%; left: 50%; transform: translate(-50%, -50%); background: #ffffff; box-sizing: border-box; }

.popup.layer .pop_header{ padding-top: 23px; padding-bottom: 7px; border-bottom: 1px solid #324266; display: flex; align-items: center; justify-content: space-between; }
.popup.layer .pop_header .title{ font-size: 18px; color: #324266; font-weight: 700; }

.popup.layer .pop_footer{ padding: 60px 0; }
.popup.layer .pop_footer > .btn{ width: 130px; margin: 0 auto; display: block; }

/* 팝업 - 기수복사 */
#copyTerms [class^='txt']{ text-align: center; }
#copyTerms .txt1{ font-size: 16px; line-height: 1.1875; }
#copyTerms .txt1 strong{ font-size: 18px; }
#copyTerms .txt2{ font-size: 16px; line-height: 1.1875; font-weight: 700; }
#copyTerms .txt3{ font-size: 14px; margin-top: 18px }