/** table binder **/
.fwk_templete_row {display: none;}



html, body {
	font-family: 'NotoSansKR';
	/*font-size:14px;*/
}
html {
	overflow: hidden;
}



/** loadin spinner start **/
#overlay, #sub_overlay {	
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
  height:100%;
  display: none;
  background: rgba(0,0,0,0.6);
}
.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
  100% { 
    transform: rotate(360deg); 
  }
}
body {
	min-width: 1150px; overflow: hidden;
	background-color:#f5f9fc;
	 
}

/*
table.list tbody td {
	border-left : 1px solid #e6e8ea;
	border-right : 1px solid #e6e8ea;
	height:22px;
}
table.list tbody td a, table.view tr td a {
	color:#215eae;
}
table.list thead th {
	font-weight: bold;
}
*/


table.list {
	width: 100%; 
	border-top: 2px solid #2c2c2c;
	margin-top: 10px;
	margin-bottom: 25px;
}

 



table.list th,
table.list td {
	border: 1px solid #dddddd; vertical-align: middle; text-align: center;
	color:inherit !important;
	min-height: 40px;
}
table.list thead th {
	background-color: #eff4f9; font-size:14px; font-weight: 400;
	padding: 0px 0;
}
table.list tbody th {background-color: #e0e8f2; }
table.list td {}
table.list .ta-l {padding: 0 24px;}
table.list .ta-r {padding: 0 24px;}

table.list tbody td {
	padding: 0px 10px;
}

/* 로그인(login.html) */
#content .full_page .full_cont > .cont { max-width:800px }
.login .bx_wrap{ margin-top: 33px; padding: 50px 150px 30px 150px; }
.login .bx_wrap input[type='text']{ width: 100%; height: 54px !important; margin: 0 auto;font-size: 24px; padding: 0 ; border-radius: 10px; display: block; }
.login .bx_wrap input[type='password']{ width: 100%; height: 54px !important; margin: 0 auto;font-size: 24px; padding: 0 ; border-radius: 10px; display: block; }

.calendar_box input[type='text'] {
	width : 80px;
	text-align: center
}


.content_area {
	min-height:100px !important;
}

#content .content_area {
	padding: 20px 20px 0; 
}
.search_wrap {
	margin-bottom:5px;
	overflow: hidden; font-size: initial; flex: 1 0; border-radius: 10px; padding: 12px 32px ; 
	display: flex; flex-direction: column; 
	background: #ffffff;
     -webkit-box-shadow: 5px 5px 18px 0px rgb(0 0 0 / 5%);
    box-shadow: 5px 5px 18px 0px rgb(0 0 0 / 5%);
    border : 0;
    margin-right: 5px;
}

.card {
	overflow: hidden; 
	font-size: initial; 
	flex: 1 0; 
	border-radius: 10px; 
	padding: 14px 26px ; 
	display: flex; flex-direction: column; 
	background: #ffffff;
     -webkit-box-shadow: 5px 5px 18px 0px rgb(0 0 0 / 5%);
    box-shadow: 5px 5px 18px 0px rgb(0 0 0 / 5%);
    margin-bottom: 10px;
}


.popup.layer .pop_footer {
    padding: 30px 0;
}

.left_area { width:270px; }
.left_area > .lnb_menu > ul.one_depth > li > ul.two_depth > li > a:hover {background-color: #e0e8f4;}
.left_area > .lnb_menu > ul.one_depth > li > ul.two_depth > li.on > a {font-weight: bold}

.left_menu_2depth_icon {
 	background:url('../img/icon/icon_arrow_move_right.png') no-repeat center right 30px
}
 

.btn_fold {
	left:0;
	background:url(/img/common/btn_arrow.png) no-repeat center center;
	top:0;
	margin-top: 20px;
	width: 30px;
	height: 30px;
	border: 1px solid #bababa;
	border-radius: 5px;
	
	
}
.btn_fold.fold { 
	background:url('/img/common/btn_arrow02.png') no-repeat center center;
	left: 0px; 
}

.page_info_area {
	padding: 0 20px; height: 60px;
	background-color:#f5f9fc; 
}
.page_info_area > div.right {right:20px; top:23px}


.left_area > h1.logo2 {display: none; margin: 16px 0 60px 30px;}
.left_area > h1.logo2 img {text-align: center;}
.left_area.fold > h1.logo2 {display: inline-block;}
.left_area.fold > div.btn_search_area {display: block; margin: 0 14px 40px}
.left_area.fold > div.btn_search_area .cl_leftSystem {display: none;}
.left_area.fold > div.btn_search_area div.lnb_search_area{visibility: hidden;}

.left_area.fold > .lnb_menu > ul {margin-top: 0}

.popup.layer {
	top:200px;
	transform: translate(0,0); 
	/*background-color: #f5f9fc;*/
	background-color: #f5f5f5;
	border: 1px solid #8f8b8b;
}


table.view th {
	padding-bottom: 10px;
	vertical-align: middle;
	padding : 6px 16px;
	font-weight: 500
	/*font-size:14px;*/
}
table.view td {
	padding : 3px 10px 3px 10px;
	/*font-size:14px;*/
}




input[type=text] {
	height: 28px;
	background-color:#ffffff;
	border:1px solid #d9d9d9;
	border-radius: 7px;
	font-weight: 600;
}



table.search tbody td {	padding:0px 0px;}
table.search tbody td select {padding:0 0px 0 7px}

table.view.sm th, table.view.sm td {
	padding:8px 10px;
	height: 35px;
}
/* 2022.10.21 select 박스 기본 사용으로 변경
.selectbox {
	height: 28px;
	background-color:#ffffff;
	border:1px solid #d9d9d9;
}
.selectbox select {height: 28px}
*/
.selectbox label {
	/* 2022.10.21 select 박스 기본 사용으로 변경 left:0px; width: calc(100% - 40px);*/
	display:none;
}
.calendar_box {
	height: 30px;
	background-color: #ffffff;
	border:1px solid #d9d9d9;
	padding: 0 8px;
}
.calendar_box input[type='text'] {
	border : 0px;
}
/*
table.view input[type='text'] {
	border:1px solid #d9d9d9;
}*/

.btn.sm {
	font-size:12px;
	height:30px;
	white-space: nowrap;
} 
.page_info_area .btn {
	min-width: 90px;
}
table.list .btn.sm {
	min-width: auto;
}
table.view .btn.sm {
	min-width: 60px;
}
 
.pagination_area ul li a { font-size:13px; }
	
table.view td select,
table.view td input[type='text'],
table.view td input[type='password'],
table.view td textarea,
table.view td .calendar_box:first-child{
	width: calc(100% + 7px);
	margin-left: 0px;
	background-color: #ffffff;
	border:1px solid #d9d9d9; 
	border-radius: 5px;
	height:30px;
	padding : 0 7px;
	font-weight: 600;
	box-sizing:border-box;
}

.calendar_td_box {display: inline-block; font-size: 0px; border-radius: 5px; vertical-align: middle; box-sizing: border-box;}
.calendar_td_box_span{margin: 0 10px 0 10px;}
.calendar_td_box input[type='text'] {display: inline-block; width: 165px !important; height: 25px; margin-right: 10px; font-size: 13px; vertical-align: middle; text-indent: 0; text-align: center;}
.calendar_td_box button {display: inline-block; margin-left: -30px; width: 15px; height: 17px; background: url('../images/icon/icon_calendar.png') no-repeat center center; vertical-align: middle; cursor: pointer;}

input[readonly='readonly']{ background-color: #efeff1 }
input[readonly]{ background-color: #efeff1 }
table.view td input[type='password'] {
	background-color: #efeff1
}


.tbl_top {
	/*margin-top: 5px;*/
	margin-bottom: 5px;
}
.tbl_top .tit.v2{ 
	line-height: 2em; 
}

.jstree_view_wrap {
    border: 1px solid #e7e7e7;
    background: #ffffff;
    border-radius: 3px;
    -webkit-box-shadow: 5px 5px 18px 0px rgb(0 0 0 / 5%);
    box-shadow: 5px 5px 18px 0px rgb(0 0 0 / 5%);
    /* padding: 27px 28px 36px; */
    padding: 5px 5px 5px;
    min-height: 484px;
    box-sizing: border-box;
}

.jstreetable_view_wrap {
    border: 1px solid #e7e7e7;
    background: #ffffff;
    border-radius: 3px;
    -webkit-box-shadow: 5px 5px 18px 0px rgb(0 0 0 / 5%);
    box-shadow: 5px 5px 18px 0px rgb(0 0 0 / 5%);
    padding: 0px 0px 0px;
    min-height: 0px;
    box-sizing: border-box;
}

.list_change .right .tbl_top{ margin-bottom: 15px; margin-top: inherit;}
.in_hp300 {height : 300px !important;}
.overflow-y{overflow-y : auto; }

.th_double_row_padding {padding : 6px 0px}
.view_wrap {
	padding : 20px 24px 24px;
	overflow: hidden; 
	/*font-size: initial;*/ 
	flex: 1 0; border-radius: 10px; padding: 16px 26px ; 
	display: flex; 
	flex-direction: column; 
	background: #ffffff;
     -webkit-box-shadow: 5px 5px 18px 0px rgb(0 0 0 / 5%);
    box-shadow: 5px 5px 18px 0px rgb(0 0 0 / 5%);
    border :0;
    margin-right: 5px;
    margin-bottom: 10px;
}
.margint8{ margin-top: 8px}
input[type=radio] {margin-bottom:2px; margin-left:6px ; margin-right:5px}

td input[type=radio]:first-child {margin-left:0px ;}




input[type=checkbox] {margin-left:5px !important ; margin-right:6px; margin-bottom:2px; }
.left_area > div.btn_search_area .lnb_search_area input[type='text'] {width:180px}

div.location_area {margin: 10px 0 7px 0}
div.title_area p {font-size:26px;}

.tbl_wrap td {
	padding-left : 8px;
	padding-right : 8px;
}
.flexiableRightArea_wide {
	display: flex !important;
	position : relative;
	right: auto;
}
.flexiableRightArea_layer {
	display: none !important;
	position : absolute;
	right: 10px;
}

.btn_ctype1 {
	background-color:#d1e4f3;
}

.label_reference_span {
    font-size: 11px;
    color: #95bbc8;
}
/*
@media screen and (max-width: 1500px) {
	.flexiableRightArear {display: none !important}
	body{min-width:1150px}
	#main_body_tage {min-width:1450px !important}
}
 

.fiewflexiableRightArear {
	
}
*/
/*
.row{
	// 스크롤 생김 
	height:100vh
}*/



/* datalist > ul li 로 변경한 디자인  */
.div_container{
	position: relative;
}
.ul_results{
	box-sizing: border-box;
	position: relative;
	overflow-x: hidden;
    overflow-y: auto;
    max-height: 100px;
    /* margin: 0 4px 4px 0;
  	padding: 0 0 0 4px; */
   	-webkit-overflow-scrolling: touch;
}
.ul_results li{
    padding: 5px 6px;
    line-height: 15px;
}
.ul_results li.on{
    background-color: #E8EEF6;
}
.div_drop{
	position: absolute;
	z-index: 1010;
	width: 100%;
    border: 1px solid #aaa;
    border-top: 0;
    background: #fff;
    box-shadow: 0 4px 5px rgb(0 0 0 / 15%);
}

.li_result{
    cursor: pointer;
}

/* 프로젝트 신규등록 > 사용자 아이콘 디자인 */
.li_usernm {
	border-radius : 5px;
	list-style-type: none;
	float: left;
	background-color: #E5F3FF;
	border: 1px solid #CAD8F3;
	margin: 5px 5px 2px 7px !important;
    padding: 0 8px 0 8px !important;
}
.text_icon {
	margin: 3px 0px 0px 3px !important;
}





.location_area {
	display: none !important;
}

.title_area {
	position: absolute;
	top:29px;
}

 
table td, th {
	height: 40px;
	border:0;
}
table.view td, table.view th {
	height: 40px;
	border:0;
	
}

table.view th {
	background-color: #fff;
}



table.view th, table.view td {
	border-right : 0;
}


table.view tr {
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}

table.view th::before {
    width: 1px;
    height: 15px;
    background: #dddddd;
    position: absolute;
    content: "";
    right: 0;
    top: 12px;
}

table.view th {
	text-align: left;
	position: relative;
}

.view_wrap .tit span {
	border:0;
	font-size : 18px;
}
.tbl_top .tit.v2 span {
	border:0;
	font-size : 18px;
	font-weight: 400;
	
}

table.view td select
	, table.view td input[type='text']
	, table.view td input[type='password']
	, table.view td textarea
	, table.view td .calendar_box:first-child {
	padding-left : 10px;
}	


table.view td input, table.view td select, table.view td textarea {
 	/*margin-left : 0px;*/
 	
 
}

table.view {
	width: 100%;
	border-top: 2px solid #2c2c2c;
}



#lnb {
	 width: 270px; background-color: #f5f9fc; transition: all 0.3s; display: flex; flex-direction: column;}
#lnb > * {flex: none; border-right: 1px solid #c9dcea; padding-left: 15px; padding-right: 15px;}
#lnb.fold {}

/* logo */
#lnb .logo {line-height: 85px; background-color: #ffffff; border-right: 0; padding: 0 !important;}
#lnb .logo h1 {height: 100%;}
#lnb .logo h1 a{display: block; height: 100%; background: url('../img/common/logo.png') no-repeat 30px center; text-indent: -9999px; padding: 0 30px; margin-left:12px; margin-top:4px }

/* system */
#lnb .system {padding-top: 34px;}
#lnb .system::after {display: block; clear: both; content: "";}
#lnb .system a {display: block; float: left; width: 70px; border-radius: 10px; background-color: #ffffff; text-align: center; height: 87px; padding-top: 21px; font-size: 13px;
    -webkit-box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.05); 
    box-shadow: 7px 7px 16px 0px rgba(0,0,0,0.05);
}
#lnb .system a + a {margin-left: 17px;}
#lnb .system i {margin-right: 0; display: block; margin: 0 auto 4px; font-size: 22px;}

#lnb .system a.on {color: #ffffff;
    background: rgb(42,136,229);
    background: linear-gradient(0deg, rgba(42,136,229,1) 0%, rgba(84,200,246,1) 100%);
}

/* menu search */
.menu-search .inp-wrap {border-bottom: 1px solid #c9dcea; padding-top: 28px; padding-bottom: 25px; position: relative;}
.menu-search input[type='text'] {height: 45px; background-color: #e5ecf4; padding: 0 60px 0 24px; font-size: 16px;}
.menu-search .btn {position: absolute; right: 20px; top: 50%; transform: translateY(-50%)}

/* menu */
#lnb .menu {padding-top: 34px; padding-bottom: 34px; -ms-overflow-style: none; overflow: auto; flex: 1 0;}
#lnb .menu::-webkit-scrollbar {display: none;}
#lnb .menu > li + li {margin-top: 30px;}
#lnb .menu > li > strong {display: block; font-size: 13px; line-height: 8px; color: #2a88e5; margin-bottom: 10px; padding-left: 7px; font-weight: 500;}
#lnb .menu .depth01 > li {border-radius: 10px; overflow: hidden; transition: all 0.3s}
#lnb .menu .depth01 > li > a {
	border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; padding-left: 58px; position: relative; display: block; min-height: 45px; line-height: 45px; font-size: 16px;color:inherit !important;
	font-weight: 300
	
}
#lnb .menu .depth01 > li > a::after,
#lnb .menu .depth01 > li > a::before {position: absolute; top: 50%; transform: translateY(-50%); font-family: 'Material Icons Outlined';}
#lnb .menu .depth01 > li > a::after {font-size: 19px; right: 12px;}
#lnb .menu .depth01 > li > a::before {left: 22px; font-size: 18px;}

#lnb .menu .depth02 {padding: 2px 0 9px; display: none;}
#lnb .menu .depth02 > li > a {display: block; padding-left: 58px; position: relative; font-size: 14px; line-height: 32px; transition: all 0.3s ; color: #333333}
#lnb .menu .depth02 > li > a::before{position: absolute; content: ""; width: 4px; height: 4px; border-radius: 50%; left: 28px; top: 50%; transform: translateY(-50%); background: #333333}

#lnb .menu .depth01 > li.on {background-color: #e5ecf4; transition: all 0.3s}
#lnb .menu .depth01 > li.on > a,
#lnb .menu .depth01 > li:hover > a {background-color: #2a88e5; color: #ffffff !important; }
#lnb .menu .depth01 > li.on > a.open,
#lnb .menu .depth01 > li.on > a.closed {background-color: transparent; color: #333333 !important;}

#lnb .menu .depth01 > li > a.open::after {content: "\e5ce"}
#lnb .menu .depth01 > li > a.closed::after {content: "\e5cf"}

#lnb .menu .depth02 > li:hover > a,
#lnb .menu .depth02 > li.on > a{color: #2a88e5; transition: all 0.3s}
#lnb .menu .depth02 > li:hover > a::before,
#lnb .menu .depth02 > li.on > a::before{background-color: #2a88e5;}

/*-------------------------------------------------------------------
    @wrap
-------------------------------------------------------------------*/
#lnb + #wrap {margin-left: 305px; width: calc(100% - 305px); overflow: auto;}



#lnb .logo {
	height: 70px;
}
#lnb {
	
	min-height:100px !important; 
}

.content_top_area {
	background-color: #ffffff;
	height: 70px;
	display : flex;
}

.content_top_area .title {
	color : #124485 !important;
	font-size : 17px;
	font-weight : 700;
}
.content_top_area .right span {
	color : #124485 !important;
}

.content_top_area > div.right {
	top : 16px;
}


 
.btn-menu {
	display: block; width: 30px; height: 30px; border: 1px solid #bababa; border-radius: 5px;
	position: absolute;
	top : 21px;
}
.btn-menu.on {background: #ffffff url('../img/common/btn_arrow.png') no-repeat center;}
.btn-menu.off {background: #ffffff url('../img/common/btn_arrow02.png') no-repeat center;}


.content_top_area > p.title {
	margin-left: 20px;
	line-height: 60px;
}
.btn {
	font-family: 'NotoSansKR';
	border-radius : 7px;
	white-space: nowrap;
	border-color: #dddddd;
	
}
.btn.blue {background-color: #024180; color: #ffffff; border-color: #024180;}
.btn.navy {background-color: #203857; color: #ffffff; border-color: #203857;}
.btn.gray {background-color: #a1a1a1; color: #ffffff; border-color: #a1a1a1;}
.btn.skyblue {background-color: #60acf6; color: #ffffff; border-color: #60acf6;}
.btn.rnd {border-radius: 7px;}

table.search tbody th {
	font-weight: 500;
	font-size: 14px;
}

.tab_wrap .tab_btn.on > * { 
	font-weight: 500; 
	background-color: #024180; color: #ffffff; border-color: #024180;
}
.tab_wrap .tab_btn_wrap {
	overflow: hidden; border-radius: 10px; 
}
.tab_wrap .tab_btn {
	border : 0px;
	border-left: 1px solid #afb9c7;
	background-color: #c8ced6;
	
}

.tab_wrap .tab_btn > * {
	color : #838c97;
}



 
.content_top_area > div {
	display: flex;
    align-items: center;
    flex: none;
}

.content_top_area .util-l .dbms-wrap {
    display: flex;
    align-items: center;
    margin-left: 56px;
}

.content_top_area .util-l .dbms-wrap .title {
    padding-left: 30px;
    padding-right: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #124485;
    background: url(../img/icon/ico_link.png) no-repeat left center;
}
.content_top_area .util-l .dbms-wrap .link-title {
    font-size: 14px;
    color: #124485;
}

.right .button_area {
	margin-right: 5px;
}

table.search tbody td label {
	vertical-align : inherit; 
}

#content .page_info_area .title_area .help_btn {
	display:none;
}


#lnb .menu .depth02 > li.menu_on > a {
	color: #2a88e5;	
}

#lnb .menu .depth01 > li.menu_on > a {
	background-color: #2a88e5;
    color: #ffffff !important;
}
#lnb.fold {
	width: 107px;
	
}
#lnb.fold ul ul {
	display:none;
}

#lnb.fold .logo h1 a {
	background: url('../img/common/logo_sang2.png') no-repeat 30px center;
	margin-left: 7px;
	margin-top: 0px;
}
       
/*       
#lnb.fold .cl_leftmenu_depth1 {
	cursor: pointer;
}
*/

.jstreetable_view_wrap table {
	width: 100%; 
	border-top: 2px solid #2c2c2c;
}

.jstreetable_view_wrap table th {background-color: #eff4f9; font-size:14px; font-weight: 400; color:#000000; padding : 2px 0 }
 

  
.dashboard .bx-wrap {
	border-radius : 5px;
}

.tbl-wrap.view td::before {
    width: 1px;
    height: 15px;
    background: #dddddd;
    position: absolute;
    content: "";
    right: 0;
    top: 17px;
}
textarea {
	overflow: auto;
}

input::placeholder, textarea::placeholder {
  font-weight: 500;
}

.btn_wrap {
    justify-content: flex-end;
    display: flex !important;
}
.popup.layer .pop_header {
	margin-bottom: 18px;	
}
.margint0 {
	margin-top:0 !important;
}

table.view .calendar_box input[type='text'] {
	width: calc(100% - 25px);
    border: 0;
}

/* 2022.10.21 select 박스 기본 사용으로 변경 */
select, .selectbox select, table.view select {
	width : 100%;
	height : 30px;
	font-family : '';
	font-size:13px;
	border:1px solid #d9d9d9;
	background-color:#ffffff;
	border-radius : 5px;
	padding : 0 20px 0 7px;
	opacity:inherit;
	-webkit-appearance:auto;
}
.selectbox {
    position: relative;
    background-color: #ffffff;
    text-align: left;
    border-radius: 5px;
    height: 30px;
}
.selectbox:before {
	background:none;
}
table.view td select {
	background:none;
}
/* 2022.10.21 select 박스 기본 사용으로 변경 끝 */