@charset "utf-8";

html,body { overflow:auto; font-family: 'Noto Sans KR', sans-serif; font-size: 13px;}
body {min-width: 1600px; background: #efeff1;}

/* layout */
#wrap {overflow:auto; height: 100%;}

/* skip_nav */
#skip_nav {height:0} 
#skip_nav a {display: block; position: absolute; left: 0; top: -100px; width: 100%; height: 1px; text-align: center}
#skip_nav a:focus, #skip a:active {position: absolute; top: 0; z-index: 120; height: 25px; padding: 10px 0; font-size: 1.4em; font-weight: 700; color: #36348f; background: #fff;}

.container {display: flex; flex: 1; width: 100%; min-height: 100%; position:relative; align-items: flex-start;}

/* lnb */
#lnb {display: flex; flex-direction: column; top: 0px; left: 0px; min-height: 100%; z-index: 999; background-color: #203857; align-self: stretch;}
.left_area {width: 345px; /*height: 100%; min-height: 100vh;*/ position: relative; transition: width 0.15s, transform 1s; transform: translateX(0px);}
.left_area > h1.logo {margin: 30px 0 40px 30px;}
.left_area > h1.logo img {display: inline-block; text-align: center;}
.left_area > div.btn_search_area {margin: 0 30px 40px;}
.left_area > div.btn_search_area ul {overflow: hidden;}
.left_area > div.btn_search_area ul li {display: inline-block; float: left; width: 33.3333%;}
.left_area > div.btn_search_area ul li:nth-child(1) {text-align: left;}
.left_area > div.btn_search_area ul li:nth-child(2) {text-align: center;}
.left_area > div.btn_search_area ul li:nth-child(3) {text-align: right;}
.left_area > div.btn_search_area ul li a {display: inline-block; width: 55px; color: #fff; text-align: center;}
.left_area > div.btn_search_area ul li a span {display: inline-block; padding-top: 25px;}
.left_area > div.btn_search_area ul li a span.latest {background: url('../img/icon/icon_time.png') no-repeat center 0px;}
.left_area > div.btn_search_area ul li a span.bookmark {background: url('../img/icon/icon_star.png') no-repeat center 0px;}
.left_area > div.btn_search_area ul li a span.menu {background: url('../img/icon/icon_menu.png') no-repeat center 0px;}
.left_area > div.btn_search_area .lnb_search_area {height: 40px; margin-top: 35px; font-size: 0px; background-color: #fff; border-radius: 3px;}
.left_area > div.btn_search_area .lnb_search_area input[type='text'] {width: 210px; height: 40px; margin: 0 0 0 10px; font-size: 15px; color: #999999; border: 0px; outline: 0px; background-color: #fff;}
.left_area > div.btn_search_area .lnb_search_area button.lnb_search_btn {display: inline-block; width: 44px; height: 40px; font-size: 0px; background: url('../img/icon/icon_search.png') no-repeat center center;}
.left_area > .lnb_menu { background-color: #203857;}
.left_area > .lnb_menu > ul {overflow: hidden;}
.left_area > .lnb_menu ul li a {display: block; height: 50px; line-height: 50px;} 
.left_area > .lnb_menu > ul.one_depth {border-top: 1px solid #415670;}
.left_area > .lnb_menu > ul.one_depth > li {border-bottom: 1px solid #415670;}
.left_area > .lnb_menu > ul.one_depth > li.on > a {color: #fff; background:url('../img/icon/icon_arrow_up.png') no-repeat center right 30px #215eae;}
.left_area > .lnb_menu > ul.one_depth > li.on > a > span {opacity: 1;}
.left_area > .lnb_menu > ul.one_depth > li > a {padding-left: 30px; color: #fff; background:url('../img/icon/icon_arrow_down.png') no-repeat center right 30px;}
.left_area > .lnb_menu > ul.one_depth > li > a:hover {background-color: #215eae;}
.left_area > .lnb_menu > ul.one_depth > li > a:hover > span {opacity: 1;}
.left_area > .lnb_menu > ul.one_depth > li > a > span {display: block; padding-left: 40px; background-position: 0px center; background-repeat: no-repeat; background-size: 20px; opacity: 0.5;}

/* .left_area > .lnb_menu > ul.one_depth > li.on > ul.two_depth {display: block;} */
.left_area > .lnb_menu > ul.one_depth > li > ul.two_depth {display: none;}
.left_area > .lnb_menu > ul.one_depth > li > ul.two_depth > li {}
.left_area > .lnb_menu > ul.one_depth > li > ul.two_depth > li + li {border-top: 1px solid #dee1e6;}
.left_area > .lnb_menu > ul.one_depth > li > ul.two_depth > li > a {padding-left: 70px; color: #677d9a; background-color: #fff;}
.left_area > .lnb_menu > ul.one_depth > li > ul.two_depth > li > a:hover {color: #2e3a6a; background-color: #e0e8f4;}
.left_area > .lnb_menu > ul.one_depth > li > ul.two_depth > li.on > a {color: #2e3a6a; background-color: #e0e8f4;}
/* .left_area > .lnb_menu > ul.one_depth > li > ul.two_depth > li.on > ul.three_depth {display: block;} */
.left_area > .lnb_menu > ul.one_depth > li > ul.two_depth > li > ul.three_depth {display: none; background-color: #0c2341; padding: 15px 0;}
.left_area > .lnb_menu > ul.one_depth > li > ul.two_depth > li > ul.three_depth > li {}
.left_area > .lnb_menu > ul.one_depth > li > ul.two_depth > li > ul.three_depth > li + li {margin-top: 30px;}
.left_area > .lnb_menu > ul.one_depth > li > ul.two_depth > li > ul.three_depth > li > a {height: auto; padding-left: 70px; line-height: normal; color: #677d9a;}
.left_area > .lnb_menu > ul.one_depth > li > ul.two_depth > li > ul.three_depth > li > a > span {position: relative; padding-left: 10px;}
.left_area > .lnb_menu > ul.one_depth > li > ul.two_depth > li > ul.three_depth > li > a > span::before {display: inline-block; position: absolute; content: "-"; top: 0px; left: 0px;}
.left_area > .lnb_menu > ul.one_depth > li > ul.two_depth > li > ul.three_depth > li > a:hover {color: #fff;}

.left_area > .lnb_menu > ul.one_depth > li > a.menu01 > span {background-image: url('../img/icon/icon_lnb01.png');}
.left_area > .lnb_menu > ul.one_depth > li > a.menu02 > span {background-image: url('../img/icon/icon_lnb02.png');}
.left_area > .lnb_menu > ul.one_depth > li > a.menu03 > span {background-image: url('../img/icon/icon_lnb03.png');}
.left_area > .lnb_menu > ul.one_depth > li > a.menu04 > span {background-image: url('../img/icon/icon_lnb04.png');}
.left_area > .lnb_menu > ul.one_depth > li > a.menu05 > span {background-image: url('../img/icon/icon_lnb05.png');}
.left_area > .lnb_menu > ul.one_depth > li > a.menu06 > span {background-image: url('../img/icon/icon_lnb06.png');}
.left_area > .lnb_menu > ul.one_depth > li > a.menu07 > span {background-image: url('../img/icon/icon_lnb07.png');}
.left_area > .lnb_menu > ul.one_depth > li > a.menu08 > span {background-image: url('../img/icon/icon_lnb08.png');}
.left_area > .lnb_menu > ul.one_depth > li > a.menu09 > span {background-image: url('../img/icon/icon_lnb09.png');}
.left_area > .lnb_menu > ul.one_depth > li > a.menu10 > span {background-image: url('../img/icon/icon_lnb10.png');}

.left_area > .lnb_menu > .banner_area {margin-top: 30px; padding-bottom: 30px;}
.left_area > .lnb_menu > .banner_area > div {overflow: hidden; height: 45px; margin: 0 30px; color: #677d9a; font-size: 27px; text-align: center; background-color: #324764; border-radius: 5px;}
.left_area > .lnb_menu > .banner_area > div + div {margin-top: 10px;}
.left_area > .lnb_menu > .banner_area > div > img {width: 100%;}


/* lnb 접기 */
.left_area.fold {width: 82px; transform: translateX(0px);}
.left_area.fold > h1.logo {display: none;}
/* 2021.10.28 수정
.left_area.fold > div.btn_search_area {display: none;} */
.left_area.fold > .lnb_menu > .banner_area {display: none;}

.left_area.fold > .lnb_menu > ul {margin-top: 120px; padding: 0px; border: 0px;}
.left_area.fold > .lnb_menu > ul.one_depth > li {border: 0px;}
.left_area.fold > .lnb_menu > ul.one_depth > li > a {padding-left: 0px; background: none;}
.left_area.fold > .lnb_menu > ul.one_depth > li > a > span {width: 100%; height: 100%; padding-left: 0px; font-size: 0px; background-position: center center;}


.left_area.fold > .lnb_menu > ul > li > ul > li {padding-top: 0px; background-position: center 11px;}
.left_area.fold > .lnb_menu > ul > li > ul > li > a {padding: 35px 10px 5px; text-align: center;}
.left_area.fold > .lnb_menu ul li ul li a.open {background: url('../images/icon/ico_arrow_up.png') no-repeat right 10px top 35px;}
.left_area.fold > .lnb_menu ul li ul li a.closed {background: url('../images/icon/ico_arrow_down.png') no-repeat right 10px  top 35px;}
.left_area.fold > .lnb_menu ul li ul li a span {display: block; font-size: 10px; min-height: auto; line-height: normal; padding: 0 10px;}

.left_area.fold > .lnb_menu ul li {position: relative; padding: 5px 0px;}
.left_area.fold > .lnb_menu ul li > ul.sub_menu {display: none; position: absolute; top: 0px; left: 120px; background-color: #000000;}
.left_area.fold > .lnb_menu ul li > ul.sub_menu > li {position: relative;}
.left_area.fold > .lnb_menu ul li > ul.sub_menu > li::after {position: absolute; display: inline-block; content: ""; width: 3px; height: 3px; top: 50%; left: 13px; background-color: #fff; border-radius: 50px;}
.left_area.fold > .lnb_menu ul li > ul.sub_menu > li > a {display: block; min-width: 170px; padding: 0 25px 0 25px;}
.left_area.fold > .lnb_menu ul li > ul.sub_menu > li:hover::after {position: absolute; display: inline-block; content: ""; width: 3px; height: 3px; top: 50%; left: 13px; background-color: #8de1f6; border-radius: 50px;}
.left_area.fold > .lnb_menu ul li > ul.sub_menu > li:hover > a span {color: #8de1f6;}

.btn_fold {position: absolute; display: inline-block; width: 26px; height: 66px; top: 165px; left: 345px; background:url('../img/common/lnb_menu_btn.png') no-repeat center center #36557d; border-radius: 0 10px 10px 0; transition: left 0.15s;}
.btn_fold.fold {left: 82px; background:url('../img/common/lnb_menu_btn_fold.png') no-repeat center center #36557d; transition: left 0.15s;}

/* 컨텐츠 공통 */
#content {display: flex; flex: 1; flex-direction: column; zoom: 1; transition: padding 0.15s; overflow-x: hidden;}
#content > div {flex: none;}
/* #content.fullsize {width: calc(100% - 100px);} */
#content.fullsize {transition: padding 0.15s;}

.content_top_area {position: relative; height: 50px; background-color: #2a333f;}
.content_top_area > p.title {padding-left: 40px; color: #fff; line-height: 50px;}
.content_top_area > div.right {position: absolute; top: 9px; right: 40px;}
.content_top_area > div.right a.member_info {display: inline-block; padding-right: 15px; background: url('../img/icon/icon_arrow_down.png') no-repeat center right 0px;}
.content_top_area > div.right a.alarm {display: inline-block; min-width: 20px; height: 20px; background: url('../img/common/alarm.png') no-repeat center left 0px;}
.content_top_area > div.right a.alarm span {display: inline-block; min-width: 20px; height: 20px; margin-left: 20px; font-size: 11px; color: #fff; text-align: center; line-height: 20px; background-color: #e50000; border-radius: 50%;}
.content_top_area > div.right a + a {margin-left: 30px;}

.page_info_area {overflow: hidden; position: relative; height: 95px; padding: 0 40px; background: #fff;}
.page_info_area > div.left {overflow: hidden; display: inline-block;}
.page_info_area > div.right {position: absolute; top: 30px; right: 40px;}

div.location_area {display: inline-block; margin: 20px 0 7px 0;}
div.location_area a.bookmark {display: inline-block; width: 20px; height: 20px; vertical-align: middle; background: url('../img/icon/icon_star_off.png') no-repeat center center;}
div.location_area a.bookmark.active {background: url('../img/icon/icon_star_on.png') no-repeat center center;}
div.location_area ul {display: inline-block; margin-left: 20px; vertical-align: middle;}
div.location_area ul li {display: inline-block; color: #222;}
div.location_area ul li + li {position: relative; padding-left: 16px;}
div.location_area ul li + li::before {display: inline-block; position: absolute; content: ""; width: 3px; height: 3px; top: 10px; left: 6px; background-color: #9d9d9d; border-radius: 50%;}


div.title_area {}
div.title_area p {display: inline-block; margin-right: 25px; font-size: 30px; font-weight: 500; line-height: 1em; vertical-align: middle;}
div.title_area a {display: inline-block; width: 25px; height: 25px; font-size: 0px; vertical-align: middle;}
div.title_area a + a {margin-left: 6px;}
div.title_area a.reload_btn {background: url('../img/common/reload.png') no-repeat center center;}
div.title_area a.help_btn {background: url('../img/common/help.png') no-repeat center center;} 

#content .content_area {padding: 20px 40px 0; box-sizing: border-box; min-height: calc(100vh - 202px);}

#content .full_page{ min-height: 100vh; width: 100%; background: #f7f7f7; display: flex; flex-direction: column; }
#content .full_page .inner{ display: flex; flex-direction: column; height: 100%; width: 100%; max-width: 1500px; margin: 0 auto; flex: 1 0; }
#content .full_page .full_cont{ flex: 1 0; display: flex; align-items: center;  padding: 100px 0 }
#content .full_page .full_cont > .cont{ flex: none; max-width: 1230px; margin: 0 auto; width: 100%; }
#content .full_page .bx_wrap{ background: #ffffff; border: 1px solid #e7e7e7; border-radius: 3px; }
#content .full_page .footer_area{ flex: none; }

/* footer */
.footer_area {overflow: hidden; height: 57px; /*margin: 0 40px;*/ padding-top: 20px; font-size: 13px; color: #999999; text-align: center; border-top: 1px solid #dddddd; box-sizing: border-box;}
.footer_area ul {display: inline-block; margin-right: 10px;}
.footer_area ul li {display: inline-block;}
.footer_area ul li + li {position: relative; margin-left: 6px;}
.footer_area ul li + li::before {position: absolute; content: ""; width: 1px; height: 15px; top: 2px; left: -5px; background-color: #999999;}
.footer_area p {display: inline-block;}

@media only screen and (max-width: 1600px) {
	body {min-width: 1600px; background: #f2f2f2;}
}
