/* 에러페이지(error.html) */
.error h1.logo{ text-indent: -9999px; width: 186px; height: 40px; background: url('../img/common/logo_sang.png') no-repeat center; background-size: 100%; margin-bottom: 150px; }
.error .txt{ font-size: 24px; line-height: 1.25; color: #222222; padding-right: 395px; padding-left: 66px; padding-top: 48px; padding-bottom: 50px; margin-top: 55px; background: url('../img/sub/img_error.png') no-repeat right 80px center; }

/* 약관동의(terms.html) */
.terms .bx_wrap{ margin-top: 100px; padding: 72px 48px 74px; }
.terms .bx_wrap .terms_wrap{ border: 1px solid #c1c1c1; background: #ffffff; min-height: 88px; }
.terms .bx_wrap label{ display: block; } 
.terms .bx_wrap label input[type='checkbox']{ width: 0; height: 0; overflow: hidden; opacity: 0; }
.terms .bx_wrap label input[type='checkbox'] + span{ font-size: 18px; line-height: 1.6666; display: block; position: relative; padding-left: 30px; width: 100%; height: auto; background: url('../img/sub/icon_check_off.png') no-repeat left 6px; }
.terms .bx_wrap label input[type='checkbox']:checked + span{ background: url('../img/sub/icon_check_on.png') no-repeat left 6px; }

/* 소속확인(check_belong01.html ~ check_belong02.html) */
.belong .bx_wrap{ padding: 160px 0; margin-top: 100px; }
.belong .form_wrap{ width: 515px; margin: 0 auto; }
.belong .form_wrap .tit_wrap{ display: flex; align-items: center; border-bottom: 1px solid #c1c1c1; padding-bottom: 12px; margin-bottom: 40px; }
.belong .form_wrap .tit_wrap .tit{ padding-right: 50px; }
.belong .form_wrap .tit_wrap select{ flex: 1 0; height: 36px; border: 0; padding: 0 20px; font-size: 18px; border-radius: 5px; font-family: 'Noto Sans KR', sans-serif; appearance: none; -moz-appearance: none; -webkit-appearance: none; background: #efeff1 url('../img/sub/icon_arr_select.png') no-repeat right 20px center; }
.belong .form_wrap .tit_wrap select::-ms-expand{ display: none; }
.belong .form_wrap table{ width: 100%; table-layout: fixed; margin-top: 15px; }
.belong .form_wrap table th,
.belong .form_wrap table td{ vertical-align: top; padding-top: 5px; height: 46px; box-sizing: border-box; text-align: left; font-weight: 400; }
.belong .form_wrap table th{ font-size: 18px; line-height: 2; }
.belong .form_wrap table td{ font-size: 18px; height: 46px; padding: 5px 0; box-sizing: border-box; }
.belong .form_wrap table td input[type='text']{ height: 36px; width: 100%; }
.belong .form_wrap table td .btn{ width: 100%; }
.belong .form_wrap table td .inp_wrap .inp_item + .inp_item{ margin-left: 20px; }
.belong .form_wrap table td .txt_wrong{ font-size: 16px; color: #ff0000; letter-spacing: -0.025em; }

/* 로그인(login.html) */
.login .txt1{ font-size: 24px; font-weight: 700; line-height: 1.25; margin-top: 45px; text-align: center; }
.login .txt2{ font-size: 18px; line-height: 1.6666; margin-top: 30px; text-align: center; }
.login .bx_wrap{ margin-top: 33px; padding: 50px 150px; }
.login .bx_wrap input[type='text']{ width: 725px; height: 54px; margin: 0 auto;font-size: 24px; padding: 0 38px; border-radius: 10px; display: block; }
.login .certi_wrap{ display: flex; justify-content: center; }
.login .certi_wrap > *{ flex: none; }
.login .certi_wrap .btn_certy{ text-align: center; font-size: 24px; color: #595959; margin: 0 32px; }

/* 휴면 해제(wake_up.html) */
.wake_up .txt1{ text-align: center; font-size: 22px; font-weight: 700; margin-top: 40px; }
.wake_up .txt1 strong{ color: #5986c2; }
.wake_up .txt2{ margin-top: 8px; font-size: 17px; line-height: 1.7647; text-align: center; }
.wake_up .bx_wrap{ margin-top: 40px; padding: 43px 0 35px; }
.wake_up .certi_wrap{ display: flex; justify-content: center; }
.wake_up .certi_wrap > *{ flex: none; }
.wake_up .certi_wrap .btn_certy{ text-align: center; font-size: 24px; color: #595959; margin: 0 32px; }

/* 20220127 수정 */
/* 대시보드(dashboard.html)*/
.dashboard{ display: flex; flex-wrap: wrap; flex-direction: column; padding-bottom: 20px; }
.dashboard .half{ width: calc(50% - 10px); flex: none !important; }
.dashboard div.row{ margin-left: -5px; margin-right: -5px; align-items: stretch; }
.dashboard div.row + div.row{ margin-top: 10px; }
.dashboard div.row > div{ margin-left: 5px; margin-right: 5px; }
.dashboard .bx-wrap{ display: flex; flex-direction: column; border: 1px solid #dddddd; background: #ffffff; border-radius: 3px; position: relative; min-height: 298px; box-sizing: border-box; }
.dashboard .bx-wrap .bx-header{ flex: none; padding: 0 10px; border-bottom: 1px solid #dddddd; display: flex; align-items: center; justify-content: space-between; height: 34px; }
.dashboard .bx-wrap .bx-header .title{ font-size: 13px; }
.dashboard .bx-wrap .bx-content{ flex: none; padding: 15px 10px 12px; position: relative; }
.dashboard .bx-wrap .bx-content .chart-wrap{ height: 100%; display: flex; align-items: center; justify-content: center; }
.dashboard .bx-wrap .btn-more{ width: 19px; height: 19px; border-radius: 3px; background: #c7c7c7 url('../img/icon/icon_more.png') no-repeat center; flex: none; }
.dashboard .bx-wrap.card01{ flex-direction: row; align-items: center; min-height: 86px; }
.dashboard .bx-wrap.card01 .btn-more{ position: absolute; right: 8px; top: 8px; }
.dashboard .bx-wrap.card01 .icon-wrap{ flex: 2 0; text-align: center; }
.dashboard .bx-wrap.card01 .txt-wrap{ flex: 3 0; }
.dashboard .bx-wrap.card01 .txt-wrap .tit{ color: #666666; font-size: 12px; }
.dashboard .bx-wrap.card01 .txt-wrap .result{ font-size: 16px; font-weight: 500; }
.dashboard .bx-wrap.card02{ align-items: center; justify-content: center; min-height: 86px; }
.dashboard .bx-wrap.card02 .btn-more{ position: absolute; right: 8px; top: 8px; }
.dashboard .bx-wrap.card02 > p{ flex: none; }
.dashboard .bx-wrap.card02 .tit{ font-size: 12px; color: #666666; }
.dashboard .bx-wrap.card02 .result{ font-size: 22px; font-weight: 700; }
.dashboard .tab_wrap{ height:100%; }
.dashboard .tab_wrap .tab_btn{ max-width: 100px; position: relative; border: 0; background: none; border-radius: 12px; }
.dashboard .tab_wrap .tab_btn.on{ background: #5774aa; }
.dashboard .tab_wrap .tab_btn::before{ width: 1px; height: 14px; background: #d4d4d4; position: absolute; content: ""; right: -1px; top: 50%; transform: translateY(-50%); }
.dashboard .tab_wrap .tab_btn:last-of-type::before, 
.dashboard .tab_wrap .tab_btn.on::before{ display: none; }
.dashboard .tab_wrap .tab_btn > *{ line-height: 24px; height: 24px; font-weight: 700; color: #666666; }
.dashboard .tab_wrap .tab_btn.on > *{ color: #ffffff; }
.dashboard .tab_wrap .tab_cont_wrap{ height: calc(100% - 24px) }
.dashboard .tab_wrap .tab_content{ padding-top: 16px; height: 100%; }
/* // 20220127 수정 */