<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/mainLayout">

<head>
	<th:block th:replace="fragments/head_inc :: head_inc" />
	<style>
	.ui-progressbar-value {
		min-height:150px;
		background-color:#eff4f9;
		border:0px;
	}
	.progressbar {
		min-height:150px;
		background-color:white;
		border-radius:5px;
		border:1px solid #dddddd;
		position:relative;
	}
	.progressbar-label {
		position:absolute;
		left:2%;
		top:3%;
		font-size:13px;
	}
	.progressbar-label-center .tit {
		position:absolute;
		top:35%;
		left:47%;
		font-size:12px;
		color:#666666;
	}
	.progressbar-label-center .result {
		position:absolute;
		top:45%;
		left:47%;
		font-size:22px;
		font-weight:700;
	}
	</style>
</head>




<body id="body">
	<div id="wrap">
		<div class="container">
			<div id="content">
				<div class="page_info_area">
					<div class="left">
						<div class="title_area">
							<p>테이블 구조 분석</p>
							<a href="#" class="reload_btn" title="새로고침">새로고침</a>
						</div>
					</div>
					<div class="right">
						<div class="button_area">
							<button class="btn" title="점검실행" onclick="fnShowModal('autoSetModal'); return false;">점검실행</button>
						</div>
					</div>
				</div><!-- page_info_area -->
				
				
				<div class="content_area">
					<div class="search_wrap" style="margin-bottom:20px;">
						<table class="search fixed">
							<colgroup>
								<col width="100px;" />
								<col width="auto;" />
								<col width="40px;" />
								<col width="100px;" />
								<col width="auto;" />
							</colgroup>
							<tbody>
								<tr>
									<th>DBMS IP</th>
									<td><input type="text" class="in_w100" name="dbmsIp" th:value="${SESS_USER_INFO.dbmsIpAddr}" readonly="readonly" /></td>
									<td></td>
									<th>DB명</th>
									<td><input type="text" class="in_w100" id="dbName" name="dbName" th:value="${SESS_USER_INFO.dbmsDatabaseNm}" readonly="readonly" /></td>
								</tr>
								<tr>
									<th>PORT</th>
									<td><input type="text" class="in_w100" name="dbPort" th:value="${SESS_USER_INFO.dbmsPortNo}" readonly="readonly" /></td>
									<td></td>
									<th>DB접속계정</th>
									<td><input type="text" class="in_w100" name="dbUsername" th:value="${SESS_USER_INFO.dbmsId}" readonly="readonly" /></td>
								</tr>
							</tbody>
						</table>
					</div><!-- search_wrap -->
					
					
					<div class="dashboard">
						<div class="row">
							
							<div class="progressbar" id="step1_perc">
								<div class="progressbar-label">패턴/AI 분류 분석</div>
							 	<div class="progressbar-label-center">
							 		<p class="tit">진행률</p>
							 		<p class="result">0%</p>
							 	</div>
							</div>
							
							<div class="progressbar" id="step2_perc">
								<div class="progressbar-label">문맥 오류 검출(자연어분석)</div>
							 	<div class="progressbar-label-center">
							 		<p class="tit">진행률</p>
							 		<p class="result">0%</p>
							 	</div>
							</div>
							<div class="progressbar" id="step3_perc">
								<div class="progressbar-label">부정/항의글 검출(자연어분석)</div>
							 	<div class="progressbar-label-center">
							 		<p class="tit">진행률</p>
							 		<p class="result">0%</p>
							 	</div>
							</div>
							<div class="progressbar" id="step4_perc">
								<div class="progressbar-label">분류 결과 리포팅</div>
							 	<div class="progressbar-label-center">
							 		<p class="tit">진행률</p>
							 		<p class="result">0%</p>
							 	</div>
							</div>
						</div>
					</div>
				
				</div><!-- content_area -->

			</div><!-- content -->
		</div><!-- container -->
	</div><!-- wrap -->
	
	
	
	
	
	<!-- 자동점검 세팅 모달  -->
	<div class="popup layer in_w30" id="autoSetModal">
		<div class="pop_header">
			<p class="title">자동점검 설정</p>
	        <button class="btn_ic btn_pop_close" onclick="fnCloseModal('autoSetModal'); return false;">닫기</button>
	    </div>
	    <div class="pop_content">
	    	<!-- <div class="tbl_top">
				<p class="tit v2 margint20">표준세트 정보</p>
	   		</div>	 -->
			<div class="view_wrap" style="min-height:150px;">
				<table class="view">
					<colgroup>
						<col style="width: 30%;">
	   					<col style="width: 70%;">
	 				</colgroup>
	     			<tbody id="autoSetModal_tbody">
	    				<tr>
	    					<th>분석항목</th>
	    					<td>
	    						<div id="autoSetModal_analysisContent">
		    						<input type="checkbox" name="autoSetModal_chkbox" id="autoSetModal_clsf" value="Y" checked disabled/><label for="autoSetModal_clsf" class="req" style="margin-right:30px;">분류 분석</label>
		    						<input type="checkbox" name="autoSetModal_chkbox" id="autoSetModal_nlp" value="N"/><label for="autoSetModal_nlp" class="req">자연어 분석</label>
	    						</div>
	    					</td>
	    				</tr>
	    				<tr>
	    					<th>최대제한 수</th>
	    					<td>
	    						<input type="text" name="limitCount" id="limitCount"/>
	    					</td>
	    				</tr>
	   				</tbody>
				</table>
			</div>
		</div>
		<div class="pop_footer" style="text-align:center;">
			<button class="btn bg_navy txt_white" style="display: inline-block;" onclick="fnExcAiDgnss(); return false;">저장/실행</button>
		</div>
	</div>
	
	
	
<script type="text/javascript">

var sessionChk = false;
var sessionCon = "";
var lc_a_analysis_id = "";
const MSG_DELIM = "_@^!_";

$(document).ready(function() {
	
	sessionChk = isSessionConChk(sessionCon);
	fnInitSocket()
	/* setTableHeight();
	$(parent.window).on("resize", function() {
		setTableHeight();
	}); */
	
});



function fnInitSocket() {
	try {
		g_webSocket = new WebSocket("ws://125.7.207.6:18080/a_analysis_msg_socket");
		//g_webSocket = new WebSocket("ws://localhost:18080/a_analysis_msg_socket");
		g_webSocket.onopen = function() {
	        console.log("socket server connection success");
	    };

		g_webSocket.onmessage = function(messageObj) {
			
			try {
				//console.log("메시지 수신");
				//console.log(messageObj);
				
				let tempMessage = messageObj.data;
				let tempMessageArr = tempMessage.split(MSG_DELIM);
				
				if(!tempMessageArr || tempMessageArr.length != 2) {
					console.log("An invalid message was received from the server.")
					return;
				}
				
				let msgType = tempMessageArr[0];
				let msg = tempMessageArr[1];
				//console.log(msgType + ":"+msg);
				
				if(msgType == 'CID') {
					lc_a_analysis_id = msg
				} else if(msgType == 'ERROR') {
					console.log(tempMessage.split(MSG_DELIM)[1]);
					//return;
				} else if(msgType == 'START') {
					console.log("분석이 시작됩니다.");
				} else if(msgType == 'STEP1' || msgType == 'STEP1_END') {
					fnSetPrgsRate("step1", msg);
				} else if(msgType == 'STEP2' || msgType == 'STEP2_END') {
					fnSetPrgsRate("step2", msg);
				} else if(msgType == 'STEP3' || msgType == 'STEP3_END') {
					fnSetPrgsRate("step3", msg);
				} else if(msgType == 'STEP4' || msgType == 'STEP4_END') {
					fnSetPrgsRate("step4", msg);
				} else if(msgType == 'STEP4_END' && msg == "100") {
					fnSetPrgsRate("step4", msg);
					alert("분석이 완료되었습니다.");
				}
				
			} catch(e) {
				console.log(e);
				console.log("##########################  rcv error");
			}
		};
		
		g_webSocket.onerror = function(message) {
			console.log("########################## error");
		};
		
		 g_webSocket.onclose = function(message) {
			console.log('---------------------->>>>>>>>>>>>WebSocket onclose: ', message);
	    };
	    
	} catch(e) {
		console.log(e);
		alert("socket 연결 설정 중 에러가 발생하였습니다");
	}
};
function fnSetPrgsRate(step_id, prgs_perc) {
	if (Number(prgs_perc) > 100) {
		prgs_perc = "100";
	}
	var barProgress = jQuery("#" + step_id + "_perc");
    barProgress.progressbar({value:Number(prgs_perc)});
    $("#" + step_id + "_perc .result").text(prgs_perc + "%");
}


function fnExcAiDgnss() {
	fnCloseModal('autoSetModal');
	
	if (!confirm("실행하시겠습니까?")) {
		return;
	}
	
	if ($("#autoSetModal_nlp").is(":checked")) {
		$("#autoSetModal_nlp").val("Y");
	} else {
		$("#autoSetModal_nlp").val("N");
	}
	
	show_loading_bar_flag = false;
	fnStopMainLoading();
	
	$.ajax({
		url: '/dq/aiProfile/doAiAnalysis'
		, method: 'POST'
		, contentType: 'application/json'
		, data: JSON.stringify({
			cid: lc_a_analysis_id
			, nlpAnlsYn: $("#autoSetModal_nlp").val()
			, limitCount: $("#limitCount").val()
		})
		, success: function(data) {
			try {
				//console.log("fnDoAutoAnalysis : " + data.resultCd);
				
				if (data.resultCd != "OK") {
					alert("분석 요청 중 에러가 발생하였습니다.");
				}
				
			} catch(e) {
				alert("처리 중 에러가 발생하셨습니다.");
				return;
			}
		}
	});
}



</script>
</body>
</html>