<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/mainLayout">

<head>
	<th:block th:replace="fragments/head_inc :: head_inc" />
	<script src="/js/face-api.js"></script>
</head>
<body>

	<!-- wrap -->
    <div id="wrap">
        <!-- container -->
		<div class="container">
            <!-- content -->
			<div id="content">
			
				<!-- page_info_area -->
                <div class="page_info_area">
                    <div class="left">
                        <div class="location_area">
                            <a href="#" class="bookmark active" title="즐겨찾기"></a>
                            <ul>
                                <li>홈</li>
                                <li>학습관리</li>
								<li>py TesTer</li>
                            </ul>
                        </div>
                        <div class="title_area">
                            <p>py TesTer</p>
                            <a href="#" class="reload_btn" title="새로고침">새로고침</a>
                            <a href="#" class="help_btn" title="도움말">도움말</a>
                        </div>
                    </div>
                   
                </div>
                <!--// page_info_area -->

			
				<!-- content_area -->
                <div class="content_area">
					 <!-- division20 -->
                    <div class="division20">

						<div class="view_wrap" style="min-height:30px">
							<p class="tit"><span>Input</span></p>
                            <table class="view">
 								<colgroup>
		                        	<col style="width: 150px;">
		                            <col style="width: auto;">
								</colgroup>
                                <tbody>
                                    <tr>
	                                    <th>Execute py</th>
	                                    <td>
											<input type="text" name="pyName" id="pyName" />
										</td>
	                                </tr>
									<tr>
	                                    <th>Input</th>
	                                    <td>
											<input type="text" name="strParam" id="strParam" />
										</td>
	                                </tr>
                                </tbody>
                            </table>
							

							<p class="tit margint20"><span>OutPut</span></p>
                            <table class="view">
 								<colgroup>
		                        	<col style="width: 150px;">
		                            <col style="width: auto;">
								</colgroup>
                                <tbody>
									<tr>
	                                    <th>Result</th>
	                                    <td>
											<input type="text" name="strResult" id="strResult" />
										</td>
	                                </tr>
                                </tbody>
                            </table>
						</div>
                    </div>
                    <!--// division20 -->
					
                </div>
				 <!--// content_area -->
            </div>
            <!--// content -->
        </div>
        <!--// container -->
    </div>
    <!--// wrap -->
 

<script type="text/javascript">


$(document).ready(function() {
	$("#strParam").on("keyup", function() {
		if(event.keyCode == 13) 
			fnSearch();
	});
	

});


function fnSearch() {
	
	if($("#pyName").val() == "") {
		alert("실행 py is required");
		return;
	}
	if($("#strParam").val() == "") {
		alert("input parameter is required");
		return;
	}
	
	$.ajax({
		url: "/api/get_exec_py_result"
		, method : "POST"
		, contentType: 'application/json'
		, data: JSON.stringify({
			pyName : $("#pyName").val()
			, strParam : $("#strParam").val()
		})
		, success: function(data){
			if(data.resultCd == "OK") {
					 
				$("#strResult").val(data.resultMsg);
			} else {
				alert("실행시 에러가 발생하였습니다.");
			}
					
		}
	});
}




</script>

</body>

</html>
					 