<!--
	Description : (팝업) 메타통합관리 tab메뉴 inc

	Modification Information
	수정일		수정자			수정내용
	-------		-----------------------------------
	2015.04.01 	SANGS			최초작성

-->

<th:block th:fragment="metamng_tab_inc">
	<!--<ul class="clearfix">-->
	<div class="tab_wrap">
		<ul class="tab_btn_wrap" th:classappend="${params.tIdx == ''} ? 'in_w20'">
			<li class="tab_btn" th:classappend="${params.tIdx == '' or params.tIdx == 'tab01'} ? 'on'"><a th:href="@{/collector/collect/collect_info_form(apiCd=${params.apiCd}, tIdx='tab01')}">수집정보</a></li>
			<th:block th:if="${params.apiCd} != null and ${params.apiCd} != ''">
				<li class="tab_btn" th:classappend="${params.tIdx} == 'tab02'? 'on'"><a th:href="@{/collector/collect/collect_rcptn_list(apiCd=${params.apiCd}, tIdx='tab02')}">전문정보</a></li>
				<li class="tab_btn" th:classappend="${params.tIdx} == 'tab03'? 'on'"><a th:href="@{/collector/collect/collect_address_list(apiCd=${params.apiCd}, tIdx='tab03')}">주소정보</a></li>
				<li class="tab_btn" th:classappend="${params.tIdx} == 'tab04'? 'on'"><a th:href="@{/collector/collect/collect_setting_form(apiCd=${params.apiCd}, tIdx='tab04')}">수집설정</a></li>
				<!-- <li class="tab_btn" th:classappend="${params.tIdx} == 'tab05'? 'on'"><a th:href="@{/collector/collect/collect_log_list(apiCd=${params.apiCd}, tIdx='tab05')}">수집로그</a></li> -->
				<!-- <li class="tab_btn" th:classappend="${params.tIdx} == 'tab06'? 'on'"><a th:href="@{/collector/collect/collect_data_list(apiCd=${params.apiCd}, tIdx='tab06')}">수집데이터</a></li> -->
				<!-- <li class="tab_btn" th:classappend="${params.tIdx} == 'tab07'? 'on'"><a th:href="@{/mngr/metaMng/metaMngImportForm(apiCd=${params.apiCd}, tIdx='tab07')}">데이터 직접등록</a></li> -->
			</th:block>
		</ul>
	</div>
</th:block>