<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/mainLayout">
<th:block th:replace="fragments/head_inc :: head_inc" />
<style type="text/css">
#dv_guide ul {margin-top: 50px}
#dv_guide ul li {text-align: left; margin: 10px}	
</style>


<div class="content">
<div id="dv_guide">
<br/>
<br/>
<br/> 
	<h2 >open controller</h2>
	
	<ul>
		<li>
			공통 Open Controller은  MVC View Resolver 를 통해 view 페이지를 열게 된다. 
			<br/>
			<br/>
		</li>
		<li>
			형식 : [폴더명]/[파일명](확장자제외) 혹은 [폴더명]/[폴더명]/[파일명]
			<br/>
			Thymeleaf view 파일 기본 폴더인 templates 하위를 기준 경로 (확장자는 application.properties에 선언되어 있습니다)
		</li>
		<li>
			예) templates/test/test_list.html 파일을 여는 경우 
		</li>
		<li>
			URL : <a href='javascript:fnClickMenu("/open/test/test_list")'>/open/test/test_list</a>
		</li>
		<li>
			/open/test/test_list -> SangsCommonOpenController class -> test/test_list.html 
		</li>
	</ul>
</div>
</div>
</html>
					 